src/main/resources/xsd/netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_acsb_support">
  <xsd:include schemaLocation="../../netex_responsibility/netex_relationship.xsd"/>
  <!--===========================================================================================-->
  <xsd:simpleType name="LimitationIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="LimitationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="LimitationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--===========================================================================================-->
  <xsd:simpleType name="AccessibilityAssessmentIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="AccessibilityAssessmentRef" type="AccessibilityAssessmentRefStructure"/>
  <xsd:complexType name="AccessibilityAssessmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="AccessibilityAssessmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessibilityAssessmentRefStructureType" default="AccessibilityAssessment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--===========================================================================================-->
  <xsd:simpleType name="SuitabilityIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!--===========================================================================================-->
  <xsd:simpleType name="UserNeedIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!--======Point=======================================================================================-->
</xsd:schema>
