src/main/resources/xsd/netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_acsb_accessibility">
  <xsd:include schemaLocation="netex_acsb_limitations.xsd"/>
  <xsd:include schemaLocation="netex_acsb_passengerMobility.xsd"/>
  <!--===========================================================================================-->
  <xsd:complexType name="accessibilityLimitations_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="AccessibilityLimitation"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AccessibilityLimitation">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AccessibilityLimitation_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MobilityLimitationGroup"/>
              <xsd:group ref="SensoryLimitationGroup"/>
            </xsd:sequence>
          </xsd:sequence>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccessibilityLimitation_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="MobilityLimitationGroup"/>
          <xsd:group ref="SensoryLimitationGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!--=====Assessment=======================================================================================-->
  <xsd:complexType name="accessibilityAssessments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="AccessibilityAssessment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AccessibilityAssessment" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AccessibilityAssessment_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessibilityAssessmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AccessibilityAssessmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccessibilityAssessment_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="AccessibilityAssessmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AccessibilityAssessmentGroup">
    <xsd:sequence>
      <xsd:element name="MobilityImpairedAccess" type="LimitationStatusEnumeration"/>
      <xsd:element name="limitations" type="accessibilityLimitations_RelStructure" minOccurs="0"/>
      <xsd:element name="suitabilities" type="suitabilities_RelStructure" minOccurs="0"/>
      <xsd:element name="Comment" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
