src/main/resources/xsd/netex_part_5/part5_rc/netex_nm_onlineService_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_onlineService_version">
  <xsd:include schemaLocation="netex_nm_onlineService_support.xsd"/>
  <xsd:include schemaLocation="netex_nm_mobilityService_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== ONLINE SERVICE OPERATOR ========================================================= -->
  <xsd:element name="OnlineServiceOperator" substitutionGroup="TransportOrganisation_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OnlineServiceOperator_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OrganisationGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OnlineServiceOperatorGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OnlineServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OnlineServiceOperator_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Organisation_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="OnlineServiceOperatorGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OnlineServiceOperatorGroup">
    <xsd:sequence>
      <xsd:element ref="CountryRef" minOccurs="0"/>
      <xsd:element name="Address" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:restriction base="PostalAddress_VersionStructure">
              <xsd:sequence>
                <xsd:sequence>
                  <xsd:group ref="GroupOfEntitiesGroup"/>
                </xsd:sequence>
                <xsd:sequence>
                  <xsd:group ref="ZoneGroup"/>
                </xsd:sequence>
                <xsd:group ref="PlaceGroup"/>
                <xsd:sequence>
                  <xsd:group ref="AddressGroup"/>
                </xsd:sequence>
                <xsd:sequence>
                  <xsd:group ref="PostalAddressGroup"/>
                  <xsd:element name="RoadAddressRef" type="AddressRefStructure" minOccurs="0"/>
                </xsd:sequence>
              </xsd:sequence>
            </xsd:restriction>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="services" type="onlineServiceRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== MOBILITY SERVICE ================================================================ -->
  <!-- ===== ONLINE SERVICE ============================================= -->
  <xsd:complexType name="onlineServices_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="OnlineService" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OnlineService" substitutionGroup="MobilityService_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OnlineService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MobilityServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OnlineServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OnlineServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OnlineService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="MobilityService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="OnlineServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OnlineServiceGroup">
    <xsd:sequence>
      <xsd:element name="LogInRequired" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="proposingServices" type="mobilityServiceRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
