src/main/resources/xsd/netex_part_3/part3_frames/netex_salesTransactionFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_salesTransactionFrame_version">
  <xsd:include schemaLocation="../part3_fares/netex_all_objects_part3_fares.xsd"/>
  <xsd:include schemaLocation="../part3_salesTransactions/netex_all_objects_part3_salesTransactions.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
  <!-- ====  =========================================-->
  <!-- ======================================================================= -->
  <!-- ====  =========================================-->
  <!-- ======================================================================= -->
  <xsd:simpleType name="SalesTransactionFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesTransactionFrameRef" type="SalesTransactionFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:complexType name="SalesTransactionFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="SalesTransactionFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesTransactionFrameRefStructureType" default="SalesTransactionFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====FARE FAME======================================================= -->
  <xsd:element name="SalesTransactionFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SalesTransactionFrame_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SalesTransactionFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SalesTransactionFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SalesTransactionFrame_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="SalesTransactionFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SalesTransactionFrameGroup">
    <xsd:sequence>
      <xsd:group ref="RetailConsortiumInFrameGroup"/>
      <xsd:group ref="FareContractsInFrameGroup"/>
      <xsd:group ref="MediumAccessDevicesInFrameGroup"/>
      <xsd:group ref="SecurityListsInFrameGroup"/>
      <xsd:group ref="SalesTransactionInFrameGroup"/>
      <xsd:group ref="TravelDocumentsInFrameGroup"/>
      <xsd:group ref="CustomerPurchasePackageInFrameGroup"/>
      <xsd:group ref="SpotAllocationsInFrameGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====Jouurney========================================-->
</xsd:schema>
