src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_vehicleJourney_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_vehicleJourney_version">
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_route_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_line_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_vehicleStopping_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicle_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_version.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourneyStopAssignment_version.xsd"/>
  <xsd:include schemaLocation="netex_journey_version.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourneyFrequency_version.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourneyTimes_version.xsd"/>
  <xsd:include schemaLocation="netex_passingTimes_version.xsd"/>
  <xsd:include schemaLocation="netex_passengerAtStopTime_version.xsd"/>
  <xsd:include schemaLocation="netex_coupledJourney_version.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourneyFrequency_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="trainNumbersInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="TrainNumber" maxOccurs="1"/>
          <xsd:element ref="TrainNumberRef"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- === VEHICLE JOURNEY =================================================== -->
  <xsd:element name="VehicleJourney_Dummy" type="Journey_VersionStructure" abstract="true" substitutionGroup="Journey_Dummy"/>
  <xsd:element name="VehicleJourney" substitutionGroup="VehicleJourney_Dummy" id="VehicleJourney">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="VehicleJourneyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Journey_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleJourneyGroup">
    <xsd:sequence>
      <xsd:group ref="VehicleJourneyPropertiesGroup"/>
      <xsd:group ref="VehicleJourneyTimesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleJourneyPropertiesGroup">
    <xsd:sequence>
      <xsd:group ref="ServiceTimeGroup"/>
      <xsd:group ref="VehicleJourneyReferencesGroup"/>
      <xsd:group ref="VehicleJourneyPartsGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleJourneyPartsGroup">
    <xsd:sequence>
      <xsd:element name="timeDemandTypes" type="timeDemandTypeRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="parts" type="journeyParts_RelStructure" minOccurs="0"/>
      <xsd:element name="trainComponentLabelAssignments" type="trainComponentLabelAssignments_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleJourneyStopAssignments" type="vehicleJourneyStopAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleJourneyTimesGroup">
    <xsd:sequence>
      <xsd:element name="waitTimes" type="vehicleJourneyWaitTimes_RelStructure" minOccurs="0"/>
      <xsd:element name="runTimes" type="vehicleJourneyRunTimes_RelStructure" minOccurs="0"/>
      <xsd:element name="layovers" type="vehicleJourneyLayovers_RelStructure" minOccurs="0"/>
      <xsd:element name="passingTimes" type="timetabledPassingTimes_RelStructure" minOccurs="0"/>
      <xsd:element name="passengerAtStopTimes" type="passengerAtStopTimes_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleJourneyReferencesGroup">
    <xsd:sequence>
      <xsd:element name="dayTypes" type="dayTypeRefs_RelStructure" minOccurs="0"/>
      <xsd:element ref="RouteRef" minOccurs="0"/>
      <xsd:element ref="JourneyPatternRef" minOccurs="0"/>
      <xsd:element name="TimeDemandTypeRef" type="TimeDemandTypeRefStructure" minOccurs="0"/>
      <xsd:element ref="TimingAlgorithmTypeRef" minOccurs="0"/>
      <xsd:element ref="JourneyFrequencyGroupRef" minOccurs="0"/>
      <xsd:element ref="VehicleTypeRef" minOccurs="0"/>
      <xsd:element ref="VehicleEquipmentProfileRef" minOccurs="0"/>
      <xsd:element ref="VehicleRef" minOccurs="0"/>
      <xsd:element ref="OperationalContextRef" minOccurs="0"/>
      <xsd:element ref="BlockRef" minOccurs="0"/>
      <xsd:element ref="CourseOfJourneysRef" minOccurs="0"/>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceTimeGroup">
    <xsd:sequence>
      <xsd:element name="DepartureTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="Frequency" type="FrequencyStructure" minOccurs="0"/>
      <xsd:element name="JourneyDuration" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- =====TEMPLATE VEHICLE JOURNEY=========================================== -->
  <xsd:element name="TemplateVehicleJourney" substitutionGroup="VehicleJourney_Dummy" id="TemplateTemplateVehicleJourney">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TemplateVehicleJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="TemplateVehicleJourneyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TemplateVehicleJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Journey_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TemplateVehicleJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TemplateVehicleJourneyGroup">
    <xsd:sequence>
      <xsd:element name="TemplateVehicleJourneyType" type="TemplateVehicleJourneyTypeEnumeration" minOccurs="0"/>
      <xsd:element name="frequencyGroups" type="frequencyGroups_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== TRAIN NUMBER ============================================================== -->
  <xsd:element name="TrainNumber" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrainNumber_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TrainNumberGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainNumberIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrainNumber_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="TrainNumberGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainNumberGroup">
    <xsd:sequence>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ForAdvertisement" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element name="ForProduction" type="xsd:normalizedString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======= TIMING ALGORITHM TYPE=========================================== -->
  <xsd:element name="TimingAlgorithmType" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TimingAlgorithmType_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TimingAlgorithmTypeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TimingAlgorithmType_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
