src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_serviceJourney_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_serviceJourney_support">
  <xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:complexType name="explicitJourneyRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ServiceJourneyRef"/>
          <xsd:element ref="VehicleJourneyRef"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- JOURNEY====================================================== -->
  <!-- ======================================================================= -->
  <!-- === SERVICE JOURNEY ====================================================== -->
  <xsd:simpleType name="ServiceJourneyIdType">
    <xsd:restriction base="VehicleJourneyIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceJourneyRef" type="ServiceJourneyRefStructure" substitutionGroup="JourneyRef"/>
  <xsd:complexType name="ServiceJourneyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyRefStructure">
        <xsd:attribute name="ref" type="ServiceJourneyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceJourneyRefStructureType" default="ServiceJourney"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===Service Journey====================================================== -->
  <xsd:simpleType name="SpecialServiceIdType">
    <xsd:restriction base="JourneyIdType"/>
  </xsd:simpleType>
  <xsd:element name="SpecialServiceRef" type="SpecialServiceRefStructure" substitutionGroup="JourneyRef"/>
  <xsd:complexType name="SpecialServiceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyRefStructure">
        <xsd:attribute name="ref" type="SpecialServiceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSpecialServiceRefStructureType" default="SpecialService"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="specialServiceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SpecialServiceRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GroupOfServicesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfServicesRef" type="GroupOfServicesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfServicesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfServicesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfServicesRefStructureType" default="GroupOfServices"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="groupOfServicesRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfServicesRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="GroupOfServicesMemberIdType">
    <xsd:restriction base="GroupMemberIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ServiceAlterationEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="extraJourney"/>
      <xsd:enumeration value="cancellation"/>
      <xsd:enumeration value="provisional"/>
      <xsd:enumeration value="planned"/>
      <xsd:enumeration value="replaced"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
