src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_datedVehicleJourney_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_dateVehicleJourney_version">
  <xsd:include schemaLocation="netex_datedVehicleJourney_support.xsd"/>
  <xsd:include schemaLocation="netex_serviceJourney_version.xsd"/>
  <xsd:include schemaLocation="netex_datedPassingTimes_version.xsd"/>
  <xsd:include schemaLocation="netex_call_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:group name="ServiceJourneyFrameGroup">
    <xsd:sequence>
      <xsd:element name="serviceJourneys" type="journeysInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="groupsOfServices" type="groupsOfServicesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="passengerJourneysInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="DatedServiceJourney"/>
          <xsd:element ref="ServiceJourney"/>
          <xsd:element ref="SpecialService"/>
          <xsd:element ref="TemplateServiceJourney"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="journeysInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="VehicleJourney"/>
          <xsd:element ref="DatedVehicleJourney"/>
          <xsd:element ref="NormalDatedVehicleJourney"/>
          <xsd:element ref="ServiceJourney"/>
          <xsd:element ref="DatedServiceJourney"/>
          <xsd:element ref="DeadRun"/>
          <xsd:element ref="SpecialService"/>
          <xsd:element ref="TemplateServiceJourney"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="DatedVehicleJourney" substitutionGroup="Journey_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DatedVehicleJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="VehicleJourneyGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DatedVehicleJourneyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DatedVehicleJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DatedVehicleJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleJourney_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DatedVehicleJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DatedVehicleJourneyGroup">
    <xsd:sequence>
      <xsd:group ref="DatedVehicleJourneyReferencesGroup"/>
      <xsd:element name="datedPassingTimes" type="targetPassingTimes_RelStructure" minOccurs="0"/>
      <xsd:element name="datedCalls" type="calls_RelStructure" minOccurs="0"/>
      <xsd:element name="ServiceAlterationType" type="ServiceAlterationEnumeration" default="planned" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DatedVehicleJourneyReferencesGroup">
    <xsd:sequence>
      <xsd:element ref="JourneyRef" minOccurs="0"/>
      <xsd:element name="replacedJourneys" type="replacedJourneys_RelStructure" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="OperatingDayRef"/>
        <xsd:element ref="OperatingDayView"/>
      </xsd:choice>
      <xsd:element ref="UicOperatingPeriod" minOccurs="0"/>
      <xsd:element name="ExternalDatedVehicleJourneyRef" type="ExternalObjectRefStructure" minOccurs="0"/>
      <xsd:element name="DatedJourneyPatternRef" type="JourneyPatternRefStructure" minOccurs="0"/>
      <xsd:element ref="DriverRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="replacedJourneys_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="DatedVehicleJourneyRef" maxOccurs="1"/>
          <xsd:element ref="NormalDatedVehicleJourneyRef" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====DATED SERVICE JOURNEY====================================-->
  <xsd:element name="DatedServiceJourney" substitutionGroup="ServiceJourney_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DatedServiceJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:group ref="ServiceJourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="DatedServiceJourneyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DatedVehicleJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DatedServiceJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="ServiceJourney_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DatedServiceJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DatedServiceJourneyGroup">
    <xsd:sequence>
      <xsd:group ref="DatedVehicleJourneyReferencesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="NormalDatedVehicleJourney" substitutionGroup="Journey_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="NormalDatedVehicleJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="VehicleJourneyGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DatedVehicleJourneyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="NormalDatedVehicleJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="NormalDatedVehicleJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleJourney_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DatedVehicleJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="DatedSpecialService" substitutionGroup="Journey_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DatedSpecialService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="SpecialServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DatedVehicleJourneyReferencesGroup"/>
                <xsd:element name="datedPassingTimes" type="targetPassingTimes_RelStructure" minOccurs="0"/>
                <xsd:element name="datedCalls" type="calls_RelStructure" minOccurs="0"/>
              </xsd:sequence>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DatedSpecialServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DatedSpecialService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="SpecialService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DatedVehicleJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
