src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_vehicleJourney_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_vehicleJourney_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- =====JOURNEY=== ============================== -->
  <xsd:simpleType name="JourneyIdType">
    <xsd:restriction base="LinkSequenceIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyRef" type="JourneyRefStructure" abstract="true" substitutionGroup="LinkSequenceRef"/>
  <xsd:complexType name="JourneyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkSequenceRefStructure">
        <xsd:attribute name="ref" type="JourneyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ===VEHICLE JOURNEY====================================================== -->
  <xsd:simpleType name="VehicleJourneyIdType">
    <xsd:restriction base="JourneyIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleJourneyRef" type="VehicleJourneyRefStructure" substitutionGroup="JourneyRef"/>
  <xsd:complexType name="VehicleJourneyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyRefStructure">
        <xsd:attribute name="ref" type="VehicleJourneyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleJourneyRefStructureType" default="VehicleJourney"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="vehicleJourneyRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleJourneyRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===DEAD RUN====================================================== -->
  <xsd:simpleType name="DeadRunIdType">
    <xsd:restriction base="VehicleJourneyIdType"/>
  </xsd:simpleType>
  <xsd:element name="DeadRunRef" type="DeadRunRefStructure" substitutionGroup="VehicleJourneyRef"/>
  <xsd:complexType name="DeadRunRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleJourneyRefStructure">
        <xsd:attribute name="ref" type="DeadRunIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDeadRunRefStructureType" default="DeadRun"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DeadRunTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="garageRunOut"/>
      <xsd:enumeration value="garageRunIn"/>
      <xsd:enumeration value="turningManoeuvre"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === TRAIN NUMBER ====================================================== -->
  <xsd:simpleType name="TrainNumberIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainNumberRef" type="TrainNumberRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TrainNumberRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="TrainNumberIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainNumberRefStructureType" default="TrainNumber"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="trainNumberRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TrainNumberRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ========== TIMING ALGORITHM  ============================== -->
  <xsd:simpleType name="TimingAlgorithmTypeIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimingAlgorithmTypeRef" type="TimingAlgorithmTypeRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="TimingAlgorithmTypeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TimingAlgorithmTypeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimingAlgorithmTypeRefStructureType" default="TimingAlgorithmType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
