src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_coupledJourney_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_coupledJourney_version">
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
  <xsd:include schemaLocation="netex_vehicleService_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_occupancy/netex_oc_occupancy_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="journeyPartsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPart" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="coupledJourneysInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="CoupledJourney" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="journeyPartCouplesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPartCouple" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="journeyParts_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="JourneyPartRef"/>
          <xsd:element ref="JourneyPart" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyPart" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPart_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPartGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPartIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPart_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyPartGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPartGroup">
    <xsd:sequence>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ParentJourneyRef" type="VehicleJourneyRefStructure" minOccurs="0"/>
      <xsd:element name="DayOffsetRelativeToMainPart" type="DayOffsetType" minOccurs="0"/>
      <xsd:group ref="JourneyPartReferencesGroup"/>
      <xsd:group ref="JourneyPartTimeGroup"/>
      <xsd:element name="VehicleOrientation" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element ref="PurposeOfJourneyPartitionRef" minOccurs="0"/>
      <xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0"/>
      <xsd:element name="journeyPartPositions" type="journeyPartPositions_RelStructure" minOccurs="0"/>
      <xsd:element name="occupancies" type="OccupancyView_RelStructure" minOccurs="0"/>
      <xsd:element ref="TypeOfProductCategoryRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="JourneyPartReferencesGroup">
    <xsd:sequence>
      <xsd:element name="MainPartRef" type="JourneyPartRefStructure" minOccurs="0"/>
      <xsd:element ref="JourneyPartCoupleRef" minOccurs="0"/>
      <xsd:element ref="TrainNumberRef" minOccurs="0"/>
      <xsd:element ref="BlockPartRef" minOccurs="0"/>
      <xsd:element name="FromStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
      <xsd:element name="ToStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="JourneyPartTimeGroup">
    <xsd:sequence>
      <xsd:element name="StartTime" type="xsd:time"/>
      <xsd:element name="StartTimeDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
      <xsd:element name="EndTime" type="xsd:time"/>
      <xsd:element name="EndTimeDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="journeyPartPositions_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPartPosition" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyPartPosition" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPartPosition_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPartPositionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPartPositionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPartPosition_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyPartPositionGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPartPositionGroup">
    <xsd:sequence>
      <xsd:element name="ParentJourneyPartRef" type="JourneyPartRefStructure" minOccurs="0"/>
      <xsd:element ref="ScheduledStopPointRef" maxOccurs="unbounded"/>
      <xsd:element name="PositionInTrain" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="coupledJourneys_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="CoupledJourneyRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CoupledJourney" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CoupledJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CoupledJourneyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CoupledJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CoupledJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="CoupledJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CoupledJourneyGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="TrainBlockRef" minOccurs="0"/>
      <xsd:element name="journeys" type="vehicleJourneyRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="journeyPartCouples_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="JourneyPartCoupleRef"/>
          <xsd:element ref="JourneyPartCouple" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyPartCouple" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPartCouple_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPartCoupleGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPartCoupleIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPartCouple_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyPartCoupleGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPartCoupleGroup">
    <xsd:sequence>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="StartTime" type="xsd:time"/>
      <xsd:element name="StartTimeDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
      <xsd:element name="EndTime" type="xsd:time"/>
      <xsd:element name="EndTimeDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
      <xsd:element name="FromStopPointRef" type="ScheduledStopPointRefStructure"/>
      <xsd:element name="ToStopPointRef" type="ScheduledStopPointRefStructure"/>
      <xsd:element name="MainPartRef" type="JourneyPartRefStructure"/>
      <xsd:element ref="BlockRef" minOccurs="0"/>
      <xsd:element name="journeyParts" type="journeyParts_RelStructure" minOccurs="0"/>
      <xsd:element ref="TrainNumberRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="PurposeOfJourneyPartition" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PurposeOfJourneyPartition_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PurposeOfJourneyPartitionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PurposeOfJourneyPartition_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
