src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_vehicleJourneyTimes_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_vehicleJourneyTimes_support">
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyTiming_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="VehicleJourneyWaitTimeIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleJourneyRunTimeIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleJourneyLayoverIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleJourneyHeadwayIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
