src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_vehicleJourneyFrequency_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_vehicleJourneyFrequency_support">
  <xsd:include schemaLocation="netex_serviceJourney_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===TEMPLATE JORUNEY=================================================== -->
  <xsd:simpleType name="TemplateVehicleJourneyTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="headway"/>
      <xsd:enumeration value="rhythmic"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TemplateServiceJourneyIdType">
    <xsd:restriction base="ServiceJourneyIdType"/>
  </xsd:simpleType>
  <xsd:element name="TemplateServiceJourneyRef" type="TemplateServiceJourneyRefStructure" substitutionGroup="ServiceJourneyRef"/>
  <xsd:complexType name="TemplateServiceJourneyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ServiceJourneyRefStructure">
        <xsd:attribute name="ref" type="TemplateServiceJourneyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTemplateServiceJourneyRefStructureType" default="TemplateServiceJourney"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="JourneyFrequencyGroupIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyFrequencyGroupRef" type="JourneyFrequencyGroupRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="JourneyFrequencyGroupRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="JourneyFrequencyGroupIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyFrequencyGroupRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="HeadwayUseEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="DisplayPassingTimesOnly"/>
      <xsd:enumeration value="DisplayAsWellAsPassingTimes"/>
      <xsd:enumeration value="DisplayInsteadOfPassingTimes"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="HeadwayJourneyGroupIdType">
    <xsd:restriction base="JourneyFrequencyGroupIdType"/>
  </xsd:simpleType>
  <xsd:element name="HeadwayJourneyGroupRef" type="HeadwayJourneyGroupRefStructure" substitutionGroup="JourneyFrequencyGroupRef"/>
  <xsd:complexType name="HeadwayJourneyGroupRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyFrequencyGroupRefStructure">
        <xsd:attribute name="ref" type="HeadwayJourneyGroupIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassHeadwayJourneyGroupRefStructureType" default="HeadwayJourneyGroup"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RhythmicalJourneyGroupIdType">
    <xsd:restriction base="JourneyFrequencyGroupIdType"/>
  </xsd:simpleType>
  <xsd:element name="RhythmicalJourneyGroupRef" type="RhythmicalJourneyGroupRefStructure" substitutionGroup="JourneyFrequencyGroupRef"/>
  <xsd:complexType name="RhythmicalJourneyGroupRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyFrequencyGroupRefStructure">
        <xsd:attribute name="ref" type="RhythmicalJourneyGroupIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRhythmicalJourneyGroupRefStructureType" default="RhythmicalJourneyGroup"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
