src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_flexibleService_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_flexibleService_version">
  <xsd:include schemaLocation="netex_flexibleService_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_flexibleStopPlace_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_stopAssignment_version.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="flexibleServicePropertiesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="FlexibleServiceProperties" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="flexibleServiceProperties_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="FlexibleServicePropertiesRef"/>
          <xsd:element ref="FlexibleServiceProperties"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FlexibleServiceProperties" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FlexibleServiceProperties_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FlexibleServicePropertiesGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FlexibleServicePropertiesIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlexibleServiceProperties_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="FlexibleServicePropertiesGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FlexibleServicePropertiesGroup">
    <xsd:sequence>
      <xsd:element ref="JourneyRef" minOccurs="0"/>
      <xsd:group ref="FlexibleServiceCharacteristicsGroup"/>
      <xsd:choice>
        <xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0"/>
        <xsd:group ref="DeprecatedBookingArrangementGroup"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FlexibleServiceCharacteristicsGroup">
    <xsd:sequence>
      <xsd:element ref="TypeOfFlexibleServiceRef" minOccurs="0"/>
      <xsd:element name="FlexibleServiceType" type="FlexibleServiceEnumeration" minOccurs="0"/>
      <xsd:element name="CancellationPossible" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ChangeOfTimePossible" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="FlexibleStopAssignment" substitutionGroup="StopAssignment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FlexibleStopAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="StopAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FlexibleStopAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FlexibleStopAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlexibleStopAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="StopAssignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="FlexibleStopAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FlexibleStopAssignmentGroup">
    <xsd:sequence>
      <xsd:element ref="FlexibleStopPlaceRef"/>
      <xsd:element ref="FlexibleQuayRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfFlexibleService" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfFlexibleService_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfFlexibleServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfFlexibleService_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
