src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_vehicleJourneyTimes_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_vehicleJourneyTimes_version">
  <xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourneyTimes_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_timeDemandType_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="vehicleJourneyWaitTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleJourneyWaitTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleJourneyWaitTime" substitutionGroup="JourneyTiming">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleJourneyWaitTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyWaitTimeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleJourneyWaitTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleJourneyWaitTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleJourneyWaitTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyWaitTime_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleJourneyWaitTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleJourneyWaitTimeGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleJourneyRef" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <!-- ===VehicleJourneyRunTime===================================================== -->
  <xsd:complexType name="vehicleJourneyRunTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleJourneyRunTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleJourneyRunTime" substitutionGroup="JourneyTiming">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleJourneyRunTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyRunTimeGroup"/>
            </xsd:sequence>
            <xsd:group ref="VehicleJourneyRunTimeGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleJourneyRunTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleJourneyRunTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyRunTime_VersionedChildStructure">
        <xsd:group ref="VehicleJourneyRunTimeGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleJourneyRunTimeGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleJourneyRef" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===VehicleJourneyRunTime===================================================== -->
  <xsd:complexType name="vehicleJourneyLayovers_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleJourneyLayover" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleJourneyLayover" substitutionGroup="JourneyTiming">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleJourneyLayover_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyLayoverGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleJourneyLayoverGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleJourneyLayoverIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleJourneyLayover_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyLayoverStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleJourneyLayoverGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleJourneyLayoverGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleJourneyRef" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
