src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_passingTimes_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_passingTimes_support">
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyTiming_support.xsd"/>
  <!-- ==CLOSELY COUPLED ===================================================== -->
  <!-- ======================================================================= -->
  <!-- ========PASSING TIME ================================================= -->
  <xsd:simpleType name="PassingTimeIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassingTimeRef" type="PassingTimeRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="PassingTimeRefStructure" abstract="true">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyTimingRefStructure">
        <xsd:attribute name="ref" type="PassingTimeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassingTimeRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======= TARGET PASSING TIME ================================================ -->
  <xsd:simpleType name="TargetPassingTimeIdType">
    <xsd:restriction base="PassingTimeIdType"/>
  </xsd:simpleType>
  <xsd:element name="TargetPassingTimeRef" type="TargetPassingTimeRefStructure" substitutionGroup="PassingTimeRef"/>
  <xsd:complexType name="TargetPassingTimeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassingTimeRefStructure">
        <xsd:attribute name="ref" type="TargetPassingTimeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTargetPassingTimeRefStructureType" default="TargetPassingTime"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== OBSERVED PASSING TIME ============================================== -->
  <xsd:simpleType name="ObservedPassingTimeIdType">
    <xsd:restriction base="PassingTimeIdType"/>
  </xsd:simpleType>
  <xsd:element name="ObservedPassingTimeRef" type="ObservedPassingTimeRefStructure" substitutionGroup="PassingTimeRef"/>
  <xsd:complexType name="ObservedPassingTimeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassingTimeRefStructure">
        <xsd:attribute name="ref" type="ObservedPassingTimeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassObservedPassingTimeRefStructureType" default="ObservedPassingTime"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== ESTIMATED PASSING TIME =========================================== -->
  <xsd:simpleType name="EstimatedPassingTimeIdType">
    <xsd:restriction base="PassingTimeIdType"/>
  </xsd:simpleType>
  <xsd:element name="EstimatedPassingTimeRef" type="EstimatedPassingTimeRefStructure" substitutionGroup="PassingTimeRef"/>
  <xsd:complexType name="EstimatedPassingTimeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassingTimeRefStructure">
        <xsd:attribute name="ref" type="EstimatedPassingTimeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEstimatedPassingTimeRefStructureType" default="EstimatedPassingTime"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== TIMETABLED PASSING TIME ============================================ -->
  <xsd:simpleType name="TimetabledPassingTimeIdType">
    <xsd:restriction base="PassingTimeIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimetabledPassingTimeRef" type="TimetabledPassingTimeRefStructure" substitutionGroup="PassingTimeRef"/>
  <xsd:complexType name="TimetabledPassingTimeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassingTimeRefStructure">
        <xsd:attribute name="ref" type="TimetabledPassingTimeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimetabledPassingTimeRefStructureType" default="TimetabledPassingTime"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
