src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_serviceJourney_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_serviceJourney_Version">
  <xsd:include schemaLocation="netex_vehicleJourney_version.xsd"/>
  <xsd:include schemaLocation="netex_flexibleService_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceCalendar_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_flexibleNetwork_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipmentVehiclePassenger_version.xsd"/>
  <xsd:include schemaLocation="netex_call_version.xsd"/>
  <!-- ==CLOSELY COUPLED ===================================================== -->
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="groupsOfServicesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfServices" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ===SERVICE JOURNEY===================================================== -->
  <xsd:element name="ServiceJourney_Dummy" type="Journey_VersionStructure" abstract="true" substitutionGroup="VehicleJourney_Dummy"/>
  <xsd:element name="ServiceJourney" substitutionGroup="VehicleJourney_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:group ref="ServiceJourneyGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Journey_VersionStructure">
        <xsd:group ref="ServiceJourneyGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceJourneyGroup">
    <xsd:sequence>
      <xsd:group ref="ServiceAlterationGroup" minOccurs="0"/>
      <xsd:group ref="ServiceTimeGroup"/>
      <xsd:group ref="VehicleJourneyReferencesGroup"/>
      <xsd:group ref="ServiceJourneyReferencesGroup"/>
      <xsd:group ref="ServiceJourneyEndpointsGroup"/>
      <xsd:group ref="ServiceJourneyAdvertisementGroup"/>
      <xsd:group ref="VehicleJourneyTimesGroup"/>
      <xsd:group ref="ServiceJourneyPartsGroup"/>
      <xsd:group ref="ServiceRequirementTypeGroup"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="FlexibleServicePropertiesRef"/>
        <xsd:element ref="FlexibleServiceProperties"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceJourneyPartsGroup">
    <xsd:sequence>
      <xsd:element name="parts" type="journeyParts_RelStructure" minOccurs="0"/>
      <xsd:element name="calls" type="calls_RelStructure" minOccurs="0"/>
      <xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0"/>
      <xsd:element name="checkConstraints" type="checkConstraints_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceJourneyReferencesGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="OperatorRef"/>
        <xsd:element ref="OperatorView"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element ref="LineRef"/>
        <xsd:element ref="LineView"/>
        <xsd:element ref="FlexibleLineView"/>
      </xsd:choice>
      <xsd:element ref="DirectionType" minOccurs="0"/>
      <xsd:element ref="JourneyPatternView" minOccurs="0"/>
      <xsd:element name="groupsOfServices" type="groupOfServicesRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="timeDemandTypes" type="timeDemandTypeRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="trainNumbers" type="trainNumberRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceJourneyAdvertisementGroup">
    <xsd:sequence>
      <xsd:element name="Print" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="Dynamic" type="DynamicAdvertisementEnumeration" default="always" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceCategoryGroup">
    <xsd:sequence>
      <xsd:element name="DepartureTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="Frequency" type="FrequencyStructure" minOccurs="0"/>
      <xsd:element name="JourneyDuration" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceAlterationGroup">
    <xsd:sequence>
      <xsd:element name="ServiceAlteration" type="ServiceAlterationEnumeration" default="planned" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceJourneyEndpointsGroup">
    <xsd:sequence>
      <xsd:element name="Origin" type="JourneyEndpointStructure" minOccurs="0"/>
      <xsd:element name="Destination" type="JourneyEndpointStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="JourneyEndpointStructure">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
      <xsd:element ref="DestinationDisplayRef" minOccurs="0"/>
      <xsd:element ref="PlaceRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TemplateServiceJourney" substitutionGroup="ServiceJourney_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TemplateServiceJourney_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:group ref="ServiceJourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="TemplateVehicleJourneyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TemplateServiceJourneyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TemplateServiceJourney_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="ServiceJourney_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TemplateVehicleJourneyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===SPECIAL SERVICE ===================================================== -->
  <xsd:complexType name="specialServices_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="SpecialServiceRef"/>
          <xsd:element ref="SpecialService" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SpecialService" substitutionGroup="Journey_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SpecialService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="SpecialServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SpecialServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SpecialService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Journey_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SpecialServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SpecialServiceGroup">
    <xsd:sequence>
      <xsd:group ref="ServiceTimeGroup"/>
      <xsd:element name="Client" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="dayTypes" type="dayTypeRefs_RelStructure" minOccurs="0"/>
      <xsd:element ref="JourneyPatternRef" minOccurs="0"/>
      <xsd:element ref="VehicleTypeRef" minOccurs="0"/>
      <xsd:group ref="ServiceJourneyEndpointsGroup"/>
      <xsd:group ref="ServiceJourneyAdvertisementGroup"/>
      <xsd:group ref="FlexibleServiceCharacteristicsGroup"/>
      <xsd:choice>
        <xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0"/>
        <xsd:group ref="DeprecatedBookingArrangementGroup"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ==Group of Services============================================================ -->
  <xsd:element name="GroupOfServices" substitutionGroup="GroupOfEntities">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GroupOfServices_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfServicesGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GroupOfServicesIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GroupOfServices_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GroupOfEntities_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="GroupOfServicesGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="GroupOfServicesGroup">
    <xsd:sequence>
      <xsd:group ref="GroupOfServicesCommonGroup"/>
      <xsd:element name="members" type="groupOfServicesMembers_RelStructure" minOccurs="0"/>
      <xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="GroupOfServicesCommonGroup">
    <xsd:sequence>
      <xsd:element name="dayTypes" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DayTypeRef" type="DayTypeRefStructure" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ref="DirectionType" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="DirectionRef"/>
        <xsd:element ref="DirectionView"/>
      </xsd:choice>
      <xsd:element name="Origin" type="GroupOfServicesEndPoint_DerivedViewStructure" minOccurs="0"/>
      <xsd:element name="Destination" type="GroupOfServicesEndPoint_DerivedViewStructure" minOccurs="0"/>
      <xsd:element name="destinationDisplays" type="destinationDisplayRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="GroupOfServicesEndPoint_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
          <xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
          <xsd:element ref="DestinationDisplayRef" minOccurs="0"/>
          <xsd:element ref="TopographicPlaceView" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="groupOfServicesMembers_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element name="GroupOfServicesMember" type="GroupOfServicesMemberStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GroupOfServicesMemberStructure">
    <xsd:complexContent>
      <xsd:extension base="AbstractGroupMember_VersionedChildStructure">
        <xsd:sequence>
          <xsd:element name="GroupOfServicesRef" type="GroupOfServicesRefStructure" minOccurs="0"/>
          <xsd:choice>
            <xsd:element ref="JourneyRef"/>
            <xsd:element ref="TrainNumberRef"/>
            <xsd:element ref="JourneyDesignator"/>
            <xsd:element ref="ServiceDesignator"/>
          </xsd:choice>
          <xsd:element name="noticeAssignments" type="noticeAssignmentViews_RelStructure" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="DeadRun_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleJourney_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DeadRunGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DeadRunGroup">
    <xsd:sequence>
      <xsd:group ref="DeadRunReferencesGroup"/>
      <xsd:group ref="DeadRunEndpointsGroup"/>
      <xsd:element name="DeadRunType" type="DeadRunTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DeadRunEndpointsGroup">
    <xsd:sequence>
      <xsd:element name="Origin" type="DeadRunEndpointStructure" minOccurs="0"/>
      <xsd:element name="Destination" type="DeadRunEndpointStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="DeadRunEndpointStructure">
    <xsd:sequence>
      <xsd:element ref="PointRef" minOccurs="0"/>
      <xsd:element ref="TypeOfPointRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="DeadRunReferencesGroup">
    <xsd:sequence>
      <xsd:element ref="OperatorRef" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element ref="DirectionType" minOccurs="0"/>
      <xsd:element name="groupsOfServices" type="groupOfServicesRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="trainNumbers" type="trainNumberRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="DeadRun" substitutionGroup="VehicleJourney_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DeadRunWithCalls_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyGroup"/>
            <xsd:sequence>
              <xsd:group ref="VehicleJourneyGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DeadRunGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DeadRunWithCallsGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DeadRunIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DeadRunWithCalls_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DeadRun_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DeadRunWithCallsGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DeadRunWithCallsGroup">
    <xsd:sequence>
      <xsd:element name="calls" type="deadRunCalls_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
