src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_journeyDesignator_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_journeyDesignator_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_line_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_route_support.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="journeyRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="JourneyRef"/>
          <xsd:element ref="JourneyDesignator"/>
          <xsd:element ref="ServiceDesignator"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- JOURNEY====================================================== -->
  <!-- ======================================================================= -->
  <xsd:element name="JourneyDesignator" type="JourneyDesignatorStructure"/>
  <xsd:complexType name="JourneyDesignatorStructure">
    <xsd:sequence>
      <xsd:element name="FromPointRef" type="TimingPointRefStructure" minOccurs="0"/>
      <xsd:element name="ToPointRef" type="TimingPointRefStructure" minOccurs="0"/>
      <xsd:group ref="DesignatorGroup"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="DesignatorGroup">
    <xsd:sequence>
      <xsd:group ref="DesignatorTimeGroup"/>
      <xsd:group ref="DesignatorNetworkGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DesignatorTimeGroup">
    <xsd:sequence>
      <xsd:element name="Date" type="xsd:date" minOccurs="0"/>
      <xsd:element name="DepartureTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="ArrivalTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="ArrivalDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element ref="DayTypeRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DesignatorNetworkGroup">
    <xsd:sequence>
      <xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element ref="DirectionRef" minOccurs="0"/>
      <xsd:element name="AlternativeJourneyRef" type="xsd:normalizedString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="ServiceDesignator" type="ServiceDesignatorStructure"/>
  <xsd:complexType name="ServiceDesignatorStructure">
    <xsd:sequence>
      <xsd:element name="FromPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
      <xsd:element name="ToPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
      <xsd:group ref="DesignatorGroup"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
