src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_journeyAccounting_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_journeyAccounting_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibilitySet_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_relationship.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="JourneyAccountingEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="contract"/>
      <xsd:enumeration value="subsidy"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="JourneyAccountingIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyAccountingRef" type="JourneyAccountingRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="JourneyAccountingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="JourneyAccountingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyAccountingRefStructureType" default="JourneyAccounting"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="SupplyContractIdType">
    <xsd:restriction base="ContractIdType"/>
  </xsd:simpleType>
  <xsd:element name="SupplyContractRef" type="SupplyContractRefStructure" substitutionGroup="ContractRef"/>
  <xsd:complexType name="SupplyContractRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ContractRefStructure">
        <xsd:attribute name="ref" type="SupplyContractIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassContractRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:attribute name="version" type="VersionIdType"/>
</xsd:schema>
