src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_passingTimes_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_passingTimes_version">
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyPattern_support.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
  <xsd:include schemaLocation="netex_passingTimes_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyTiming_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_occupancy/netex_oc_occupancy_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==CLOSELY COUPLED ===================================================== -->
  <!-- ======PASSING TIME ================================================ -->
  <xsd:element name="PassingTime" type="PassingTime_VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild"/>
  <xsd:complexType name="PassingTime_VersionedChildStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="PassingTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassingTimeGroup">
    <xsd:sequence>
      <xsd:element ref="JourneyRef" minOccurs="0"/>
      <xsd:element name="AlightAndReboard" type="xsd:boolean" minOccurs="0"/>
      <xsd:element ref="PointInJourneyPatternRef"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === TIMETABLED PASSING TIME ============================================ -->
  <xsd:complexType name="timetabledPassingTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TimetabledPassingTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TimetabledPassingTime" substitutionGroup="PassingTime">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TimetabledPassingTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassingTimeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TimetabledPassingTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TimetabledPassingTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TimetabledPassingTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="PassingTime_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="TimetabledPassingTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TimetabledPassingTimeGroup">
    <xsd:sequence>
      <xsd:element name="ArrivalTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="ArrivalDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
      <xsd:element name="DepartureTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="DepartureDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
      <xsd:element name="WaitingTime" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="Headway" type="HeadwayIntervalStructure" minOccurs="0"/>
      <xsd:element name="LatestArrivalTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="LatestArrivalDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
      <xsd:element name="EarliestDepartureTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="EarliestDepartureDayOffset" type="DayOffsetType" default="0" minOccurs="0"/>
      <xsd:element name="occupancies" type="OccupancyView_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
