src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_coupledJourney_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_coupledJourney_support">
  <xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
  <!-- ===JOURNEY PART====================================================== -->
  <xsd:simpleType name="JourneyPartIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyPartRef" type="JourneyPartRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="JourneyPartRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="JourneyPartIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyPartRefStructureType" default="JourneyPart"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="journeyPartRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPartRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="CoupledJourneyIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="CoupledJourneyRef" type="CoupledJourneyRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="CoupledJourneyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="CoupledJourneyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCoupledJourneyRefStructureType" default="CoupledJourney"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="JourneyPartCoupleIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyPartCoupleRef" type="JourneyPartCoupleRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="JourneyPartCoupleRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="JourneyPartCoupleIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyPartCoupleRefStructureType" default="JourneyPartCouple"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="JourneyPartEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="joiningTo"/>
      <xsd:enumeration value="splittingFrom"/>
      <xsd:enumeration value="splittingTo"/>
      <xsd:enumeration value="joinFrom"/>
      <xsd:enumeration value="connectTo"/>
      <xsd:enumeration value="identificationNumberChange"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="JourneyPartPositionIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PurposeOfJourneyPartitionIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="PurposeOfJourneyPartitionRef" type="PurposeOfJourneyPartitionRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="PurposeOfJourneyPartitionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="PurposeOfJourneyPartitionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPurposeOfJourneyPartitionRefStructureType" default="PurposeOfJourneyPartition"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ====BLOCK======================================================== -->
  <xsd:complexType name="blockRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="BlockRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="BlockIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="BlockRef" type="BlockRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="BlockRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="BlockIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassBlockRefStructureType" default="Block"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TrainBlockIdType">
    <xsd:restriction base="BlockIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainBlockRef" type="TrainBlockRefStructure" substitutionGroup="BlockRef"/>
  <xsd:complexType name="TrainBlockRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="BlockRefStructure">
        <xsd:attribute name="ref" type="TrainBlockIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainBlockRefStructureType" default="TrainBlock"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="BlockPartIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="BlockPartRef" type="BlockPartRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="BlockPartRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="BlockPartIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassBlockPartRefStructureType" default="BlockPart"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TrainBlockPartIdType">
    <xsd:restriction base="BlockPartIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainBlockPartRef" type="TrainBlockPartRefStructure" substitutionGroup="BlockPartRef"/>
  <xsd:complexType name="TrainBlockPartRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="BlockPartRefStructure">
        <xsd:attribute name="ref" type="TrainBlockPartIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainBlockPartRefStructureType" default="TrainBlockPart"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
