src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_journey_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_journey_version">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyPattern_support.xsd"/>
  <xsd:include schemaLocation="netex_vehicleJourney_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_noticeAssignment_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_occupancy/netex_oc_occupancy_version.xsd"/>
  <xsd:include schemaLocation="netex_journeyAccounting_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="Journey_Dummy" type="LinkSequence_VersionStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:element name="Journey" abstract="true" substitutionGroup="Journey_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="Journey_VersionStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Journey_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LinkSequence_VersionStructure">
        <xsd:group ref="JourneyGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyGroup">
    <xsd:sequence>
      <xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0"/>
      <xsd:element ref="TransportSubmode" minOccurs="0"/>
      <xsd:element name="ExternalVehicleJourneyRef" type="ExternalObjectRefStructure" minOccurs="0"/>
      <xsd:element ref="TypeOfProductCategoryRef" minOccurs="0"/>
      <xsd:element ref="TypeOfServiceRef" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="LinkSequenceProjectionRef"/>
        <xsd:element ref="LinkSequenceProjection"/>
      </xsd:choice>
      <xsd:element name="Monitored" type="xsd:boolean" minOccurs="0"/>
      <xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
      <xsd:element name="journeyAccountings" type="journeyAccountings_RelStructure" minOccurs="0"/>
      <xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0"/>
      <xsd:element name="occupancies" type="OccupancyView_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
