src/main/resources/xsd/netex_part_2/part2_journeyTimes/netex_interchangeRule_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_interchangeRule_version">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_journeyDesignator_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
  <xsd:include schemaLocation="netex_interchange_version.xsd"/>
  <!-- ======================== =============================================== -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="InterchangeInFrameGroup">
    <xsd:sequence>
      <xsd:element name="journeyMeetings" type="journeyMeetingsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="journeyInterchanges" type="journeyInterchangesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="defaultInterchanges" type="defaultInterchangesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="interchangeRules" type="interchangeRulesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="interchangeRulesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="InterchangeRule" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================== =============================================== -->
  <xsd:complexType name="interchangeRules_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="InterchangeRuleRef"/>
          <xsd:element ref="InterchangeRule"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InterchangeRule" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="InterchangeRule_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="InterchangeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="InterchangeRuleGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="InterchangeRuleIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="InterchangeRule_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Interchange_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="InterchangeRuleGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="InterchangeRuleGroup">
    <xsd:sequence>
      <xsd:element name="ConnectionZoneRef" type="ZoneRefStructure" minOccurs="0"/>
      <xsd:element ref="ControlCentreRef" minOccurs="0"/>
      <xsd:element name="Exclude" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="timings" type="interchangeRuleTimings_RelStructure" minOccurs="0"/>
      <xsd:group ref="InterchangeRuleFilteringGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:group name="InterchangeRuleFilteringGroup">
    <xsd:sequence>
      <xsd:element name="FeederFilter" type="InterchangeRuleParameterStructure" minOccurs="0"/>
      <xsd:element name="DistributorFilter" type="InterchangeRuleParameterStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="InterchangeRuleParameterStructure">
    <xsd:sequence>
      <xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" default="all" minOccurs="0"/>
      <xsd:element ref="OperatorRef" minOccurs="0"/>
      <xsd:element name="StopAreaRef" type="StopAreaRefStructure" minOccurs="0"/>
      <xsd:element ref="StopPlaceRef" minOccurs="0"/>
      <xsd:group ref="InterchangeRuleLineFilterGroup"/>
      <xsd:group ref="InterchangeRulePointFilterGroup"/>
      <xsd:element ref="TimeDemandTypeRef" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element name="ServiceJourneyRef" type="ServiceJourneyRefStructure"/>
        <xsd:element ref="JourneyDesignator"/>
        <xsd:element ref="ServiceDesignator"/>
      </xsd:choice>
      <xsd:element name="MaximumInterchangeWindow" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="InterchangeRuleLineFilterGroup">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="AllLines" type="EmptyType"/>
        <xsd:element name="linesInDirectionRefs" type="linesInDirectionRefs_RelStructure"/>
        <xsd:element ref="LineInDirectionRef" maxOccurs="unbounded"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="InterchangeRulePointFilterGroup">
    <xsd:sequence>
      <xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
      <xsd:element name="AdjacentStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
      <xsd:element name="AdjacentStopPlaceRef" type="StopPlaceRefStructure" minOccurs="0"/>
      <xsd:element name="AdjacentPointRef" type="PointRefStructure" minOccurs="0"/>
      <xsd:element name="EndStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================== =============================================== -->
  <xsd:complexType name="interchangeRuleFilters_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="InterchangeRuleFilter" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InterchangeRuleFilter" type="InterchangeRuleParameterStructure"/>
  <xsd:complexType name="InterchangeRuleFilter_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="InterchangeRuleFilterGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="InterchangeRuleFilterGroup">
    <xsd:sequence>
      <xsd:element ref="OperatorRef" minOccurs="0"/>
      <xsd:element name="StopAreaRef" type="StopAreaRefStructure" minOccurs="0"/>
      <xsd:element ref="StopPlaceRef" minOccurs="0"/>
      <xsd:group ref="InterchangeRuleLineFilterGroup"/>
      <xsd:group ref="InterchangeRulePointFilterGroup"/>
      <xsd:element ref="TimeDemandTypeRef" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element name="ServiceJourneyRef" type="ServiceJourneyRefStructure"/>
        <xsd:element ref="ServiceDesignator"/>
      </xsd:choice>
      <xsd:element name="MaximumInterchangeWindow" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" default="all" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================== =============================================== -->
  <xsd:complexType name="interchangeRuleTimings_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="InterchangeRuleTimingRef"/>
          <xsd:element ref="InterchangeRuleTiming"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InterchangeRuleTiming" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="InterchangeRuleTiming_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="InterchangeRuleTimingGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="InterchangeRuleTimingIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="InterchangeRuleTiming_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyTiming_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="InterchangeRuleTimingGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="InterchangeRuleTimingGroup">
    <xsd:sequence>
      <xsd:group ref="InterchangeTimesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
