src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_journeyPatternTimings_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_journeyPatternTimings_support">
  <xsd:include schemaLocation="netex_journeyTiming_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===JourneyPatternWaitTime===================================================== -->
  <!-- ===WaitTime===================================================== -->
  <xsd:simpleType name="JourneyPatternWaitTimeIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyPatternWaitTimeRef" type="JourneyPatternRunTimeRefStructure" substitutionGroup="JourneyTimingRef"/>
  <xsd:complexType name="JourneyPatternWaitTimeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyTimingRefStructure">
        <xsd:attribute name="ref" type="JourneyPatternWaitTimeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyTimingRefStructureType" use="optional" default="JourneyPatternWaitTime"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===RUN TIME===================================================== -->
  <xsd:simpleType name="JourneyPatternRunTimeIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyPatternRunTimeRef" type="JourneyPatternRunTimeRefStructure" substitutionGroup="JourneyTimingRef"/>
  <xsd:complexType name="JourneyPatternRunTimeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyTimingRefStructure">
        <xsd:attribute name="ref" type="JourneyPatternWaitTimeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyPatternRunTimeRefStructureType" default="JourneyPatternRunTime"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====LAYOVER ====================================================== -->
  <xsd:simpleType name="JourneyPatternLayoverIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyPatternLayoverRef" type="JourneyPatternLayoverRefStructure" substitutionGroup="JourneyTimingRef"/>
  <xsd:complexType name="JourneyPatternLayoverRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyTimingRefStructure">
        <xsd:attribute name="ref" type="JourneyPatternLayoverIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyPatternLayoverRefStructureType" default="JourneyPatternLayover"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===WaitTime===================================================== -->
  <xsd:simpleType name="JourneyPatternHeadwayIdType">
    <xsd:restriction base="JourneyTimingIdType"/>
  </xsd:simpleType>
  <xsd:element name="JourneyPatternHeadwayRef" type="JourneyPatternRunTimeRefStructure" substitutionGroup="JourneyTimingRef"/>
  <xsd:complexType name="JourneyPatternHeadwayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyTimingRefStructure">
        <xsd:attribute name="ref" type="JourneyPatternHeadwayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassJourneyTimingRefStructureType" use="optional" default="JourneyPatternHeadway"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
