src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_servicePattern_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_servicePattern_version">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_servicePattern_support.xsd"/>
  <xsd:include schemaLocation="../part1_tacticalPlanning/netex_fareZone_support.xsd"/>
  <xsd:include schemaLocation="netex_journeyPattern_version.xsd"/>
  <xsd:include schemaLocation="netex_timingPattern_version.xsd"/>
  <xsd:include schemaLocation="netex_siteConnection_version.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_flexibleNetwork_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_occupancy/netex_oc_occupancy_version.xsd"/>
  <!-- ======================================================================= -->
  <!--CLOSE COUPLED WITH JourneyPattern_version-->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="ServiceInFrameGroup">
    <xsd:sequence>
      <xsd:element name="scheduledStopPoints" type="scheduledStopPointsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="serviceLinks" type="serviceLinksInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="servicePatterns" type="servicePatternsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="stopAreas" type="stopAreasInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="connections" type="transfersInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="tariffZones" type="tariffZonesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="scheduledStopPointsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ScheduledStopPoint" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="serviceLinksInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ServiceLink" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="stopAreasInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="StopArea" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="servicePatternsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ServicePattern"/>
          <xsd:element ref="JourneyPatternView"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="ScheduledStopPoint" substitutionGroup="Point">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ScheduledStopPoint_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TimingPointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ScheduledStopPointGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ScheduledStopPointIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ScheduledStopPoint_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TimingPoint_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ScheduledStopPointGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ScheduledStopPointGroup">
    <xsd:sequence>
      <xsd:group ref="StopPointReferencesGroup"/>
      <xsd:group ref="StopPointDescriptionGroup"/>
      <xsd:group ref="StopPointPropertiesGroup"/>
      <xsd:group ref="StopPointPlaceGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointPlaceGroup">
    <xsd:sequence>
      <xsd:element ref="CountryRef" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="TopographicPlaceRef"/>
        <xsd:element ref="TopographicPlaceView"/>
      </xsd:choice>
      <xsd:element name="AtCentre" type="xsd:boolean" default="false" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointDescriptionGroup">
    <xsd:sequence>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="NameSuffix" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Label" type="MultilingualString" minOccurs="0"/>
      <xsd:group ref="StopPointCodesGroup"/>
      <xsd:element name="Url" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="StopType" type="StopTypeEnumeration" minOccurs="0"/>
      <xsd:element name="CompassBearing" type="AbsoluteBearingType" minOccurs="0"/>
      <xsd:element name="Presentation" type="PresentationStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointCodesGroup">
    <xsd:sequence>
      <xsd:element name="ShortStopCode" type="PrivateCodeStructure" minOccurs="0"/>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element name="ExternalStopPointRef" type="ExternalObjectRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointPropertiesGroup">
    <xsd:sequence>
      <xsd:element name="VehicleModes" type="AllPublicTransportModesListOfEnumerations" minOccurs="0"/>
      <xsd:element name="ForAlighting" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ForBoarding" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="RequestStop" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="RequestMethodType" type="RequestMethodTypeEnumeration" default="noneRequired" minOccurs="0"/>
      <xsd:element name="BoardingRequestMethod" type="RequestMethodTypeListOfEnumerations" default="noneRequired" minOccurs="0"/>
      <xsd:element name="AlightingRequestMethod" type="RequestMethodTypeListOfEnumerations" default="noneRequired" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointReferencesGroup">
    <xsd:sequence>
      <xsd:element name="stopAreas" type="stopAreaRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="tariffZones" type="tariffZoneRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="ServiceLink" substitutionGroup="Link">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceLink_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceLinkGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceLinkIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceLink_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Link_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceLinkGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceLinkGroup">
    <xsd:sequence>
      <xsd:element name="FromPointRef" type="ScheduledStopPointRefStructure"/>
      <xsd:element name="ToPointRef" type="ScheduledStopPointRefStructure"/>
      <xsd:element ref="VehicleMode" minOccurs="0"/>
      <xsd:element ref="OperationalContextRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="StopArea" substitutionGroup="Zone">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="StopArea_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfPointsGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="StopAreaGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="StopAreaIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="StopArea_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Zone_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="StopAreaGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="StopAreaGroup">
    <xsd:sequence>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element name="ParentStopAreaRef" type="StopAreaRefStructure" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="TopographicPlaceRef"/>
        <xsd:element ref="TopographicPlaceView"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="Connection" substitutionGroup="Transfer">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Connection_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransferGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ConnectionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ConnectionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Connection_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Transfer_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ConnectionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ConnectionGroup">
    <xsd:sequence>
      <xsd:element name="ExternalConnectionLinkRef" type="ExternalObjectRefStructure" minOccurs="0"/>
      <xsd:element name="From" type="ConnectionEndStructure" minOccurs="0"/>
      <xsd:element name="To" type="ConnectionEndStructure" minOccurs="0"/>
      <xsd:element name="TransferOnly" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="ConnectionEnd" type="ConnectionEndStructure"/>
  <xsd:complexType name="ConnectionEndStructure">
    <xsd:sequence>
      <xsd:element name="TransportMode" type="AllModesEnumeration" minOccurs="0"/>
      <xsd:element ref="Submode" minOccurs="0"/>
      <xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="ScheduledStopPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
        <xsd:element name="VehicleMeetingPointRef" type="PointRefStructure" minOccurs="0"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ===SERVICE PATTERN===================================================== -->
  <xsd:element name="ServicePattern" substitutionGroup="LinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServicePattern_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServicePatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServicePatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServicePattern_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LinkSequence_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServicePatternGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServicePatternGroup">
    <xsd:sequence>
      <xsd:group ref="JourneyPatternProperties"/>
      <xsd:group ref="JourneyPatternTimesGroup"/>
      <xsd:element name="journeyPatterns" type="journeyPatternRefs_RelStructure" minOccurs="0"/>
      <xsd:group ref="ServiceJourneyPatternSequencesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServicePatternSequenceGroup">
    <xsd:sequence>
      <xsd:element name="pointsInSequence" type="stopPointsInJourneyPattern_RelStructure" minOccurs="0"/>
      <xsd:element name="linksInSequence" type="serviceLinksInJourneyPattern_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="ServiceJourneyPattern" substitutionGroup="JourneyPattern_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceJourneyPattern_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPatternGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceJourneyPatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceJourneyPatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceJourneyPattern_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyPattern_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceJourneyPatternGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceJourneyPatternGroup">
    <xsd:sequence>
      <xsd:element name="ServiceJourneyPatternType" type="ServiceJourneyPatternTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceJourneyPatternSequencesGroup">
    <xsd:sequence>
      <xsd:element name="pointsInSequence" type="stopPointsInJourneyPattern_RelStructure" minOccurs="0"/>
      <xsd:element name="linksInSequence" type="serviceLinksInJourneyPattern_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="stopPointsInJourneyPattern_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="StopPointInJourneyPattern" minOccurs="2" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="StopPointInJourneyPattern" substitutionGroup="PointInLinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="StopPointInJourneyPattern_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:element ref="LinkSequenceRef" minOccurs="0"/>
                <xsd:element name="projections" type="projections_RelStructure" minOccurs="0"/>
                <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="StopPointInJourneyPatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="StopPointInJourneyPatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="StopPointInJourneyPattern_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="PointInLinkSequence_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="StopPointInJourneyPatternGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="StopPointInJourneyPatternGroup">
    <xsd:sequence>
      <xsd:group ref="StopPointInJourneyPatternTimingGroup"/>
      <xsd:element name="OnwardServiceLinkRef" type="ServiceLinkRefStructure" minOccurs="0"/>
      <xsd:element name="ForAlighting" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="ForBoarding" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="AlightingSideInDirectionOfTravel" type="SideInDirectionOfTravelEnumeration" minOccurs="0"/>
      <xsd:element name="BoardingSideInDirectionOfTravel" type="SideInDirectionOfTravelEnumeration" minOccurs="0"/>
      <xsd:group ref="StopPointInPatternPropertiesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointInJourneyPatternTimingGroup">
    <xsd:sequence>
      <xsd:element ref="ScheduledStopPointRef"/>
      <xsd:element name="OnwardTimingLinkRef" type="TimingLinkRefStructure" minOccurs="0"/>
      <xsd:group ref="TimingPointWaitGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointInPatternPropertiesGroup">
    <xsd:sequence>
      <xsd:group ref="PointInPatternPropertiesGroup"/>
      <xsd:element name="RequestStop" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="RequestMethod" type="RequestMethodTypeEnumeration" default="noneRequired" minOccurs="0"/>
      <xsd:element name="BoardingRequestMethod" type="RequestMethodTypeListOfEnumerations" default="noneRequired" minOccurs="0"/>
      <xsd:element name="AlightingRequestMethod" type="RequestMethodTypeListOfEnumerations" default="noneRequired" minOccurs="0"/>
      <xsd:element name="StopUse" type="StopUseEnumeration" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0"/>
        <xsd:element name="BookingArrangements" type="BookingArrangementsStructure" minOccurs="0"/>
      </xsd:choice>
      <xsd:group ref="StopPointInPatternAdvertisementGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointInPatternAdvertisementGroup">
    <xsd:sequence>
      <xsd:element name="Print" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="Dynamic" type="DynamicAdvertisementEnumeration" default="always" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======Link in pattern ========================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="serviceLinksInJourneyPattern_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ServiceLinkInJourneyPattern" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceLinkInJourneyPattern" substitutionGroup="LinkInLinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceLinkInJourneyPattern_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkInLinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TimingLinkInJourneyPatternGroup" minOccurs="0"/>
              <xsd:group ref="ServiceLinkInJourneyPatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceLinkInJourneyPatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceLinkInJourneyPattern_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="LinkInLinkSequence_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="TimingLinkInJourneyPatternGroup" minOccurs="0"/>
          <xsd:group ref="ServiceLinkInJourneyPatternGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceLinkInJourneyPatternGroup">
    <xsd:sequence>
      <xsd:element ref="ServiceLinkRef"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="ScheduledStopPointView" type="ScheduledStopPoint_DerivedViewStructure" substitutionGroup="DerivedView"/>
  <xsd:complexType name="ScheduledStopPoint_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
          <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
          <xsd:element ref="TypeOfPointRef" minOccurs="0"/>
          <xsd:group ref="StopPointDescriptionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="OnwardServiceLinkView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="OnwardServiceLink_DerivedViewStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OnwardServiceLink_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="ServiceLinkInJourneyPattern" minOccurs="0"/>
          <xsd:element ref="ServiceLinkRef" minOccurs="0"/>
          <xsd:element name="ToPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
          <xsd:element name="Distance" type="DistanceType" minOccurs="0"/>
          <xsd:element name="RunTime" type="xsd:duration" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="StopPointInJourneyPatternView" type="StopPointInJourneyPattern_DerivedViewStructure" substitutionGroup="DerivedView"/>
  <xsd:complexType name="StopPointInJourneyPattern_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="PointInJourneyPatternRef" minOccurs="0"/>
          <xsd:group ref="StopPointInJourneyPatternViewPropertiesGroup"/>
          <xsd:group ref="StopPointInJourneyPatternViewTimingGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="StopPointInJourneyPatternViewPropertiesGroup">
    <xsd:sequence>
      <xsd:element name="VisitNumber" type="xsd:positiveInteger" default="1" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="ScheduledStopPointRef"/>
        <xsd:element ref="ScheduledStopPointView"/>
      </xsd:choice>
      <xsd:element ref="OnwardTimingLinkView" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element name="OnwardServiceLinkRef" type="ServiceLinkRefStructure"/>
        <xsd:element ref="OnwardServiceLinkView"/>
      </xsd:choice>
      <xsd:element name="TimingPointStatus" type="TimingPointStatusEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointInJourneyPatternViewTimingGroup">
    <xsd:sequence>
      <xsd:element name="IsWaitPoint" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="TimeDemandTypeRef" minOccurs="1"/>
        <xsd:element ref="TimebandRef" minOccurs="1"/>
      </xsd:choice>
      <xsd:element name="WaitTime" type="xsd:duration" minOccurs="0"/>
      <xsd:group ref="HeadwayIntervalGroup"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
