src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_routingConstraint_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_routingConstraint_version">
  <xsd:include schemaLocation="netex_routingConstraint_support.xsd"/>
  <xsd:include schemaLocation="netex_servicePattern_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="RoutingConstraintInFrameGroup">
    <xsd:sequence>
      <xsd:element name="transferRestrictions" type="transferRestrictionsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="routingConstraintZones" type="routingConstraintZonesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="serviceExclusions" type="serviceExclusionsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="serviceExclusionsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ServiceExclusion" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="transferRestrictionsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TransferRestriction" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="routingConstraintZonesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="RoutingConstraintZone" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================== =============================================== -->
  <xsd:element name="ServiceExclusion" substitutionGroup="Assignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceExclusion_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceExclusionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceExclusionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceExclusion_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceExclusionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceExclusionGroup">
    <xsd:sequence>
      <xsd:element name="ExcludingJourneyPatternRef" type="JourneyPatternRefStructure" minOccurs="0"/>
      <xsd:element name="StartPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
      <xsd:element name="EndPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
      <xsd:element name="excludedJourneyPatternRefs" type="journeyPatternRefs_RelStructure" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TransferRestriction" substitutionGroup="Assignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TransferRestriction_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransferRestrictionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TransferRestrictionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TransferRestriction_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TransferRestrictionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TransferRestrictionGroup">
    <xsd:sequence>
      <xsd:element ref="TypeOfTransferRef" minOccurs="0"/>
      <xsd:element name="BothWays" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="RestrictionType" type="TransferConstraintTypeEnumeration"/>
      <xsd:element name="FromPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
      <xsd:element name="ToPointRef" type="ScheduledStopPointRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================== =============================================== -->
  <xsd:element name="RoutingConstraintZone" substitutionGroup="Zone">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RoutingConstraintZone_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfPointsGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RoutingConstraintZoneGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RoutingConstraintZoneIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RoutingConstraintZone_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Zone_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="RoutingConstraintZoneGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RoutingConstraintZoneGroup">
    <xsd:sequence>
      <xsd:element name="ZoneUse" type="ZoneUseEnumeration" minOccurs="0"/>
      <xsd:element name="MaximumSpeed" type="SpeedType" minOccurs="0"/>
      <xsd:element name="pointsInPattern" type="pointsInJourneyPattern_RelStructure" minOccurs="0"/>
      <xsd:element name="lineDirections" type="linesInDirectionRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="lines" type="lineRefs_RelStructure" minOccurs="0"/>
      <xsd:element ref="GroupOfLinesRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
