src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_passengerInformationEquipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_passengerInformationEquipment_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="DisplayAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="DisplayAssignmentRef" type="DisplayAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="DisplayAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <!-- <xsd:attribute name="version" type="VersionIdType" use="optional">
					<xsd:annotation>
						<xsd:documentation>Version number of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>-->
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional" default="1"/>
        <xsd:attribute name="ref" type="DisplayAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDisplayAssignmentRefStructureType" default="DisplayAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DisplayAssignmentTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="arrivals"/>
      <xsd:enumeration value="departures"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- =========================================================== -->
  <xsd:simpleType name="PassengerInformationEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerInformationEquipmentRef" type="PassengerInformationEquipmentRefStructure" substitutionGroup="InstalledEquipmentRef"/>
  <xsd:complexType name="PassengerInformationEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="InstalledEquipmentRefStructure">
        <xsd:attribute name="ref" type="PassengerInformationEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerInformationEquipmentRefStructureType" default="PassengerInformationEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ============================================================= -->
  <xsd:simpleType name="LogicalDisplayIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="LogicalDisplayRef" type="LogicalDisplayRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="LogicalDisplayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="LogicalDisplayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLogicalDisplayRefStructureType" default="LogicalDisplay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ============================================================== -->
  <xsd:simpleType name="TypeOfPassengerInformationEquipmentIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfPassengerInformationEquipmentRef" type="TypeOfPassengerInformationEquipmentRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfPassengerInformationEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfPassengerInformationEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfPassengerInformationEquipmentRefStructureType" default="TypeOfPassengerInformationEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
