src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_stopAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_stopAssignment_version">
  <xsd:include schemaLocation="../part1_ifopt/netex_ifopt_stopPlace_version.xsd"/>
  <xsd:include schemaLocation="netex_stopAssignment_support.xsd"/>
  <xsd:include schemaLocation="netex_servicePattern_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_deckEntranceAssignment_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="StopAssignmentInFrameGroup">
    <xsd:sequence>
      <xsd:element name="stopAssignments" type="stopAssignmentsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="stopAssignmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="StopAssignment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====== STOP ASSIGNMENT.=========================================== -->
  <xsd:element name="StopAssignment" type="StopAssignment_VersionStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:complexType name="StopAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="StopAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="StopAssignmentGroup">
    <xsd:sequence>
      <xsd:element name="BoardingUse" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="AlightingUse" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="ScheduledStopPointRef"/>
        <xsd:element ref="ScheduledStopPoint"/>
      </xsd:choice>
      <xsd:group ref="StopAssignmentDirectionGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopAssignmentDirectionGroup">
    <xsd:sequence>
      <xsd:element name="ArrivesForwards" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="DepartsForwards" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="ArrivesFromLeft" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="DepartsToRight" type="xsd:boolean" default="true" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======PASSENGER STOP ASSIGNMENT.=========================================== -->
  <xsd:element name="PassengerStopAssignment" substitutionGroup="StopAssignment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerStopAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="StopAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerStopAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerStopAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerStopAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="StopAssignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerStopAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerStopAssignmentGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="StopPlaceRef"/>
        <xsd:element ref="StopPlace"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element ref="QuayRef"/>
        <xsd:element ref="Quay"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element ref="BoardingPositionRef"/>
        <xsd:element ref="BoardingPosition"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element name="passengerBoardingPositionAssignments" minOccurs="0" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:complexContent>
              <xsd:extension base="passengerBoardingPositionAssignments_RelStructure"/>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="trainElements" type="trainStopAssignments_RelStructure" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ======PASSENGER BOARDING POSITION ASSIGNMENT============================================ -->
  <xsd:element name="PassengerBoardingPositionAssignment_Dummy" type="PassengerBoardingPositionAssignment_VersionStructure" abstract="true" substitutionGroup="StopAssignment"/>
  <xsd:complexType name="passengerBoardingPositionAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="PassengerBoardingPositionAssignmentRef"/>
          <xsd:element ref="PassengerBoardingPositionAssignment"/>
          <xsd:element ref="PassengerBoardingPositionAssignment_Dummy"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PassengerBoardingPositionAssignment" substitutionGroup="StopAssignment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerBoardingPositionAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="StopAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerBoardingPositionAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerBoardingPositionAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="StopAssignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerBoardingPositionAssignmentGroup">
    <xsd:sequence>
      <xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
      <xsd:element ref="TrainRef" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="TrainComponentRef" minOccurs="0"/>
        <xsd:element ref="TrainComponentView" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="PositionOfTrainElement" type="xsd:positiveInteger" minOccurs="0"/>
      <xsd:element name="BoardingPositionRef" type="BoardingPositionRefStructure" minOccurs="0"/>
      <xsd:element name="IsAllowed" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="EntranceToVehicle" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="deckEntranceAssignments" type="deckEntranceAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======DEPRECATED - Use PASSENGER BOARDING POSITION ASSIGNMENT.============================================ -->
  <xsd:complexType name="trainStopAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="TrainStopAssignment"/>
          <xsd:element ref="TrainStopAssignmentRef"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TrainStopAssignment" substitutionGroup="StopAssignment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrainStopAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="StopAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainStopAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrainStopAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="StopAssignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerBoardingPositionAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======PASSENGER STOP ASSIGNMENT VIEW================================================== -->
  <xsd:element name="PassengerStopAssignmentView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerStopAssignment_DerivedViewStructure">
          <xsd:sequence>
            <xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
            <xsd:element ref="StopPlaceRef" minOccurs="0"/>
            <xsd:element name="QuayRef" type="QuayRefStructure" minOccurs="0"/>
            <xsd:element name="QuayName" type="MultilingualString" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerStopAssignmentIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerStopAssignment_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="PassengerStopAssignmentRef" minOccurs="0"/>
          <xsd:element ref="StopPlaceRef" minOccurs="0"/>
          <xsd:element name="QuayRef" type="QuayRefStructure" minOccurs="0"/>
          <xsd:element name="QuayName" type="MultilingualString" minOccurs="0"/>
          <xsd:element name="Label" type="xsd:normalizedString" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
