src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_passengerInformationEquipment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_passengerInformationEquipment_version">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_support.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_line_support.xsd"/>
  <xsd:include schemaLocation="../part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
  <xsd:include schemaLocation="../part1_ifopt/netex_ifopt_equipmentTicketing_version.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_route_support.xsd"/>
  <xsd:include schemaLocation="netex_passengerInformationEquipment_support.xsd"/>
  <xsd:include schemaLocation="netex_servicePattern_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="PassengerInformationEquipmentInFrameGroup">
    <xsd:sequence>
      <xsd:element name="logicalDisplays" type="logicalDisplaysInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="displayAssignments" type="displayAssignmentsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="passengerInformationEquipments" type="passengerInformationEquipmentsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="logicalDisplaysInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="LogicalDisplay" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="passengerInformationEquipmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="PassengerInformationEquipment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="displayAssignmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="DisplayAssignment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="LogicalDisplay" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="LogicalDisplay_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LogicalDisplayGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="LogicalDisplayIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="LogicalDisplay_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="LogicalDisplayGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LogicalDisplayGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="displayAssignments" type="displayAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="PassengerInformationEquipment" substitutionGroup="PassengerEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerInformationEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="Fixed" type="xsd:boolean" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerInformationEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerInformationEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerInformationEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PassengerEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerInformationEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerInformationEquipmentGroup">
    <xsd:sequence>
      <xsd:element ref="LogicalDisplayRef" minOccurs="0"/>
      <xsd:element ref="StopPlaceRef" minOccurs="0"/>
      <xsd:element ref="SiteComponentRef" minOccurs="0"/>
      <xsd:element name="PassengerInformationEquipmentList" type="PassengerInformationEquipmentListOfEnumerations" minOccurs="0"/>
      <xsd:element ref="TypeOfPassengerInformationEquipmentRef" minOccurs="0"/>
      <xsd:group ref="TicketingEquipmentAccessibilityGroup" minOccurs="0"/>
      <xsd:element ref="PassengerInformationFacilityList" minOccurs="0"/>
      <xsd:element ref="AccessibilityInfoFacilityList" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="displayAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="DisplayAssignmentRef"/>
          <xsd:element ref="DisplayAssignment"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DisplayAssignment" substitutionGroup="Assignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DisplayAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DisplayAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="nameOfClass" type="NameOfClass" use="optional"/>
          <xsd:attribute name="dataSourceRef" type="DataSourceIdType" use="optional"/>
          <xsd:attribute name="created" type="xsd:dateTime" use="optional"/>
          <xsd:attribute name="changed" type="xsd:dateTime" use="optional"/>
          <xsd:attribute name="modification" type="ModificationEnumeration" use="optional" default="new"/>
          <xsd:attribute name="version" type="VersionIdType" use="optional"/>
          <xsd:attribute name="status" type="StatusEnumeration" use="optional" default="active"/>
          <xsd:attribute name="derivedFromVersionRef" type="VersionIdType" use="optional"/>
          <xsd:attribute name="compatibleWithVersionFrameVersionRef" type="VersionIdType" use="optional"/>
          <xsd:attribute name="derivedFromObjectRef" type="ObjectIdType" use="optional"/>
          <xsd:attribute name="responsibilitySetRef" type="ResponsibilitySetIdType"/>
          <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
          <xsd:attribute name="id" type="DisplayAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DisplayAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DisplayAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DisplayAssignmentGroup">
    <xsd:sequence>
      <xsd:element ref="LogicalDisplayRef" minOccurs="0"/>
      <xsd:group ref="DisplayAssignmentReferencesGroup"/>
      <xsd:element name="DisplayAssignmentType" type="DisplayAssignmentTypeEnumeration" default="all" minOccurs="0"/>
      <xsd:element name="NumberOfJourneysToShow" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="DisplayPriority" type="xsd:nonNegativeInteger" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DisplayAssignmentReferencesGroup">
    <xsd:sequence>
      <xsd:element ref="ScheduledStopPointRef"/>
      <xsd:element ref="VehicleMode" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element ref="DirectionRef" minOccurs="0"/>
      <xsd:element ref="JourneyPatternRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfPassengerInformationEquipment" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfPassengerInformationEquipment_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfPassengerInformationEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfPassengerInformationEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfPassengerInformationEquipment_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TypeOfPassengerInformationEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfPassengerInformationEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="BroadType" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
