src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_fareZone_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_fareZone_support">
  <xsd:include schemaLocation="../part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_section_support.xsd"/>
  <!-- ====FARE SCHEDULED STOP POINT==================================================== -->
  <xsd:simpleType name="FareScheduledStopPointIdType">
    <xsd:restriction base="ScheduledStopPointIdType"/>
  </xsd:simpleType>
  <xsd:element name="FareScheduledStopPointRef" type="FareScheduledStopPointRefStructure" substitutionGroup="ScheduledStopPointRef"/>
  <xsd:complexType name="FareScheduledStopPointRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ScheduledStopPointRefStructure">
        <xsd:attribute name="ref" type="FareScheduledStopPointIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFareScheduledStopPointRefStructureType" default="FareScheduledStopPoint"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="fareScheduledStopPointRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="FareScheduledStopPointRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!--======BORDER POINT===================================================-->
  <xsd:simpleType name="BorderPointIdType">
    <xsd:restriction base="TimingPointIdType"/>
  </xsd:simpleType>
  <xsd:element name="BorderPointRef" type="BorderPointRefStructure" substitutionGroup="TimingPointRef"/>
  <xsd:complexType name="BorderPointRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TimingPointRefStructure">
        <xsd:attribute name="ref" type="BorderPointIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassBorderPointRefStructureType" default="BorderPoint"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====FARE POINT IN JOURNEY PATTERN.======================================================== -->
  <xsd:simpleType name="FarePointInPatternIdType">
    <xsd:restriction base="PointInJourneyPatternIdType"/>
  </xsd:simpleType>
  <xsd:element name="FarePointInPatternRef" type="FarePointInPatternRefStructure" substitutionGroup="PointInJourneyPatternRef"/>
  <xsd:complexType name="FarePointInPatternRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PointInJourneyPatternRefStructure">
        <xsd:attribute name="ref" type="FarePointInPatternIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFarePointInPatternRefStructureType" default="FarePointInPattern"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SeriesPresentationEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="required"/>
      <xsd:enumeration value="optionalLeft"/>
      <xsd:enumeration value="optionalRight"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ====FARE SECTION .======================================================== -->
  <xsd:simpleType name="FareSectionIdType">
    <xsd:restriction base="GeneralSectionIdType"/>
  </xsd:simpleType>
  <xsd:element name="FareSectionRef" type="FareSectionRefStructure" substitutionGroup="GeneralSectionRef"/>
  <xsd:complexType name="FareSectionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GeneralSectionRefStructure">
        <xsd:attribute name="ref" type="FareSectionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFareSectionRefStructureType" default="FareSection"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====FARE ZONE .======================================================== -->
  <xsd:simpleType name="FareZoneIdType">
    <xsd:restriction base="TariffZoneIdType"/>
  </xsd:simpleType>
  <xsd:element name="FareZoneRef" type="FareZoneRefStructure" substitutionGroup="TariffZoneRef_Dummy"/>
  <xsd:complexType name="FareZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TariffZoneRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFareZoneRefStructureType" default="FareZone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ZoneTopologyEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="overlapping"/>
      <xsd:enumeration value="honeycomb"/>
      <xsd:enumeration value="ring"/>
      <xsd:enumeration value="annular"/>
      <xsd:enumeration value="nested"/>
      <xsd:enumeration value="tiled"/>
      <xsd:enumeration value="sequence"/>
      <xsd:enumeration value="overlappingSequence"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="fareZoneRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="FareZoneRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====FARE ZONE .======================================================== -->
  <xsd:simpleType name="ScopingMethodEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="explicitStops"/>
      <xsd:enumeration value="implicitSpatialProjection"/>
      <xsd:enumeration value="explicitPeripheryStops"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
