src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_journeyPattern_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_journeyPattern_version">
  <xsd:include schemaLocation="../part1_networkDescription/netex_line_support.xsd"/>
  <xsd:include schemaLocation="netex_servicePattern_version.xsd"/>
  <xsd:include schemaLocation="netex_journeyPatternTimings_version.xsd"/>
  <!-- ======================================================================= -->
  <!--CLOSE COUPLED WITH ServicePattern_version-->
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="JourneyPatternInFrameGroup">
    <xsd:sequence>
      <xsd:element name="journeyPatterns" type="journeyPatternsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="journeyPatternsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPattern_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===Journey Pattern===================================================== -->
  <xsd:element name="JourneyPattern_Dummy" type="LinkSequence_VersionStructure" abstract="true" substitutionGroup="LinkSequence"/>
  <xsd:element name="JourneyPattern" substitutionGroup="JourneyPattern_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPattern_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPattern_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="LinkSequence_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyPatternGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPatternGroup">
    <xsd:sequence>
      <xsd:group ref="JourneyPatternProperties"/>
      <xsd:group ref="JourneyPatternTimesGroup"/>
      <xsd:group ref="JourneyPatternSequencesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="JourneyPatternTimesGroup">
    <xsd:sequence>
      <xsd:element name="runTimes" type="journeyPatternRunTimes_RelStructure" minOccurs="0"/>
      <xsd:element name="waitTimes" type="journeyPatternWaitTimes_RelStructure" minOccurs="0"/>
      <xsd:element name="headways" type="journeyPatternHeadways_RelStructure" minOccurs="0"/>
      <xsd:element name="layovers" type="journeyPatternLayovers_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="JourneyPatternSequencesGroup">
    <xsd:sequence>
      <xsd:element name="pointsInSequence" type="pointsInJourneyPattern_RelStructure" minOccurs="0"/>
      <xsd:element name="linksInSequence" type="linksInJourneyPattern_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="JourneyPatternProperties">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="RouteRef" minOccurs="1"/>
        <xsd:element ref="RouteView"/>
      </xsd:choice>
      <xsd:element ref="DirectionType" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="DirectionRef"/>
        <xsd:element ref="DirectionView"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element ref="DestinationDisplayRef"/>
        <xsd:element ref="DestinationDisplayView"/>
      </xsd:choice>
      <xsd:element ref="TypeOfJourneyPatternRef" minOccurs="0"/>
      <xsd:element ref="OperationalContextRef" minOccurs="0"/>
      <xsd:element ref="TimingPatternRef" minOccurs="0"/>
      <xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0"/>
      <xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="DeadRunJourneyPattern" substitutionGroup="JourneyPattern_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DeadRunJourneyPattern_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DeadRunJourneyPatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DeadRunJourneyPattern_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyPattern_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="pointsInJourneyPattern_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice minOccurs="2" maxOccurs="unbounded">
          <xsd:element ref="PointInJourneyPattern"/>
          <xsd:element ref="StopPointInJourneyPattern"/>
          <xsd:element ref="TimingPointInJourneyPattern"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PointInJourneyPattern" substitutionGroup="PointInLinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PointInJourneyPattern_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointInLinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointInJourneyPatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PointInJourneyPatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PointInJourneyPattern_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="PointInLinkSequence_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="PointInJourneyPatternGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PointInJourneyPatternGroup">
    <xsd:sequence>
      <xsd:element ref="PointRef" minOccurs="0"/>
      <xsd:group ref="PointInPatternPropertiesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="PointInPatternPropertiesGroup">
    <xsd:sequence>
      <xsd:group ref="DestinationViaGroup" minOccurs="0"/>
      <xsd:element ref="FlexiblePointProperties" minOccurs="0"/>
      <xsd:element name="ChangeOfDestinationDisplay" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ChangeOfServiceRequirements" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="noticeAssignments" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="noticeAssignments_RelStructure"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StopPointInJourneyPatternReferencesGroup">
    <xsd:sequence>
      <xsd:element name="OnwardServiceLinkRef" type="ServiceLinkRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="linksInJourneyPattern_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ServiceLinkInJourneyPattern"/>
          <xsd:element ref="TimingLinkInJourneyPattern" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LinkInJourneyPattern" substitutionGroup="LinkInLinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="LinkInJourneyPattern_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkInLinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkInJourneyPatternGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="LinkInSequenceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="LinkInJourneyPattern_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="LinkInLinkSequence_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="LinkInJourneyPatternGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LinkInJourneyPatternGroup">
    <xsd:choice>
      <xsd:element ref="ServiceLinkRef"/>
      <xsd:element ref="TimingLinkRef"/>
    </xsd:choice>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="JourneyPatternView" type="JourneyPattern_DerivedViewStructure" substitutionGroup="DerivedView"/>
  <xsd:complexType name="JourneyPattern_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPatternRef" minOccurs="0"/>
          <xsd:group ref="JourneyPatternProperties"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfJourneyPattern" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfJourneyPattern_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfJourneyPatternIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfJourneyPattern_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
