src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_journeyTiming_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_journeyTiming_version">
  <xsd:include schemaLocation="netex_journeyTiming_support.xsd"/>
  <xsd:include schemaLocation="netex_timeDemandType_support.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_timingPattern_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- === JourneyTiming========================================================= -->
  <xsd:element name="JourneyTiming" type="JourneyTiming_VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild"/>
  <xsd:complexType name="JourneyTiming_VersionedChildStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyTimingGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyTimingGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="TimeDemandTypeRef"/>
        <xsd:element ref="TimebandRef"/>
      </xsd:choice>
      <xsd:element ref="VehicleMode" minOccurs="0"/>
      <xsd:element ref="OperationalContextRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===WaitTime===================================================== -->
  <xsd:complexType name="journeyWaitTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyWaitTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyWaitTime" substitutionGroup="JourneyTiming">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyWaitTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyWaitTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyWaitTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyWaitTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyTiming_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyWaitTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyWaitTimeGroup">
    <xsd:sequence>
      <xsd:element ref="TimingPointRef" minOccurs="0"/>
      <xsd:element name="WaitTime" type="xsd:duration"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===PatternRunTime===================================================== -->
  <xsd:complexType name="journeyRunTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyRunTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyRunTime" substitutionGroup="JourneyTiming">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyRunTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyRunTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyRunTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyRunTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyTiming_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyRunTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyRunTimeGroup">
    <xsd:sequence>
      <xsd:element ref="TimingLinkRef" minOccurs="0"/>
      <xsd:element name="RunTime" type="xsd:duration"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===JLayoverTime===================================================== -->
  <xsd:complexType name="journeyLayovers_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyLayover" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyLayover" substitutionGroup="JourneyTiming">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyLayoverStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyLayoverGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyLayoverIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyLayoverStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyTiming_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyLayoverGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyLayoverGroup">
    <xsd:sequence>
      <xsd:element name="Layover" type="xsd:duration"/>
      <xsd:element ref="PointRef"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="turnaroundTimeLimitTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TurnaroundTimeLimitTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TurnaroundTimeLimitTime" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TurnaroundTimeLimitTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TurnaroundTimeLimitTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TurnaroundTimeLimitTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TurnaroundTimeLimitTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyTiming_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="TurnaroundTimeLimitTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TurnaroundTimeLimitTimeGroup">
    <xsd:sequence>
      <xsd:element name="MinimumDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="MaximumDuration" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== Metamodel ================================================================ -->
  <xsd:complexType name="journeyHeadways_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyHeadway" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyHeadway" substitutionGroup="JourneyTiming">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyHeadway_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="HeadwayIntervalGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyHeadwayIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyHeadway_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyTiming_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="HeadwayIntervalGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="HeadwayIntervalGroup">
    <xsd:sequence>
      <xsd:element name="ScheduledHeadwayInterval" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="MinimumHeadwayInterval" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="MaximumHeadwayInterval" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="HeadwayIntervalStructure">
    <xsd:group ref="HeadwayIntervalGroup"/>
  </xsd:complexType>
</xsd:schema>
