src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_routingConstraint_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_routingConstraint_support_version">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_place_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="ServiceExclusionIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceExclusionRef" type="ServiceExclusionRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="ServiceExclusionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="ServiceExclusionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceExclusionRefStructureType" default="ServiceExclusion"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TransferRestrictionIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="TransferRestrictionRef" type="TransferRestrictionRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="TransferRestrictionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="TransferRestrictionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTransferRestrictionRefStructureType" default="TransferRestriction"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RoutingConstraintZoneIdType">
    <xsd:restriction base="ZoneIdType"/>
  </xsd:simpleType>
  <xsd:element name="RoutingConstraintZoneRef" type="RoutingConstraintZoneRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="RoutingConstraintZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ZoneRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRoutingConstraintZoneRefStructureType" default="RoutingConstraintZone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TransferConstraintTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="canTransfer"/>
      <xsd:enumeration value="cannotTransfer"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ZoneUseEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="forbiddenZone"/>
      <xsd:enumeration value="cannotBoardAndAlightInSameZone"/>
      <xsd:enumeration value="cannotBoardInZone"/>
      <xsd:enumeration value="cannotAlightInZone"/>
      <xsd:enumeration value="mustBoardInZone"/>
      <xsd:enumeration value="mustAlightInZone"/>
      <xsd:enumeration value="passThroughUseOnly"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
