src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_pathAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_pathAssignment_version">
  <xsd:include schemaLocation="netex_stopAssignment_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="NavigationPathAssignment" substitutionGroup="StopAssignment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="NavigationPathAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="StopAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="NavigationPathAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PathAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="NavigationPathAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="StopAssignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="NavigationPathAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="NavigationPathAssignmentGroup">
    <xsd:sequence>
      <xsd:element ref="ConnectionRef" minOccurs="0"/>
      <xsd:element ref="SiteRef" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="SiteNavigationPathRef"/>
        <xsd:element ref="NavigationPathRef"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
