src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_stopAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_stopAssignment_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- =========================================================== -->
  <xsd:simpleType name="StopAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="StopAssignmentRef" type="StopAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="StopAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="StopAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassStopAssignmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====PASSENGER STOP ASSIGNMENT ====================================================== -->
  <xsd:simpleType name="PassengerStopAssignmentIdType">
    <xsd:restriction base="StopAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerStopAssignmentRef" type="PassengerStopAssignmentRefStructure" substitutionGroup="StopAssignmentRef"/>
  <xsd:complexType name="PassengerStopAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopAssignmentRefStructure">
        <xsd:attribute name="ref" type="PassengerStopAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerStopAssignmentRefStructureType" default="PassengerStopAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======DEPRECATED TRAIN STOP BOARDING POSITION ASSIGNMENT.================================= -->
  <xsd:simpleType name="TrainStopAssignmentIdType">
    <xsd:restriction base="StopAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainStopAssignmentRef" type="TrainStopAssignmentRefStructure" substitutionGroup="StopAssignmentRef"/>
  <xsd:complexType name="TrainStopAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopAssignmentRefStructure">
        <xsd:attribute name="ref" type="TrainStopAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainStopAssignmentRefStructureType" default="TrainStopAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======PASSENGER BOARDING POSITION ASSIGNMENT.================================= -->
  <xsd:simpleType name="PassengerBoardingPositionAssignmentIdType">
    <xsd:restriction base="StopAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerBoardingPositionAssignmentRef" type="PassengerBoardingPositionAssignmentRefStructure" substitutionGroup="StopAssignmentRef"/>
  <xsd:complexType name="PassengerBoardingPositionAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopAssignmentRefStructure">
        <xsd:attribute name="ref" type="PassengerBoardingPositionAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerBoardingPositionAssignmentRefStructureType" default="PassengerBoardingPositionAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======Path ASSIGNMENT=================================================== -->
  <xsd:simpleType name="PathAssignmentIdType">
    <xsd:restriction base="StopAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PathAssignmentRef" type="PathAssignmentRefStructure" substitutionGroup="StopAssignmentRef"/>
  <xsd:complexType name="PathAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopAssignmentRefStructure">
        <xsd:attribute name="ref" type="PathAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassStopAssignmentRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
