src/main/resources/xsd/netex_part_1/part1_tacticalPlanning/netex_journeyPatternTimings_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_journeyPatternTimings_version">
  <xsd:include schemaLocation="netex_journeyPattern_support.xsd"/>
  <xsd:include schemaLocation="netex_journeyPatternTimings_support.xsd"/>
  <xsd:include schemaLocation="netex_journeyTiming_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="TimingPointWaitGroup">
    <xsd:sequence>
      <xsd:element name="IsWaitPoint" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element name="WaitTime" type="xsd:duration"/>
        <xsd:element name="waitTimes" type="journeyPatternWaitTimes_RelStructure"/>
      </xsd:choice>
      <xsd:element name="headways" type="journeyPatternHeadways_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===JourneyPatternWaitTime===================================================== -->
  <xsd:complexType name="journeyPatternWaitTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="JourneyPatternWaitTimeRef"/>
          <xsd:element ref="JourneyPatternWaitTime" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyPatternWaitTime" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPatternWaitTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyWaitTimeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPatternWaitTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPatternWaitTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPatternWaitTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyWaitTime_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyPatternWaitTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPatternWaitTimeGroup">
    <xsd:sequence>
      <xsd:element ref="JourneyPatternRef" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===JourneyPatternRunTime===================================================== -->
  <xsd:complexType name="journeyPatternRunTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="JourneyPatternRunTimeRef"/>
          <xsd:element ref="JourneyPatternRunTime" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyPatternRunTime" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPatternRunTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyRunTimeGroup"/>
            </xsd:sequence>
            <xsd:group ref="JourneyPatternRunTimeGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPatternRunTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPatternRunTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyRunTime_VersionedChildStructure">
        <xsd:group ref="JourneyPatternRunTimeGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPatternRunTimeGroup">
    <xsd:sequence>
      <xsd:element ref="JourneyPatternRef" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===JourneyPatternRunTime===================================================== -->
  <xsd:complexType name="journeyPatternLayovers_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPatternLayover" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyPatternLayover" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPatternLayoverStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyLayoverGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPatternLayoverGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPatternLayoverIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPatternLayoverStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyLayoverStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyPatternLayoverGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPatternLayoverGroup">
    <xsd:sequence>
      <xsd:element ref="JourneyPatternRef" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <!-- ===JourneyPatternWaitTime===================================================== -->
  <xsd:complexType name="journeyPatternHeadways_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="JourneyPatternHeadway" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="JourneyPatternHeadway" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="JourneyPatternHeadway_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyTimingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="HeadwayIntervalGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="JourneyPatternHeadwayGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="JourneyPatternHeadwayIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="JourneyPatternHeadway_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="JourneyHeadway_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="JourneyPatternHeadwayGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="JourneyPatternHeadwayGroup">
    <xsd:sequence>
      <xsd:element ref="JourneyPatternRef" minOccurs="0"/>
      <xsd:element ref="TimingPointRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
