src/main/resources/xsd/netex_part_2/part2_vehicleService/netex_vehicleService_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_vehicleService_version">
  <xsd:include schemaLocation="../part2_journeyTimes/netex_vehicleService_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_line_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_vehicleAndCrewPoint_support.xsd"/>
  <xsd:include schemaLocation="../part2_journeyTimes/netex_journeyDesignator_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
  <xsd:include schemaLocation="../part2_journeyTimes/netex_coupledJourney_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="VehicleScheduleInFrameGroup">
    <xsd:sequence>
      <xsd:element name="blocks" type="blocksInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="coursesOfJourneys" type="coursesOfJourneysInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleServices" type="vehicleServicesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="reliefOpportunities" type="reliefOpportunitiesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="blocksInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="Block"/>
          <xsd:element ref="CompoundBlock"/>
          <xsd:element ref="TrainBlock"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="coursesOfJourneysInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="CourseOfJourneys" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="vehicleServicesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleService" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="reliefOpportunitiesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ReliefOpportunity" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===Block=================================================== -->
  <xsd:element name="Block" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Block_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="BlockGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="BlockIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Block_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="BlockGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="BlockGroup">
    <xsd:sequence>
      <xsd:group ref="BlockPropertiesGroup"/>
      <xsd:group ref="BlockTimingGroup"/>
      <xsd:group ref="BlockReferencesGroup"/>
      <xsd:group ref="BlockComponentsGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="BlockPropertiesGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="BlockTimingGroup">
    <xsd:sequence>
      <xsd:element name="PreparationDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="StartTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="StartTimeDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="FinishingDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="EndTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="EndTimeDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="dayTypes" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="dayTypeRefs_RelStructure"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="BlockReferencesGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleServicePartRef" minOccurs="0"/>
      <xsd:element ref="VehicleTypeRef" minOccurs="0"/>
      <xsd:element name="StartPointRef" type="PointRefStructure" minOccurs="0"/>
      <xsd:element name="EndPointRef" type="PointRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="BlockComponentsGroup">
    <xsd:sequence>
      <xsd:element name="journeys" type="journeyRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="coursesOfJourneys" type="coursesOfJourneys_RelStructure" minOccurs="0"/>
      <xsd:element name="blockParts" type="blockParts_RelStructure" minOccurs="0"/>
      <xsd:element name="reliefOpportunities" type="reliefOpportunities_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TrainBlock" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrainBlock_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="BlockGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TrainBlockGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainBlockIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrainBlock_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Block_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TrainBlockGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainBlockGroup">
    <xsd:sequence>
      <xsd:element name="coupledJourneys" type="coupledJourneys_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="blockParts_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="BlockPartRef"/>
          <xsd:element ref="BlockPart"/>
          <xsd:element ref="TrainBlockPart"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BlockPart" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="BlockPart_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="BlockPartGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="BlockPartIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BlockPart_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="BlockPartGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="BlockPartGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="BlockRef" minOccurs="0"/>
      <xsd:element ref="VehicleTypeRef" minOccurs="0"/>
      <xsd:element ref="CompoundBlockRef" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="JourneyPartCoupleRef"/>
        <xsd:element name="journeyParts" type="journeyPartRefs_RelStructure"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="CompoundBlock" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CompoundBlockStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CompoundBlockGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CompoundBlockIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CompoundBlockStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="CompoundBlockGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CompoundBlockGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="VehicleTypeRef" minOccurs="0"/>
      <xsd:element name="StartPointRef" type="TimingPointInJourneyPatternRefStructure" minOccurs="0"/>
      <xsd:element name="EndPointRef" type="TimingPointInJourneyPatternRefStructure" minOccurs="0"/>
      <xsd:element name="parts" type="blockParts_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TrainBlockPart" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrainBlockPart_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="BlockPartGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TrainBlockPartGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainBlockPartIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrainBlockPart_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="BlockPart_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TrainBlockPartGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainBlockPartGroup">
    <xsd:sequence>
      <xsd:element name="StartTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="StartTimeDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="EndTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="EndTimeDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="TypeOfCoupling" type="xsd:normalizedString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="VehicleService" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleServiceGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="vehicleServiceParts" type="vehicleServiceParts_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="vehicleServiceParts_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="VehicleServicePartRef"/>
          <xsd:element ref="VehicleServicePart"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleServicePart" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleServicePart_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleServicePartGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleServicePartIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleServicePart_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleServicePartGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleServicePartGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="VehicleServiceRef" minOccurs="0"/>
      <xsd:element name="StartPointRef" type="GaragePointRefStructure" minOccurs="0"/>
      <xsd:element name="EndPointRef" type="GaragePointRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====course of journey================================================================ -->
  <xsd:complexType name="coursesOfJourneys_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="CourseOfJourneysRef"/>
          <xsd:element ref="CourseOfJourneys"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CourseOfJourneys" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CourseOfJourneys_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CourseOfJourneysGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CourseOfJourneysIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CourseOfJourneys_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="CourseOfJourneysGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CourseOfJourneysGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="CourseOfJourneysNumber" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element name="PreparationDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="StartTimeInBlock" type="xsd:time" minOccurs="0"/>
      <xsd:element name="StartTimeDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="FinishingDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element ref="BlockRef" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element name="journeys" type="journeyRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="reliefOpportunities_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ReliefOpportunityRef"/>
          <xsd:element ref="ReliefOpportunity"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ReliefOpportunity" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ReliefOpportunity_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ReliefOpportunityGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CourseOfJourneysIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ReliefOpportunity_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="ReliefOpportunityGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ReliefOpportunityGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Time" type="xsd:time"/>
      <xsd:element name="DayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element ref="BlockRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
