src/main/resources/xsd/netex_framework/netex_genericFramework/netex_zone_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_zone_version">
  <xsd:include schemaLocation="netex_pointAndLink_support.xsd"/>
  <xsd:include schemaLocation="netex_zone_version.xsd"/>
  <!-- ==== ZONE ===================================================== -->
  <xsd:simpleType name="ZoneIdType">
    <xsd:restriction base="GroupOfPointsIdType"/>
  </xsd:simpleType>
  <xsd:element name="ZoneRef" type="ZoneRefStructure" substitutionGroup="GroupOfPointsRef_Dummy"/>
  <xsd:complexType name="ZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfPointsRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassZoneRefStructureType" default="Zone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="zoneRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ZoneRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==== TARIFF ZONE ======================================================== -->
  <xsd:element name="TariffZoneRef_Dummy" type="ZoneRefStructure" abstract="true" substitutionGroup="ZoneRef"/>
  <xsd:simpleType name="TariffZoneIdType">
    <xsd:restriction base="ZoneIdType"/>
  </xsd:simpleType>
  <xsd:element name="TariffZoneRef" substitutionGroup="TariffZoneRef_Dummy">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="TariffZoneRefStructure"/>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TariffZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ZoneRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTariffZoneRefStructureType" default="TariffZone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="tariffZoneRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TariffZoneRef_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TypeOfZoneIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfZoneRef" type="TypeOfZoneRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfZoneIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfZoneRefStructureType" default="TypeOfZone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="typeOfZoneRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfZoneRef" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==  GROUP OF TARIFFZONEs  ============================================== -->
  <xsd:simpleType name="GroupOfTariffZonesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="groupOfTariffZoneRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfTariffZonesRef" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
