src/main/resources/xsd/netex_framework/netex_genericFramework/netex_assignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_assignment_version">
  <xsd:include schemaLocation="netex_assignment_support.xsd"/>
  <xsd:include schemaLocation="../netex_responsibility/netex_responsibility_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="Assignment_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:complexType name="Assignment_VersionStructure_Dummy" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="AssignmentGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AssignmentGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="Assignment" abstract="true" substitutionGroup="Assignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Assignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Assignment_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:restriction base="Assignment_VersionStructure_Dummy">
        <xsd:sequence>
          <xsd:sequence>
            <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:group ref="DataManagedObjectGroup"/>
          </xsd:sequence>
          <xsd:sequence>
            <xsd:group ref="AssignmentGroup"/>
          </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="id" type="AssignmentIdType" use="required"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
