src/main/resources/xsd/netex_framework/netex_genericFramework/netex_zoneProjection_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="01." id="netex_zoneProjection_version">
  <xsd:include schemaLocation="netex_zone_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="ZoneProjection" substitutionGroup="Projection">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ZoneProjection_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ProjectionGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="ProjectedZoneRef" type="ZoneRefStructure"/>
              <xsd:element name="ProjectToZoneRef" type="ZoneRefStructure" minOccurs="0"/>
              <xsd:element name="ProjectToPointRef" type="PointRefStructure" minOccurs="0"/>
              <xsd:element name="points" type="pointRefs_RelStructure" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ZoneProjectionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ZoneProjection_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Projection_VersionStructure">
        <xsd:sequence>
          <xsd:element name="ProjectedZoneRef" type="ZoneRefStructure"/>
          <xsd:element name="ProjectToZoneRef" type="ZoneRefStructure" minOccurs="0"/>
          <xsd:element name="ProjectToPointRef" type="PointRefStructure" minOccurs="0"/>
          <xsd:element name="points" type="pointRefs_RelStructure" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
