src/main/resources/xsd/netex_framework/netex_genericFramework/netex_grouping_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_grouping_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
  <!-- =====GROUPING=============================================== -->
  <xsd:simpleType name="GroupOfEntitiesIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfEntitiesRef_Dummy" type="VersionOfObjectRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:element name="GroupOfEntitiesRef" abstract="true" substitutionGroup="VersionOfObjectRef">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:restriction base="GroupOfEntitiesRefStructure">
          <xsd:attribute name="nameOfMemberClass" type="NameOfClass"/>
          <xsd:attribute name="ref" type="GroupOfEntitiesIdType" use="required"/>
          <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfEntitiesRefStructureType"/>
          <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
          <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
          <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
          <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
        </xsd:restriction>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GroupOfEntitiesRefStructure_Dummy" abstract="true">
    <xsd:simpleContent>
      <xsd:extension base="VersionOfObjectRefStructure">
        <xsd:attribute name="nameOfMemberClass" type="NameOfClass" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GroupOfEntitiesRefStructure" abstract="true">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure_Dummy">
        <xsd:attribute name="ref" type="GroupOfEntitiesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfEntitiesRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PurposeOfGroupingIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="PurposeOfGroupingRef" type="PurposeOfGroupingRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="PurposeOfGroupingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="PurposeOfGroupingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPurposeOfGroupingRefStructureType" default="PurposeOfGrouping"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GroupMemberIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GroupConstraintMemberIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!-- =====GENERAL GROUP OF ENTITies =============================================== -->
  <xsd:simpleType name="GeneralGroupOfEntitiesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="GeneralGroupOfEntitiesRef" type="GeneralGroupOfEntitiesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GeneralGroupOfEntitiesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GeneralGroupOfEntitiesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGeneralGroupOfEntitiesRefStructureType" default="GeneralGroupOfEntities"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
