src/main/resources/xsd/netex_framework/netex_genericFramework/netex_organisation_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_organisation_version">
  <xsd:include schemaLocation="../netex_responsibility/netex_responsibilitySet_version.xsd"/>
  <xsd:include schemaLocation="netex_alternativeName_version.xsd"/>
  <xsd:include schemaLocation="netex_organisation_support.xsd"/>
  <xsd:include schemaLocation="netex_zone_version.xsd"/>
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="organisationsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Organisation_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="departmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Department" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="Organisation_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:element name="Organisation" abstract="true" substitutionGroup="Organisation_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Organisation_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OrganisationGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OrganisationIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Organisation_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="OrganisationGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OrganisationGroup">
    <xsd:sequence>
      <xsd:group ref="OrganisationCodeGroup"/>
      <xsd:group ref="OrganisationNameGroup"/>
      <xsd:group ref="OrganisationPropertiesGroup"/>
      <xsd:element name="Status" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="ValidityPeriod" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:restriction base="ValidBetween_VersionStructure">
              <xsd:sequence>
                <xsd:sequence>
                  <xsd:element name="FromDate" type="xsd:dateTime" minOccurs="0"/>
                  <xsd:element name="ToDate" type="xsd:dateTime" minOccurs="0"/>
                </xsd:sequence>
              </xsd:sequence>
            </xsd:restriction>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="parts" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="organisationParts_RelStructure"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:group ref="OrganisationDelegationGroup"/>
      <xsd:element name="relatedOrganisations" type="relatedOrganisations_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="OrganisationCodeGroup">
    <xsd:sequence>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element name="CompanyNumber" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element name="VATNumber" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element name="ExternalOperatorRef" type="ExternalObjectRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="OrganisationNameGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="LegalName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="TradingName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="OrganisationPropertiesGroup">
    <xsd:sequence>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Remarks" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="Locale" minOccurs="0"/>
      <xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0"/>
      <xsd:element name="PrivateContactDetails" type="ContactStructure" minOccurs="0"/>
      <xsd:element name="OrganisationType" type="OrganisationTypeListOfEnumerations" minOccurs="0"/>
      <xsd:element name="typesOfOrganisation" type="typeOfOrganisationRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="OrganisationDelegationGroup">
    <xsd:sequence>
      <xsd:element name="ownResponsibilitySets" type="responsibilitySets_RelStructure" minOccurs="0"/>
      <xsd:element name="delegatedResponsibilitySets" type="responsibilitySets_RelStructure" minOccurs="0"/>
      <xsd:element name="delegatedFrom" type="organisationRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="organisationParts_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="OrganisationPartRef"/>
          <xsd:element ref="OrganisationPart_Dummy"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OrganisationPart_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:element name="OrganisationPart" substitutionGroup="OrganisationPart_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OrganisationPart_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OrganisationPartGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OrganisationPartIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OrganisationPart_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="OrganisationPartGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OrganisationPartGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0"/>
      <xsd:element name="Location" type="LocationStructure" minOccurs="0"/>
      <xsd:element ref="OrganisationRef_Dummy" minOccurs="0"/>
      <xsd:element ref="TypeOfOrganisationPartRef" minOccurs="0"/>
      <xsd:element name="administrativeZones" type="administrativeZones_RelStructure" minOccurs="0"/>
      <xsd:group ref="OrganisationDelegationGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="departments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="DepartmentRef"/>
          <xsd:element ref="Department"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Department" substitutionGroup="OrganisationPart_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Department_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OrganisationPartGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DepartmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DepartmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Department_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="OrganisationPart_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DepartmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DepartmentGroup">
    <xsd:sequence>
      <xsd:element ref="TypeOfOperationRef" minOccurs="0"/>
      <xsd:element name="units" type="organisationalUnitRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="organisationalUnits_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="OrganisationalUnitRef"/>
          <xsd:element ref="OrganisationalUnit"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OrganisationalUnit" substitutionGroup="OrganisationPart_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OrganisationalUnit_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OrganisationPartGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OrganisationalUnitGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OrganisationalUnitIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OrganisationalUnit_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="OrganisationPart_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="OrganisationalUnitGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OrganisationalUnitGroup">
    <xsd:sequence>
      <xsd:element ref="DepartmentRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="relatedOrganisations_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="RelatedOrganisation" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="RelatedOrganisation" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RelatedOrganisation_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RelatedOrganisationGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RelatedOrganisationIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RelatedOrganisation_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="RelatedOrganisationGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RelatedOrganisationGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="OrganisationRef_Dummy" minOccurs="0"/>
      <xsd:element name="OrganisationRoleType" type="OrganisationRoleEnumeration" minOccurs="0"/>
      <xsd:element ref="ResponsibilityRoleRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="administrativeZones_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="AdministrativeZoneRef"/>
          <xsd:element ref="AdministrativeZone_Dummy"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AdministrativeZone_Dummy" type="Zone_VersionStructure" abstract="true" substitutionGroup="Zone"/>
  <xsd:element name="AdministrativeZone" substitutionGroup="AdministrativeZone_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AdministrativeZone_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfPointsGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AdministrativeZoneGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AdministrativeZoneIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AdministrativeZone_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Zone_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AdministrativeZoneGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AdministrativeZoneGroup">
    <xsd:sequence>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element ref="OrganisationRef_Dummy" minOccurs="0"/>
      <xsd:element name="responsibilities" type="responsibilitySets_RelStructure" minOccurs="0"/>
      <xsd:element name="codespaceAssignments" type="codespaceAssignments_RelStructure" minOccurs="0"/>
      <xsd:element name="subzones" type="administrativeZones_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="codespaceAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence maxOccurs="1">
          <xsd:element name="CodespaceAssignment" type="CodespaceAssignment_VersionedChildStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CodespaceAssignment" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CodespaceAssignment_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CodespaceAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CodespaceAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CodespaceAssignment_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="CodespaceAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CodespaceAssignmentGroup">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ref="CodespaceRef"/>
        <xsd:element ref="Codespace"/>
      </xsd:choice>
      <xsd:element ref="AdministrativeZoneRef" minOccurs="0"/>
      <xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="NameOfClass" type="NameOfClass" minOccurs="0"/>
      <xsd:element name="CodePrefix" type="xsd:normalizedString" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:choice>
        <xsd:group ref="CodeRangeGroup"/>
      </xsd:choice>
      <xsd:element name="MaximumLength" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="TypeOfCodespaceAssignmentRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="CodeRangeGroup">
    <xsd:sequence>
      <xsd:element name="StartValue" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element name="EndValue" type="xsd:normalizedString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfCodespaceAssignment" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfCodespaceAssignment_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfCodespaceAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfCodespaceAssignment_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfOrganisation" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfOrganisation_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfOrganisationIdType" use="required"/>
          <xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfOrganisation_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfOrganisationPart" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfOrganisationPart_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfOrganisationPartIdType" use="required"/>
          <xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfOrganisationPart_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfOperation" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfOperation_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfOperationIdType" use="required"/>
          <xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfOperation_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="OrganisationTypeListOfEnumerations">
    <xsd:list itemType="OrganisationTypeEnumeration"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="OrganisationView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="Organisation_DerivedViewStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Organisation_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="OrganisationRef_Dummy" minOccurs="0"/>
          <xsd:group ref="OrganisationNameGroup"/>
          <xsd:element name="ContactDetails" type="ContactStructure" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ===CONTACTS =================================================== -->
  <xsd:complexType name="contacts_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Contact" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Contact" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Contact_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ContactGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ContactIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Contact_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="ContactGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ContactGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ContactDetails" type="ContactDetailsStructure" minOccurs="0"/>
      <xsd:element name="ContactType" type="ContactTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
