src/main/resources/xsd/netex_framework/netex_genericFramework/netex_section_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_section_support">
  <xsd:include schemaLocation="netex_pointAndLinkSequence_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==Section=========================================================== -->
  <xsd:simpleType name="SectionIdType">
    <xsd:restriction base="LinkSequenceIdType"/>
  </xsd:simpleType>
  <xsd:element name="SectionRef" type="SectionRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="SectionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkSequenceRefStructure">
        <xsd:attribute name="ref" type="SectionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSectionRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="ParentSectionRef" type="SectionRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <!-- GeneralSection=========================================================== -->
  <xsd:simpleType name="GeneralSectionIdType">
    <xsd:restriction base="SectionIdType"/>
  </xsd:simpleType>
  <xsd:element name="GeneralSectionRef" type="GeneralSectionRefStructure" substitutionGroup="SectionRef"/>
  <xsd:complexType name="GeneralSectionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SectionRefStructure">
        <xsd:attribute name="ref" type="GeneralSectionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGeneralSectionRefStructureType" default="GeneralSection"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PointOnSectionIdType">
    <xsd:restriction base="PointInSequenceIdType"/>
  </xsd:simpleType>
  <xsd:simpleType name="LinkOnSectionIdType">
    <xsd:restriction base="LinkInSequenceIdType"/>
  </xsd:simpleType>
  <xsd:simpleType name="SectionInSequenceIdType">
    <xsd:restriction base="LinkInSequenceIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="RelativeDirectionEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="both"/>
      <xsd:enumeration value="forwards"/>
      <xsd:enumeration value="backwards"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
