src/main/resources/xsd/netex_framework/netex_genericFramework/netex_pointAndLinkSequence_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_pointAndLinkSequence_version">
  <xsd:include schemaLocation="netex_pointAndLinkSequence_support.xsd"/>
  <xsd:include schemaLocation="netex_section_version.xsd"/>
  <xsd:include schemaLocation="netex_grouping_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="LinkSequence" type="LinkSequence_VersionStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:complexType name="LinkSequence_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="LinkSequenceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LinkSequenceGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Distance" type="DistanceType" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element name="projections" type="projections_RelStructure" minOccurs="0"/>
      <xsd:element name="infoLinks" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="infoLinks_RelStructure"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="sectionsInSequence" type="sectionsInSequence_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="PointInLinkSequence" type="PointInLinkSequence_VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild"/>
  <xsd:complexType name="PointInLinkSequence_VersionedChildStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="PointInLinkSequenceGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PointInLinkSequenceGroup">
    <xsd:sequence>
      <xsd:element ref="LinkSequenceRef" minOccurs="0"/>
      <xsd:element name="projections" type="projections_RelStructure" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="LinkInLinkSequence" type="LinkInLinkSequence_VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild"/>
  <xsd:complexType name="LinkInLinkSequence_VersionedChildStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="LinkInLinkSequenceGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LinkInLinkSequenceGroup">
    <xsd:sequence>
      <xsd:element ref="LinkSequenceRef" minOccurs="0"/>
      <xsd:element name="projections" type="projections_RelStructure" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfLinkSequence" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfLinkSequence_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfLinkSequenceIdType" use="required"/>
          <xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfLinkSequence_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="groupOfLinkSequences_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfLinkSequences" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GroupOfLinkSequences" substitutionGroup="GroupOfEntities">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GroupOfLinkSequences_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfLinkSequencesGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GroupOfLinkSequencesIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GroupOfLinkSequences_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GroupOfEntities_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="GroupOfLinkSequencesGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="GroupOfLinkSequencesGroup">
    <xsd:sequence>
      <xsd:element name="members" type="linkSequenceRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====CommonSectionSequenceMember=================================================================== -->
</xsd:schema>
