src/main/resources/xsd/netex_framework/netex_genericFramework/netex_spatialFeature_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_spatialFeature_support">
  <xsd:include schemaLocation="netex_zone_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="SpatialFeatureRef" type="GroupOfPointsRefStructure"/>
  <!-- ==SIMPLE FEATURE============================================================ -->
  <xsd:simpleType name="SimpleFeatureIdType">
    <xsd:restriction base="GroupOfPointsIdType"/>
  </xsd:simpleType>
  <xsd:element name="SimpleFeatureRef" type="SimpleFeatureRefStructure" substitutionGroup="SpatialFeatureRef"/>
  <xsd:complexType name="SimpleFeatureRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfPointsRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSimpleFeatureRefStructureType" default="SimpleFeature"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="complexFeatureRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ComplexFeatureRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ComplexFeatureIdType">
    <xsd:restriction base="GroupOfPointsIdType"/>
  </xsd:simpleType>
  <xsd:element name="ComplexFeatureRef" type="ComplexFeatureRefStructure" substitutionGroup="SpatialFeatureRef"/>
  <xsd:complexType name="ComplexFeatureRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfPointsRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassComplexFeatureRefStructureType" default="ComplexFeature"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="featureTypeRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfFeatureRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfFeatureIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfFeatureRef" type="TypeOfFeatureRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfFeatureRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfFeatureIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfFeatureRefStructureType" default="TypeOfFeature"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
