src/main/resources/xsd/netex_framework/netex_genericFramework/netex_assignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_assignment_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
  <!-- ===== ASSIGNMENT=============================================== -->
  <xsd:simpleType name="AssignmentIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="AssignmentRef" type="AssignmentRefStructure" substitutionGroup="OrderedVersionOfObjectRef"/>
  <xsd:complexType name="AssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OrderedVersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="AssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAssignmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
