src/main/resources/xsd/netex_framework/netex_genericFramework/netex_zone_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_zone_version">
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/gml_extract_all_objects_v_3_2_1.xsd"/>
  <!--Actual dependency-->
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/gmlBasic2d-extract-v3_2_1-.xsd"/>
  <xsd:include schemaLocation="netex_pointAndLink_version.xsd"/>
  <xsd:include schemaLocation="netex_zone_support.xsd"/>
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in RESOURCE FRAME)=================================================== -->
  <xsd:complexType name="zonesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Zone" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="tariffZonesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TariffZone_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==== ZONE ===================================================== -->
  <xsd:element name="Zone" type="Zone_VersionStructure" substitutionGroup="GroupOfEntities"/>
  <xsd:complexType name="Zone_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GroupOfPoints_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ZoneGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ZoneGroup">
    <xsd:sequence>
      <xsd:element name="types" type="typeOfZoneRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="Centroid" type="SimplePoint_VersionStructure" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="gml:Polygon"/>
        <xsd:element ref="gml:MultiSurface"/>
      </xsd:choice>
      <xsd:element name="projections" type="projections_RelStructure" minOccurs="0"/>
      <xsd:element name="ParentZoneRef" type="ZoneRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== GENERAL ZONE ====================================================== -->
  <xsd:element name="GeneralZone" substitutionGroup="Zone">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GeneralZone_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfPointsGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ZoneIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GeneralZone_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Zone_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TariffZone_Dummy" type="Zone_VersionStructure" abstract="true" substitutionGroup="Zone"/>
  <xsd:element name="TariffZone" substitutionGroup="TariffZone_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TariffZone_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfPointsGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TariffZoneGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TariffZoneIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TariffZone_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Zone_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TariffZoneGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TariffZoneGroup">
    <xsd:sequence>
      <xsd:element name="Presentation" type="PresentationStructure" minOccurs="0"/>
      <xsd:element name="PrintedPresentation" type="PrintPresentationStructure" minOccurs="0"/>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==  GROUP OF TARIFF ZONEs ============================================== -->
  <xsd:element name="GroupOfTariffZones" substitutionGroup="GroupOfEntities">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GroupOfTariffZones_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfTariffZonesGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GroupOfTariffZonesIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GroupOfTariffZones_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GroupOfEntities_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="GroupOfTariffZonesGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="GroupOfTariffZonesGroup">
    <xsd:sequence>
      <xsd:element name="members" type="tariffZoneRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="GroupOfTariffZonesRef" type="GroupOfTariffZonesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfTariffZonesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfTariffZonesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfTariffZonesRefStructureType" default="GroupOfTariffZones"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfZone" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfZone_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfZoneIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfZone_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="ZoneView" type="Zone_DerivedViewStructure" substitutionGroup="DerivedView"/>
  <xsd:complexType name="Zone_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="ZoneRef" minOccurs="0"/>
          <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
          <xsd:element ref="TypeOfZoneRef" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
