src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_salesTransaction_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesTransaction_support">
  <xsd:include schemaLocation="netex_salesContract_support.xsd"/>
  <!-- =============================================================== -->
  <!-- ====SALES TRANSACTION.======================================================== -->
  <xsd:complexType name="salesTransactionRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SalesTransactionRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SalesTransactionIdType">
    <xsd:restriction base="FareContractEntryIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesTransactionRef" type="SalesTransactionRefStructure" substitutionGroup="FareContractEntryRef"/>
  <xsd:complexType name="SalesTransactionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FareContractEntryRefStructure">
        <xsd:attribute name="ref" type="SalesTransactionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesTransactionRefStructureType" default="SalesTransaction"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
