src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_customerEligibility_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_customerEligibility_version">
  <xsd:include schemaLocation="netex_customerEligibility_support.xsd"/>
  <xsd:include schemaLocation="netex_salesContract_support.xsd"/>
  <xsd:include schemaLocation="../part3_fares/netex_usageParameterEligibility_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== CUSTOMER-->
  <xsd:complexType name="customerEligibilities_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="CustomerEligibility_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CustomerEligibility_Dummy" type="VersionedChildStructure" abstract="true" substitutionGroup="VersionedChild"/>
  <xsd:element name="CustomerEligibility" abstract="true" substitutionGroup="CustomerEligibility_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CustomerEligibility_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CustomerEligibilityGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CustomerEligibilityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CustomerEligibility_VersionedChildStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="CustomerEligibilityGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CustomerEligibilityGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="CustomerRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== USER PROFILE ELIGIBILITY ======================================== -->
  <xsd:element name="UserProfileEligibility" substitutionGroup="CustomerEligibility_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="UserProfileEligibility_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CustomerEligibilityGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UserProfileEligibilityGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="UserProfileEligibilityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="UserProfileEligibility_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="CustomerEligibility_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="UserProfileEligibilityGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="UserProfileEligibilityGroup">
    <xsd:sequence>
      <xsd:element ref="UserProfileRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== COMMERCIAL PROFILE ELIGIBILITY ======================================== -->
  <xsd:element name="CommercialProfileEligibility" substitutionGroup="CustomerEligibility_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CommercialProfileEligibility_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CustomerEligibilityGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CommercialProfileEligibilityGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CommercialProfileEligibilityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CommercialProfileEligibility_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="CustomerEligibility_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="CommercialProfileEligibilityGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CommercialProfileEligibilityGroup">
    <xsd:sequence>
      <xsd:element ref="CommercialProfileRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== RESIDENTIAL QUALIFICATION ELIGIBILITY ======================================== -->
  <xsd:element name="ResidentialQualificationEligibility" substitutionGroup="CustomerEligibility_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ResidentialQualificationEligibility_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CustomerEligibilityGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ResidentialQualificationEligibilityGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ResidentialQualificationEligibilityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ResidentialQualificationEligibility_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="CustomerEligibility_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="ResidentialQualificationEligibilityGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ResidentialQualificationEligibilityGroup">
    <xsd:sequence>
      <xsd:element ref="ResidentialQualificationRef" minOccurs="0"/>
      <xsd:element name="ResidencyType" type="ResidenceTypeEnumeration" minOccurs="0"/>
      <xsd:element name="StartDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="EndDate" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
