src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_customerPaymentMeans_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex__version">
  <xsd:include schemaLocation="netex_mediumApplication_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_support.xsd"/>
  <xsd:include schemaLocation="netex_customerPaymentMeans_support.xsd"/>
  <xsd:include schemaLocation="../part3_salesTransactions/netex_salesContract_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ====== MEDIUM APPLICATION INSTANCE ========================================== -->
  <xsd:complexType name="customerPaymentMeans_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="CustomerPaymentMeans" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CustomerPaymentMeans" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CustomerPaymentMeans_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CustomerPaymentMeansGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CustomerPaymentMeansIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CustomerPaymentMeans_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="CustomerPaymentMeansGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CustomerPaymentMeansGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="CustomerAccountRef" minOccurs="0"/>
      <xsd:element ref="MediumAccessDeviceRef" minOccurs="0"/>
      <xsd:element name="PaymentMethod" type="PaymentMethodEnumeration" minOccurs="0"/>
      <xsd:element ref="TypeOfPaymentMethodRef" minOccurs="0"/>
      <xsd:element name="LastVerifiedDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
