src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_retailConsortium_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_retailConsortium_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_organisation_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_securityList_support.xsd"/>
  <!-- =============================================================== -->
  <!-- ==== RETAIL CONSORTIUM.======================================================== -->
  <xsd:complexType name="retailConsortiumRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="RetailConsortiumRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="RetailConsortiumIdType">
    <xsd:restriction base="OrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="RetailConsortiumRef" type="RetailConsortiumRefStructure" substitutionGroup="OrganisationRef_Dummy"/>
  <xsd:complexType name="RetailConsortiumRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OrganisationRefStructure">
        <xsd:attribute name="ref" type="RetailConsortiumIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRetailConsortiumRefStructureType" default="RetailConsortium"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====RETAIL DEVICE.======================================================== -->
  <xsd:complexType name="retailDeviceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="RetailDeviceRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="RetailDeviceIdType">
    <xsd:restriction base="EquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="RetailDeviceRef" type="RetailDeviceRefStructure" substitutionGroup="EquipmentRef"/>
  <xsd:complexType name="RetailDeviceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="EquipmentRefStructure">
        <xsd:attribute name="ref" type="RetailDeviceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRetailDeviceRefStructureType" default="RetailDevice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====TYPE OF RETAIL DEVICE -->
  <xsd:complexType name="typeOfRetailDeviceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfRetailDeviceRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfRetailDeviceIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfRetailDeviceRef" type="TypeOfRetailDeviceRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfRetailDeviceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfRetailDeviceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfRetailDeviceRefStructureType" default="TypeOfRetailDevice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  RETAIL DEVICE SECURITY LISTING .======================================================== -->
  <xsd:complexType name="RetailDeviceSecurityListingRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="RetailDeviceSecurityListingRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="RetailDeviceSecurityListingIdType">
    <xsd:restriction base="SecurityListingIdType"/>
  </xsd:simpleType>
  <xsd:element name="RetailDeviceSecurityListingRef" type="RetailDeviceSecurityListingRefStructure" substitutionGroup="SecurityListingRef"/>
  <xsd:complexType name="RetailDeviceSecurityListingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SecurityListingRefStructure">
        <xsd:attribute name="ref" type="RetailDeviceSecurityListingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRetailDeviceSecurityListingRefStructureType" default="RetailDeviceSecurityListing"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
