src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_customerPurchasePackage_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_customerPurchasePackage_support">
  <xsd:include schemaLocation="../part3_fares/netex_accessRightParameter_support.xsd"/>
  <xsd:include schemaLocation="netex_salesContract_support.xsd"/>
  <!-- =============================================================== -->
  <!-- ====TRAVEL SPECIFICATION.======================================================== -->
  <xsd:complexType name="travelSpecificationRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TravelSpecificationRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TravelSpecificationIdType">
    <xsd:restriction base="FareContractEntryIdType"/>
  </xsd:simpleType>
  <xsd:element name="TravelSpecificationRef" type="TravelSpecificationRefStructure" substitutionGroup="FareContractEntryRef"/>
  <xsd:complexType name="TravelSpecificationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FareContractEntryRefStructure">
        <xsd:attribute name="ref" type="TravelSpecificationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTravelSpecificationRefStructureType" default="TravelSpecification"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== REQUESTED TRAVEL SPECIFICATION. =============== ========================= -->
  <xsd:simpleType name="RequestedTravelSpecificationIdType">
    <xsd:restriction base="TravelSpecificationIdType"/>
  </xsd:simpleType>
  <xsd:element name="RequestedTravelSpecificationRef" type="RequestedTravelSpecificationRefStructure" substitutionGroup="TravelSpecificationRef"/>
  <xsd:complexType name="RequestedTravelSpecificationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TravelSpecificationRefStructure">
        <xsd:attribute name="ref" type="RequestedTravelSpecificationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRequestedTravelSpecificationRefStructureType" default="RequestedTravelSpecification"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====OFFERED TRAVEL SPECIFICATION. ========================================= -->
  <xsd:simpleType name="OfferedTravelSpecificationIdType">
    <xsd:restriction base="TravelSpecificationIdType"/>
  </xsd:simpleType>
  <xsd:element name="OfferedTravelSpecificationRef" type="OfferedTravelSpecificationRefStructure" substitutionGroup="TravelSpecificationRef"/>
  <xsd:complexType name="OfferedTravelSpecificationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TravelSpecificationRefStructure">
        <xsd:attribute name="ref" type="OfferedTravelSpecificationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOfferedTravelSpecificationRefStructureType" default="OfferedTravelSpecification"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === SPECIFIC PARAMETER====================================================== -->
  <xsd:simpleType name="SpecificParameterAssignmentIdType">
    <xsd:restriction base="ValidityParameterAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="SpecificParameterAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ValidityParameterAssignmentRefStructure">
        <xsd:attribute name="ref" type="SpecificParameterAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAssignmentRefStructureType" use="optional" default="SpecificParameterAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====CUSTOMER PURCHASE PACKAGE.======================================================== -->
  <xsd:complexType name="customerPurchasePackageRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="CustomerPurchasePackageRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="CustomerPurchasePackageIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="CustomerPurchasePackageRef" type="CustomerPurchasePackageRefStructure" substitutionGroup="PriceableObjectRef"/>
  <xsd:complexType name="CustomerPurchasePackageRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="CustomerPurchasePackageIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCustomerPurchasePackageRefStructureType" default="CustomerPurchasePackage"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====CUSTOMER PURCHASE PACKAGE ELEMENT.======================================================== -->
  <xsd:simpleType name="CustomerPurchasePackageElementIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="CustomerPurchasePackageElementRef" type="CustomerPurchasePackageElementRefStructure" substitutionGroup="PriceableObjectRef"/>
  <xsd:complexType name="CustomerPurchasePackageElementRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="CustomerPurchasePackageElementIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCustomerPurchasePackageElementRefStructureType" default="CustomerPurchasePackageElement"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CustomerPurchasePackageStatusEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="reserved"/>
      <xsd:enumeration value="ordered"/>
      <xsd:enumeration value="paidFor"/>
      <xsd:enumeration value="unused"/>
      <xsd:enumeration value="activated"/>
      <xsd:enumeration value="partiallyUsed"/>
      <xsd:enumeration value="used"/>
      <xsd:enumeration value="archived"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MarkedAsEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="unused"/>
      <xsd:enumeration value="activated"/>
      <xsd:enumeration value="marked"/>
      <xsd:enumeration value="used"/>
      <xsd:enumeration value="expired"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === CUSTOMER PURCHASE PACKAGE PRICE====================================================== -->
  <xsd:simpleType name="CustomerPurchasePackagePriceIdType">
    <xsd:restriction base="FarePriceIdType"/>
  </xsd:simpleType>
  <xsd:element name="CustomerPurchasePackagePriceRef" type="CustomerPurchasePackagePriceRefStructure" substitutionGroup="FarePriceRef"/>
  <xsd:complexType name="CustomerPurchasePackagePriceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FarePriceRefStructure">
        <xsd:attribute name="ref" type="CustomerPurchasePackagePriceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCustomerPurchasePackagePriceRefStructureType" default="CustomerPurchasePackagePrice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====GROUP OF CUSTOMER PURCHASE PACKAGEs.======================================================== -->
  <xsd:complexType name="groupOfcustomerPurchasePackageRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfCustomerPurchasePackagesRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="GroupOfCustomerPurchasePackagesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfCustomerPurchasePackagesRef" type="GroupOfCustomerPurchasePackagesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfCustomerPurchasePackagesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfCustomerPurchasePackagesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfEntitiesRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === CUSTOME PURCHASE PACKAGE PARAMETER ASSIGNMENT====================================================== -->
  <xsd:simpleType name="CustomerPurchaseParameterAssignmentIdType">
    <xsd:restriction base="ValidityParameterAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="CustomerPurchaseParameterAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ValidityParameterAssignmentRefStructure">
        <xsd:attribute name="ref" type="CustomerPurchaseParameterAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAssignmentRefStructureType" use="optional" default="CustomerPurchaseParameterAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === CUSTOMER PURCHASE PACKAGE ELEMENT ACCESS. ====================================================== -->
  <xsd:simpleType name="CustomerPurchasePackageElementAccessIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="CustomerPurchasePackageElementAccessRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="CustomerPurchasePackageElementAccessIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional" default="CustomerPurchasePackageElementAccess"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- =============================================================== -->
</xsd:schema>
