src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_travelDocument_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_typesOfTravelDocument">
  <xsd:include schemaLocation="netex_travelDocument_support.xsd"/>
  <xsd:include schemaLocation="../part3_fares/netex_typeOfTravelDocument_version.xsd"/>
  <xsd:include schemaLocation="../part3_salesTransactions/netex_customerPurchasePackage_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_securityList_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="TravelDocumentsInFrameGroup">
    <xsd:sequence>
      <xsd:element name="typesOfTravelDocuments" type="typesOfTravelDocumentInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="travelDocuments" type="travelDocumentsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="travelDocumentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:sequence>
          <xsd:element ref="TravelDocument" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====TRAVEL DOCUMENT=================================================== -->
  <xsd:element name="TravelDocument" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TravelDocument_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TravelDocumentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TravelDocumentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TravelDocument_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="TravelDocumentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TravelDocumentGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element ref="TypeOfTravelDocumentRef" minOccurs="0"/>
      <xsd:element ref="CustomerPurchasePackageRef" minOccurs="0"/>
      <xsd:element name="MarkedAs" type="MarkedAsEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====FARE CONTRACT SECURITY LISTING ======================================== -->
  <xsd:element name="TravelDocumentSecurityListing" substitutionGroup="SecurityListing_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TravelDocumentSecurityListing_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SecurityListingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TravelDocumentSecurityListingGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TravelDocumentSecurityListingIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TravelDocumentSecurityListing_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="SecurityListing_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="TravelDocumentSecurityListingGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TravelDocumentSecurityListingGroup">
    <xsd:sequence>
      <xsd:element ref="TravelDocumentRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
