src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_spotAllocation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_spotAllocation_support">
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_support.xsd"/>
  <!-- ====VEHICLE JOURNEY SPOT ALLOCATION================================ -->
  <xsd:complexType name="vehicleJourneySpotAllocationRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleJourneySpotAllocationRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleJourneySpotAllocationIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleJourneySpotAllocationRef" type="VehicleJourneySpotAllocationRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleJourneySpotAllocationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleJourneySpotAllocationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleJourneySpotAllocationRefStructureType" default="VehicleJourneySpotAllocation"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====PASSENGER SPOT ALLOCATION================================== -->
  <xsd:complexType name="passengerSpotAllocationRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="PassengerSpotAllocationRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="PassengerSpotAllocationIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerSpotAllocationRef" type="PassengerSpotAllocationRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="PassengerSpotAllocationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="PassengerSpotAllocationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerSpotAllocationRefStructureType" default="PassengerSpotAllocation"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====SPOT ALLOCATION METHOD====== -->
  <xsd:complexType name="spotAllocationMethodRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SpotAllocationMethodRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SpotAllocationMethodIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="SpotAllocationMethodRef" type="SpotAllocationMethodRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="SpotAllocationMethodRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="SpotAllocationMethodIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfValueRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- =============================================================== -->
  <xsd:simpleType name="SpotAvailabilityStatusEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="held"/>
      <xsd:enumeration value="expiredHeld"/>
      <xsd:enumeration value="reserved"/>
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
