src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_mediumApplication_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_mediumApplication_version">
  <xsd:include schemaLocation="netex_mediumApplication_support.xsd"/>
  <xsd:include schemaLocation="../part3_fares/netex_typeOfTravelDocument_support.xsd"/>
  <xsd:include schemaLocation="netex_travelDocument_support.xsd"/>
  <xsd:include schemaLocation="netex_salesContract_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:group name="MediumAccessDevicesInFrameGroup">
    <xsd:sequence>
      <xsd:element name="mediumAccessDevices" type="mediumAccessDevicesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="mediumAccessDevicesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="EmvCard"/>
          <xsd:element ref="Smartcard"/>
          <xsd:element ref="MobileDevice" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="MediumAccessDevice_Dummy" abstract="true">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="DataManagedObjectStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ====== MEDIUM ACCESS DEVICE ========================================== -->
  <xsd:element name="MediumAccessDevice" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MediumAccessDevice_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MediumAccessDeviceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="MediumAccessDeviceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MediumAccessDevice_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="MediumAccessDeviceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="MediumAccessDeviceGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="CustomerRef" minOccurs="0"/>
      <xsd:element name="IdentityToken" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element ref="TypeOfMediumAccessDeviceRef" minOccurs="0"/>
      <xsd:element name="applicationInstances" type="mediumApplicationInstance_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== MOBILE DEVICE ========================================== -->
  <xsd:element name="MobileDevice" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MobileDevice_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MediumAccessDeviceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="MobileDeviceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MobileDevice_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="MediumAccessDevice_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====== EMV CARD ========================================== -->
  <xsd:element name="EmvCard" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="EmvCard_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MediumAccessDeviceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="EmvCardIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EmvCard_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="MediumAccessDevice_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====== SMART CARD ========================================== -->
  <xsd:element name="Smartcard" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Smartcard_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MediumAccessDeviceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SmartCardGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SmartcardIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Smartcard_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="MediumAccessDevice_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SmartCardGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SmartCardGroup">
    <xsd:sequence/>
  </xsd:group>
  <!-- ====== MEDIUM APPLICATION INSTANCE ========================================== -->
  <xsd:complexType name="mediumApplicationInstance_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="MediumApplicationInstance" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="MediumApplicationInstance" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MediumApplicationInstance_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MediumApplicationInstanceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="MediumApplicationInstanceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MediumApplicationInstance_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="MediumApplicationInstanceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="MediumApplicationInstanceGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="IdentityToken" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element ref="MediumAccessDeviceRef" minOccurs="0"/>
      <xsd:element ref="CustomerAccountRef" minOccurs="0"/>
      <xsd:element ref="TypeOfTravelDocumentRef" minOccurs="0"/>
      <xsd:element ref="TravelDocumentRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====  MEDIUM ACCESS DEVICE SECURITY LISTING ======================================== -->
  <xsd:element name="MediumAccessDeviceSecurityListing" substitutionGroup="SecurityListing_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MediumAccessDeviceSecurityListing_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SecurityListingGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MediumAccessDeviceSecurityListingGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="MediumAccessDeviceSecurityListingIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MediumAccessDeviceSecurityListing_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="SecurityListing_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="MediumAccessDeviceSecurityListingGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="MediumAccessDeviceSecurityListingGroup">
    <xsd:sequence>
      <xsd:element ref="MediumAccessDeviceRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== TYPE OF MEDIUM ACCESS DEVICE ============================================================ -->
  <xsd:element name="TypeOfMediumAccessDevice" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfMediumAccessDevice_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfMediumAccessDeviceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfMediumAccessDeviceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfMediumAccessDevice_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TypeOfMediumAccessDeviceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfMediumAccessDeviceGroup">
    <xsd:sequence>
      <xsd:element ref="TypeOfMachineReadabilityRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
