src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_mediumApplication_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_mediumApplication_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_securityList_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ====  MEDIUM ACCESS DEVICE ============================================ -->
  <xsd:complexType name="mediumAccessDeviceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="MediumAccessDeviceRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MediumAccessDeviceIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="MediumAccessDeviceRef" type="MediumAccessDeviceRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="MediumAccessDeviceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="MediumAccessDeviceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMediumAccessDeviceRefStructureType" default="MediumAccessDevice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== SMARTCARD  ============================================ -->
  <xsd:simpleType name="SmartcardIdType">
    <xsd:restriction base="MediumAccessDeviceIdType"/>
  </xsd:simpleType>
  <xsd:element name="SmartcardRef" type="SmartcardRefStructure" substitutionGroup="MediumAccessDeviceRef"/>
  <xsd:complexType name="SmartcardRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="MediumAccessDeviceRefStructure">
        <xsd:attribute name="ref" type="SmartcardIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSmartcardRefStructureType" default="Smartcard"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== EMV CARD  ============================================ -->
  <xsd:simpleType name="EmvCardIdType">
    <xsd:restriction base="MediumAccessDeviceIdType"/>
  </xsd:simpleType>
  <xsd:element name="EmvCardRef" type="EmvCardRefStructure" substitutionGroup="MediumAccessDeviceRef"/>
  <xsd:complexType name="EmvCardRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="MediumAccessDeviceRefStructure">
        <xsd:attribute name="ref" type="EmvCardIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEmvCardRefStructureType" default="EmvCard"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== MOBILE DEVICE  ============================================ -->
  <xsd:simpleType name="MobileDeviceIdType">
    <xsd:restriction base="MediumAccessDeviceIdType"/>
  </xsd:simpleType>
  <xsd:element name="MobileDeviceRef" type="MobileDeviceRefStructure" substitutionGroup="MediumAccessDeviceRef"/>
  <xsd:complexType name="MobileDeviceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="MediumAccessDeviceRefStructure">
        <xsd:attribute name="ref" type="MobileDeviceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMobileDeviceRefStructureType" default="MobileDevice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  MEDIUM APPLICATION INSTANCE ============================================ -->
  <xsd:complexType name="mediumApplicationInstanceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="MediumApplicationInstanceRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MediumApplicationInstanceIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="MediumApplicationInstanceRef" type="MediumApplicationInstanceRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="MediumApplicationInstanceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="MediumApplicationInstanceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMediumApplicationInstanceRefStructureType" default="MediumApplicationInstance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== TYPE OF MEDIUM ACCESS DEVICE. ================================================== -->
  <xsd:simpleType name="TypeOfMediumAccessDeviceIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfMediumAccessDeviceRef" type="TypeOfMediumAccessDeviceRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="TypeOfMediumAccessDeviceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfMediumAccessDeviceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfMediumAccessDeviceRefStructureType" default="TypeOfMediumAccessDevice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  MEDIUM ACCESS DEVICE SECURITY LISTING .======================================================== -->
  <xsd:complexType name="mediumAccessDeviceSecurityListingRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="MediumAccessDeviceSecurityListingRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MediumAccessDeviceSecurityListingIdType">
    <xsd:restriction base="SecurityListingIdType"/>
  </xsd:simpleType>
  <xsd:element name="MediumAccessDeviceSecurityListingRef" type="MediumAccessDeviceSecurityListingRefStructure" substitutionGroup="SecurityListingRef"/>
  <xsd:complexType name="MediumAccessDeviceSecurityListingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SecurityListingRefStructure">
        <xsd:attribute name="ref" type="MediumAccessDeviceSecurityListingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMediumAccessDeviceSecurityListingRefStructureType" default="MediumAccessDeviceSecurityListing"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
