src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_salesTransaction_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_salesTransaction_version">
  <xsd:include schemaLocation="netex_customerPurchasePackage_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="SalesTransactionInFrameGroup">
    <xsd:sequence>
      <xsd:element name="travelSpecifications" type="travelSpecificationsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="salesTransactions" type="salesTransactionsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="salesTransactionsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:sequence>
          <xsd:element ref="SalesTransaction" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====SALES TRANSACTION ================================================ -->
  <xsd:complexType name="salesTransactions_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="SalesTransactionRef"/>
          <xsd:element ref="SalesTransaction"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SalesTransaction" substitutionGroup="FareContractEntry_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SalesTransaction_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LogEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FareContractEntryGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SalesTransactionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SalesTransactionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SalesTransaction_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="FareContractEntry_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SalesTransactionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SalesTransactionGroup">
    <xsd:sequence>
      <xsd:group ref="FareDebitGroup"/>
      <xsd:group ref="SalesTransactionPurchaseGroup"/>
      <xsd:group ref="SalesTransactionFulfilmentGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SalesTransactionPurchaseGroup">
    <xsd:sequence>
      <xsd:element name="travelSpecifications" type="travelSpecifications_RelStructure" minOccurs="0"/>
      <xsd:element name="customerPurchasePackages" type="customerPurchasePackages_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SalesTransactionFulfilmentGroup">
    <xsd:sequence>
      <xsd:element name="travelDocuments" type="travelDocuments_RelStructure" minOccurs="0"/>
      <xsd:element name="CollectionPointRef" type="Point_VersionStructure" minOccurs="0"/>
      <xsd:element name="CollectionNote" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="OrganisationalUnitRef" minOccurs="0"/>
      <xsd:element ref="RetailDeviceRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
