src/main/resources/xsd/netex_part_3/part3_salesTransactions/netex_customerPaymentMeans_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_customerPaymentMeans_support">
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_relationship.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ====  CUSTOMER PAYMENT MEANS. ============================================ -->
  <xsd:complexType name="customerPaymentMeanRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="CustomerPaymentMeansRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="CustomerPaymentMeansIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="CustomerPaymentMeansRef" type="CustomerPaymentMeansRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="CustomerPaymentMeansRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="CustomerPaymentMeansIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCustomerPaymentMeansRefStructureType" default="CustomerPaymentMeans"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
