src/main/resources/xsd/netex_part_5/part5_sj/netex_nm_singleJourneyPath_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_singleJourneyPath_support">
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_journeyPattern_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ==== SINGLE JOURNEY  PATH  ============================================ -->
  <xsd:complexType name="singleJourneyPathRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SingleJourneyPathRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SingleJourneyPathIdType">
    <xsd:restriction base="LinkSequenceIdType"/>
  </xsd:simpleType>
  <xsd:element name="SingleJourneyPathRef" type="SingleJourneyPathRefStructure" substitutionGroup="LinkSequenceRef"/>
  <xsd:complexType name="SingleJourneyPathRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkSequenceRefStructure">
        <xsd:attribute name="ref" type="SingleJourneyPathIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSingleJourneyPathRefStructureType" default="SingleJourneyPath"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== POINT IN SINGLE JOURNEY  PATH  ============================================ -->
  <xsd:complexType name="PointInSingleJourneyPathRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="PointInSingleJourneyPathRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="PointInSingleJourneyPathIdType">
    <xsd:restriction base="PointInJourneyPatternIdType"/>
  </xsd:simpleType>
  <xsd:element name="PointInSingleJourneyPathRef" type="PointInSingleJourneyPathRefStructure" substitutionGroup="PointInJourneyPatternRef"/>
  <xsd:complexType name="PointInSingleJourneyPathRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PointInJourneyPatternRefStructure">
        <xsd:attribute name="ref" type="PointInSingleJourneyPathIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPointInJourneyPatternRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
