src/main/resources/xsd/netex_part_5/part5_sj/netex_nm_singleJourneyService_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_singleJourneyService_support">
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_serviceJourney_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ==== SINGLE JOURNEY  ============================================ -->
  <xsd:complexType name="singleJourneyRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SingleJourneyRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SingleJourneyIdType">
    <xsd:restriction base="JourneyIdType"/>
  </xsd:simpleType>
  <xsd:element name="SingleJourneyRef" type="SingleJourneyRefStructure" substitutionGroup="JourneyRef"/>
  <xsd:complexType name="SingleJourneyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="JourneyRefStructure">
        <xsd:attribute name="ref" type="SingleJourneyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSingleJourneyRefStructureType" default="SingleJourney"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ==== GROUP OF SINGLE JOURNEYs ================================================== -->
  <xsd:simpleType name="GroupOfSingleJourneysIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfSingleJourneysRef" type="GroupOfSingleJourneysRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfSingleJourneysRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfSingleJourneysIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfSingleJourneysRefStructureType" default="GroupOfSingleJourneys"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
