src/main/resources/xsd/netex_framework/netex_responsibility/netex_typeOfValue_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_typeOfValue_version">
  <xsd:include schemaLocation="netex_responsibility_version.xsd"/>
  <!-- === TYPE OF VALUES ================================================== -->
  <xsd:group name="TypeOfValueInFrameGroup">
    <xsd:sequence>
      <xsd:element name="typesOfValue" type="typesOfValueInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="typesOfValueInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ValueSet"/>
          <xsd:element ref="TypeOfValue"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="typesOfValue_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfValue" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TypeOfValue" type="TypeOfValue_VersionStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:complexType name="TypeOfValue_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="TypeOfValueGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfValueGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Image" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="Url" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="ValueSet" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ValueSet_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValueSetGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ValueSetIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
    <xsd:unique name="TypeOfValue_Unique">
      <xsd:selector xpath="values/TypeOfValue/Id"/>
      <xsd:field xpath="."/>
    </xsd:unique>
    <xsd:key name="TypeOfValue_Key">
      <xsd:selector xpath="values/TypeOfValue/Id"/>
      <xsd:field xpath="."/>
    </xsd:key>
  </xsd:element>
  <xsd:complexType name="ValueSet_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="ValueSetGroup"/>
        </xsd:sequence>
        <xsd:attribute name="classOfValues" type="NameOfClass"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ValueSetGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="values" type="typesOfValue_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfEntity" type="TypeOfEntity_VersionStructure" substitutionGroup="TypeOfValue"/>
  <xsd:complexType name="TypeOfEntity_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
