src/main/resources/xsd/netex_framework/netex_responsibility/netex_dataSource_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_dataSource_version">
  <xsd:include schemaLocation="netex_typeOfValue_version.xsd"/>
  <!-- ===DATA SOURCE  IN FRAME====Used in RESOURCE FRAME)=================================================== -->
  <xsd:complexType name="dataSourcesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="DataSource" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="dataSources_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="DataSourceRef"/>
          <xsd:element ref="DataSource"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="DataSource" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DataSource_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="Email" type="EmailAddressType" minOccurs="0"/>
              <xsd:element name="DataLicenceCode" type="ExternalObjectRefStructure" minOccurs="0"/>
              <xsd:element name="DataLicenceUrl" type="xsd:anyURI" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DataSourceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DataSource_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:group ref="DataSourceGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DataSourceGroup">
    <xsd:sequence>
      <xsd:element name="Email" type="EmailAddressType" minOccurs="0"/>
      <xsd:element name="DataLicenceCode" type="ExternalObjectRefStructure" minOccurs="0"/>
      <xsd:element name="DataLicenceUrl" type="xsd:anyURI" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="Branding" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Branding_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="Presentation" type="PresentationStructure" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="BrandingIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Branding_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:group ref="BrandingGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="BrandingGroup">
    <xsd:sequence>
      <xsd:element name="Presentation" type="PresentationStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
