src/main/resources/xsd/netex_framework/netex_responsibility/netex_version_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_version_version">
  <xsd:include schemaLocation="../netex_utility/netex_utility_contact.xsd"/>
  <xsd:include schemaLocation="netex_version_support.xsd"/>
  <xsd:include schemaLocation="netex_entity_version.xsd"/>
  <xsd:include schemaLocation="netex_typeOfValue_version.xsd"/>
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in RESOURCE FRAME)=================================================== -->
  <!--CLOSE COUPLED WITH  netex_responsibility_version-->
  <xsd:complexType name="versionsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Version" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======ENTITY IN VERSION =============================================== -->
  <xsd:complexType name="entitiesInVersion_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="EntityInVersion" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="EntityInVersion" type="EntityInVersionStructure" abstract="true"/>
  <xsd:complexType name="EntityInVersionStructure">
    <xsd:complexContent>
      <xsd:extension base="EntityStructure">
        <xsd:sequence>
          <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="dataSourceRef" type="DataSourceIdType" use="optional"/>
        <xsd:attributeGroup ref="BasicModificationDetailsGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="EntityInVersionGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="validityConditions" type="validityConditions_RelStructure"/>
        <xsd:element ref="ValidBetween" maxOccurs="unbounded"/>
      </xsd:choice>
      <xsd:element name="alternativeTexts" type="alternativeTexts_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== VERSION ====================================================== -->
  <xsd:complexType name="versions_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="VersionRef"/>
          <xsd:element ref="Version"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Version" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Version_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="EndDate" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="Status" type="VersionStatusEnumeration" default="versioned" minOccurs="0"/>
              <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
              <xsd:element name="VersionType" type="VersionTypeEnumeration" default="point" minOccurs="0"/>
              <xsd:element ref="TypeOfVersionRef" minOccurs="0"/>
              <xsd:element name="DerivedFromVersionRef" type="VersionRefStructure" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VersionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Version_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:element name="StartDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="EndDate" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="Status" type="VersionStatusEnumeration" default="versioned" minOccurs="0"/>
          <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
          <xsd:element name="VersionType" type="VersionTypeEnumeration" default="point" minOccurs="0"/>
          <xsd:element ref="TypeOfVersionRef" minOccurs="0"/>
          <xsd:element name="DerivedFromVersionRef" type="VersionRefStructure" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ==== TYPE OF VERSION ============================================= -->
  <xsd:element name="TypeOfVersion" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfVersion_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:group ref="TypeOfVersionGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfVersionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfVersion_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:group ref="TypeOfVersionGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfVersionGroup">
    <xsd:sequence/>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
