src/main/resources/xsd/netex_framework/netex_responsibility/netex_alternativeText_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_AlternativeText_support">
  <xsd:include schemaLocation="netex_relationship_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- Simple Type Definitions -->
  <xsd:simpleType name="AlternativeTextIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="AlternativeTextRef" type="AlternativeTextRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="AlternativeTextRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="AlternativeTextIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAlternativeTextRefStructureType" default="AlternativeText"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
