src/main/resources/xsd/netex_framework/netex_responsibility/netex_relationship.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_relationship">
  <xsd:include schemaLocation="netex_relationship_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ModificationSetEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="changesOnly"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:complexType name="objectRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VersionOfObjectRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- =====TYPE OF VALUE ============================================== -->
  <xsd:element name="TypeOfValueRef" type="TypeOfValueRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TypeOfValueRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="TypeOfValueIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfValueRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="typeOfEntityRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfEntityRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TypeOfEntityRef" type="TypeOfValueRefStructure" abstract="true" substitutionGroup="TypeOfValueRef"/>
  <!-- =====Metamodel references================================================ -->
  <xsd:simpleType name="RelationshipId">
    <xsd:restriction base="NameOfClass"/>
  </xsd:simpleType>
  <xsd:element name="RelationshipRef" type="RelationshipRefStructure"/>
  <xsd:complexType name="RelationshipRefStructure">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="nameOfClass" type="RelationshipId" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== Meta model ================================================================ -->
  <xsd:simpleType name="ContainmentEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="inline"/>
      <xsd:enumeration value="byReference"/>
      <xsd:enumeration value="byVersionedReference"/>
      <xsd:enumeration value="both"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="relationshipStructure">
    <xsd:attribute name="id" type="RelationshipId"/>
  </xsd:complexType>
  <xsd:complexType name="oneToManyRelationshipStructure">
    <xsd:complexContent>
      <xsd:extension base="relationshipStructure">
        <xsd:attribute name="modificationSet" type="ModificationSetEnumeration" default="all"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="containmentAggregationStructure">
    <xsd:complexContent>
      <xsd:extension base="relationshipStructure">
        <xsd:attribute name="modificationSet" type="ModificationSetEnumeration" default="all"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="strictContainmentAggregationStructure">
    <xsd:complexContent>
      <xsd:extension base="relationshipStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="frameContainmentStructure">
    <xsd:complexContent>
      <xsd:extension base="relationshipStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- =====Metamodel references================================================ -->
  <xsd:complexType name="classRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ClassRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ClassInFrameRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ClassInFrameRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
