src/main/resources/xsd/netex_framework/netex_responsibility/netex_entity_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2207 04 11 recode x,llang to work arround spy bug -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_entity_version">
  <xsd:include schemaLocation="netex_entity_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_xml.xsd"/>
  <!-- ==== Entity ================================================================ -->
  <xsd:element name="Entity" type="EntityStructure" abstract="true"/>
  <xsd:complexType name="EntityStructure" abstract="true">
    <xsd:attribute name="nameOfClass" type="NameOfClass" use="optional"/>
    <xsd:attribute name="id" type="ObjectIdType" use="optional"/>
  </xsd:complexType>
  <!-- ====Namespace =================================================================== -->
  <xsd:element name="Codespace">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CodespaceStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:element name="Xmlns" type="CodespaceIdType"/>
              <xsd:element name="XmlnsUrl" type="xsd:anyURI" minOccurs="0"/>
              <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CodespaceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CodespaceStructure">
    <xsd:complexContent>
      <xsd:extension base="EntityStructure">
        <xsd:sequence>
          <xsd:element name="Xmlns" type="CodespaceIdType"/>
          <xsd:element name="XmlnsUrl" type="xsd:anyURI" minOccurs="0"/>
          <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="dataSourceRef" type="DataSourceIdType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
