src/main/resources/xsd/netex_framework/netex_responsibility/netex_responsibility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_responsibility_support">
  <xsd:include schemaLocation="netex_relationship.xsd"/>
  <!-- ===== RESPONSIBILITY SET ========================================== -->
  <xsd:simpleType name="ResponsibilitySetIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="ResponsibilitySetRef" type="ResponsibilitySetRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="ResponsibilitySetRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="ResponsibilitySetIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassResponsibilitySetRefStructureType" default="ResponsibilitySet"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- =====AdministrativeRole Identifiers=============================================================== -->
  <!-- ===== ADMINISTRATIVE ROLE =========================================================== -->
  <xsd:simpleType name="StakeholderRoleTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="planning"/>
      <xsd:enumeration value="operation"/>
      <xsd:enumeration value="control"/>
      <xsd:enumeration value="reservation"/>
      <xsd:enumeration value="entityLegalOwnership"/>
      <xsd:enumeration value="fareManagement"/>
      <xsd:enumeration value="financing"/>
      <xsd:enumeration value="securityManagement"/>
      <xsd:enumeration value="customerService"/>
      <xsd:enumeration value="dataRegistrar"/>
      <xsd:enumeration value="tenant"/>
      <xsd:enumeration value="facilityManagement"/>
      <xsd:enumeration value="lessor"/>
      <xsd:enumeration value="other"/>
      <!-- DEPRECATED Upper case values kept for the time being. -v.2.0  -->
      <xsd:enumeration value="Planning"/>
      <xsd:enumeration value="Operation"/>
      <xsd:enumeration value="Control"/>
      <xsd:enumeration value="Reservation"/>
      <xsd:enumeration value="EntityLegalOwnership"/>
      <xsd:enumeration value="FareManagement"/>
      <xsd:enumeration value="Financing"/>
      <xsd:enumeration value="SecurityManagement"/>
      <xsd:enumeration value="CustomerService"/>
      <xsd:enumeration value="DataRegistrar"/>
      <xsd:enumeration value="Tenant"/>
      <xsd:enumeration value="FacilityManagement"/>
      <xsd:enumeration value="Lessor"/>
      <xsd:enumeration value="DataRegistrar"/>
      <xsd:enumeration value="Other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StakeholderRoleTypeListOfEnumerations">
    <xsd:list itemType="StakeholderRoleTypeEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="DataRoleTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="creates"/>
      <xsd:enumeration value="augments"/>
      <xsd:enumeration value="validates"/>
      <xsd:enumeration value="collects"/>
      <xsd:enumeration value="aggregates"/>
      <xsd:enumeration value="distributes"/>
      <xsd:enumeration value="secures"/>
      <xsd:enumeration value="redistributes"/>
      <xsd:enumeration value="supports"/>
      <xsd:enumeration value="owns"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DataRoleTypeListOfEnumerations">
    <xsd:list itemType="DataRoleTypeEnumeration"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TypeOfResponsibilityRoleIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfResponsibilityRoleRef" type="TypeOfResponsibilityRoleRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="TypeOfResponsibilityRoleRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfResponsibilityRoleIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfResponsibilityRoleRefStructureType" default="TypeOfResponsibilityRole"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="organisationRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="OrganisationRef_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="OrganisationIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="OrganisationRef_Dummy" type="OrganisationRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:element name="OrganisationRef" type="OrganisationRefStructure" substitutionGroup="OrganisationRef_Dummy"/>
  <xsd:complexType name="OrganisationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOrganisationRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="AllOrganisationsRef" type="AllOrganisationsRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="AllOrganisationsRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OrganisationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:group name="OneOrAllOrganisationsRefGroup">
    <xsd:choice>
      <xsd:element ref="AllOrganisationsRef"/>
      <xsd:element ref="OrganisationRef_Dummy"/>
    </xsd:choice>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:simpleType name="OrganisationPartIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="OrganisationPartRef" type="OrganisationPartRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OrganisationPartRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OrganisationPartIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOrganisationPartRefStructureType" default="OrganisationPart"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== BRANDING==================================================== -->
  <xsd:simpleType name="BrandingIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="BrandingRef" type="BrandingRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="BrandingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassBrandingRefStructureType" default="Branding"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="TypeOfValueIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
