src/main/resources/xsd/netex_part_2/part2_occupancy/netex_oc_occupancy_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.10" id="netex_occupancy_version">
  <xsd:include schemaLocation="netex_oc_occupancy_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_utility/netex_units.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_types.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_version.xsd"/>
  <xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../../siri/siri_base-v2.0.xsd"/>
  <xsd:group name="OccupancyScopeFilterGroup">
    <xsd:sequence>
      <xsd:group ref="TrainComponentGroup" minOccurs="0"/>
      <xsd:element name="FareClass" type="FareClassEnumeration" minOccurs="0"/>
      <xsd:element name="PassengerCategory" type="siri:NaturalLanguageStringStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="OccupancyValuesGroup">
    <xsd:sequence>
      <xsd:element name="OccupancyLevel" type="OccupancyEnumeration" minOccurs="0"/>
      <xsd:element name="OccupancyPercentage" type="PercentageType" minOccurs="0"/>
      <xsd:element name="AlightingCount" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="BoardingCount" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="OnboardCount" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="SpecialPlacesOccupied" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="PushchairsOnboardCount" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="WheelchairsOnboardCount" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="PramsOnboardCount" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="BicycleOnboardCount" type="xsd:nonNegativeInteger" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="GroupReservationStructure">
    <xsd:sequence>
      <xsd:element name="NameOfGroup" type="siri:NaturalLanguageStringStructure"/>
      <xsd:element name="NumberOfReservedSeats" type="NumberOfPassengers"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="OccupancyView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OccupancyView_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OccupancyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OccupancyViewIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OccupancyView_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="OccupancyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OccupancyGroup">
    <xsd:sequence>
      <xsd:element name="dayTypeRefs" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="dayTypeRefs_RelStructure"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="dayTypes" type="dayTypes_RelStructure" minOccurs="0"/>
      <xsd:group ref="OccupancyScopeFilterGroup"/>
      <xsd:group ref="OccupancyValuesGroup"/>
      <xsd:element name="TotalNumberOfReservedSeats" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="GroupReservation" type="GroupReservationStructure" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="OccupancyViewInFrameGroup">
    <xsd:sequence>
      <xsd:element name="occupancies" type="OccupancyViewInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="OccupancyViewRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OccupancyViewIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOccupancyViewRefStructureType" default="OccupancyView"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="OccupancyViewIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="OccupancyView_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element name="OccupancyView" type="OccupancyView_VersionStructure"/>
          <xsd:element name="OccupancyViewRef" type="OccupancyViewRefStructure"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="OccupancyViewInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element name="OccupancyView" type="OccupancyView_VersionStructure"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
