src/main/resources/xsd/netex_part_5/part5_nd/netex_nm_vehicleMeetingPointAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPointAssignment_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ==== VEHICLE MEETING POINT ASSIGNMENT ============================================ -->
  <xsd:complexType name="vehicleMeetingPointAssignmentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleMeetingPointAssignmentRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleMeetingPointAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleMeetingPointAssignmentRef" type="VehicleMeetingPointAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="VehicleMeetingPointAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="VehicleMeetingPointAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleMeetingPointAssignmentRefStructureType" default="VehicleMeetingPointAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ==== DYNAMIC VEHICLE MEETING POINT ASSIGNMENT ============================================ -->
  <xsd:complexType name="dynamicVehicleMeetingPointAssignmentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="DynamicVehicleMeetingPointAssignmentRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="DynamicVehicleMeetingPointAssignmentIdType">
    <xsd:restriction base="VehicleMeetingPointAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="DynamicVehicleMeetingPointAssignmentRef" type="DynamicVehicleMeetingPointAssignmentRefStructure" substitutionGroup="VehicleMeetingPointAssignmentRef"/>
  <xsd:complexType name="DynamicVehicleMeetingPointAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleMeetingPointAssignmentRefStructure">
        <xsd:attribute name="ref" type="DynamicVehicleMeetingPointAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDynamicVehicleMeetingPointAssignmentRefStructureType" default="DynamicVehicleMeetingPointAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="MeetingUsageEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="pickUp"/>
      <xsd:enumeration value="setDown"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
