src/main/resources/xsd/netex_part_5/part5_nd/netex_nm_vehicleServicePlaceAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleServicePlaceAssignment_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ==== VEHICLE SERVICE PLACE ASSIGNMENT ============================================ -->
  <xsd:complexType name="vehicleServicePlaceAssignmentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleServicePlaceAssignmentRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleServicePlaceAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleServicePlaceAssignmentRef" type="VehicleServicePlaceAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="VehicleServicePlaceAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="VehicleServicePlaceAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleServicePlaceAssignmentRefStructureType" default="VehicleServicePlaceAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== TAXI VEHICLE SERVICE PLACE ASSIGNMENT ============================================ -->
  <xsd:complexType name="TaxiServicePlaceAssignmentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TaxiServicePlaceAssignmentRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TaxiServicePlaceAssignmentIdType">
    <xsd:restriction base="VehicleServicePlaceAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="TaxiServicePlaceAssignmentRef" type="TaxiServicePlaceAssignmentRefStructure" substitutionGroup="VehicleServicePlaceAssignmentRef"/>
  <xsd:complexType name="TaxiServicePlaceAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleServicePlaceAssignmentRefStructure">
        <xsd:attribute name="ref" type="TaxiServicePlaceAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTaxiServicePlaceAssignmentRefStructureType" default="TaxiServicePlaceAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  VEHICLE SHARING PLACE ASSIGNMENT ============================================ -->
  <xsd:complexType name="VehicleSharingPlaceAssignmentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleSharingPlaceAssignmentRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleSharingPlaceAssignmentIdType">
    <xsd:restriction base="VehicleServicePlaceAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleSharingPlaceAssignmentRef" type="VehicleSharingPlaceAssignmentRefStructure" substitutionGroup="VehicleServicePlaceAssignmentRef"/>
  <xsd:complexType name="VehicleSharingPlaceAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleServicePlaceAssignmentRefStructure">
        <xsd:attribute name="ref" type="VehicleSharingPlaceAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleSharingPlaceAssignmentRefStructureType" default="VehicleSharingPlaceAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  VEHICLE POOLING PLACE ASSIGNMENT ============================================ -->
  <xsd:complexType name="VehiclePoolingPlaceAssignmentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehiclePoolingPlaceAssignmentRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehiclePoolingPlaceAssignmentIdType">
    <xsd:restriction base="VehicleServicePlaceAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehiclePoolingPlaceAssignmentRef" type="VehiclePoolingPlaceAssignmentRefStructure" substitutionGroup="VehicleServicePlaceAssignmentRef"/>
  <xsd:complexType name="VehiclePoolingPlaceAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleServicePlaceAssignmentRefStructure">
        <xsd:attribute name="ref" type="VehiclePoolingPlaceAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingPlaceAssignmentRefStructureType" default="VehiclePoolingPlaceAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
