src/main/resources/xsd/netex_part_5/part5_nd/netex_nm_vehicleMeetingPlace_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPlace_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_topographicPlace_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ==== VEHICLE MEETING  PLACE ============================================ -->
  <xsd:simpleType name="VehicleMeetingPlaceIdType">
    <xsd:restriction base="AddressablePlaceIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleMeetingPlaceRef" type="VehicleMeetingPlaceRefStructure" substitutionGroup="AddressablePlaceRef"/>
  <xsd:complexType name="VehicleMeetingPlaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AddressablePlaceRefStructure">
        <xsd:attribute name="ref" type="AddressablePlaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleMeetingPlaceRefStructureType" default="VehicleMeetingPlace"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== VEHICLE MEETING  PLACE ============================================ -->
  <xsd:simpleType name="VehiclePoolingMeetingPlaceIdType">
    <xsd:restriction base="VehicleMeetingPlaceIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehiclePoolingMeetingPlaceRef" type="VehiclePoolingMeetingPlaceRefStructure" substitutionGroup="VehicleMeetingPlaceRef"/>
  <xsd:complexType name="VehiclePoolingMeetingPlaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleMeetingPlaceRefStructure">
        <xsd:attribute name="ref" type="AddressablePlaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingMeetingPlaceRefStructureType" default="VehiclePoolingMeetingPlace"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ====  VEHICLE SHARING PARKING ================================================== -->
  <xsd:simpleType name="VehicleSharingParkingAreaIdType">
    <xsd:restriction base="ParkingAreaIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleSharingParkingAreaRef" type="VehicleSharingParkingAreaRefStructure" substitutionGroup="ParkingAreaRef"/>
  <xsd:complexType name="VehicleSharingParkingAreaRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingAreaRefStructure">
        <xsd:attribute name="ref" type="VehicleSharingParkingAreaIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleSharingParkingAreaRefStructureType" default="VehicleSharingParkingArea"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  VEHICLE POOLING PARKING ================================================== -->
  <xsd:simpleType name="VehiclePoolingParkingAreaIdType">
    <xsd:restriction base="ParkingAreaIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehiclePoolingParkingAreaRef" type="VehiclePoolingParkingAreaRefStructure" substitutionGroup="ParkingAreaRef"/>
  <xsd:complexType name="VehiclePoolingParkingAreaRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingAreaRefStructure">
        <xsd:attribute name="ref" type="VehiclePoolingParkingAreaIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingParkingAreaRefStructureType" default="VehiclePoolingParkingArea"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  VEHICLE SHARING PARKING ================================================== -->
  <xsd:simpleType name="VehicleSharingParkingBayIdType">
    <xsd:restriction base="ParkingBayIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleSharingParkingBayRef" type="VehicleSharingParkingBayRefStructure" substitutionGroup="ParkingBayRef"/>
  <xsd:complexType name="VehicleSharingParkingBayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingBayRefStructure">
        <xsd:attribute name="ref" type="VehicleSharingParkingBayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleSharingParkingBayRefStructureType" default="VehicleSharingParkingBay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  VEHICLE POOLING PARKING ================================================== -->
  <xsd:simpleType name="VehiclePoolingParkingBayIdType">
    <xsd:restriction base="ParkingBayIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehiclePoolingParkingBayRef" type="VehiclePoolingParkingBayRefStructure" substitutionGroup="ParkingBayRef"/>
  <xsd:complexType name="VehiclePoolingParkingBayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingBayRefStructure">
        <xsd:attribute name="ref" type="VehiclePoolingParkingBayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingParkingBayRefStructureType" default="VehiclePoolingParkingBay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
