src/main/resources/xsd/netex_part_5/part5_nd/netex_nm_vehicleParkingAreaInformation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleParkingBayStatus_support">
  <xsd:include schemaLocation="netex_nm_vehicleMeetingPlace_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_loggable_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ====  MONITORE VEHICLE SHARING PARKING ================================================== -->
  <xsd:simpleType name="MonitoredVehicleSharingParkingBayIdType">
    <xsd:restriction base="VehicleSharingParkingBayIdType"/>
  </xsd:simpleType>
  <xsd:element name="MonitoredVehicleSharingParkingBayRef" type="MonitoredVehicleSharingParkingBayRefStructure" substitutionGroup="VehicleSharingParkingBayRef"/>
  <xsd:complexType name="MonitoredVehicleSharingParkingBayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleSharingParkingBayRefStructure">
        <xsd:attribute name="ref" type="MonitoredVehicleSharingParkingBayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMonitoredVehicleSharingParkingBayRefStructureType" default="MonitoredVehicleSharingParkingBay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== PARKING BAY STATUS  ================================================== -->
  <xsd:simpleType name="ParkingBayStatusIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingBayStatusRef" type="ParkingBayStatusRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="ParkingBayStatusRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="ParkingBayStatusIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingBayStatusRefStructureType" default="ParkingBayStatus"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ParkingBayStatusEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="available"/>
      <xsd:enumeration value="inUse"/>
      <xsd:enumeration value="outOfService"/>
      <xsd:enumeration value="reserved"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ====  RENTAL AVAILABILITY   ================================================== -->
  <xsd:simpleType name="RentalAvailabilityIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="RentalAvailabilityRef" type="ParkingBayStatusRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="RentalAvailabilityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="RentalAvailabilityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional" default="RentalAvailability"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== PARKING BAY CONDITION  ================================================== -->
  <xsd:simpleType name="ParkingBayConditionIdType">
    <xsd:restriction base="LogEntryIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingBayConditionRef" type="ParkingBayStatusRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="ParkingBayConditionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LogEntryRefStructure">
        <xsd:attribute name="ref" type="ParkingBayConditionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLogEntryRefStructureType" use="optional" default="ParkingBayCondition"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
