src/main/resources/xsd/netex_part_5/part5_nd/netex_nm_vehicleMeetingPoint_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_vehicleMeetingPoint_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ==== VEHICLE MEETING POINT ============================================ -->
  <xsd:complexType name="vehicleMeetingPointRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleMeetingPointRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleMeetingPointIdType">
    <xsd:restriction base="PointIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleMeetingPointRef" type="VehicleMeetingPointRefStructure" substitutionGroup="PointRef"/>
  <xsd:complexType name="VehicleMeetingPointRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PointRefStructure">
        <xsd:attribute name="ref" type="VehicleMeetingPointIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPointRefStructureType" use="optional" default="VehicleMeetingPoint"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ==== VEHICLE MEETING LINK ================================================== -->
  <xsd:simpleType name="VehicleMeetingLinkIdType">
    <xsd:restriction base="LinkIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleMeetingLinkRef" type="VehicleMeetingLinkRefStructure" substitutionGroup="LinkRef"/>
  <xsd:complexType name="VehicleMeetingLinkRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkRefStructure">
        <xsd:attribute name="ref" type="VehicleMeetingLinkIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleMeetingLinkRefStructureType" default="VehicleMeetingLink"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="OnwardVehicleMeetingLinkRef" type="VehicleMeetingLinkRefStructure" substitutionGroup="LinkRef"/>
</xsd:schema>
