src/main/resources/xsd/netex_part_5/part5_nd/netex_nm_mobilityServiceConstraintZone_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityServiceConstraintZone_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_zone_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:complexType name="mobilityServiceConstraintZoneRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="MobilityServiceConstraintZoneRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="MobilityServiceConstraintZoneIdType">
    <xsd:restriction base="ZoneIdType"/>
  </xsd:simpleType>
  <xsd:element name="MobilityServiceConstraintZoneRef" substitutionGroup="ZoneRef">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="MobilityServiceConstraintZoneRefStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MobilityServiceConstraintZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ZoneRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMobilityServiceConstraintZoneRefStructureType" default="MobilityServiceConstraintZone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="vehicleTypeZoneRestrictionRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleTypeZoneRestrictionRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleTypeZoneRestrictionIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleTypeZoneRestrictionRef" substitutionGroup="VersionOfObjectRef">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:restriction base="VehicleTypeZoneRestrictionRefStructure">
          <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleTypeZoneRestrictionRefStructureType" use="optional"/>
          <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
          <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
          <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
          <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
          <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
        </xsd:restriction>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleTypeZoneRestrictionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ZoneRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleTypeZoneRestrictionRefStructureType" default="VehicleTypeZoneRestriction"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportZoneUseEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="allUsesAllowed"/>
      <xsd:enumeration value="forbiddenZone"/>
      <xsd:enumeration value="cannotPickUpAndDropOffInSameZone"/>
      <xsd:enumeration value="cannotPickUpInZone"/>
      <xsd:enumeration value="cannotDropOffInZone"/>
      <xsd:enumeration value="mustPickUpInZone"/>
      <xsd:enumeration value="mustDropOffInZone"/>
      <xsd:enumeration value="mustPickUpAndDropOffInSameZone"/>
      <xsd:enumeration value="noPassThrough"/>
      <xsd:enumeration value="passThroughUseOnly"/>
      <xsd:enumeration value="mustPickUpAndDropOffAtSameStop"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ZoneRuleApplicabilityEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="inside"/>
      <xsd:enumeration value="outside"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="PoolOfVehiclesRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="PoolOfVehiclesRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="PoolOfVehiclesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="PoolOfVehiclesRef" substitutionGroup="GroupOfEntitiesRef_Dummy">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:restriction base="PoolOfVehiclesRefStructure">
          <xsd:attribute name="nameOfRefClass" type="NameOfClassPoolOfVehiclesRefStructureType" use="optional"/>
          <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
          <xsd:attribute name="ref" type="GroupOfEntitiesIdType" use="required"/>
          <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
          <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
          <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
        </xsd:restriction>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PoolOfVehiclesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPoolOfVehiclesRefStructureType" default="PoolOfVehicles"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfEntitiesIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
