src/main/resources/xsd/netex_part_1/part1_frames/netex_infrastructureFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_InfrastructureFrame_version">
  <xsd:include schemaLocation="../../netex_framework/netex_all_objects_generic.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_version.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_all_objects_part1_infrastructureFrame_contents.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="InfrastructureFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="InfrastructureFrameRef" type="InfrastructureFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:complexType name="InfrastructureFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="InfrastructureFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassInfrastructureFrameRefStructureType" default="InfrastructureFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="InfrastructureFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Infrastructure_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="InfrastructureFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="InfrastructureFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Infrastructure_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="InfrastructureFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="InfrastructureFrameGroup">
    <xsd:sequence>
      <xsd:group ref="InfrastructureFramePropertiesGroup"/>
      <xsd:group ref="SpatialFeaturesInFrameGroup"/>
      <xsd:group ref="NetworkDescriptionInFrameGroup"/>
      <xsd:group ref="VehicleAndCrewInFrameGroup"/>
      <xsd:group ref="ActivationInFrameGroup"/>
      <xsd:group ref="VehicleTypeInFrameGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="InfrastructureFramePropertiesGroup">
    <xsd:sequence>
      <xsd:element name="MeetingsRestricted" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="RestrictedManoeuvres" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="OvertakingPossibilitiesRestricted" type="xsd:boolean" default="false" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
