src/main/resources/xsd/netex_framework/netex_utility/netex_units.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_units">
  <!--====Basic Types that have a unit dimension =======================================================================-->
  <!-- ======================================================================= -->
  <xsd:simpleType name="SystemOfUnits">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="SiMetres"/>
      <xsd:enumeration value="SiKilometresAndMetres"/>
      <xsd:enumeration value="Other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LengthType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="DistanceType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="WeightType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="SpeedType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="WattageType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="VoltageType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <xsd:simpleType name="WattHoursType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="CurrencyAmountType">
    <xsd:restriction base="xsd:decimal"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="NumberOfVehicles">
    <xsd:restriction base="xsd:nonNegativeInteger"/>
  </xsd:simpleType>
  <xsd:simpleType name="NumberOfPassengers">
    <xsd:restriction base="xsd:nonNegativeInteger"/>
  </xsd:simpleType>
  <xsd:simpleType name="PassengersPerMinute">
    <xsd:restriction base="xsd:nonNegativeInteger"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
