src/main/resources/xsd/netex_part_3/part3_monitoring/netex_monitoredPassingTimes_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_monitoredPassingTimes_version">
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_datedPassingTimes_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ===Observed================================================= -->
  <xsd:complexType name="observedPassingTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ObservedPassingTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ObservedPassingTime" substitutionGroup="DatedPassingTime">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ObservedPassingTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassingTimeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DatedPassingTimeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ObservedPassingTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ObservedPassingTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="ObservedTimesAtStopGroup">
    <xsd:sequence>
      <xsd:element name="ActualArrivalTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="ArrivalDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="ActualDepartureTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="ActualWaitingTime" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="ObservedPassingTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="DatedPassingTime_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="ObservedPassingTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ObservedPassingTimeGroup">
    <xsd:sequence>
      <xsd:choice>
        <xsd:group ref="ObservedTimesAtStopGroup"/>
        <xsd:sequence>
          <xsd:element name="ActualNonstopPassingTime" type="xsd:time" minOccurs="0"/>
          <xsd:element name="PassingTimeDayOffset" type="DayOffsetType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="ActualHeadway" type="HeadwayIntervalStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===Observed================================================= -->
  <xsd:complexType name="estimatedPassingTimes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="EstimatedPassingTime" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="EstimatedPassingTime" substitutionGroup="DatedPassingTime">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="EstimatedPassingTime_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassingTimeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DatedPassingTimeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EstimatedPassingTimeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="EstimatedPassingTimeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:group name="EstimatedTimesAtStopGroup">
    <xsd:sequence>
      <xsd:element name="ExpectedArrivalTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="ArrivalDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="ExpectedDepartureTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="DepartureDayOffset" type="DayOffsetType" minOccurs="0"/>
      <xsd:element name="ExpectedWaitingTime" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="EstimatedPassingTime_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="DatedPassingTime_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="EstimatedPassingTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="EstimatedPassingTimeGroup">
    <xsd:sequence>
      <xsd:choice>
        <xsd:group ref="EstimatedTimesAtStopGroup"/>
        <xsd:sequence>
          <xsd:element name="ExpectedNonstopPassingTime" type="xsd:time" minOccurs="0"/>
          <xsd:element name="PassingTimeDayOffset" type="DayOffsetType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="ExpectedHeadway" type="HeadwayIntervalStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===Observed================================================= -->
  <xsd:element name="ObservedPassingTimeView" type="ObservedPassingTime_ViewStructure"/>
  <xsd:complexType name="ObservedPassingTime_ViewStructure">
    <xsd:complexContent>
      <xsd:extension base="PassingTime_ViewStructure">
        <xsd:sequence>
          <xsd:group ref="ObservedPassingTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="EstimatedPassingTimeView" type="EstimatedPassingTime_ViewStructure"/>
  <xsd:complexType name="EstimatedPassingTime_ViewStructure">
    <xsd:complexContent>
      <xsd:extension base="PassingTime_ViewStructure">
        <xsd:sequence>
          <xsd:group ref="EstimatedPassingTimeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
