src/main/resources/xsd/netex_part_3/part3_monitoring/netex_monitoredVehicleJourney_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_monitoredVehicleJourney_support">
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_call_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- =======================================================================  -->
  <xsd:simpleType name="MonitoredCallIdType">
    <xsd:restriction base="CallIdType"/>
  </xsd:simpleType>
  <xsd:simpleType name="OnwardCallIdType">
    <xsd:restriction base="CallIdType"/>
  </xsd:simpleType>
  <xsd:simpleType name="PreviousCallIdType">
    <xsd:restriction base="CallIdType"/>
  </xsd:simpleType>
</xsd:schema>
