src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_facility_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_facility_version">
  <xsd:include schemaLocation="netex_facility_support.xsd"/>
  <xsd:include schemaLocation="netex_serviceRestrictions_version.xsd"/>
  <xsd:include schemaLocation="netex_facilityUic_support.xsd"/>
  <xsd:include schemaLocation="netex_equipment_version.xsd"/>
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="FacilitySetsInFrameGroup">
    <xsd:sequence>
      <xsd:element name="siteFacilitySets" type="siteFacilitySetsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="serviceFacilitySets" type="serviceFacilitySetsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteFacilitySetsInFrameGroup">
    <xsd:sequence>
      <xsd:element name="siteFacilitySets" type="siteFacilitySetsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="siteFacilitySetsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="SiteFacilitySet" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="serviceFacilitySetsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ServiceFacilitySet" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="FacilitySet" type="FacilitySet_VersionStructure" abstract="true"/>
  <xsd:complexType name="FacilitySet_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="FacilitySetGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FacilitySetGroup">
    <xsd:sequence>
      <xsd:element name="ProvidedByRef" type="OrganisationRefStructure" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="TypeOfFacilityRef" minOccurs="0"/>
      <xsd:element name="otherFacilities" type="typesOfEquipment_RelStructure" minOccurs="0"/>
      <xsd:group ref="CommonFacilityGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="CommonFacilityGroup">
    <xsd:sequence>
      <xsd:element ref="AccessibilityInfoFacilityList" minOccurs="0"/>
      <xsd:element ref="AssistanceFacilityList" minOccurs="0"/>
      <xsd:element ref="AccessibilityToolList" minOccurs="0"/>
      <xsd:element ref="CarServiceFacilityList" minOccurs="0"/>
      <xsd:element ref="CateringFacilityList" minOccurs="0"/>
      <xsd:element ref="ClimateControlList" minOccurs="0"/>
      <xsd:element ref="FamilyFacilityList" minOccurs="0"/>
      <xsd:element ref="FareClasses" minOccurs="0"/>
      <xsd:element ref="GenderLimitation" minOccurs="0"/>
      <xsd:element ref="LightingControlFacilityList" minOccurs="0"/>
      <xsd:element ref="MealFacilityList" minOccurs="0"/>
      <xsd:element ref="MedicalFacilityList" minOccurs="0"/>
      <xsd:element ref="MobilityFacilityList" minOccurs="0"/>
      <xsd:element ref="NuisanceFacilityList" minOccurs="0"/>
      <xsd:element ref="PassengerCommsFacilityList" minOccurs="0"/>
      <xsd:element name="PassengerInformationEquipmentList" type="PassengerInformationEquipmentListOfEnumerations" minOccurs="0"/>
      <xsd:element ref="PassengerInformationFacilityList" minOccurs="0"/>
      <xsd:element ref="RetailFacilityList" minOccurs="0"/>
      <xsd:element ref="SafetyFacilityList" minOccurs="0"/>
      <xsd:element ref="SanitaryFacilityList" minOccurs="0"/>
      <xsd:element ref="TicketingFacilityList" minOccurs="0"/>
      <xsd:element ref="TicketingServiceFacilityList" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AllFacilityGroup">
    <xsd:sequence>
      <xsd:element ref="AccommodationAccessList" minOccurs="0"/>
      <xsd:element ref="AccommodationFacilityList" minOccurs="0"/>
      <xsd:element ref="AccessibilityInfoFacilityList" minOccurs="0"/>
      <xsd:element ref="AssistanceFacilityList" minOccurs="0"/>
      <xsd:element ref="CateringFacilityList" minOccurs="0"/>
      <xsd:element ref="CouchetteFacilityList" minOccurs="0"/>
      <xsd:element ref="FamilyFacilityList" minOccurs="0"/>
      <xsd:element ref="FareClasses" minOccurs="0"/>
      <xsd:element ref="GenderLimitation" minOccurs="0"/>
      <xsd:element ref="HireFacilityList" minOccurs="0"/>
      <xsd:element ref="LuggageCarriageFacilityList" minOccurs="0"/>
      <xsd:element ref="MealFacilityList" minOccurs="0"/>
      <xsd:element ref="MobilityFacilityList" minOccurs="0"/>
      <xsd:element ref="NuisanceFacilityList" minOccurs="0"/>
      <xsd:element ref="PassengerCommsFacilityList" minOccurs="0"/>
      <xsd:element name="PassengerInformationEquipmentList" type="PassengerInformationEquipmentListOfEnumerations" minOccurs="0"/>
      <xsd:element ref="PassengerInformationFacilityList" minOccurs="0"/>
      <xsd:element ref="RetailFacilityList" minOccurs="0"/>
      <xsd:element ref="SafetyFacilityList" minOccurs="0"/>
      <xsd:element ref="ServiceReservationFacilityList" minOccurs="0"/>
      <xsd:element ref="SanitaryFacilityList" minOccurs="0"/>
      <xsd:element ref="TicketingFacilityList" minOccurs="0"/>
      <xsd:element ref="TicketingServiceFacilityList" minOccurs="0"/>
      <xsd:element ref="AccessFacilityList" minOccurs="0"/>
      <xsd:element ref="VehicleAccessFacilityList" minOccurs="0"/>
      <xsd:element ref="AccessibilityToolList" minOccurs="0"/>
      <xsd:element ref="UicProductCharacteristicList" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== Service FACILITY=======================================-->
  <xsd:complexType name="serviceFacilitySets_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ServiceFacilitySetRef"/>
          <xsd:element ref="ServiceFacilitySet"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceFacilitySet" substitutionGroup="FacilitySet">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceFacilitySet_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FacilitySetGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceFacilitySetGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceFacilitySetIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceFacilitySet_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="FacilitySet_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceFacilitySetGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceFacilitySetGroup">
    <xsd:sequence>
      <xsd:group ref="ServiceFacilityGroup"/>
      <xsd:element name="accommodations" type="accommodations_RelStructure" minOccurs="0"/>
      <xsd:element name="onboardStays" type="onboardStays_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceFacilityGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleAccessFacilityList" minOccurs="0"/>
      <xsd:element ref="AccommodationAccessList" minOccurs="0"/>
      <xsd:element ref="AccommodationFacilityList" minOccurs="0"/>
      <xsd:element ref="BoardingPermission" minOccurs="0"/>
      <xsd:element ref="BookingProcessFacilityList" minOccurs="0"/>
      <xsd:element ref="CouchetteFacilityList" minOccurs="0"/>
      <xsd:element ref="GroupBookingFacility" minOccurs="0"/>
      <xsd:element ref="LuggageCarriageFacilityList" minOccurs="0"/>
      <xsd:element ref="ServiceReservationFacilityList" minOccurs="0"/>
      <xsd:element ref="UicProductCharacteristicList" minOccurs="0"/>
      <xsd:element ref="UicTrainRate" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AllFacilitiesGroup">
    <xsd:sequence>
      <xsd:choice maxOccurs="unbounded">
        <xsd:element ref="AccessibilityToolList"/>
        <xsd:element ref="AccommodationFacilityList"/>
        <xsd:element ref="AssistanceFacilityList"/>
        <xsd:element ref="FareClasses"/>
        <xsd:element ref="HireFacilityList" maxOccurs="1"/>
        <xsd:element ref="LuggageCarriageFacilityList"/>
        <xsd:element ref="MobilityFacilityList"/>
        <xsd:element ref="NuisanceFacilityList"/>
        <xsd:element ref="PassengerInformationFacilityList"/>
        <xsd:element ref="PassengerCommsFacilityList"/>
        <xsd:element ref="CateringFacilityList"/>
        <xsd:element ref="SanitaryFacilityList"/>
        <xsd:element ref="TicketingFacilityList"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SiteFacility=======================================-->
  <xsd:complexType name="siteFacilitySets_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="SiteFacilitySetRef"/>
          <xsd:element ref="SiteFacilitySet"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SiteFacilitySet" substitutionGroup="FacilitySet">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SiteFacilitySetStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FacilitySetGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SiteFacilitySetGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SiteFacilitySetIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SiteFacilitySetStructure">
    <xsd:complexContent>
      <xsd:extension base="FacilitySet_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SiteFacilitySetGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteFacilitySetGroup">
    <xsd:sequence>
      <xsd:group ref="SiteFacilityGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteFacilityGroup">
    <xsd:sequence>
      <xsd:element ref="AccessFacilityList" minOccurs="0"/>
      <xsd:element ref="EmergencyServiceList" minOccurs="0"/>
      <xsd:element ref="HireFacilityList" minOccurs="0"/>
      <xsd:element ref="LuggageLockerFacilityList" minOccurs="0"/>
      <xsd:element ref="LuggageServiceFacilityList" minOccurs="0"/>
      <xsd:element ref="MoneyFacilityList" minOccurs="0"/>
      <xsd:element ref="ParkingFacilityList" minOccurs="0"/>
      <xsd:element ref="Staffing" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====TYPE OF FACILITY======================================== -->
  <xsd:complexType name="typesOfFacility_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="TypeOfFacilityRef"/>
          <xsd:element ref="TypeOfFacility"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TypeOfFacility" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfFacility_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfFacilityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfFacility_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================== -->
  <xsd:complexType name="accommodations_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="AccommodationRef"/>
          <xsd:element ref="Accommodation"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Accommodation" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Accommodation_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccommodationGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AccommodationIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Accommodation_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="AccommodationGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AccommodationGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="ServiceFacilitySetRef" minOccurs="0"/>
      <xsd:element ref="FareClass" minOccurs="0"/>
      <xsd:element ref="ClassOfUseRef" minOccurs="0"/>
      <xsd:element ref="AccommodationFacility" minOccurs="0"/>
      <xsd:element ref="CouchetteFacility" minOccurs="0"/>
      <xsd:element name="MaximumNumberOfBerths" type="xsd:integer" minOccurs="0"/>
      <xsd:element ref="BerthFacility" minOccurs="0"/>
      <xsd:element name="ShowerFacility" type="SanitaryFacilityEnumeration" default="none" minOccurs="0"/>
      <xsd:element name="ToiletFacility" type="SanitaryFacilityEnumeration" default="none" minOccurs="0"/>
      <xsd:element ref="GenderLimitation" minOccurs="0"/>
      <xsd:element ref="NuisanceFacilityList" minOccurs="0"/>
      <xsd:element ref="PassengerCommsFacilityList" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===ONBOARD STAY ====================================== -->
  <xsd:complexType name="onboardStays_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="OnboardStay" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OnboardStay" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OnboardStay_VersionedChlldStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OnboardStayGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OnboardStayIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OnboardStay_VersionedChlldStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="OnboardStayGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OnboardStayGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="ServiceFacilitySetRef" minOccurs="0"/>
      <xsd:element ref="FareClass" minOccurs="0"/>
      <xsd:element ref="ClassOfUseRef" minOccurs="0"/>
      <xsd:element ref="BoardingPermission" minOccurs="0"/>
      <xsd:element name="Period" type="xsd:duration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================== -->
  <!-- === Site Access FACILITY====================================== -->
  <xsd:element name="AccessFacility" type="AccessFacilityEnumeration" default="unknown"/>
  <xsd:element name="AccessFacilityList" type="AccessFacilityListOfEnumerations" default="unknown"/>
  <xsd:simpleType name="AccessFacilityListOfEnumerations">
    <xsd:list itemType="AccessFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- === Vehicle Access FACILITY====================================== -->
  <xsd:element name="VehicleAccessFacility" type="VehicleAccessFacilityEnumeration"/>
  <xsd:element name="VehicleAccessFacilityList" type="VehicleAccessFacilityListOfEnumerations" default="unknown"/>
  <xsd:simpleType name="VehicleAccessFacilityListOfEnumerations">
    <xsd:list itemType="VehicleAccessFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- === Accessibility Info FACILITY====================================== -->
  <xsd:element name="AccessibilityInfoFacility" type="AccessibilityInfoFacilityEnumeration"/>
  <xsd:element name="AccessibilityInfoFacilityList" type="AccessibilityInfoFacilityListOfEnumerations"/>
  <xsd:simpleType name="AccessibilityInfoFacilityListOfEnumerations">
    <xsd:list itemType="AccessibilityInfoFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Accessibility Tool ================================== -->
  <xsd:element name="AccessibilityTool" type="AccessibilityToolEnumeration"/>
  <xsd:element name="AccessibilityToolList" type="AccessibilityToolListOfEnumerations"/>
  <xsd:simpleType name="AccessibilityToolListOfEnumerations">
    <xsd:list itemType="AccessibilityToolEnumeration"/>
  </xsd:simpleType>
  <!-- ===Accommodation Accss====================================== -->
  <xsd:element name="AccommodationAccess" type="AccommodationAccessEnumeration"/>
  <xsd:element name="AccommodationAccessList" type="AccommodationAccessListOfEnumerations"/>
  <xsd:simpleType name="AccommodationAccessListOfEnumerations">
    <xsd:list itemType="AccommodationAccessEnumeration"/>
  </xsd:simpleType>
  <!-- ===Accommodation FACILITY====================================== -->
  <xsd:element name="AccommodationFacility" type="AccommodationFacilityEnumeration" default="seating"/>
  <xsd:element name="AccommodationFacilityList" type="AccommodationFacilityListOfEnumerations" default="unknown"/>
  <xsd:simpleType name="AccommodationFacilityListOfEnumerations">
    <xsd:list itemType="AccommodationFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Assistance FACILITY====================================== -->
  <xsd:element name="AssistanceFacility" type="AssistanceFacilityEnumeration"/>
  <xsd:element name="AssistanceFacilityList" type="AssistanceFacilityListOfEnumerations"/>
  <xsd:simpleType name="AssistanceFacilityListOfEnumerations">
    <xsd:list itemType="AssistanceFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Berth FACILITY====================================== -->
  <xsd:element name="BerthFacility" type="BerthFacilityEnumeration"/>
  <!-- === Booking FACILITY====================================== -->
  <xsd:element name="BoardingPermission" type="BoardingPermissionEnumeration"/>
  <!-- === Booking Process FACILITY====================================== -->
  <xsd:element name="BookingProcessFacility" type="BookingProcessEnumeration"/>
  <xsd:element name="BookingProcessFacilityList" type="BookingProcessFacilityListOfEnumerations"/>
  <xsd:simpleType name="BookingProcessFacilityListOfEnumerations">
    <xsd:list itemType="BookingProcessEnumeration"/>
  </xsd:simpleType>
  <!-- === Couchette n FACILITY====================================== -->
  <xsd:element name="CouchetteFacility" type="CouchetteFacilityEnumeration" default="unknown"/>
  <xsd:element name="CouchetteFacilityList" type="CouchetteFacilityListOfEnumerations" default="unknown"/>
  <xsd:simpleType name="CouchetteFacilityListOfEnumerations">
    <xsd:list itemType="CouchetteFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ========== Climate Control Service FACILITY============================-->
  <xsd:element name="ClimateControl" type="ClimateControlEnumeration"/>
  <xsd:element name="ClimateControlList" type="ClimateControlListOfEnumerations"/>
  <xsd:simpleType name="ClimateControlListOfEnumerations">
    <xsd:list itemType="ClimateControlEnumeration"/>
  </xsd:simpleType>
  <!-- ========== Emergency Service FACILITY============================-->
  <xsd:element name="EmergencyService" type="EmergencyServiceEnumeration"/>
  <xsd:element name="EmergencyServiceList" type="EmergencyServiceListOfEnumerations"/>
  <xsd:simpleType name="EmergencyServiceListOfEnumerations">
    <xsd:list itemType="EmergencyServiceEnumeration"/>
  </xsd:simpleType>
  <!-- ===Family FACILITY====================================== -->
  <xsd:element name="FamilyFacility" type="FamilyFacilityEnumeration" default="none"/>
  <xsd:element name="FamilyFacilityList" type="FamilyFacilitiesListOfEnumerations"/>
  <xsd:simpleType name="FamilyFacilitiesListOfEnumerations">
    <xsd:list itemType="FamilyFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Fare Class FACILITY====================================== -->
  <xsd:element name="FareClass" type="FareClassEnumeration" default="unknown"/>
  <xsd:element name="FareClasses" type="FareClassListOfEnumerations"/>
  <xsd:simpleType name="FareClassListOfEnumerations">
    <xsd:list itemType="FareClassEnumeration"/>
  </xsd:simpleType>
  <!-- ===Group FACILITY====================================== -->
  <xsd:element name="GroupBookingFacility" type="GroupBookingEnumeration" default="unknown"/>
  <!-- ===Hire FACILITY====================================== -->
  <xsd:element name="HireFacility" type="HireFacilityEnumeration" default="unknown"/>
  <xsd:element name="HireFacilityList" type="HireFacilityListOfEnumerations"/>
  <xsd:simpleType name="HireFacilityListOfEnumerations">
    <xsd:list itemType="HireFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Lighting Control FACILITY====================================== -->
  <xsd:element name="LightingControlFacility" type="LightingControlFacilityEnumeration" default="unknown"/>
  <xsd:element name="LightingControlFacilityList" type="LightingControlFacilityListOfEnumerations"/>
  <xsd:simpleType name="LightingControlFacilityListOfEnumerations">
    <xsd:list itemType="LightingControlFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Luggage Carriage FACILITY====================================== -->
  <xsd:element name="LuggageCarriageFacility" type="LuggageCarriageEnumeration" default="unknown"/>
  <xsd:element name="LuggageCarriageFacilityList" type="LuggageCarriageFacilityListOfEnumerations"/>
  <xsd:simpleType name="LuggageCarriageFacilityListOfEnumerations">
    <xsd:list itemType="LuggageCarriageEnumeration"/>
  </xsd:simpleType>
  <!-- ===Luggage Locker FACILITY====================================== -->
  <xsd:element name="LuggageLockerFacility" type="LuggageLockerFacilityEnumeration"/>
  <xsd:element name="LuggageLockerFacilityList" type="LuggageLockerFacilityListOfEnumerations"/>
  <xsd:simpleType name="LuggageLockerFacilityListOfEnumerations">
    <xsd:list itemType="LuggageLockerFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Luggage FACILITY====================================== -->
  <xsd:element name="LuggageServiceFacility" type="LuggageServiceFacilityEnumeration"/>
  <xsd:element name="LuggageServiceFacilityList" type="LuggageServiceFacilityListOfEnumerations"/>
  <xsd:simpleType name="LuggageServiceFacilityListOfEnumerations">
    <xsd:list itemType="LuggageServiceFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===MEAL FACILITY====================================== -->
  <xsd:element name="MealFacility" type="MealFacilityEnumeration"/>
  <xsd:element name="MealFacilityList" type="MealFacilityListOfEnumerations"/>
  <xsd:simpleType name="MealFacilityListOfEnumerations">
    <xsd:list itemType="MealFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Mobility FACILITY====================================== -->
  <xsd:element name="MobilityFacility" type="MobilityFacilityEnumeration" default="unknown"/>
  <xsd:element name="MobilityFacilityList" type="MobilityFacilityListOfEnumerations"/>
  <xsd:simpleType name="MobilityFacilityListOfEnumerations">
    <xsd:list itemType="MobilityFacilityEnumeration"/>
  </xsd:simpleType>
  <!--=======  Money FACILITY====================================== -->
  <xsd:element name="MoneyFacility" type="MoneyFacilityEnumeration"/>
  <xsd:element name="MoneyFacilityList" type="MoneyFacilityListOfEnumerations"/>
  <xsd:simpleType name="MoneyFacilityListOfEnumerations">
    <xsd:list itemType="MoneyFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- === Nuisance FACILITY====================================== -->
  <xsd:element name="NuisanceFacility" type="NuisanceFacilityListOfEnumerations" default="unknown"/>
  <xsd:element name="NuisanceFacilityList" type="NuisanceFacilityListOfEnumerations"/>
  <xsd:simpleType name="NuisanceFacilityListOfEnumerations">
    <xsd:list itemType="NuisanceFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===PASSENGER INFORMATION EQUIPMENT ====================================== -->
  <xsd:simpleType name="PassengerInformationEquipmentListOfEnumerations">
    <xsd:list itemType="PassengerInformationEquipmentEnumeration"/>
  </xsd:simpleType>
  <!-- ===Parking FACILITY====================================== -->
  <xsd:element name="ParkingFacility" type="ParkingFacilityEnumeration"/>
  <xsd:element name="ParkingFacilityList" type="ParkingFacilityListOfEnumerations"/>
  <xsd:simpleType name="ParkingFacilityListOfEnumerations">
    <xsd:list itemType="ParkingFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- === Car Service  FACILITY====================================== -->
  <xsd:element name="CarServiceFacility" type="CarServiceFacilityEnumeration"/>
  <xsd:element name="CarServiceFacilityList" type="CarServiceFacilityListOfEnumerations"/>
  <xsd:simpleType name="CarServiceFacilityListOfEnumerations">
    <xsd:list itemType="CarServiceFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- === Passenger Information FACILITY====================================== -->
  <xsd:element name="PassengerInformationFacility" type="PassengerInformationFacilityEnumeration"/>
  <xsd:element name="PassengerInformationFacilityList" type="PassengerInformationFacilityListOfEnumerations"/>
  <xsd:simpleType name="PassengerInformationFacilityListOfEnumerations">
    <xsd:list itemType="PassengerInformationFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===PassengerComms FACILITY====================================== -->
  <xsd:element name="PassengerCommsFacility" type="PassengerCommsFacilityEnumeration" default="unknown"/>
  <xsd:element name="PassengerCommsFacilityList" type="PassengerCommsFacilityListOfEnumerations"/>
  <xsd:simpleType name="PassengerCommsFacilityListOfEnumerations">
    <xsd:list itemType="PassengerCommsFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Catering FACILITY====================================== -->
  <xsd:element name="CateringFacility" type="CateringFacilityEnumeration" default="unknown"/>
  <xsd:element name="CateringFacilityList" type="CateringFacilityListOfEnumerations"/>
  <xsd:simpleType name="CateringFacilityListOfEnumerations">
    <xsd:list itemType="CateringFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- === service Reservation FACILITY====================================== -->
  <xsd:element name="ServiceReservationFacility" type="ReservationEnumeration" default="unknown"/>
  <xsd:element name="ServiceReservationFacilityList" type="ServiceReservationFacilityListOfEnumerations"/>
  <xsd:simpleType name="ServiceReservationFacilityListOfEnumerations">
    <xsd:list itemType="ReservationEnumeration"/>
  </xsd:simpleType>
  <!-- ===Reserver space FACILITY====================================== -->
  <xsd:element name="ReservedSpaceFacility" type="ReservedSpaceFacilityEnumeration" default="unknown"/>
  <xsd:element name="ReservedSpaceFacilityList" type="ReservedSpaceFacilityListOfEnumerations"/>
  <xsd:simpleType name="ReservedSpaceFacilityListOfEnumerations">
    <xsd:list itemType="ReservedSpaceFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Retail FACILITY====================================== -->
  <xsd:element name="RetailFacility" type="RetailFacilityEnumeration" default="unknown"/>
  <xsd:element name="RetailFacilityList" type="RetailFacilityListOfEnumerations"/>
  <xsd:simpleType name="RetailFacilityListOfEnumerations">
    <xsd:list itemType="RetailFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Sanitary FACILITY====================================== -->
  <xsd:element name="SafetyFacility" type="SafetyFacilityEnumeration"/>
  <xsd:element name="SafetyFacilityList" type="SafetyFacilityListOfEnumerations"/>
  <xsd:simpleType name="SafetyFacilityListOfEnumerations">
    <xsd:list itemType="SafetyFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Sanitary FACILITY====================================== -->
  <xsd:element name="SanitaryFacility" type="SanitaryFacilityEnumeration"/>
  <xsd:element name="SanitaryFacilityList" type="SanitaryFacilityListOfEnumerations"/>
  <!-- ===Gender Limitation  ====================================== -->
  <xsd:element name="GenderLimitation" type="GenderLimitationEnumeration"/>
  <xsd:simpleType name="GenderLimitationOfEnumerations">
    <xsd:list itemType="GenderLimitationEnumeration"/>
  </xsd:simpleType>
  <!-- ===Staffing===================================== -->
  <xsd:element name="Staffing" type="StaffingEnumeration"/>
  <!-- ===Ticketing FACILITY====================================== -->
  <xsd:element name="ScopeOfTicket" type="ScopeOfTicketEnumeration" default="unknown"/>
  <xsd:element name="ScopeOfTicketList" type="ScopeOfTicketListOfEnumerations"/>
  <xsd:simpleType name="ScopeOfTicketListOfEnumerations">
    <xsd:list itemType="ScopeOfTicketEnumeration"/>
  </xsd:simpleType>
  <!-- ===Ticketing FACILITY====================================== -->
  <xsd:element name="TicketingFacility" type="TicketingFacilityEnumeration" default="unknown"/>
  <xsd:element name="TicketingFacilityList" type="TicketingFacilityListOfEnumerations"/>
  <xsd:simpleType name="TicketingFacilityListOfEnumerations">
    <xsd:list itemType="TicketingFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ===Ticketing FACILITY====================================== -->
  <xsd:element name="TicketingServiceFacility" type="TicketingServiceFacilityEnumeration"/>
  <xsd:element name="TicketingServiceFacilityList" type="TicketingServiceFacilityListOfEnumerations"/>
  <!-- ==== ==UIC Train rate ========================================= -->
  <xsd:element name="UicTrainRate" type="UicRateTypeEnumeration"/>
  <xsd:simpleType name="UicTrainRateListOfEnumerations">
    <xsd:list itemType="UicRateTypeEnumeration"/>
  </xsd:simpleType>
  <!-- ==== ===================================================== -->
  <xsd:element name="UicProductCharacteristic" type="UicProductCharacteristicEnumeration"/>
  <xsd:element name="UicProductCharacteristicList" type="UicProductCharacteristicListOfEnumerations"/>
  <xsd:simpleType name="UicProductCharacteristicListOfEnumerations">
    <xsd:list itemType="UicProductCharacteristicEnumeration"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <!-- === Medical FACILITY====================================== -->
  <xsd:element name="MedicalFacility" type="MedicalFacilityEnumeration"/>
  <xsd:element name="MedicalFacilityList" type="MedicalFacilityListOfEnumerations"/>
  <xsd:simpleType name="MedicalFacilityListOfEnumerations">
    <xsd:list itemType="MedicalFacilityEnumeration"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
