src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_deckPath_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_deckPath_support">
  <xsd:include schemaLocation="../netex_genericFramework/netex_path_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===== DECK PATH LINK =============================================== -->
  <xsd:simpleType name="DeckGenericPathLinkIdType">
    <xsd:restriction base="GenericPathLinkIdType"/>
  </xsd:simpleType>
  <xsd:element name="DeckPathLinkRef" type="DeckPathLinkRefStructure" substitutionGroup="GenericPathLinkRef"/>
  <xsd:complexType name="DeckPathLinkRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GenericPathLinkRefStructure">
        <xsd:attribute name="ref" type="DeckGenericPathLinkIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDeckPathLinkRefStructureType" default="DeckPathLink"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== DECK PATH JUNCTION =============================================== -->
  <xsd:simpleType name="DeckPathJunctionIdType">
    <xsd:restriction base="GenericPathJunctionIdType"/>
  </xsd:simpleType>
  <xsd:element name="DeckPathJunctionRef" type="GenericPathJunctionRefStructure" substitutionGroup="GenericPathJunctionRef"/>
  <xsd:complexType name="DeckPathJunctionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GenericPathJunctionRefStructure">
        <xsd:attribute name="ref" type="GenericPathJunctionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPlaceRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== DECK PLACE IN SEQUENCE ========================================== -->
  <xsd:simpleType name="DeckPlaceInSequenceIdType">
    <xsd:restriction base="PointInSequenceIdType"/>
  </xsd:simpleType>
  <xsd:element name="DeckPlaceInSequenceRef" type="DeckPlaceInSequenceRefStructure" substitutionGroup="PointInSequenceRef"/>
  <xsd:complexType name="DeckPlaceInSequenceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PointInSequenceRefStructure">
        <xsd:attribute name="ref" type="DeckPlaceInSequenceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDeckPlaceInSequenceRefStructureType" default="DeckPlaceInSequence"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== DECK NAVIGATION PATH ============================================ -->
  <xsd:complexType name="deckNavigationPathRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="DeckNavigationPathRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="DeckNavigationPathIdType">
    <xsd:restriction base="GenericNavigationPathIdType"/>
  </xsd:simpleType>
  <xsd:element name="DeckNavigationPathRef" type="DeckNavigationPathRefStructure" substitutionGroup="GenericNavigationPathRef"/>
  <xsd:complexType name="DeckNavigationPathRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GenericNavigationPathRefStructure">
        <xsd:attribute name="ref" type="DeckNavigationPathIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDeckNavigationPathRefStructureType" default="DeckNavigationPath"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DeckNavigationPathTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="deckEntranceToDeckSpace"/>
      <xsd:enumeration value="deckEntranceToSpot"/>
      <xsd:enumeration value="spotToDeckSpace"/>
      <xsd:enumeration value="spotToDeckEntrance"/>
      <xsd:enumeration value="spotToSpot"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
