src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_schematicMap_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_schematicMap_version">
  <xsd:include schemaLocation="../netex_responsibility/netex_responsibility_version.xsd"/>
  <xsd:include schemaLocation="../netex_genericFramework/netex_projection_version.xsd"/>
  <xsd:include schemaLocation="../netex_utility/netex_utility_types.xsd"/>
  <xsd:include schemaLocation="netex_schematicMap_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="SchematicMapInFrameGroup">
    <xsd:sequence>
      <xsd:element name="schematicMaps" type="schematicMapsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="schematicMapsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="SchematicMap" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="SchematicMap" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SchematicMap_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SchematicMapGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SchematicMapIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SchematicMap_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="SchematicMapGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SchematicMapGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ImageUri" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="DepictedObjectRef" type="VersionOfObjectRefStructure" minOccurs="0"/>
      <xsd:element name="members" type="schematicMapMembers_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="schematicMapMembers_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element name="SchematicMapMember" type="SchematicMapMember_VersionedChildStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="SchematicMapMember_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="SchematicMapMemberGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SchematicMapMemberGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="VersionOfObjectRef" minOccurs="0"/>
      <xsd:element name="Hide" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="DisplayAsIcon" type="xsd:boolean" minOccurs="0"/>
      <xsd:element ref="InfoLink" minOccurs="0"/>
      <xsd:sequence minOccurs="0">
        <xsd:element name="x" type="GraphicsUnitsTypeType"/>
        <xsd:element name="y" type="GraphicsUnitsTypeType"/>
      </xsd:sequence>
      <xsd:element ref="Projection" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
