src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_nm_chargingEquipmentProfile_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_chargingEquipmentProfile_support">
  <xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ====   RECHARGING EQUIPMENT PROFILE =========================================== -->
  <xsd:simpleType name="RechargingEquipmentProfileIdType">
    <xsd:restriction base="VehicleEquipmentProfileIdType"/>
  </xsd:simpleType>
  <xsd:element name="RechargingEquipmentProfileRef" type="RechargingEquipmentProfileRefStructure" substitutionGroup="VehicleEquipmentProfileRef"/>
  <xsd:complexType name="RechargingEquipmentProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleEquipmentProfileRefStructure">
        <xsd:attribute name="ref" type="RechargingEquipmentProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingEquipmentProfileRefStructureType" default="RechargingEquipmentProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
