src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_serviceRestrictions_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_serviceRestrictions_version">
  <xsd:include schemaLocation="../netex_responsibility/netex_typeOfValue_version.xsd"/>
  <xsd:include schemaLocation="../netex_genericFramework/netex_organisation_support.xsd"/>
  <xsd:include schemaLocation="netex_serviceRestrictions_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="ClassOfUse" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ClassOfUse_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ClassOfUseGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ClassOfUseIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ClassOfUse_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ClassOfUseGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ClassOfUseGroup">
    <xsd:sequence>
      <xsd:element name="FareClass" type="FareClassEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== BOOKING ARRANGEMENT ===================================== -->
  <xsd:group name="BookingArrangementInFrameGroup">
    <xsd:sequence>
      <xsd:element name="bookingArrangements" type="bookingArrangementsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="serviceBookingArrangements" type="serviceBookingArrangementsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== BOOKING ARRANGEMENT ===================================== -->
  <xsd:complexType name="bookingArrangementsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="BookingArrangement" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="bookingArrangements_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="BookingArrangementRef"/>
          <xsd:element ref="BookingArrangement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BookingArrangement" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="BookingArrangement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="BookingArrangementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="BookingArrangementIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BookingArrangement_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="BookingArrangementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="BookingArrangementGroup">
    <xsd:sequence>
      <xsd:element name="BookingContact" type="ContactStructure" minOccurs="0"/>
      <xsd:element name="BookingMethods" type="BookingMethodListOfEnumerations" minOccurs="0"/>
      <xsd:element name="BookingAccess" type="BookingAccessEnumeration" minOccurs="0"/>
      <xsd:element name="BookWhen" type="PurchaseWhenEnumeration" minOccurs="0"/>
      <xsd:element name="BuyWhen" type="PurchaseMomentListOfEnumerations" minOccurs="0"/>
      <xsd:element name="LatestBookingTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="MinimumBookingPeriod" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="MaximumBookingPeriod" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="BookingUrl" type="InfoLinkStructure" minOccurs="0"/>
      <xsd:element name="BookingNote" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- =Deprecated structures for BookingArrangements (for backward compatibility only)========== -->
  <xsd:complexType name="BookingArrangementsStructure">
    <xsd:sequence>
      <xsd:group ref="DeprecatedBookingArrangementGroup"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="DeprecatedBookingArrangementGroup">
    <xsd:sequence>
      <xsd:element name="BookingContact" type="ContactStructure" minOccurs="0"/>
      <xsd:element name="BookingMethods" type="BookingMethodListOfEnumerations" minOccurs="0"/>
      <xsd:element name="BookingAccess" type="BookingAccessEnumeration" minOccurs="0"/>
      <xsd:element name="BookWhen" type="PurchaseWhenEnumeration" minOccurs="0"/>
      <xsd:element name="BuyWhen" type="PurchaseMomentListOfEnumerations" minOccurs="0"/>
      <xsd:element name="LatestBookingTime" type="xsd:time" minOccurs="0"/>
      <xsd:element name="MinimumBookingPeriod" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="MaximumBookingPeriod" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="BookingUrl" type="InfoLinkStructure" minOccurs="0"/>
      <xsd:element name="BookingNote" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== BOOKING ARRANGEMENT ===================================== -->
  <xsd:complexType name="serviceBookingArrangementsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ServiceBookingArrangement" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="serviceBookingArrangements_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ServiceBookingArrangementRef"/>
          <xsd:element ref="ServiceBookingArrangement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ServiceBookingArrangement" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceBookingArrangement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="BookingArrangementGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceBookingArrangementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="BookingArrangementIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceBookingArrangement_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="BookingArrangement_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceBookingArrangementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceBookingArrangementGroup">
    <xsd:sequence>
      <xsd:element name="MinimumBookingDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="MaximumBookingDuration" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="DepositRequired" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="BookingChargeType" type="BookingChargeTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfPaymentMethod" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfPaymentMethod_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfPaymentMethodGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfPaymentMethodIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfPaymentMethod_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TypeOfPaymentMethodGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfPaymentMethodGroup">
    <xsd:sequence>
      <xsd:element name="PaymentMethod" type="PaymentMethodEnumeration" minOccurs="0"/>
      <xsd:element name="AutomatedUse" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="typesOfServiceInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfService" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfService" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfServiceStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfServiceStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfProductCategory" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfProductCategoryStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfProductCategoryGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfProductCategoryIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfProductCategoryStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TypeOfProductCategoryGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfProductCategoryGroup">
    <xsd:sequence>
      <xsd:element name="ExternalProductCategoryRef" type="ExternalObjectRefStructure" minOccurs="0"/>
      <xsd:element name="Presentation" type="PresentationStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
