src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_trainElement_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_trainElement_support">
  <xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======= TRAIN ======================================================== -->
  <xsd:simpleType name="TrainIdType">
    <xsd:restriction base="VehicleTypeIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainRef" type="TrainRefStructure" substitutionGroup="VehicleTypeRef"/>
  <xsd:complexType name="TrainRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleTypeRefStructure">
        <xsd:attribute name="ref" type="TrainIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainRefStructureType" default="Train"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======= COMPOUND TRAIN   ================================================= -->
  <xsd:simpleType name="CompoundTrainIdType">
    <xsd:restriction base="VehicleTypeIdType"/>
  </xsd:simpleType>
  <xsd:element name="CompoundTrainRef" substitutionGroup="VehicleTypeRef">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="CompoundTrainRefStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CompoundTrainRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleTypeRefStructure">
        <xsd:attribute name="ref" type="CompoundTrainIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCompoundTrainRefStructureType" default="CompoundTrain"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== TRAIN IN COMPOUND TRAIN ======================================= -->
  <xsd:simpleType name="TrainInCompoundTrainIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainInCompoundTrainRef" type="TrainInCompoundTrainRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TrainInCompoundTrainRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="TrainInCompoundTrainIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainInCompoundTrainRefStructureType" default="TrainInCompoundTrain"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== TRAIN ELEMENT  =================================================== -->
  <xsd:simpleType name="TrainElementTypeIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainElementTypeRef" type="TrainElementTypeRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:element name="TrainElementRef" type="TrainElementTypeRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TrainElementTypeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="TrainElementTypeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainElementTypeRefStructureType" default="TrainElementType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TrainElementTypeTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="buffetCar"/>
      <xsd:enumeration value="carriage"/>
      <xsd:enumeration value="engine"/>
      <xsd:enumeration value="carTransporter"/>
      <xsd:enumeration value="largeVehicleTransporter"/>
      <xsd:enumeration value="sleeperCarriage"/>
      <xsd:enumeration value="luggageVan"/>
      <xsd:enumeration value="restaurantCarriage"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ====== TRAIN COMPONENT ============================================= -->
  <xsd:simpleType name="TrainComponentIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="TrainComponentRef" type="TrainComponentRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TrainComponentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OrderedVersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="TrainComponentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTrainComponentRefStructureType" default="TrainComponent"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ThroughAccessEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="noThroughAccess"/>
      <xsd:enumeration value="openEntrance"/>
      <xsd:enumeration value="door"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TrainSizeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="normal"/>
      <xsd:enumeration value="short"/>
      <xsd:enumeration value="long"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
