src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_serviceCalendar_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_serviceCalendar_support">
  <xsd:include schemaLocation="../netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ====Calendar====================================================== -->
  <xsd:simpleType name="ServiceCalendarIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceCalendarRef" type="ServiceCalendarRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="ServiceCalendarRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="ServiceCalendarIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceCalendarRefStructureType" default="ServiceCalendar"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="OperatingDayIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="OperatingDayRef" type="OperatingDayRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OperatingDayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OperatingDayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOperatingDayRefStructureType" default="OperatingDay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="OperatingPeriodIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="OperatingPeriodRef" type="OperatingPeriodRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OperatingPeriodRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="UicOperatingPeriodIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOperatingPeriodRefStructureType" default="OperatingPeriod"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="UicOperatingPeriodIdType">
    <xsd:restriction base="OperatingPeriodIdType"/>
  </xsd:simpleType>
  <xsd:element name="UicOperatingPeriodRef" type="OperatingPeriodRefStructure" substitutionGroup="OperatingPeriodRef"/>
  <xsd:complexType name="UicOperatingPeriodRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OperatingPeriodRefStructure">
        <xsd:attribute name="ref" type="UicOperatingPeriodIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOperatingPeriodRefStructureType" use="optional" default="UicOperatingPeriod"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="DayTypeAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="DayTypeAssignmentRef" type="DayTypeAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="DayTypeAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="DayTypeAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDayTypeAssignmentRefStructureType" default="DayTypeAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
