src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_equipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_equipment_support">
  <xsd:include schemaLocation="../netex_genericFramework/netex_place_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="EquipmentIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="EquipmentRef" type="EquipmentRefStructure"/>
  <xsd:complexType name="EquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="EquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEquipmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="InstalledEquipmentRef" type="InstalledEquipmentRefStructure" abstract="true" substitutionGroup="EquipmentRef"/>
  <xsd:complexType name="InstalledEquipmentRefStructure" abstract="true">
    <xsd:simpleContent>
      <xsd:restriction base="EquipmentRefStructure">
        <xsd:attribute name="ref" type="InstalledEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassInstalledEquipmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="InstalledEquipmentIdType">
    <xsd:restriction base="EquipmentIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TypeOfEquipmentIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfEquipmentRef" type="TypeOfEquipmentRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfEquipmentRefStructureType" default="TypeOfEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--=============================================================================-->
  <xsd:simpleType name="EquipmentPositionIdType">
    <xsd:restriction base="PlaceIdType"/>
  </xsd:simpleType>
  <xsd:element name="EquipmentPositionRef" type="EquipmentPositionRefStructure" substitutionGroup="PlaceRef_Dummy"/>
  <xsd:complexType name="EquipmentPositionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PlaceRefStructure">
        <xsd:attribute name="ref" type="EquipmentPositionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEquipmentPositionRefStructureType" default="EquipmentPosition"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--=============================================================================-->
  <xsd:simpleType name="EquipmentPlaceIdType">
    <xsd:restriction base="PlaceIdType"/>
  </xsd:simpleType>
  <xsd:element name="EquipmentPlaceRef" type="EquipmentPlaceRefStructure" substitutionGroup="PlaceRef_Dummy"/>
  <xsd:complexType name="EquipmentPlaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PlaceRefStructure">
        <xsd:attribute name="ref" type="EquipmentPlaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEquipmentPlaceRefStructureType" default="EquipmentPlace"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PassengerEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerEquipmentRef" type="InstalledEquipmentRefStructure" substitutionGroup="InstalledEquipmentRef"/>
  <xsd:complexType name="PassengerEquipmentRefStructure" abstract="true">
    <xsd:simpleContent>
      <xsd:restriction base="InstalledEquipmentRefStructure">
        <xsd:attribute name="ref" type="PassengerEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerEquipmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="PlaceEquipmentRef" type="PlaceEquipmentRefStructure" abstract="true" substitutionGroup="InstalledEquipmentRef"/>
  <xsd:complexType name="PlaceEquipmentRefStructure" abstract="true">
    <xsd:simpleContent>
      <xsd:restriction base="InstalledEquipmentRefStructure">
        <xsd:attribute name="ref" type="PlaceEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPlaceEquipmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PlaceEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="EquipmentStatusEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="available"/>
      <xsd:enumeration value="notAvailable"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="OtherPlaceEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
</xsd:schema>
