src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_schematicMap_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_schematicMap_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
  <!-- ======================================================================= -->
  <!-- ====Time zone======================================================= -->
  <xsd:simpleType name="SchematicMapIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SchematicMapRef" type="SchematicMapRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SchematicMapRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SchematicMapIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSchematicMapRefStructureType" default="SchematicMap"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="SchematicMapMemberIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SchematicMapMemberRef" type="SchematicMapMemberRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SchematicMapMemberRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SchematicMapMemberIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--=============================================================================-->
  <xsd:simpleType name="GraphicsUnitsTypeType">
    <xsd:restriction base="xsd:float"/>
  </xsd:simpleType>
  <!--=============================================================================-->
</xsd:schema>
