src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_equipmentVehiclePassenger_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_equipmentVehiclePassenger_version">
  <xsd:include schemaLocation="../../netex_framework/netex_utility/netex_units.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
  <xsd:include schemaLocation="../netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
  <xsd:include schemaLocation="netex_equipmentVehiclePassenger_support.xsd"/>
  <xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
  <xsd:group name="VehicleEquipmentChoice">
    <xsd:choice>
      <xsd:element ref="AccessVehicleEquipment"/>
      <xsd:element ref="WheelchairVehicleEquipment"/>
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="vehicleEquipments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="AccessVehicleEquipment"/>
          <xsd:element ref="WheelchairVehicleEquipment"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====ACCESS=================================================================== -->
  <xsd:complexType name="actualVehicleEquipments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ActualVehicleEquipment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActualVehicleEquipment" type="ActualVehicleEquipment_VersionStructure" substitutionGroup="PassengerEquipment"/>
  <xsd:complexType name="ActualVehicleEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PassengerEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ActualVehicleEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
    <!-- changed -->
  </xsd:complexType>
  <xsd:group name="ActualVehicleEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="Units" type="xsd:integer" minOccurs="0"/>
      <xsd:element ref="VehicleTypeRef" minOccurs="0"/>
      <xsd:element ref="EquipmentRef" minOccurs="0"/>
      <xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="AccessVehicleEquipment" substitutionGroup="PassengerEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AccessVehicleEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="Fixed" type="xsd:boolean" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ActualVehicleEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessVehicleEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AccessVehicleEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccessVehicleEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="ActualVehicleEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AccessVehicleEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AccessVehicleEquipmentGroup">
    <xsd:sequence>
      <xsd:group ref="AccessVehicleEquipmentBoardingGroup"/>
      <xsd:group ref="AccessVehicleEquipmentDoorGroup"/>
      <xsd:group ref="AccessVehicleEquipmentAdditionalGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AccessVehicleEquipmentBoardingGroup">
    <xsd:sequence>
      <xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="HighFloor" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Hoist" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="HoistOperatingRadius" type="LengthType" minOccurs="0"/>
      <xsd:element name="Ramp" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="BearingCapacity" type="WeightType" minOccurs="0"/>
      <xsd:element name="NumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="BoardingHeight" type="LengthType" minOccurs="0"/>
      <xsd:element name="EquipmentLength" type="LengthType" minOccurs="0"/>
      <xsd:element name="EquipmentWidth" type="LengthType" minOccurs="0"/>
      <xsd:element name="GapToPlatform" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AccessVehicleEquipmentDoorGroup">
    <xsd:sequence>
      <xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0"/>
      <xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0"/>
      <xsd:element name="AutomaticDoors" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AccessVehicleEquipmentAdditionalGroup">
    <xsd:sequence>
      <xsd:element name="SuitableFor" type="MobilityList" minOccurs="0"/>
      <xsd:element name="AssistanceNeeded" type="AssistanceNeededEnumeration" minOccurs="0"/>
      <xsd:element name="AssistedBoardingLocation" type="AssistedBoardingLocationEnumeration" minOccurs="0"/>
      <xsd:element name="GuideDogsAllowed" type="xsd:boolean" default="true" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="WheelchairVehicleEquipment" substitutionGroup="PassengerEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="WheelchairVehicleEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="Fixed" type="xsd:boolean" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ActualVehicleEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="WheelchairVehicleEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="WheelchairVehicleEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="WheelchairVehicleEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="ActualVehicleEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="WheelchairVehicleEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="WheelchairVehicleEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="HasWheelchairSpaces" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="NumberOfWheelchairAreas" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0"/>
      <xsd:element name="LengthOfAccessArea" type="LengthType" minOccurs="0"/>
      <xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0"/>
      <xsd:element name="WheelchairTurningCircle" type="LengthType" minOccurs="0"/>
      <xsd:element name="CompanionSeat" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="suitableFor" type="typeOfWheelchairRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- =========TYPE OF DECK ENTRANCE. ============================================ -->
  <xsd:element name="TypeOfWheelchair" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfWheelchair_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfWheelchairIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfWheelchair_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
