src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_transportOrganisation_version">
  <xsd:include schemaLocation="../netex_genericFramework/netex_organisation_support.xsd"/>
  <xsd:element name="AllTransportOrganisationsRef" type="AllTransportOrganisationsRefStructure" substitutionGroup="AllOrganisationsRef"/>
  <xsd:complexType name="AllTransportOrganisationsRefStructure">
    <xsd:simpleContent>
      <xsd:extension base="AllOrganisationsRefStructure"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:group name="OneOrAllTransportOrganisationsRefGroup">
    <xsd:choice>
      <xsd:element ref="AllTransportOrganisationsRef"/>
      <xsd:element ref="TransportOrganisationRef"/>
    </xsd:choice>
  </xsd:group>
  <!-- ==== TRANSPORT ORGANISATION ========================================== -->
  <xsd:complexType name="transportOrganisationRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TransportOrganisationRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TransportOrganisationRef" type="TransportOrganisationRefStructure" abstract="true" substitutionGroup="OrganisationRef_Dummy"/>
  <xsd:simpleType name="TransportOrganisationIdType">
    <xsd:restriction base="OrganisationIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="TransportOrganisationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OrganisationRefStructure">
        <xsd:attribute name="ref" type="TransportOrganisationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTransportOrganisationRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  OPERATOR ======================================================= -->
  <xsd:element name="AllPublicTransportOrganisationsRef" type="AllPublicTransportOrganisationsRefStructure" substitutionGroup="AllTransportOrganisationsRef"/>
  <xsd:complexType name="AllPublicTransportOrganisationsRefStructure">
    <xsd:simpleContent>
      <xsd:extension base="AllTransportOrganisationsRefStructure"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="OperatorIdType">
    <xsd:restriction base="TransportOrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="OperatorRef" type="OperatorRefStructure" substitutionGroup="TransportOrganisationRef"/>
  <xsd:complexType name="OperatorRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TransportOrganisationRefStructure">
        <xsd:attribute name="ref" type="OperatorIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOperatorRefStructureType" default="Operator"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="AllOperatorsRef" type="AllOperatorsRefStructure" substitutionGroup="AllPublicTransportOrganisationsRef"/>
  <xsd:complexType name="AllOperatorsRefStructure">
    <xsd:simpleContent>
      <xsd:extension base="AllAuthoritiesRefStructure"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:group name="OneOrAllOperatorsRefGroup">
    <xsd:choice>
      <xsd:element ref="AllOperatorsRef"/>
      <xsd:element ref="OperatorRef"/>
    </xsd:choice>
  </xsd:group>
  <!-- ===== AUTHORITY ========================================================= -->
  <xsd:simpleType name="AuthorityIdType">
    <xsd:restriction base="TransportOrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="AuthorityRef" substitutionGroup="TransportOrganisationRef">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:restriction base="AuthorityRefStructure">
          <xsd:attribute name="nameOfRefClass" type="NameOfClassAuthorityRefStructureType" use="optional" default="Authority"/>
          <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
          <xsd:attribute name="ref" type="AuthorityIdType" use="required"/>
          <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
          <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
          <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
        </xsd:restriction>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AuthorityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TransportOrganisationRefStructure">
        <xsd:attribute name="ref" type="AuthorityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAuthorityRefStructureType" default="Authority"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="AllAuthoritiesRef" type="AllAuthoritiesRefStructure" substitutionGroup="AllPublicTransportOrganisationsRef"/>
  <xsd:complexType name="AllAuthoritiesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AllPublicTransportOrganisationsRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:group name="OneOrAllAuthoritiesRefGroup">
    <xsd:choice>
      <xsd:element ref="AllAuthoritiesRef"/>
      <xsd:element ref="AuthorityRef"/>
    </xsd:choice>
  </xsd:group>
  <!-- ==GROUP OF OPERATORss============================================================ -->
  <xsd:complexType name="groupsOfOperatorsRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfOperatorsRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="GroupOfOperatorsIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfOperatorsRef" type="GroupOfOperatorsRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfOperatorsRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfOperatorsIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfOperatorsRefStructureType" default="GroupOfOperators"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== OPERATIONAL CONTEX ======================================================= -->
  <xsd:simpleType name="OperationalContextIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="OperationalContextRef" type="OperationalContextRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OperationalContextRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OperationalContextIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOperationalContextRefStructureType" default="OperationalContext"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="operationalContexRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="OperationalContextRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==== OPERATING DEPARTMENT======================================================= -->
  <xsd:simpleType name="OperatingDepartmentIdType">
    <xsd:restriction base="DepartmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="OperatingDepartmentRef" type="OperatingDepartmentRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OperatingDepartmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="DepartmentRefStructure">
        <xsd:attribute name="ref" type="OperatingDepartmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOperatingDepartmentRefStructureType" default="OperatingDepartment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== CONTROL CENTRE ================================================== -->
  <xsd:simpleType name="ControlCentreIdType">
    <xsd:restriction base="OrganisationPartIdType"/>
  </xsd:simpleType>
  <xsd:element name="ControlCentreRef" type="ControlCentreRefStructure" substitutionGroup="OrganisationPartRef"/>
  <xsd:complexType name="ControlCentreRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OrganisationPartRefStructure">
        <xsd:attribute name="ref" type="ControlCentreIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassControlCentreRefStructureType" default="ControlCentre"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== CONTROL CENTRE ================================================== -->
  <xsd:simpleType name="TransportAdministrativeZoneIdType">
    <xsd:restriction base="AdministrativeZoneIdType"/>
  </xsd:simpleType>
  <xsd:element name="TransportAdministrativeZoneRef" substitutionGroup="ZoneRef">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:extension base="TransportAdministrativeZoneRefStructure"/>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TransportAdministrativeZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AdministrativeZoneRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTransportAdministrativeZoneRefStructureType" default="TransportAdministrativeZone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== Activities================================================= -->
  <xsd:simpleType name="ListOfOperatorActivities">
    <xsd:list itemType="OperatorActivitiesEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="OperatorActivitiesEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="passenger"/>
      <xsd:enumeration value="freight"/>
      <xsd:enumeration value="infrastructure"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
