src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_seatingPlan_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_seatingPlan_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
  <!-- ==== SPOT ROW ==================================================== -->
  <xsd:complexType name="spotRowRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SpotRowRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SpotRowIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SpotRowRef" type="SpotRowRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SpotRowRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SpotRowIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSpotRowRefStructureType" default="SpotRow"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== SPOT COLUMN ================================================= -->
  <xsd:complexType name="spotColumnRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SpotColumnRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SpotColumnIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SpotColumnRef" type="SpotColumnRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SpotColumnRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SpotColumnIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSpotColumnRefStructureType" default="SpotColumn"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== LOCATABLE SPOT ======================================================== -->
  <xsd:simpleType name="OnboardSpaceIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="OnboardSpaceRef" type="OnboardSpaceRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OnboardSpaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OnboardSpaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOnboardSpaceRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== LOCATABLE SPOT ======================================================== -->
  <xsd:complexType name="locatableSpotRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="LocatableSpotRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LocatableSpotIdType">
    <xsd:restriction base="OnboardSpaceIdType"/>
  </xsd:simpleType>
  <xsd:element name="LocatableSpotRef" type="LocatableSpotRefStructure" abstract="true" substitutionGroup="OnboardSpaceRef"/>
  <xsd:complexType name="LocatableSpotRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OnboardSpaceRefStructure">
        <xsd:attribute name="ref" type="LocatableSpotIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLocatableSpotRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== LOCATABLE SPOT RANGE ======================================================== -->
  <xsd:group name="LocatableSpotRangeGroup">
    <xsd:sequence>
      <xsd:element name="StartSpot" type="LocatableSpotRangeRefStructure" minOccurs="0"/>
      <xsd:element name="EndSpot" type="LocatableSpotRangeRefStructure" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="LocatableSpotRangeRefStructure">
    <xsd:sequence>
      <xsd:element ref="LocatableSpotRef"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====== PASSENGER SPOT ======================================= -->
  <xsd:simpleType name="PassengerSpotIdType">
    <xsd:restriction base="LocatableSpotIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerSpotRef" type="PassengerSpotRefStructure" substitutionGroup="LocatableSpotRef"/>
  <xsd:complexType name="PassengerSpotRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LocatableSpotRefStructure">
        <xsd:attribute name="ref" type="PassengerSpotIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerSpotRefStructureType" default="PassengerSpot"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== PASSENGER VEHICLE SPOT ======================================= -->
  <xsd:simpleType name="PassengerVehicleSpotIdType">
    <xsd:restriction base="LocatableSpotIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerVehicleSpotRef" type="PassengerVehicleSpotRefStructure" substitutionGroup="LocatableSpotRef"/>
  <xsd:complexType name="PassengerVehicleSpotRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LocatableSpotRefStructure">
        <xsd:attribute name="ref" type="PassengerVehicleSpotIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerVehicleSpotRefStructureType" default="PassengerVehicleSpot"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== LOGGAGE SPOT ======================================= -->
  <xsd:simpleType name="LuggageSpotIdType">
    <xsd:restriction base="LocatableSpotIdType"/>
  </xsd:simpleType>
  <xsd:element name="LuggageSpotRef" type="LuggageSpotRefStructure" substitutionGroup="LocatableSpotRef"/>
  <xsd:complexType name="LuggageSpotRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LocatableSpotRefStructure">
        <xsd:attribute name="ref" type="LuggageSpotIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLuggageSpotRefStructureType" default="LuggageSpot"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--==== TYPE OF LOCATABLE SPOT =========================================================-->
  <xsd:simpleType name="TypeOfLocatableSpotIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfLocatableSpotRef" type="TypeOfLocatableSpotRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="TypeOfLocatableSpotRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfLocatableSpotIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfLocatableSpotRefStructureType" default="TypeOfLocatableSpot"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfLocatableSpotEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="seat"/>
      <xsd:enumeration value="bed"/>
      <xsd:enumeration value="standingSpace"/>
      <xsd:enumeration value="wheelchairSpace"/>
      <xsd:enumeration value="pushchairSpace"/>
      <xsd:enumeration value="luggageSpace"/>
      <xsd:enumeration value="bicycleSpace"/>
      <xsd:enumeration value="vehicleSpace"/>
      <xsd:enumeration value="specialSpace"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ComponentOrientationEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="forwards"/>
      <xsd:enumeration value="backwards"/>
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="leftwards"/>
      <xsd:enumeration value="rightwards"/>
      <xsd:enumeration value="angledLeft"/>
      <xsd:enumeration value="angledRight"/>
      <xsd:enumeration value="angledBackLeft"/>
      <xsd:enumeration value="angledBackRight"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TableTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="fixedFlat"/>
      <xsd:enumeration value="foldDownFlat"/>
      <xsd:enumeration value="seatBackFolding"/>
      <xsd:enumeration value="armRestFolding"/>
      <xsd:enumeration value="seatClipon"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
