src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_spotEquipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_spotEquipment_support">
  <xsd:include schemaLocation="netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== SPOT EQUIPMENT =========================================== -->
  <xsd:simpleType name="SpotEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="SpotEquipmentRef" type="SpotEquipmentRefStructure" substitutionGroup="EquipmentRef"/>
  <xsd:complexType name="SpotEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="InstalledEquipmentRefStructure">
        <xsd:attribute name="ref" type="SpotEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSpotEquipmentRefStructureType" default="SpotEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== SEAT EQUIPMENT =================================================== -->
  <xsd:simpleType name="SeatEquipmentIdType">
    <xsd:restriction base="SpotEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="SeatEquipmentRef" type="SeatEquipmentRefStructure" substitutionGroup="SpotEquipmentRef"/>
  <xsd:complexType name="SeatEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SpotEquipmentRefStructure">
        <xsd:attribute name="ref" type="SeatEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSeatEquipmentRefStructureType" default="SeatEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== BED EQUIPMENT =================================================== -->
  <xsd:simpleType name="BedEquipmentIdType">
    <xsd:restriction base="SpotEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="BedEquipmentRef" type="BedEquipmentRefStructure" substitutionGroup="SpotEquipmentRef"/>
  <xsd:complexType name="BedEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SpotEquipmentRefStructure">
        <xsd:attribute name="ref" type="BedEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassBedEquipmentRefStructureType" default="BedEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="BedTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="singleBed"/>
      <xsd:enumeration value="doubleBed"/>
      <xsd:enumeration value="bedForChild"/>
      <xsd:enumeration value="cot"/>
      <xsd:enumeration value="bottomBunk"/>
      <xsd:enumeration value="middleBunk"/>
      <xsd:enumeration value="topBunk"/>
      <xsd:enumeration value="hammock"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ===== LUGGAGE SPOT EQUIPMENT =================================================== -->
  <xsd:simpleType name="LuggageSpotEquipmentIdType">
    <xsd:restriction base="SpotEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="LuggageSpotEquipmentRef" type="LuggageSpotEquipmentRefStructure" substitutionGroup="SpotEquipmentRef"/>
  <xsd:complexType name="LuggageSpotEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SpotEquipmentRefStructure">
        <xsd:attribute name="ref" type="LuggageSpotEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLuggageSpotEquipmentRefStructureType" default="LuggageSpotEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LuggageSpotTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="rackAboveSeats"/>
      <xsd:enumeration value="spaceUnderSeat"/>
      <xsd:enumeration value="luggageBay"/>
      <xsd:enumeration value="luggageCompartment"/>
      <xsd:enumeration value="luggageVan"/>
      <xsd:enumeration value="cycleRack"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
