src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_sensorEquipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_sensorEquipment_support">
  <xsd:include schemaLocation="netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== SENSOR EQUIPMENT =========================================== -->
  <xsd:simpleType name="SensorEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="SensorEquipmentRef" type="SensorEquipmentRefStructure" substitutionGroup="EquipmentRef"/>
  <xsd:complexType name="SensorEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="InstalledEquipmentRefStructure">
        <xsd:attribute name="ref" type="SensorEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSensorEquipmentRefStructureType" default="SensorEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SensorCommunicationsEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="cable"/>
      <xsd:enumeration value="wifi"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ===== SPOT SENSOR =================================================== -->
  <xsd:simpleType name="SpotSensorIdType">
    <xsd:restriction base="SensorEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="SpotSensorRef" type="SpotSensorRefStructure" substitutionGroup="SensorEquipmentRef"/>
  <xsd:complexType name="SpotSensorRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SensorEquipmentRefStructure">
        <xsd:attribute name="ref" type="SpotSensorIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSpotSensorRefStructureType" default="SpotSensor"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== ENTRANCE SENSOR =================================================== -->
  <xsd:simpleType name="EntranceSensorIdType">
    <xsd:restriction base="SensorEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="EntranceSensorRef" type="EntranceSensorRefStructure" substitutionGroup="SensorEquipmentRef"/>
  <xsd:complexType name="EntranceSensorRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SensorEquipmentRefStructure">
        <xsd:attribute name="ref" type="EntranceSensorIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceSensorRefStructureType" default="EntranceSensor"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== SENSOR IN SPOT  =========================================== -->
  <xsd:simpleType name="SensorInSpotIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SensorInSpotRef" type="SensorInSpotRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SensorInSpotRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SensorInSpotIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSensorInSpotRefStructureType" default="SensorInSpot"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== SENSOR IN ENTRANCE  =========================================== -->
  <xsd:simpleType name="SensorInEntranceIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SensorInEntranceRef" type="SensorInEntranceRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SensorInEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SensorInEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSensorInEntranceRefStructureType" default="SensorInEntrance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
