src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_nm_equipmentEnergy_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_nm_equipmentEnergy_version">
  <xsd:include schemaLocation="../netex_utility/netex_units.xsd"/>
  <xsd:include schemaLocation="netex_nm_equipmentEnergy_support.xsd"/>
  <xsd:include schemaLocation="netex_equipment_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- === VEHICLE CHARGING EQUIPMENT ============================================ -->
  <xsd:element name="VehicleChargingEquipment" substitutionGroup="PlaceEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleChargingEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleChargingEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleChargingEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleChargingEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PlaceEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleChargingEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleChargingEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="FreeRecharging" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ReservationRequired" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ReservationUrl" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="PlugType" type="PlugTypeEnumeration" minOccurs="0"/>
      <xsd:element ref="TypeOfPlugRef" minOccurs="0"/>
      <xsd:element name="MaximumPower" type="WattageType" minOccurs="0"/>
      <xsd:element name="GridVoltage" type="VoltageType" minOccurs="0"/>
      <xsd:element name="CurrentType" type="CurrentTypeEnumeration" minOccurs="0"/>
      <xsd:element name="PowerCouplingType" type="PowerCouplingTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === VEHICLE REFUELLING EQUIPMENT ============================================ -->
  <xsd:element name="RefuellingEquipment" substitutionGroup="PlaceEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RefuellingEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RefuellingEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RefuellingEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RefuellingEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PlaceEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="RefuellingEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RefuellingEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="FuelTypes" type="FuelTypeListOfEnumerations" minOccurs="0"/>
      <xsd:element name="FuelType" type="FuelTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === BATTERY EQUIPMENT ============================================ -->
  <xsd:element name="BatteryEquipment" substitutionGroup="InstalledEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="BatteryEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="BatteryEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="BatteryEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BatteryEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PlaceEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="BatteryEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="BatteryEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="BatteryCapacity" type="WattHoursType" minOccurs="0"/>
      <xsd:element name="BatteryUsableCapacity" type="WattHoursType" minOccurs="0"/>
      <xsd:element name="NominalVoltage" type="VoltageType" minOccurs="0"/>
      <xsd:element name="MaximumChargingPower" type="WattageType" minOccurs="0"/>
      <xsd:element ref="TypeOfBatteryChemistryRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====TYPE OF BATTERY CHEMISTRY ======================================================== -->
  <xsd:element name="TypeOfBatteryChemistry" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfBatteryChemistry_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfBatteryChemistryIdType" use="required"/>
          <xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfBatteryChemistry_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====TYPE OF BATTERY CHEMISTRY ======================================================== -->
  <xsd:element name="TypeOfPlug" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfPlug_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfPlugIdType" use="required"/>
          <xsd:attribute name="nameOfClassifiedEntityClass" type="NameOfClass" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfPlug_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
