src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_nm_fleetEquipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_fleetEquipment_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_responsibility_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===== MODEL PROFILE ======================================================== -->
  <xsd:simpleType name="VehicleModelProfileIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleModelProfileRef" type="VehicleModelProfileRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleModelProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleModelProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleModelProfileRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== CAR VEHICLE PROFILE ======================================================== -->
  <xsd:simpleType name="CarModelProfileIdType">
    <xsd:restriction base="VehicleModelProfileIdType"/>
  </xsd:simpleType>
  <xsd:element name="CarModelProfileRef" type="CarModelProfileRefStructure" substitutionGroup="VehicleModelProfileRef"/>
  <xsd:complexType name="CarModelProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleModelProfileRefStructure">
        <xsd:attribute name="ref" type="CarModelProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCarModelProfileRefStructureType" default="CarModelProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== CAR VEHICLE PROFILE ======================================================== -->
  <xsd:simpleType name="CycleModelProfileIdType">
    <xsd:restriction base="VehicleModelProfileIdType"/>
  </xsd:simpleType>
  <xsd:element name="CycleModelProfileRef" type="CycleModelProfileRefStructure" substitutionGroup="VehicleModelProfileRef"/>
  <xsd:complexType name="CycleModelProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleModelProfileRefStructure">
        <xsd:attribute name="ref" type="CycleModelProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCycleModelProfileRefStructureType" default="CycleModelProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TransmissionEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="automatic"/>
      <xsd:enumeration value="automatic4WheelDrive"/>
      <xsd:enumeration value="manual"/>
      <xsd:enumeration value="manual4WheelDrive"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ChildSeatEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="baby"/>
      <xsd:enumeration value="smallChild"/>
      <xsd:enumeration value="olderChild"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
