src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_serviceCalendar_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_serviceCalendar_version">
  <xsd:include schemaLocation="netex_serviceCalendar_support.xsd"/>
  <xsd:include schemaLocation="netex_dayType_version.xsd"/>
  <xsd:include schemaLocation="../netex_genericFramework/netex_assignment_version.xsd"/>
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="ServiceCalendarFrameGroup">
    <xsd:sequence>
      <xsd:element ref="ServiceCalendar" minOccurs="0"/>
      <xsd:element name="dayTypes" type="dayTypesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="timebands" type="timebandsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="groupOfTimebands" type="groupOfTimebandsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="operatingDays" type="operatingDaysInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="operatingPeriods" type="operatingPeriodsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="dayTypeAssignments" type="dayTypeAssignmentsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="operatingDaysInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="OperatingDay" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="operatingPeriodsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="OperatingPeriod"/>
          <xsd:element ref="UicOperatingPeriod"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="dayTypeAssignmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="DayTypeAssignment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="ServiceCalendar" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceCalendar_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceCalendarGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceCalendarIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceCalendar_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceCalendarGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceCalendarGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="FromDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="ToDate" type="xsd:date" minOccurs="0"/>
      <xsd:group ref="DayTimesGroup"/>
      <xsd:group ref="ServiceCalendarContentGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceCalendarContentGroup">
    <xsd:sequence>
      <xsd:element name="dayTypes" type="dayTypes_RelStructure" minOccurs="0"/>
      <xsd:element name="timebands" type="timebands_RelStructure" minOccurs="0"/>
      <xsd:element name="operatingDays" type="operatingDays_RelStructure" minOccurs="0"/>
      <xsd:element name="operatingPeriods" type="operatingPeriods_RelStructure" minOccurs="0"/>
      <xsd:element name="dayTypeAssignments" type="dayTypeAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DayTimesGroup">
    <xsd:sequence>
      <xsd:element name="EarliestTime" type="xsd:time" default="00:00:00" minOccurs="0"/>
      <xsd:element name="DayLength" type="xsd:duration" default="PT24H" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <!-- ==== OPERATING PERIOD ================================================== -->
  <xsd:complexType name="operatingDays_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="OperatingDayRef"/>
          <xsd:element ref="OperatingDay"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OperatingDay" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OperatingDay_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OperatingDayGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OperatingDayIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OperatingDay_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="OperatingDayGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="OperatingDayView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="OperatingDay_DerivedViewStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OperatingDay_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:group ref="OperatingDayGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OperatingDayGroup">
    <xsd:sequence>
      <xsd:element name="CalendarDate" type="xsd:date"/>
      <xsd:element ref="ServiceCalendarRef" minOccurs="0"/>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="DayNumber" type="xsd:integer" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:group ref="DaySpanGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====OPERATING PERIOD================================== -->
  <xsd:complexType name="operatingPeriods_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="OperatingPeriodRef"/>
          <xsd:element ref="OperatingPeriod" maxOccurs="1"/>
          <xsd:element ref="UicOperatingPeriod"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OperatingPeriod_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:element name="OperatingPeriod" substitutionGroup="OperatingPeriod_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OperatingPeriod_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OperatingPeriodGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OperatingPeriodIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OperatingPeriod_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="OperatingPeriodGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OperatingPeriodGroup">
    <xsd:sequence>
      <xsd:element ref="ServiceCalendarRef" minOccurs="0"/>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="FromOperatingDayRef" type="OperatingDayRefStructure"/>
        <xsd:element name="FromDate" type="xsd:dateTime"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element name="ToOperatingDayRef" type="OperatingDayRefStructure"/>
        <xsd:element name="ToDate" type="xsd:dateTime"/>
      </xsd:choice>
      <xsd:element name="HolidayType" type="HolidayTypeEnumeration" default="AnyDay" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Season" type="SeasonEnumeration" default="Perennially" minOccurs="0" maxOccurs="5"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="UicOperatingPeriod" substitutionGroup="OperatingPeriod_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="UicOperatingPeriod_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OperatingPeriodGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UicOperatingPeriodGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="UicOperatingPeriodIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="UicOperatingPeriod_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="OperatingPeriod_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="UicOperatingPeriodGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="UicOperatingPeriodGroup">
    <xsd:sequence>
      <xsd:element name="ValidDayBits" type="xsd:normalizedString"/>
      <xsd:element name="DaysOfWeek" type="DaysOfWeekListOfEnumerations" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====DAY TYPE ASSIGNMENT============================= -->
  <xsd:complexType name="dayTypeAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="DayTypeAssignment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DayTypeAssignment" substitutionGroup="Assignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DayTypeAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DayTypeAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DayTypeAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DayTypeAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DayTypeAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DayTypeAssignmentGroup">
    <xsd:sequence>
      <xsd:element ref="ServiceCalendarRef" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="OperatingPeriodRef"/>
        <xsd:element ref="OperatingDayRef"/>
        <xsd:element name="Date" type="xsd:date"/>
      </xsd:choice>
      <xsd:element ref="DayTypeRef"/>
      <xsd:element ref="TimebandRef" minOccurs="0" maxOccurs="5"/>
      <xsd:element name="isAvailable" type="xsd:boolean" default="true" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
