src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_otherOrganisation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_otherOrganisation_support">
  <xsd:include schemaLocation="../netex_genericFramework/netex_organisation_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="OtherOrganisationIdType">
    <xsd:restriction base="OrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="OtherOrganisationRef" type="OtherOrganisationRefStructure" substitutionGroup="OrganisationRef_Dummy"/>
  <xsd:complexType name="OtherOrganisationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OrganisationRefStructure">
        <xsd:attribute name="ref" type="OtherOrganisationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOtherOrganisationRefStructureType" default="OtherOrganisation"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TravelAgentIdType">
    <xsd:restriction base="OtherOrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="TravelAgentRef" type="TravelAgentRefStructure" substitutionGroup="OtherOrganisationRef"/>
  <xsd:complexType name="TravelAgentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OtherOrganisationRefStructure">
        <xsd:attribute name="ref" type="TravelAgentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTravelAgentRefStructureType" default="TravelAgent"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ServicedOrganisationTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="school"/>
      <xsd:enumeration value="college"/>
      <xsd:enumeration value="university"/>
      <xsd:enumeration value="militaryBase"/>
      <xsd:enumeration value="works"/>
      <xsd:enumeration value="retaiilCentre"/>
      <xsd:enumeration value="hospital"/>
      <xsd:enumeration value="governmentOffice"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ServicedOrganisationIdType">
    <xsd:restriction base="OtherOrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServicedOrganisationRef" type="ServicedOrganisationRefStructure" substitutionGroup="OtherOrganisationRef"/>
  <xsd:complexType name="ServicedOrganisationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OtherOrganisationRefStructure">
        <xsd:attribute name="ref" type="ServicedOrganisationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServicedOrganisationRefStructureType" default="ServicedOrganisation"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ManagementAgentIdType">
    <xsd:restriction base="OtherOrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="ManagementAgentRef" type="ManagementAgentRefStructure" substitutionGroup="OtherOrganisationRef"/>
  <xsd:complexType name="ManagementAgentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OtherOrganisationRefStructure">
        <xsd:attribute name="ref" type="ManagementAgentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassManagementAgentRefStructureType" default="ManagementAgent"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GeneralOrganisationIdType">
    <xsd:restriction base="OtherOrganisationIdType"/>
  </xsd:simpleType>
  <xsd:element name="GeneralOrganisationRef" type="GeneralOrganisationRefStructure" substitutionGroup="OtherOrganisationRef"/>
  <xsd:complexType name="GeneralOrganisationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OtherOrganisationRefStructure">
        <xsd:attribute name="ref" type="GeneralOrganisationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGeneralOrganisationRefStructureType" default="GeneralOrganisation"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
