src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_access_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_access_version">
  <xsd:include schemaLocation="../netex_genericFramework/netex_place_version.xsd"/>
  <xsd:include schemaLocation="netex_mode_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="accessesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Access" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="accesses_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="AccessRef"/>
          <xsd:element ref="Access"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Access" substitutionGroup="Transfer">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Access_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransferGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AccessIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Access_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Transfer_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AccessGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AccessGroup">
    <xsd:sequence>
      <xsd:element name="From" type="AccessEndStructure"/>
      <xsd:element name="To" type="AccessEndStructure"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="AccessEndStructure">
    <xsd:sequence>
      <xsd:element name="TransportMode" type="AllModesEnumeration" default="all" minOccurs="0"/>
      <xsd:element name="PlaceRef" type="PlaceRefStructure" minOccurs="0"/>
      <xsd:element name="PointRef" type="PointRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
