src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_trainElement_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_trainElement_version">
  <xsd:include schemaLocation="netex_vehicleType_version.xsd"/>
  <xsd:include schemaLocation="netex_trainElement_support.xsd"/>
  <xsd:include schemaLocation="netex_deckPlan_support.xsd"/>
  <xsd:include schemaLocation="netex_nm_chargingEquipmentProfile_version.xsd"/>
  <xsd:include schemaLocation="netex_nm_fleetEquipment_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="ServiceRequirementTypeGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="PassengerCarryingRequirementRef"/>
        <xsd:element ref="PassengerCarryingRequirementsView"/>
      </xsd:choice>
      <xsd:element ref="TrainSize" minOccurs="0"/>
      <xsd:element name="equipments" type="vehicleEquipments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)======================= -->
  <xsd:group name="VehicleTypeInFrameGroup">
    <xsd:sequence>
      <xsd:element name="vehicleTypes" type="vehicleTypesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="vehicleTypesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice minOccurs="0">
          <xsd:element ref="TransportType_Dummy" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleTypeProfileInFrameGroup">
    <xsd:sequence>
      <xsd:element name="vehicleTypes" type="vehicleTypesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleModels" type="vehicleModelsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleEquipmentProfiles" type="vehicleEquipmentProfilesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleModelProfiles" type="vehicleModelProfilesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="vehicleEquipmentProfilesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="VehicleEquipmentProfile"/>
          <xsd:element ref="RechargingEquipmentProfile"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- =======TRAIN ======================================================= -->
  <xsd:element name="Train_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="TransportType_Dummy"/>
  <xsd:element name="Train" substitutionGroup="Train_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Train_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransportTypeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleTypeGroup"/>
            </xsd:sequence>
            <xsd:group ref="TrainGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Train_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleType_VersionStructure">
        <xsd:group ref="TrainGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainGroup">
    <xsd:sequence>
      <xsd:element ref="TrainSize" minOccurs="0"/>
      <xsd:element name="components" type="trainComponents_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== TRAIN SIZE ====================================================== -->
  <xsd:element name="TrainSize" type="TrainSizeStructure"/>
  <xsd:complexType name="TrainSizeStructure">
    <xsd:sequence>
      <xsd:element name="NumberOfCars" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="TrainSizeType" type="TrainSizeEnumeration" default="normal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====== COMPOUND TRAIN ==================================================== -->
  <xsd:element name="CompoundTrain" substitutionGroup="TransportType_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CompoundTrain_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransportTypeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleTypeGroup"/>
            </xsd:sequence>
            <xsd:group ref="CompoundTrainGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="CompoundTrainIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CompoundTrain_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleType_VersionStructure">
        <xsd:group ref="CompoundTrainGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CompoundTrainGroup">
    <xsd:sequence>
      <xsd:element name="components" type="trainsInCompoundTrain_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== TRAIN ELEMENT =================================================== -->
  <xsd:element name="TrainElementType_Dummy" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DataManagedObjectStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainElementTypeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TrainElement" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrainElementType_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TrainElementTypeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainElementTypeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrainElementType_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="TrainElementTypeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainElementTypeGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="TrainElementType" type="TrainElementTypeTypeEnumeration" minOccurs="0"/>
      <xsd:element ref="FareClasses" minOccurs="0"/>
      <xsd:element name="PassengerCapacity" type="PassengerCapacityStructure" minOccurs="0"/>
      <xsd:group ref="VehicleTypePropertiesGroup"/>
      <xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0"/>
      <xsd:element name="equipments" type="equipments_RelStructure" minOccurs="0"/>
      <xsd:element ref="DeckPlanRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TrainDimensionsGroup">
    <xsd:sequence>
      <xsd:element name="Length" type="LengthType" minOccurs="0"/>
      <xsd:element name="Width" type="LengthType" minOccurs="0"/>
      <xsd:element name="Height" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:group name="TrainElementTypeViewGroup">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ref="TrainElementTypeRef"/>
        <xsd:element ref="TrainElementRef" minOccurs="0"/>
      </xsd:choice>
      <xsd:element ref="FareClasses" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="TrainElementTypeType" type="TrainElementTypeTypeEnumeration" minOccurs="0"/>
        <xsd:element name="TrainElementType" type="TrainElementTypeTypeEnumeration" minOccurs="0"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== TRAIN COMPONENTs================================================= -->
  <xsd:complexType name="trainComponents_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="TrainComponentRef"/>
          <xsd:element ref="TrainComponent"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TrainComponent" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrainComponent_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:group ref="TrainComponentGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrainComponentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrainComponent_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:group ref="TrainComponentGroup"/>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainComponentGroup">
    <xsd:sequence>
      <xsd:element name="Label" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="TrainRef" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="TrainElementTypeRef"/>
        <xsd:element ref="TrainElementRef"/>
        <xsd:element ref="TrainElement"/>
      </xsd:choice>
      <xsd:element name="OperationalOrientation" type="VehicleOrientationEnumeration" default="forwards" minOccurs="0"/>
      <xsd:element name="ForwardCoupling" type="TrainComponentCouplingStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="TrainComponentCouplingStructure">
    <xsd:sequence>
      <xsd:element name="Splittable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ThroughAccess" type="ThroughAccessEnumeration"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ======= TRAIN IN COMPOUND TRAIN ========================================== -->
  <xsd:complexType name="trainsInCompoundTrain_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element name="TrainInCompoundTrain" type="TrainInCompoundTrain_VersionedChildStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TrainInCompoundTrain_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:group ref="TrainInCompoundTrainGroup"/>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainInCompoundTrainGroup">
    <xsd:sequence>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="CompoundTrainRef" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="TrainRef"/>
        <xsd:element ref="Train_Dummy"/>
        <xsd:element ref="TrainElementType_Dummy"/>
      </xsd:choice>
      <xsd:element name="Label" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="OperationalOrientation" type="VehicleOrientationEnumeration" default="forwards" minOccurs="0"/>
      <xsd:element name="ReversedOrientation" type="xsd:boolean" default="false" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TrainComponentView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="TrainComponent_DerivedViewStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrainComponent_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:group ref="TrainComponentViewGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrainComponentViewGroup">
    <xsd:sequence>
      <xsd:element ref="TrainComponentRef" minOccurs="0"/>
      <xsd:element name="Label" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:group ref="TrainElementTypeViewGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
