src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_vehicleType_support">
  <xsd:include schemaLocation="netex_equipment_support.xsd"/>
  <!-- =====VEHICLE TYPE types=========================================== -->
  <!-- ==== VEHICLE TYPE ==================================================== -->
  <xsd:complexType name="transportTypeRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TransportTypeRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TransportTypeIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="TransportTypeRef" type="TransportTypeRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TransportTypeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="TransportTypeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTransportTypeRefStructureType" default="TransportType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== VEHICLE TYPE ==================================================== -->
  <xsd:complexType name="vehicleTypeRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleTypeRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleTypeIdType">
    <xsd:restriction base="TransportTypeIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleTypeRef" type="VehicleTypeRefStructure" substitutionGroup="TransportTypeRef"/>
  <xsd:complexType name="VehicleTypeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TransportTypeRefStructure">
        <xsd:attribute name="ref" type="VehicleTypeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleTypeRefStructureType" default="VehicleType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== VEHICLE TYPE ==================================================== -->
  <xsd:complexType name="simpleVehicleTypeRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SimpleVehicleTypeRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SimpleVehicleTypeIdType">
    <xsd:restriction base="TransportTypeIdType"/>
  </xsd:simpleType>
  <xsd:element name="SimpleVehicleTypeRef" type="SimpleVehicleTypeRefStructure" substitutionGroup="TransportTypeRef"/>
  <xsd:complexType name="SimpleVehicleTypeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TransportTypeRefStructure">
        <xsd:attribute name="ref" type="VehicleTypeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSimpleVehicleTypeRefStructureType" default="SimpleVehicleType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== VEHICLE REQUIREMENT ======================================================== -->
  <xsd:simpleType name="VehicleRequirementIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleRequirementRef" type="VehicleRequirementRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleRequirementRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleRequirementIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleRequirementRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== PASSENGER CARRYING REQUIREMENT ======================================= -->
  <xsd:simpleType name="PassengerCarryingRequirementIdType">
    <xsd:restriction base="VehicleRequirementIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerCarryingRequirementRef" type="PassengerCarryingRequirementRefStructure" substitutionGroup="VehicleRequirementRef"/>
  <xsd:complexType name="PassengerCarryingRequirementRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleRequirementRefStructure">
        <xsd:attribute name="ref" type="PassengerCarryingRequirementIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerCarryingRequirementRefStructureType" default="PassengerCarryingRequirement"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======= PASSENGER CAPACITY =========================================== -->
  <xsd:simpleType name="PassengerCapacityIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerCapacityRef" type="PassengerCapacityRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="PassengerCapacityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="PassengerCapacityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerCapacityRefStructureType" default="PassengerCapacity"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======= PASSENGER VEHICLE CAPACITY =========================================== -->
  <xsd:simpleType name="PassengerVehicleCapacityIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerVehicleCapacityRef" type="PassengerVehicleCapacityRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="PassengerVehicleCapacityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="PassengerVehicleCapacityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerVehicleCapacityRefStructureType" default="PassengerVehicleCapacity"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== VEHICLE MANOEVRING REQUIREMENT ================================================= -->
  <xsd:simpleType name="VehicleManoeuvringRequirementIdType">
    <xsd:restriction base="VehicleRequirementIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleManoeuvringRequirementRef" type="VehicleManoeuvringRequirementRefStructure" substitutionGroup="VehicleRequirementRef"/>
  <xsd:complexType name="VehicleManoeuvringRequirementRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleRequirementRefStructure">
        <xsd:attribute name="ref" type="VehicleManoeuvringRequirementIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleManoeuvringRequirementRefStructureType" default="VehicleManoeuvringRequirement"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======= FACILITY REQUIREMENT =================================================== -->
  <xsd:simpleType name="FacilityRequirementIdType">
    <xsd:restriction base="VehicleRequirementIdType"/>
  </xsd:simpleType>
  <xsd:element name="FacilityRequirementRef" type="FacilityRequirementRefStructure" substitutionGroup="VehicleRequirementRef"/>
  <xsd:complexType name="FacilityRequirementRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleRequirementRefStructure">
        <xsd:attribute name="ref" type="FacilityRequirementIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFacilityRequirementRefStructureType" default="FacilityRequirement"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== VEHICLE MODEL ======================================================= -->
  <xsd:simpleType name="VehicleModelIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleModelRef" type="VehicleModelRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleModelRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleModelIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleModelRefStructureType" default="VehicleModel"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======VEHICLE EQUIPMENT PROFILE ====================================================== -->
  <xsd:complexType name="vehicleEquipmentProfileRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleEquipmentProfileRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleEquipmentProfileIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleEquipmentProfileRef" type="VehicleEquipmentProfileRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleEquipmentProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleEquipmentProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleEquipmentProfileRefStructureType" default="VehicleEquipmentProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PropulsionTypeListOfEnumerations">
    <xsd:list itemType="PropulsionTypeEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="PropulsionTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="combustion"/>
      <xsd:enumeration value="electric"/>
      <xsd:enumeration value="electricAssist"/>
      <xsd:enumeration value="hybrid"/>
      <xsd:enumeration value="human"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LicenceRequirementsEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="full"/>
      <xsd:enumeration value="provisional"/>
      <xsd:enumeration value="additional"/>
      <xsd:enumeration value="none"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleOrientationEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="forwards"/>
      <xsd:enumeration value="backwards"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--  ===== vehicle categories === -->
  <!-- Portable vehicles -->
  <xsd:simpleType name="PortableVehicleCategoryListOfEnumerations">
    <xsd:list itemType="PortableVehicleCategoryEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="PortableVehicleCategoryEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="scooter"/>
      <xsd:enumeration value="eScooter"/>
      <xsd:enumeration value="cycle"/>
      <xsd:enumeration value="pedalCycle"/>
      <xsd:enumeration value="eCycle"/>
      <xsd:enumeration value="cargoCycle"/>
      <xsd:enumeration value="tricycle"/>
      <xsd:enumeration value="tandem"/>
      <xsd:enumeration value="moped"/>
      <xsd:enumeration value="motorcycle"/>
      <xsd:enumeration value="quadbike"/>
      <xsd:enumeration value="car"/>
      <xsd:enumeration value="microCar"/>
      <xsd:enumeration value="miniCar"/>
      <xsd:enumeration value="smallCar"/>
      <xsd:enumeration value="mediumCar"/>
      <xsd:enumeration value="largeCar"/>
      <xsd:enumeration value="minivan"/>
      <xsd:enumeration value="transporter"/>
      <xsd:enumeration value="van"/>
      <xsd:enumeration value="snowmobile"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- Personal vehicles -->
  <xsd:simpleType name="PersonalVehicleCategoryListOfEnumerations">
    <xsd:list itemType="PersonalVehicleCategoryEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="PersonalVehicleCategoryEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="moped"/>
      <xsd:enumeration value="motorcycle"/>
      <xsd:enumeration value="motorcycleWithSidecar"/>
      <xsd:enumeration value="motorScooter"/>
      <xsd:enumeration value="twoWheeledVehicle"/>
      <xsd:enumeration value="threeWheeledVehicle"/>
      <xsd:enumeration value="car"/>
      <xsd:enumeration value="microCar"/>
      <xsd:enumeration value="miniCar"/>
      <xsd:enumeration value="smallCar"/>
      <xsd:enumeration value="mediumCar"/>
      <xsd:enumeration value="passengerCar"/>
      <xsd:enumeration value="largeCar"/>
      <xsd:enumeration value="fourWheelDrive"/>
      <xsd:enumeration value="taxi"/>
      <xsd:enumeration value="camperCar"/>
      <xsd:enumeration value="caravan"/>
      <xsd:enumeration value="carWithTrailer"/>
      <xsd:enumeration value="carWithCaravan"/>
      <xsd:enumeration value="minibus"/>
      <xsd:enumeration value="minivan"/>
      <xsd:enumeration value="snowmobile"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="allPassengerVehicles"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- Commercial Vehicles -->
  <xsd:simpleType name="CommercialVehicleCategoryListOfEnumerations">
    <xsd:list itemType="CommercialVehicleCategoryEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="CommercialVehicleCategoryEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="bus"/>
      <xsd:enumeration value="van"/>
      <xsd:enumeration value="transporter"/>
      <xsd:enumeration value="largeVan"/>
      <xsd:enumeration value="highSidedVehicle"/>
      <xsd:enumeration value="lightGoodsVehicle"/>
      <xsd:enumeration value="heavyGoodsVehicle"/>
      <xsd:enumeration value="agriculturalVehicle"/>
      <xsd:enumeration value="tanker"/>
      <xsd:enumeration value="truck"/>
      <xsd:enumeration value="articulatedVehicle"/>
      <xsd:enumeration value="largeTrailer"/>
      <xsd:enumeration value="vehicleWithTrailer"/>
      <xsd:enumeration value="lightGoodsVehicleWithTrailer"/>
      <xsd:enumeration value="heavyGoodsVehicleWithTrailer"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- All Road vehicles -->
  <xsd:simpleType name="AllRoadVehicleCategoriesListOfEnumerations">
    <xsd:list itemType="AllRoadVehicleCategoryEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="AllRoadVehicleCategoryEnumeration">
    <xsd:union memberTypes="PortableVehicleCategoryEnumeration PersonalVehicleCategoryEnumeration CommercialVehicleCategoryEnumeration"/>
  </xsd:simpleType>
  <!-- All Simple Road vehicles -->
  <xsd:simpleType name="SimpleVehicleCategoriesListOfEnumerations">
    <xsd:list itemType="SimpleVehicleCategoryEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="SimpleVehicleCategoryEnumeration">
    <xsd:union memberTypes="PortableVehicleCategoryEnumeration PersonalVehicleCategoryEnumeration"/>
  </xsd:simpleType>
  <!-- ===== VEHICLE PROFILE ======================================================== -->
  <xsd:simpleType name="VehicleProfileIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleProfileRef" type="VehicleProfileRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== PURPOSE OF EQUIPMENT =========================================================-->
  <xsd:simpleType name="PurposeOfEquipmentProfileIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="PurposeOfEquipmentProfileRef" type="PurposeOfEquipmentProfileRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="PurposeOfEquipmentProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="PurposeOfEquipmentProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPurposeOfEquipmentProfileRefStructureType" default="PurposeOfEquipmentProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======VEHICLE EQUIPMENT PROFILE MEMBER ====================================================== -->
  <xsd:complexType name="vehicleEquipmentProfileMemberRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleEquipmentProfileMemberRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleEquipmentProfileMemberIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleEquipmentProfileMemberRef" type="VehicleEquipmentProfileMemberRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleEquipmentProfileMemberRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleEquipmentProfileMemberIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleEquipmentProfileMemberRefStructureType" default="VehicleEquipmentProfileMember"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--====  ACCEPTED DRIVER PERMIT  ========================================================-->
  <xsd:simpleType name="AcceptedDriverPermitIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="AcceptedDriverPermitRef" type="AcceptedDriverPermitRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="AcceptedDriverPermitRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="AcceptedDriverPermitIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAcceptedDriverPermitRefStructureType" default="AcceptedDriverPermit"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== TYPE OF DRIVER PERMIT  =========================================================-->
  <xsd:simpleType name="TypeOfDriverPermitIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfDriverPermitRef" type="TypeOfDriverPermitRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="TypeOfDriverPermitRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfDriverPermitIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfDriverPermitRefStructureType" default="TypeOfDriverPermit"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
