src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_submode_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_submode_version">
  <xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
  <!--======Modes===================================================================================-->
  <xsd:complexType name="AllSubmodeStructure">
    <xsd:group ref="AllSubmodeChoiceGroup"/>
  </xsd:complexType>
  <xsd:group name="AllSubmodeChoiceGroup">
    <xsd:choice>
      <xsd:group ref="PtSubmodeChoiceGroup"/>
      <xsd:group ref="PrivateSubmodeChoiceGroup"/>
    </xsd:choice>
  </xsd:group>
  <xsd:element name="TransportSubmode" type="TransportSubmodeStructure"/>
  <xsd:complexType name="TransportSubmodeStructure">
    <xsd:group ref="AllSubmodeChoiceGroup"/>
  </xsd:complexType>
  <xsd:group name="PtNetworkSubodeChoiceGroup">
    <xsd:choice>
      <xsd:element ref="AirSubmode"/>
      <xsd:element ref="BusSubmode"/>
      <xsd:element ref="CoachSubmode"/>
      <xsd:element ref="MetroSubmode"/>
      <xsd:element ref="RailSubmode"/>
      <xsd:element ref="TramSubmode"/>
      <xsd:element ref="WaterSubmode"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="PtSubmodeChoiceGroup">
    <xsd:choice>
      <xsd:element ref="AirSubmode"/>
      <xsd:element ref="BusSubmode"/>
      <xsd:element ref="CoachSubmode"/>
      <xsd:element ref="FunicularSubmode"/>
      <xsd:element ref="MetroSubmode"/>
      <xsd:element ref="TramSubmode"/>
      <xsd:element ref="TelecabinSubmode"/>
      <xsd:element ref="RailSubmode"/>
      <xsd:element ref="WaterSubmode"/>
      <xsd:element ref="SnowAndIceSubmode"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="PrivateSubmodeChoiceGroup">
    <xsd:choice>
      <xsd:element ref="TaxiSubmode"/>
      <xsd:element ref="SelfDriveSubmode"/>
    </xsd:choice>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="RailSubmode" type="RailSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="RailSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="local"/>
      <xsd:enumeration value="highSpeedRail"/>
      <xsd:enumeration value="suburbanRailway"/>
      <xsd:enumeration value="regionalRail"/>
      <xsd:enumeration value="interregionalRail"/>
      <xsd:enumeration value="longDistance"/>
      <xsd:enumeration value="international"/>
      <xsd:enumeration value="sleeperRailService"/>
      <xsd:enumeration value="nightRail"/>
      <xsd:enumeration value="carTransportRailService"/>
      <xsd:enumeration value="largeVehicleTransportRailService"/>
      <xsd:enumeration value="touristRailway"/>
      <xsd:enumeration value="airportLinkRail"/>
      <xsd:enumeration value="railShuttle"/>
      <xsd:enumeration value="replacementRailService"/>
      <xsd:enumeration value="specialTrain"/>
      <xsd:enumeration value="crossCountryRail"/>
      <xsd:enumeration value="rackAndPinionRailway"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="CoachSubmode" type="CoachSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="CoachSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="internationalCoach"/>
      <xsd:enumeration value="nationalCoach"/>
      <xsd:enumeration value="shuttleCoach"/>
      <xsd:enumeration value="regionalCoach"/>
      <xsd:enumeration value="specialCoach"/>
      <xsd:enumeration value="schoolCoach"/>
      <xsd:enumeration value="sightseeingCoach"/>
      <xsd:enumeration value="touristCoach"/>
      <xsd:enumeration value="commuterCoach"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="MetroSubmode" type="MetroSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="MetroSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="metro"/>
      <xsd:enumeration value="tube"/>
      <xsd:enumeration value="urbanRailway"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="BusSubmode" type="BusSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="BusSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="localBus"/>
      <xsd:enumeration value="regionalBus"/>
      <xsd:enumeration value="expressBus"/>
      <xsd:enumeration value="nightBus"/>
      <xsd:enumeration value="postBus"/>
      <xsd:enumeration value="specialNeedsBus"/>
      <xsd:enumeration value="mobilityBus"/>
      <xsd:enumeration value="mobilityBusForRegisteredDisabled"/>
      <xsd:enumeration value="sightseeingBus"/>
      <xsd:enumeration value="shuttleBus"/>
      <xsd:enumeration value="highFrequencyBus"/>
      <xsd:enumeration value="dedicatedLaneBus"/>
      <xsd:enumeration value="schoolBus"/>
      <xsd:enumeration value="schoolAndPublicServiceBus"/>
      <xsd:enumeration value="railReplacementBus"/>
      <xsd:enumeration value="demandAndResponseBus"/>
      <xsd:enumeration value="airportLinkBus"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="TramSubmode" type="TramSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="TramSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="cityTram"/>
      <xsd:enumeration value="localTram"/>
      <xsd:enumeration value="regionalTram"/>
      <xsd:enumeration value="sightseeingTram"/>
      <xsd:enumeration value="shuttleTram"/>
      <xsd:enumeration value="trainTram"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="WaterSubmode" type="WaterSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="WaterSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="internationalCarFerry"/>
      <xsd:enumeration value="nationalCarFerry"/>
      <xsd:enumeration value="regionalCarFerry"/>
      <xsd:enumeration value="localCarFerry"/>
      <xsd:enumeration value="internationalPassengerFerry"/>
      <xsd:enumeration value="nationalPassengerFerry"/>
      <xsd:enumeration value="regionalPassengerFerry"/>
      <xsd:enumeration value="localPassengerFerry"/>
      <xsd:enumeration value="postBoat"/>
      <xsd:enumeration value="trainFerry"/>
      <xsd:enumeration value="roadFerryLink"/>
      <xsd:enumeration value="airportBoatLink"/>
      <xsd:enumeration value="highSpeedVehicleService"/>
      <xsd:enumeration value="highSpeedPassengerService"/>
      <xsd:enumeration value="sightseeingService"/>
      <xsd:enumeration value="schoolBoat"/>
      <xsd:enumeration value="cableFerry"/>
      <xsd:enumeration value="riverBus"/>
      <xsd:enumeration value="scheduledFerry"/>
      <xsd:enumeration value="shuttleFerryService"/>
      <xsd:enumeration value="canalBarge"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="AirSubmode" type="AirSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="AirSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="internationalFlight"/>
      <xsd:enumeration value="domesticFlight"/>
      <xsd:enumeration value="intercontinentalFlight"/>
      <xsd:enumeration value="domesticScheduledFlight"/>
      <xsd:enumeration value="shuttleFlight"/>
      <xsd:enumeration value="intercontinentalCharterFlight"/>
      <xsd:enumeration value="internationalCharterFlight"/>
      <xsd:enumeration value="roundTripCharterFlight"/>
      <xsd:enumeration value="sightseeingFlight"/>
      <xsd:enumeration value="helicopterService"/>
      <xsd:enumeration value="domesticCharterFlight"/>
      <xsd:enumeration value="SchengenAreaFlight"/>
      <xsd:enumeration value="airshipService"/>
      <xsd:enumeration value="shortHaulInternationalFlight"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="TelecabinSubmode" type="TelecabinSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="TelecabinSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="telecabin"/>
      <xsd:enumeration value="cableCar"/>
      <xsd:enumeration value="lift"/>
      <xsd:enumeration value="chairLift"/>
      <xsd:enumeration value="dragLift"/>
      <xsd:enumeration value="paternoster"/>
      <xsd:enumeration value="telecabinLink"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="FunicularSubmode" type="FunicularSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="FunicularSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="funicular"/>
      <xsd:enumeration value="streetCableCar"/>
      <xsd:enumeration value="allFunicularServices"/>
      <xsd:enumeration value="undefinedFunicular"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="TaxiSubmode" type="TaxiSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="TaxiSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="communalTaxi"/>
      <xsd:enumeration value="charterTaxi"/>
      <xsd:enumeration value="waterTaxi"/>
      <xsd:enumeration value="railTaxi"/>
      <xsd:enumeration value="bikeTaxi"/>
      <xsd:enumeration value="blackCab"/>
      <xsd:enumeration value="miniCab"/>
      <xsd:enumeration value="appTaxi"/>
      <xsd:enumeration value="fiacre"/>
      <xsd:enumeration value="rickshaw"/>
      <xsd:enumeration value="cycleRickshaw"/>
      <xsd:enumeration value="allTaxiServices"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SelfDriveSubmode" type="SelfDriveSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="SelfDriveSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="hireScooter"/>
      <xsd:enumeration value="hireCycle"/>
      <xsd:enumeration value="hireMotorbike"/>
      <xsd:enumeration value="hireCar"/>
      <xsd:enumeration value="hireVan"/>
      <xsd:enumeration value="ownScooter"/>
      <xsd:enumeration value="ownCycle"/>
      <xsd:enumeration value="ownMotorbike"/>
      <xsd:enumeration value="ownCar"/>
      <xsd:enumeration value="ownVan"/>
      <xsd:enumeration value="allHireVehicles"/>
      <xsd:enumeration value="allVehicles"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SnowAndIceSubmode" type="SnowAndIceSubmodeEnumeration" default="unknown"/>
  <xsd:simpleType name="SnowAndIceSubmodeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="snowMobile"/>
      <xsd:enumeration value="snowCat"/>
      <xsd:enumeration value="snowCoach"/>
      <xsd:enumeration value="terraBus"/>
      <xsd:enumeration value="windSled"/>
      <!--offroad bus-->
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
</xsd:schema>
