src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_notice_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_notice_support">
  <xsd:include schemaLocation="../netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="NoticeIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="NoticeRef" type="NoticeRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="NoticeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="NoticeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassNoticeRefStructureType" default="Notice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="NoticeAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="NoticeAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="NoticeAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAssignmentRefStructureType" use="optional" default="NoticeAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="DeliveryVariantTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="printed"/>
      <xsd:enumeration value="textToSpeech"/>
      <xsd:enumeration value="recordedAnnouncement"/>
      <xsd:enumeration value="web"/>
      <xsd:enumeration value="mobile"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DeliveryVariantIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="DeliveryVariantRef" type="DeliveryVariantRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="DeliveryVariantRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="DeliveryVariantIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDeliveryVariantRefStructureType" default="DeliveryVariant"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TypeOfNoticeIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfNoticeRef" type="TypeOfNoticeRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfNoticeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfNoticeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfNoticeRefStructureType" default="TypeOfNotice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TypeOfDeliveryVariantIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfDeliveryVariantRef" type="TypeOfDeliveryVariantRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfDeliveryVariantRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfDeliveryVariantIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfDeliveryVariantRefStructureType" default="TypeOfDeliveryVariant"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PublicityChannelEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="printedMedia"/>
      <xsd:enumeration value="dynamicMedia"/>
      <xsd:enumeration value="none"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
