src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_equipmentVehiclePassenger_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_equipmentVehiclePassenger_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="VehicleEquipmentIdType">
    <xsd:restriction base="PassengerEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleEquipmentRef" type="VehicleEquipmentRefStructure" substitutionGroup="PassengerEquipmentRef"/>
  <xsd:complexType name="VehicleEquipmentRefStructure" abstract="true">
    <xsd:simpleContent>
      <xsd:restriction base="PassengerEquipmentRefStructure">
        <xsd:attribute name="ref" type="VehicleEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleEquipmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== ACCESS VEHICLE EQUIPMENT ================================================= -->
  <xsd:simpleType name="AccessVehicleEquipmentIdType">
    <xsd:restriction base="VehicleEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="AccessVehicleEquipmentRef" type="AccessVehicleEquipmentRefStructure" substitutionGroup="VehicleEquipmentRef"/>
  <xsd:complexType name="AccessVehicleEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleEquipmentRefStructure">
        <xsd:attribute name="ref" type="AccessVehicleEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessVehicleEquipmentRefStructureType" default="AccessVehicleEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== WHEELCHAIR VEHICLE EQUIPMEN ================================================ -->
  <xsd:simpleType name="WheelchairVehicleEquipmentIdType">
    <xsd:restriction base="VehicleEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="WheelchairVehicleRef" type="WheelchairVehicleRefStructure" substitutionGroup="VehicleEquipmentRef"/>
  <xsd:complexType name="WheelchairVehicleRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleEquipmentRefStructure">
        <xsd:attribute name="ref" type="WheelchairVehicleEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleEquipmentRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="WheelchairVehicleEquipmentRef" type="WheelchairVehicleRefStructure" substitutionGroup="VehicleEquipmentRef"/>
  <xsd:complexType name="WheelchairVehicleEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VehicleEquipmentRefStructure">
        <xsd:attribute name="ref" type="WheelchairVehicleEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassWheelchairVehicleEquipmentRefStructureType" use="optional" default="WheelchairVehicleEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- =====TYPE OF  WHEELCHAIR =================================================== -->
  <xsd:complexType name="typeOfWheelchairRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfWheelchairRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfWheelchairIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfWheelchairRef" type="TypeOfWheelchairRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfWheelchairRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfWheelchairIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfWheelchairRefStructureType" default="TypeOfWheelchair"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AssistedBoardingLocationEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="boardAtAnyDoor"/>
      <xsd:enumeration value="boardOnlyAtSpecifiedPositions"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AssistanceNeededEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="levelAccess"/>
      <xsd:enumeration value="stepNegotiation"/>
      <xsd:enumeration value="rampRequired"/>
      <xsd:enumeration value="hoistRequired"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
