src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_vehicleSeating_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_vehicleSeating_support">
  <xsd:include schemaLocation="netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="PassengerSeatIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerSeatRef" type="PassengerSeatRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="PassengerSeatRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="PassengerSeatIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SeatAllocationMethodEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="autoAssigned"/>
      <xsd:enumeration value="seatMap"/>
      <xsd:enumeration value="openSeating"/>
      <xsd:enumeration value="manualAssignment"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
