src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_notice_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_notice_version">
  <xsd:include schemaLocation="netex_notice_support.xsd"/>
  <xsd:include schemaLocation="../netex_responsibility/netex_typeOfValue_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="noticesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Notice" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="notices_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="NoticeRef"/>
          <xsd:element ref="Notice"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Notice" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Notice_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="NoticeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="NoticeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Notice_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="NoticeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="NoticeGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:group ref="NoticePropertiesGroup"/>
      <xsd:element name="DriverDisplayText" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="variants" type="deliveryVariants_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="NoticePropertiesGroup">
    <xsd:sequence>
      <xsd:element name="Text" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element name="ShortCode" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element ref="TypeOfNoticeRef" minOccurs="0"/>
      <xsd:element name="CanBeAdvertised" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="deliveryVariants_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="DeliveryVariant" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DeliveryVariant" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="DeliveryVariant_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DeliveryVariantGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DeliveryVariantIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="DeliveryVariant_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="DeliveryVariantGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DeliveryVariantGroup">
    <xsd:sequence>
      <xsd:element name="ParentRef" type="VersionOfObjectRefStructure" minOccurs="0"/>
      <xsd:element name="DeliveryVariantMediaType" type="DeliveryVariantTypeEnumeration" default="other" minOccurs="0"/>
      <xsd:element ref="TypeOfDeliveryVariantRef" minOccurs="0"/>
      <xsd:element name="VariantText" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfNotice" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfNotice_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfNoticeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfNotice_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfDeliveryVariant" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfDeliveryVariant_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfDeliveryVariantIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfDeliveryVariant_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
