src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_nm_fleet_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_nm_fleet_version">
  <xsd:include schemaLocation="netex_nm_fleet_support.xsd"/>
  <xsd:include schemaLocation="netex_transportOrganisation_support.xsd"/>
  <xsd:include schemaLocation="netex_vehicle_version.xsd"/>
  <xsd:include schemaLocation="../netex_genericFramework/netex_grouping_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== FLEET ============================================================ -->
  <xsd:complexType name="fleets_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Fleet" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Fleet" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Fleet_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FleetGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FleetIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Fleet_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GroupOfEntities_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="FleetGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FleetGroup">
    <xsd:sequence>
      <xsd:element name="members" type="vehicles_RelStructure" minOccurs="0"/>
      <xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
      <xsd:element ref="TypeOfFleetRef" minOccurs="0"/>
      <xsd:element name="transportTypes" type="transportTypeRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== TYPE OF FLEET ============================================================ -->
  <xsd:element name="TypeOfFleet" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfFleet_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfFleetIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfFleet_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
