src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_vehicleType_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_vehicleType_version">
  <xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
  <xsd:include schemaLocation="netex_nm_fleetEquipment_support.xsd"/>
  <xsd:include schemaLocation="netex_nm_equipmentEnergy_support.xsd"/>
  <xsd:include schemaLocation="netex_nm_fleet_support.xsd"/>
  <xsd:include schemaLocation="netex_mode_support.xsd"/>
  <xsd:include schemaLocation="netex_transportOrganisation_support.xsd"/>
  <xsd:include schemaLocation="netex_deckPlan_support.xsd"/>
  <xsd:include schemaLocation="../netex_reusableComponents/netex_mode_support.xsd"/>
  <xsd:include schemaLocation="netex_equipmentVehiclePassenger_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="vehicleModelsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleModel" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==== TRANSPORT TYPE ==================================================== -->
  <xsd:element name="TransportType_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:element name="TransportType" substitutionGroup="TransportType_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TransportType_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransportTypeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TransportTypeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TransportType_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="TransportTypeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TransportTypeGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:group ref="TransportTypePropertiesGroup"/>
      <xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0"/>
      <xsd:group ref="VehicleTypeTotalCapacityGroup"/>
      <xsd:element ref="DeckPlanRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TransportTypePropertiesGroup">
    <xsd:sequence>
      <xsd:element name="EuroClass" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element name="ReversingDirection" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="SelfPropelled" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="PropulsionTypes" type="PropulsionTypeListOfEnumerations" minOccurs="0"/>
      <xsd:element name="PropulsionType" type="PropulsionTypeEnumeration" minOccurs="0"/>
      <xsd:element name="FuelTypes" type="FuelTypeListOfEnumerations" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="FuelType" type="FuelTypeEnumeration" minOccurs="0"/>
        <xsd:element name="TypeOfFuel" type="FuelTypeEnumeration" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="MaximumRange" type="DistanceType" minOccurs="0"/>
      <xsd:element name="MaximumVelocity" type="SpeedType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== VEHICLE TYPE ==================================================== -->
  <xsd:element name="VehicleType" substitutionGroup="TransportType_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleType_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransportTypeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleTypeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleTypeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleType_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TransportType_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleTypeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleTypeGroup">
    <xsd:sequence>
      <xsd:group ref="VehicleTypePropertiesGroup"/>
      <xsd:element name="IncludedIn" type="VehicleTypeRefStructure" minOccurs="0"/>
      <xsd:element name="ClassifiedAsRef" type="VehicleModelRefStructure" minOccurs="0"/>
      <xsd:element name="facilities" type="serviceFacilitySets_RelStructure" minOccurs="0"/>
      <xsd:group ref="VehicleRequirementsGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleTypeTotalCapacityGroup">
    <xsd:sequence>
      <xsd:element name="PassengerCapacity" type="PassengerCapacityStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleTypePropertiesGroup">
    <xsd:sequence>
      <xsd:element name="capacities" type="passengerCapacities_RelStructure" minOccurs="0"/>
      <xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
      <xsd:group ref="VehicleDimensionsGroup"/>
      <xsd:element name="Monitored" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleDimensionsGroup">
    <xsd:sequence>
      <xsd:element name="Length" type="LengthType" minOccurs="0"/>
      <xsd:element name="Width" type="LengthType" minOccurs="0"/>
      <xsd:element name="Height" type="LengthType" minOccurs="0"/>
      <xsd:element name="Weight" type="WeightType" minOccurs="0"/>
      <xsd:element name="FirstAxleHeight" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleRequirementsGroup">
    <xsd:sequence>
      <xsd:element name="canCarry" type="passengerCarryingRequirements_RelStructure" minOccurs="0"/>
      <xsd:element name="canManoeuvre" type="vehicleManoeuvringRequirements_RelStructure" minOccurs="0"/>
      <xsd:element name="satisfiesFacilityRequirements" type="facilityRequirements_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleAccessibilityRequirementsGroup">
    <xsd:sequence>
      <xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="HasLiftOrRamp" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="HasHoist" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="HoistOperatingRadius" type="LengthType" minOccurs="0"/>
      <xsd:element name="BoardingHeight" type="LengthType" minOccurs="0"/>
      <xsd:element name="GapToPlatform" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== VEHICLE TYPE ==================================================== -->
  <xsd:element name="SimpleVehicleType" substitutionGroup="TransportType_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SimpleVehicleType_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TransportTypeGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SimpleVehicleTypeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SimpleVehicleTypeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SimpleVehicleType_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TransportType_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SimpleVehicleTypeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SimpleVehicleTypeGroup">
    <xsd:sequence>
      <xsd:group ref="VehicleDimensionsGroup"/>
      <xsd:element name="LicenceRequirements" type="LicenceRequirementsEnumeration" minOccurs="0"/>
      <xsd:element name="VehicleCategory" type="SimpleVehicleCategoryEnumeration" minOccurs="0"/>
      <xsd:element name="NumberOfWheels" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="MinimumAge" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="Portable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="acceptedDriverPermits" type="acceptedDriverPermits_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- =======ACCEPTED DRIVER PERMIT ================================================== -->
  <xsd:complexType name="acceptedDriverPermits_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="AcceptedDriverPermit" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AcceptedDriverPermit" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AcceptedDriverPermit_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:group ref="AcceptedDriverPermitGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="AcceptedDriverPermitIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AcceptedDriverPermit_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:group ref="AcceptedDriverPermitGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AcceptedDriverPermitGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="TypeOfDriverPermitRef" minOccurs="0"/>
      <xsd:element name="acceptedDriverPermits" type="acceptedDriverPermits_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== VEHICLE REQUIREMENT ======================================================= -->
  <xsd:element name="VehicleRequirement" type="VehicleRequirement_VersionStructure" abstract="true" substitutionGroup="DataManagedObject"/>
  <xsd:complexType name="VehicleRequirement_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleRequirementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleRequirementGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== PASSENGER CARRYING REQUIREMENTs =================================== -->
  <xsd:complexType name="passengerCarryingRequirements_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="PassengerCarryingRequirementRef"/>
          <xsd:element ref="PassengerCarryingRequirement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PassengerCarryingRequirement" substitutionGroup="VehicleRequirement">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleRequirementGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerCarryingRequirementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerCarryingRequirementIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerCarryingRequirement_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleRequirement_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerCarryingRequirementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerCarryingRequirementGroup">
    <xsd:sequence>
      <xsd:element ref="PassengerCapacity" minOccurs="0"/>
      <xsd:group ref="VehicleAccessibilityRequirementsGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== PASSENGER CAPACITY =================================== -->
  <xsd:complexType name="passengerCapacities_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="PassengerCapacityRef"/>
          <xsd:element ref="PassengerCapacity" maxOccurs="1"/>
          <xsd:element ref="PassengerVehicleCapacity"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PassengerCapacity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerCapacityStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerCapacityGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerCapacityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerCapacityStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerCapacityGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerCapacityGroup">
    <xsd:sequence>
      <xsd:element name="FareClass" type="FareClassEnumeration" default="any" minOccurs="0"/>
      <xsd:group ref="CapacityGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="CapacityGroup">
    <xsd:sequence>
      <xsd:element name="TotalCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="PushchairCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="WheelchairPlaceCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="PramPlaceCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="BicycleRackCapacity" type="NumberOfPassengers" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== PASSENGER VEHICLE CAPACITY =================================== -->
  <xsd:element name="PassengerVehicleCapacity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerVehicleCapacityStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerVehicleCapacityGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerVehicleCapacityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerVehicleCapacityStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerVehicleCapacityGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PassengerVehicleCapacityGroup">
    <xsd:sequence>
      <xsd:element name="VehicleCategories" type="AllRoadVehicleCategoriesListOfEnumerations" default="allPassengerVehicles" minOccurs="0"/>
      <xsd:element name="VehicleCapacity" type="NumberOfVehicles" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======= PASSENGER CARRYING REQUIREMENTs============================== -->
  <xsd:element name="PassengerCarryingRequirementsView" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PassengerCarryingRequirement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleRequirementGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PassengerCarryingRequirementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PassengerCarryingRequirementIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PassengerCarryingPassengerCarrying_ViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:group ref="PassengerCarryingRequirementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===== VEHICLE MANOEUVRING REQUIREMENTS================================== -->
  <xsd:complexType name="vehicleManoeuvringRequirements_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="VehicleManoeuvringRequirementRef"/>
          <xsd:element ref="VehicleManoeuvringRequirement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleManoeuvringRequirement" substitutionGroup="VehicleRequirement">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleManoeuvringRequirement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleRequirementGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleManoeuvringRequirementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleManoeuvringRequirementIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleManoeuvringRequirement_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleRequirement_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleManoeuvringRequirementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleManoeuvringRequirementGroup">
    <xsd:sequence>
      <xsd:element name="Reversible" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="MinimumTurningCircle" type="LengthType" minOccurs="0"/>
      <xsd:element name="MinimumOvertakingWidth" type="LengthType" minOccurs="0"/>
      <xsd:element name="MinimumLength" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleManoeuvringRequirementCapacityGroup">
    <xsd:sequence>
      <xsd:element name="SeatingCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="StandingCapacity" type="NumberOfPassengers" minOccurs="0"/>
      <xsd:element name="SpecialPlaceCapacity" type="NumberOfPassengers" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== FACILITY REQUIREMENTS ========================================= -->
  <xsd:complexType name="facilityRequirements_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="FacilityRequirementRef"/>
          <xsd:element ref="FacilityRequirement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FacilityRequirement" substitutionGroup="VehicleRequirement">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FacilityRequirement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleRequirementGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FacilityRequirementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FacilityRequirementIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FacilityRequirement_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VehicleRequirement_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="FacilityRequirementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FacilityRequirementGroup">
    <xsd:sequence>
      <xsd:element name="facilitySets" type="serviceFacilitySets_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== VEHICLE MODEL ====================================================== -->
  <xsd:element name="VehicleModel" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleModel_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:group ref="VehicleModelGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleModelIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleModel_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:group ref="VehicleModelGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleModelGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="TransportTypeRef" minOccurs="0"/>
      <xsd:element name="Range" type="LengthType" minOccurs="0"/>
      <xsd:element name="FullCharge" type="WattHoursType" minOccurs="0"/>
      <xsd:element name="equipmentProfiles" type="vehicleEquipmentProfileRefs_RelStructure" minOccurs="0"/>
      <xsd:element ref="VehicleModelProfileRef" minOccurs="0"/>
      <xsd:element name="CustomerServiceContactDetails" type="ContactStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleCodeGroup">
    <xsd:sequence>
      <xsd:element name="OperationalNumber" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- =======VEHICLE EQUIPMENT ================================================== -->
  <xsd:element name="VehicleEquipmentProfile" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleEquipmentProfile_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:group ref="VehicleEquipmentProfileGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleEquipmentProfileIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleEquipmentProfile_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:group ref="VehicleEquipmentProfileGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleEquipmentProfileGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="EquipmentRef" minOccurs="0"/>
      <xsd:element name="Units" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="Manufacturer" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="TypeOfEquipmentRef" minOccurs="0"/>
      <xsd:element ref="PurposeOfEquipmentProfileRef" minOccurs="0"/>
      <xsd:element name="vehicleEquipmentProfileMembers" type="vehicleEquipmentProfileMembers_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======VEHICLE EQUIPMENT PROFILE MEMBER ====================================================== -->
  <xsd:complexType name="vehicleEquipmentProfileMembers_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleEquipmentProfileMember" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleEquipmentProfileMember" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleEquipmentProfileMember_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:group ref="VehicleEquipmentProfileMemberGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleEquipmentProfileMemberIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleEquipmentProfileMember_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:group ref="VehicleEquipmentProfileMemberGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleEquipmentProfileMemberGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="EquipmentRef" minOccurs="0"/>
      <xsd:element name="MinimumUnits" type="xsd:integer" minOccurs="0"/>
      <xsd:element ref="TypeOfEquipmentRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ========= PURPOSE OF EQUIPMENT ============================================ -->
  <xsd:element name="PurposeOfEquipmentProfile" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PurposeOfEquipmentProfile_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PurposeOfEquipmentProfileIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PurposeOfEquipmentProfile_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- =========TYPE OF DRIVER PERMIT. ============================================ -->
  <xsd:element name="TypeOfDriverPermit" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfDriverPermit_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfDriverPermitIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfDriverPermit_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
