src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_facility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_facility_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
  <xsd:include schemaLocation="../netex_genericFramework/netex_assignment_version.xsd"/>
  <xsd:include schemaLocation="../netex_reusableComponents/netex_availabilityCondition_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AccessibilityInfoFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="audioInformation"/>
      <xsd:enumeration value="audioForHearingImpaired"/>
      <xsd:enumeration value="visualDisplays"/>
      <xsd:enumeration value="displaysForVisuallyImpaired"/>
      <xsd:enumeration value="largePrintTimetables"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MobilityFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="lowFloor"/>
      <xsd:enumeration value="stepFreeAccess"/>
      <xsd:enumeration value="suitableForPushchairs"/>
      <xsd:enumeration value="suitableForWheelchairs"/>
      <xsd:enumeration value="suitableForHeaviliyDisabled"/>
      <xsd:enumeration value="boardingAssistance"/>
      <xsd:enumeration value="onboardAssistance"/>
      <xsd:enumeration value="unaccompaniedMinorAssistance"/>
      <xsd:enumeration value="tactilePlatformEdges"/>
      <xsd:enumeration value="tactileGuidingStrips"/>
      <xsd:enumeration value="raisedKerb"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PassengerInformationFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="nextStopIndicator"/>
      <xsd:enumeration value="stopAnnouncements"/>
      <xsd:enumeration value="passengerInformationDisplay"/>
      <xsd:enumeration value="realTimeConnections"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SafetyFacilityEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="ccTv"/>
      <xsd:enumeration value="mobileCoverage"/>
      <xsd:enumeration value="sosPoints"/>
      <xsd:enumeration value="staffed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AccessFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="lift"/>
      <xsd:enumeration value="wheelchairLift"/>
      <xsd:enumeration value="escalator"/>
      <xsd:enumeration value="travelator"/>
      <xsd:enumeration value="ramp"/>
      <xsd:enumeration value="automaticRamp"/>
      <xsd:enumeration value="steps"/>
      <xsd:enumeration value="stairs"/>
      <xsd:enumeration value="slidingStep"/>
      <xsd:enumeration value="shuttle"/>
      <xsd:enumeration value="narrowEntrance"/>
      <xsd:enumeration value="barrier"/>
      <xsd:enumeration value="lowFloorAccess"/>
      <xsd:enumeration value="validator"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleAccessFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="wheelchairLift"/>
      <xsd:enumeration value="manualRamp"/>
      <xsd:enumeration value="automaticRamp"/>
      <xsd:enumeration value="steps"/>
      <xsd:enumeration value="slidingStep"/>
      <xsd:enumeration value="narrowEntrance"/>
      <xsd:enumeration value="validator"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AccessibilityToolEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="wheelchair"/>
      <xsd:enumeration value="walkingstick"/>
      <xsd:enumeration value="audioNavigator"/>
      <xsd:enumeration value="visualNavigator"/>
      <xsd:enumeration value="passengerCart"/>
      <xsd:enumeration value="pushchair"/>
      <xsd:enumeration value="umbrella"/>
      <xsd:enumeration value="buggy"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AccommodationAccessEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="freeSeating"/>
      <xsd:enumeration value="reservation"/>
      <xsd:enumeration value="standing"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccommodationFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="standing"/>
      <xsd:enumeration value="seating"/>
      <xsd:enumeration value="sleeper"/>
      <xsd:enumeration value="singleSleeper"/>
      <xsd:enumeration value="doubleSleeper"/>
      <xsd:enumeration value="specialSleeper"/>
      <xsd:enumeration value="couchette"/>
      <xsd:enumeration value="singleCouchette"/>
      <xsd:enumeration value="doubleCouchette"/>
      <xsd:enumeration value="specialSeating"/>
      <xsd:enumeration value="recliningSeats"/>
      <xsd:enumeration value="babyCompartment"/>
      <xsd:enumeration value="familyCarriage"/>
      <xsd:enumeration value="recreationArea"/>
      <xsd:enumeration value="panoramaCoach"/>
      <xsd:enumeration value="pullmanCoach"/>
      <xsd:enumeration value="pushchair"/>
      <xsd:enumeration value="wheelchair"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AssistanceFacilityEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="personalAssistance"/>
      <xsd:enumeration value="boardingAssistance"/>
      <xsd:enumeration value="wheelchairAssistance"/>
      <xsd:enumeration value="unaccompaniedMinorAssistance"/>
      <xsd:enumeration value="wheelchairUse"/>
      <xsd:enumeration value="conductor"/>
      <xsd:enumeration value="information"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="any"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AssistanceAvailabilityEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="available"/>
      <xsd:enumeration value="availableIfBooked"/>
      <xsd:enumeration value="availableAtCertainTimes"/>
      <xsd:enumeration value="availableDependentOnJourney"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BerthFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="lower"/>
      <xsd:enumeration value="middle"/>
      <xsd:enumeration value="upper"/>
      <xsd:enumeration value="both"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BoardingPermissionEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="normal"/>
      <xsd:enumeration value="earlyBoardingPossibleBeforeDeparture"/>
      <xsd:enumeration value="lateAlightingPossibleAfterArrival"/>
      <xsd:enumeration value="overnightStayOnboardAllowed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CouchetteFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="T2"/>
      <xsd:enumeration value="T3"/>
      <xsd:enumeration value="C1"/>
      <xsd:enumeration value="C2"/>
      <xsd:enumeration value="C4"/>
      <xsd:enumeration value="C5"/>
      <xsd:enumeration value="C6"/>
      <xsd:enumeration value="wheelchair"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EmergencyServiceEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="police"/>
      <xsd:enumeration value="fire"/>
      <xsd:enumeration value="firstAid"/>
      <xsd:enumeration value="sosPoint"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ClimateControlEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="airConditioning"/>
      <xsd:enumeration value="heating"/>
      <xsd:enumeration value="noConditioning"/>
      <xsd:enumeration value="windowsCanBeOpened"/>
      <xsd:enumeration value="sealedWindows"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FamilyFacilityEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="servicesForChildren"/>
      <xsd:enumeration value="servicesForArmyFamilies"/>
      <xsd:enumeration value="nurseryService"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GenderEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="female"/>
      <xsd:enumeration value="male"/>
      <xsd:enumeration value="unspecified"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="HireFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="scooterHire"/>
      <xsd:enumeration value="vehicleHire"/>
      <xsd:enumeration value="carHire"/>
      <xsd:enumeration value="motorCycleHire"/>
      <xsd:enumeration value="cycleHire"/>
      <xsd:enumeration value="taxi"/>
      <xsd:enumeration value="boatHire"/>
      <xsd:enumeration value="recreationDeviceHire"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LightingControlFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="tintedWindows"/>
      <xsd:enumeration value="blinds"/>
      <xsd:enumeration value="curtains"/>
      <xsd:enumeration value="dimmableLights"/>
      <xsd:enumeration value="lightsAlwaysOn"/>
      <xsd:enumeration value="noNaturalLight"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LuggageCarriageEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="noBaggageStorage"/>
      <xsd:enumeration value="baggageStorage"/>
      <xsd:enumeration value="luggageRacks"/>
      <xsd:enumeration value="skiRacks"/>
      <xsd:enumeration value="skiRacksOnRear"/>
      <xsd:enumeration value="extraLargeLuggageRacks"/>
      <xsd:enumeration value="baggageVan"/>
      <xsd:enumeration value="noCycles"/>
      <xsd:enumeration value="cyclesAllowed"/>
      <xsd:enumeration value="cyclesAllowedInVan"/>
      <xsd:enumeration value="cyclesAllowedInCarriage"/>
      <xsd:enumeration value="cyclesAllowedWithReservation"/>
      <xsd:enumeration value="pushchairsAllowed"/>
      <xsd:enumeration value="vehicleTransport"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LuggageLockerFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="lockers"/>
      <xsd:enumeration value="oversizeLockers"/>
      <xsd:enumeration value="leftLuggageCounter"/>
      <xsd:enumeration value="bikeRack"/>
      <xsd:enumeration value="cloakroom"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LuggageServiceFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="leftLuggage"/>
      <xsd:enumeration value="porterage"/>
      <xsd:enumeration value="freeTrolleys"/>
      <xsd:enumeration value="paidTrolleys"/>
      <xsd:enumeration value="collectAndDeliverToStation"/>
      <xsd:enumeration value="baggageCheckInCheckOut"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MeetingPointEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="meetingPoint"/>
      <xsd:enumeration value="groupMeeting"/>
      <xsd:enumeration value="schoolMeetingPoint"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MoneyFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="cashMachine"/>
      <xsd:enumeration value="bank"/>
      <xsd:enumeration value="insurance"/>
      <xsd:enumeration value="bureauDeChange"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MealFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="breakfast"/>
      <xsd:enumeration value="lunch"/>
      <xsd:enumeration value="dinner"/>
      <xsd:enumeration value="snack"/>
      <xsd:enumeration value="drinks"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NuisanceFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="smoking"/>
      <xsd:enumeration value="noSmoking"/>
      <xsd:enumeration value="familyArea"/>
      <xsd:enumeration value="childfreeArea"/>
      <xsd:enumeration value="animalsAllowed"/>
      <xsd:enumeration value="noAnimals"/>
      <xsd:enumeration value="breastfeedingFriendly"/>
      <xsd:enumeration value="mobilePhoneUseZone"/>
      <xsd:enumeration value="mobilePhoneFreeZone"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="carPark"/>
      <xsd:enumeration value="parkAndRidePark"/>
      <xsd:enumeration value="motorcyclePark"/>
      <xsd:enumeration value="cyclePark"/>
      <xsd:enumeration value="rentalCarPark"/>
      <xsd:enumeration value="coachPark"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CarServiceFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="valetParking"/>
      <xsd:enumeration value="carWash"/>
      <xsd:enumeration value="valetCarWash"/>
      <xsd:enumeration value="carValetClean"/>
      <xsd:enumeration value="oilChange"/>
      <xsd:enumeration value="engineWarming"/>
      <xsd:enumeration value="petrol"/>
      <xsd:enumeration value="batteryCare"/>
      <xsd:enumeration value="recharging"/>
      <xsd:enumeration value="tyreCheck"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MedicalFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="defibrillator"/>
      <xsd:enumeration value="alcoholTest"/>
      <xsd:enumeration value="handSanitiser"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PassengerCommsFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="freeWifi"/>
      <xsd:enumeration value="publicWifi"/>
      <xsd:enumeration value="powerSupplySockets"/>
      <xsd:enumeration value="telephone"/>
      <xsd:enumeration value="audioEntertainment"/>
      <xsd:enumeration value="videoEntertainment"/>
      <xsd:enumeration value="businessServices"/>
      <xsd:enumeration value="internet"/>
      <xsd:enumeration value="postOffice"/>
      <xsd:enumeration value="postBox"/>
      <xsd:enumeration value="usbAPowerSocket"/>
      <xsd:enumeration value="usbCPowerSocket"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PassengerInformationEquipmentEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="timetablePoster"/>
      <xsd:enumeration value="fareInformation"/>
      <xsd:enumeration value="lineNetworkPlan"/>
      <xsd:enumeration value="lineTimetable"/>
      <xsd:enumeration value="stopTimetable"/>
      <xsd:enumeration value="journeyPlanning"/>
      <xsd:enumeration value="interactiveKiosk"/>
      <xsd:enumeration value="informationDesk"/>
      <xsd:enumeration value="networkStatus"/>
      <xsd:enumeration value="realTimeDisruptions"/>
      <xsd:enumeration value="realTimeDepartures"/>
      <xsd:enumeration value="stationMap"/>
      <xsd:enumeration value="acousticStationMap"/>
      <xsd:enumeration value="tactileStationMap"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CateringFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="bar"/>
      <xsd:enumeration value="bistro"/>
      <xsd:enumeration value="buffet"/>
      <xsd:enumeration value="noFoodAvailable"/>
      <xsd:enumeration value="noBeveragesAvailable"/>
      <xsd:enumeration value="restaurant"/>
      <xsd:enumeration value="firstClassRestaurant"/>
      <xsd:enumeration value="trolley"/>
      <xsd:enumeration value="coffeeShop"/>
      <xsd:enumeration value="hotFoodService"/>
      <xsd:enumeration value="selfService"/>
      <xsd:enumeration value="snacks"/>
      <xsd:enumeration value="foodVendingMachine"/>
      <xsd:enumeration value="beverageVendingMachine"/>
      <xsd:enumeration value="miniBar"/>
      <xsd:enumeration value="breakfastInCar"/>
      <xsd:enumeration value="mealAtSeat"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReservedSpaceFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="lounge"/>
      <xsd:enumeration value="hall"/>
      <xsd:enumeration value="meetingPoint"/>
      <xsd:enumeration value="groupPoint"/>
      <xsd:enumeration value="reception"/>
      <xsd:enumeration value="shelter"/>
      <xsd:enumeration value="seats"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RetailFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="food"/>
      <xsd:enumeration value="newspaperTobacco"/>
      <xsd:enumeration value="recreationTravel"/>
      <xsd:enumeration value="hygieneHealthBeauty"/>
      <xsd:enumeration value="fashionAccessories"/>
      <xsd:enumeration value="bankFinanceInsurance"/>
      <xsd:enumeration value="cashMachine"/>
      <xsd:enumeration value="currencyExchange"/>
      <xsd:enumeration value="tourismService"/>
      <xsd:enumeration value="photoBooth"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StaffingEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="fullTime"/>
      <xsd:enumeration value="partTime"/>
      <xsd:enumeration value="unmanned"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TicketingFacilityEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="ticketMachines"/>
      <xsd:enumeration value="ticketOffice"/>
      <xsd:enumeration value="ticketOnDemandMachines"/>
      <xsd:enumeration value="mobileTicketing"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ScopeOfTicketEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="localTicket"/>
      <xsd:enumeration value="nationalTicket"/>
      <xsd:enumeration value="internationalTicket"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleLoadingEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="loading"/>
      <xsd:enumeration value="unloading"/>
      <xsd:enumeration value="additionalLoading"/>
      <xsd:enumeration value="additionaUnloading"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ==== ===================================================== -->
  <!-- ==== FACILITY========================================-->
  <xsd:simpleType name="FacilityIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="FacilityRef" type="FacilityRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="FacilityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="FacilityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====FACILITY SET==================================== -->
  <xsd:simpleType name="FacilitySetIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="FacilitySetRef" type="FacilitySetRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="FacilitySetRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="FacilitySetIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFacilitySetRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====SITE FACILITY SET=========================== -->
  <xsd:element name="SiteFacilitySetRef" type="SiteFacilitySetRefStructure" substitutionGroup="FacilitySetRef"/>
  <xsd:complexType name="SiteFacilitySetRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FacilitySetRefStructure">
        <xsd:attribute name="ref" type="SiteFacilitySetIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSiteFacilitySetRefStructureType" default="SiteFacilitySet"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SiteFacilitySetIdType">
    <xsd:restriction base="FacilitySetIdType"/>
  </xsd:simpleType>
  <!-- ====SERVICE FACILITY SET================================================================ -->
  <xsd:simpleType name="ServiceFacilitySetIdType">
    <xsd:restriction base="FacilitySetIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceFacilitySetRef" type="ServiceFacilitySetRefStructure" substitutionGroup="FacilitySetRef"/>
  <xsd:complexType name="ServiceFacilitySetRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FacilitySetRefStructure">
        <xsd:attribute name="ref" type="ServiceFacilitySetIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceFacilitySetRefStructureType" default="ServiceFacilitySet"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== ===================================================== -->
  <xsd:simpleType name="AccommodationIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="AccommodationRef" type="AccommodationRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="AccommodationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="AccommodationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccommodationRefStructureType" default="Accommodation"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== ===================================================== -->
  <xsd:element name="OnboardStayRef" type="OnboardStayRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OnboardStayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OnboardStayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOnboardStayRefStructureType" default="OnboardStay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="OnboardStayIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!--=============================================================================-->
  <xsd:complexType name="typeOfFacilityRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfFacilityRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfFacilityIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfFacilityRef" type="TypeOfFacilityRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfFacilityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfFacilityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfFacilityRefStructureType" default="TypeOfFacility"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
