src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_linkByValue_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_linkByValue_support">
  <xsd:include schemaLocation="../netex_genericFramework/netex_pointAndLink_version.xsd"/>
  <xsd:include schemaLocation="netex_mode_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="ModalLinkRefByValue" type="ModalLinkRefByValueStructure" substitutionGroup="LinkRefByValue"/>
  <xsd:complexType name="ModalLinkRefByValueStructure">
    <xsd:complexContent>
      <xsd:extension base="LinkRefByValueStructure">
        <xsd:sequence>
          <xsd:sequence>
            <xsd:element ref="VehicleMode" minOccurs="0"/>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ModalLinkRefByValue2Structure">
    <xsd:sequence>
      <xsd:element name="FromPointRef" type="PointRefStructure"/>
      <xsd:element name="ToPointRef" type="PointRefStructure"/>
      <xsd:element ref="TypeOfLinkRef" minOccurs="0"/>
      <xsd:sequence>
        <xsd:element ref="VehicleMode" minOccurs="0"/>
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="nameOfClass" type="NameOfClass"/>
    <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
