src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_mode_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_mode_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_relationship.xsd"/>
  <!--======Out of Vehicle==================================================================================-->
  <xsd:element name="AccessMode" type="AccessModeEnumeration"/>
  <xsd:simpleType name="AccessModeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="foot"/>
      <xsd:enumeration value="bicycle"/>
      <xsd:enumeration value="boat"/>
      <xsd:enumeration value="car"/>
      <xsd:enumeration value="taxi"/>
      <xsd:enumeration value="shuttle"/>
      <xsd:enumeration value="ski"/>
      <xsd:enumeration value="skate"/>
      <xsd:enumeration value="motorcycle"/>
      <xsd:enumeration value="scooter"/>
      <xsd:enumeration value="wheelchair"/>
      <xsd:enumeration value="animalRide"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AccessModeListOfEnumerations">
    <xsd:list itemType="AccessModeEnumeration"/>
  </xsd:simpleType>
  <!--======Vehicle===================================================================================-->
  <xsd:element name="VehicleMode" type="AllPublicTransportModesEnumeration"/>
  <!--======Modes===================================================================================-->
  <xsd:element name="RoadVehicleMode" type="RoadVehicleModeEnumeration"/>
  <xsd:simpleType name="RoadVehicleModeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="bus"/>
      <xsd:enumeration value="coach"/>
      <xsd:enumeration value="trolleyBus"/>
      <xsd:enumeration value="tram"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RoadVehicleModeListOfEnumerations">
    <xsd:list itemType="RoadVehicleModeEnumeration"/>
  </xsd:simpleType>
  <!--======Modes===================================================================================-->
  <xsd:element name="AllVehicleModes" type="AllPublicTransportModesEnumeration"/>
  <xsd:simpleType name="AllModesEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="anyMode"/>
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="air"/>
      <xsd:enumeration value="bus"/>
      <xsd:enumeration value="trolleyBus"/>
      <xsd:enumeration value="tram"/>
      <xsd:enumeration value="coach"/>
      <xsd:enumeration value="rail"/>
      <xsd:enumeration value="intercityRail"/>
      <xsd:enumeration value="urbanRail"/>
      <xsd:enumeration value="metro"/>
      <xsd:enumeration value="water"/>
      <xsd:enumeration value="ferry"/>
      <xsd:enumeration value="cableway"/>
      <xsd:enumeration value="funicular"/>
      <xsd:enumeration value="lift"/>
      <xsd:enumeration value="snowAndIce"/>
      <xsd:enumeration value="taxi"/>
      <xsd:enumeration value="selfDrive"/>
      <xsd:enumeration value="foot"/>
      <xsd:enumeration value="bicycle"/>
      <xsd:enumeration value="motorcycle"/>
      <xsd:enumeration value="scooter"/>
      <xsd:enumeration value="car"/>
      <xsd:enumeration value="shuttle"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AllModesListOfEnumerations">
    <xsd:list itemType="AllModesEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="AllPublicTransportModesListOfEnumerations">
    <xsd:list itemType="AllPublicTransportModesEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="AllPublicTransportModesEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="all"/>
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="bus"/>
      <xsd:enumeration value="trolleyBus"/>
      <xsd:enumeration value="tram"/>
      <xsd:enumeration value="coach"/>
      <xsd:enumeration value="rail"/>
      <xsd:enumeration value="intercityRail"/>
      <xsd:enumeration value="urbanRail"/>
      <xsd:enumeration value="metro"/>
      <xsd:enumeration value="air"/>
      <xsd:enumeration value="water"/>
      <xsd:enumeration value="cableway"/>
      <xsd:enumeration value="funicular"/>
      <xsd:enumeration value="snowAndIce"/>
      <xsd:enumeration value="taxi"/>
      <xsd:enumeration value="ferry"/>
      <xsd:enumeration value="lift"/>
      <xsd:enumeration value="selfDrive"/>
      <xsd:enumeration value="anyMode"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!--========================================================================================-->
  <!--======Modes - Open values===================================================================================-->
  <xsd:complexType name="openTransportModeRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="OpenTransportModeRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="OpenTransportModeIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="OpenTransportModeRef" type="OpenTransportModeRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="OpenTransportModeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="OpenTransportModeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOpenTransportModeRefStructureType" default="OpenTransportMode"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--======Modes===================================================================================-->
  <xsd:simpleType name="SubmodeIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SubmodeRef" type="SubmodeRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SubmodeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SubmodeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSubmodeRefStructureType" default="Submode"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--======Modes===================================================================================-->
  <xsd:complexType name="modeRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ModeRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ModeRef" type="ModeRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="ModeRefStructure">
    <xsd:simpleContent>
      <xsd:extension base="SubmodeRefStructure">
        <xsd:attribute name="mode" type="AllPublicTransportModesEnumeration" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--======STOP PLACE Types for different modes ======================================================================================-->
  <xsd:simpleType name="StopTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="onstreetBus"/>
      <xsd:enumeration value="onstreetTram"/>
      <xsd:enumeration value="airport"/>
      <xsd:enumeration value="railStation"/>
      <xsd:enumeration value="metroStation"/>
      <xsd:enumeration value="busStation"/>
      <xsd:enumeration value="coachStation"/>
      <xsd:enumeration value="tramStation"/>
      <xsd:enumeration value="harbourPort"/>
      <xsd:enumeration value="ferryPort"/>
      <xsd:enumeration value="ferryStop"/>
      <xsd:enumeration value="liftStation"/>
      <xsd:enumeration value="vehicleRailInterchange"/>
      <xsd:enumeration value="taxiRank"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
