src/main/resources/xsd/netex_framework/netex_reusableComponents/netex_availabilityCondition_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_availabilityCondition_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_validityCondition_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="AvailabilityConditionIdType">
    <xsd:restriction base="ValidityConditionIdType"/>
  </xsd:simpleType>
  <xsd:element name="AvailabilityConditionRef" type="AvailabilityConditionRefStructure" substitutionGroup="ValidityConditionRef"/>
  <xsd:complexType name="AvailabilityConditionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ValidityConditionRefStructure">
        <xsd:attribute name="ref" type="AvailabilityConditionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAvailabilityConditionRefStructureType" default="AvailabilityCondition"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====DAY TYPE=================================================== -->
</xsd:schema>
