src/main/resources/xsd/wsdl_model/siri_wsConsumer-Framework.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.3" id="siriWS">
  <xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="../siriSg.xsd"/>
  <!-- Heartbeat -->
  <xsd:complexType name="WsHeartbeatNotificationStructure">
    <xsd:sequence>
      <xsd:element name="HeartbeatNotifyInfo" type="siri:ProducerRequestEndpointStructure" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Notification" type="siri:CheckStatusResponseBodyStructure" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="SiriExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifyHeartbeat" type="WsHeartbeatNotificationStructure"/>
  <!-- DataReady -->
  <xsd:complexType name="WsDataReadyNotificationStructure">
    <xsd:sequence>
      <xsd:element name="Notification" type="siri:DataReadyRequestStructure"/>
      <xsd:element name="SiriExtension" type="siri:ExtensionsStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifyDataReady" type="WsDataReadyNotificationStructure"/>
  <!-- DataReady -->
  <xsd:complexType name="WsSubscriptionTerminatedNotificationStructure">
    <xsd:sequence>
      <xsd:element name="Notification" type="siri:TerminateSubscriptionRequestStructure"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="NotifySubscriptionTerminated" type="WsSubscriptionTerminatedNotificationStructure"/>
</xsd:schema>
