src/main/resources/xsd/netex_part_3/part3_fares/netex_typeOfTravelDocument_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_typeOfTravelDocument_version">
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_typeOfValue_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_alternativeName_version.xsd"/>
  <xsd:include schemaLocation="netex_typeOfTravelDocument_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="TypesOfTravelDocumentsInFrameGroup">
    <xsd:sequence>
      <xsd:element name="typesOfTravelDocuments" type="typesOfTravelDocumentInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="typesOfTravelDocumentInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfTravelDocument" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====TYPE OF TRAVEL DOCUMENT======================================== -->
  <xsd:complexType name="typesOfTravelDocuments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="TypeOfTravelDocumentRef"/>
          <xsd:element ref="TypeOfTravelDocument"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TypeOfTravelDocument" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfTravelDocument_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="IsCard" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="IsSmartCard" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="HasPhoto" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="MediaType" type="MediaTypeEnumeration" minOccurs="0"/>
              <xsd:element name="MachineReadable" type="MachineReadableListOfEnumerations" minOccurs="0"/>
              <xsd:element name="typesOfMachineReadabilities" type="typesOfMachineReadabilities_RelStructure" minOccurs="0"/>
              <xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfTravelDocumentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfTravelDocument_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure">
        <xsd:group ref="TypeOfTravelDocumentGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfTravelDocumentGroup">
    <xsd:sequence>
      <xsd:element name="IsCard" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="IsSmartCard" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="HasPhoto" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="MediaType" type="MediaTypeEnumeration" minOccurs="0"/>
      <xsd:element name="MachineReadable" type="MachineReadableListOfEnumerations" minOccurs="0"/>
      <xsd:element name="typesOfMachineReadabilities" type="typesOfMachineReadabilities_RelStructure" minOccurs="0"/>
      <xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====TYPE OF TRAVEL DOCUMENT======================================== -->
  <xsd:complexType name="typesOfMachineReadabilities_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfMachineReadabilityRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TypeOfMachineReadability" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfMachineReadability_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfMachineReadabilityIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfMachineReadability_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
