src/main/resources/xsd/netex_part_3/part3_fares/netex_fareConditionSummary_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_fareConditionSummary_support">
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ===ConditionSummary================================================== -->
  <xsd:simpleType name="TrainRestrictionsEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="anyTrain"/>
      <xsd:enumeration value="restricted"/>
      <xsd:enumeration value="specifiedTrainOnly"/>
      <xsd:enumeration value="specifiedTrainsOnly"/>
      <xsd:enumeration value="specifiedTrainAndConnections"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OperatorRestrictionsEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="anyTrain"/>
      <xsd:enumeration value="restricted"/>
      <xsd:enumeration value="specifiedOperatorOnly"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FareStructureTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="networkFlatFare"/>
      <xsd:enumeration value="lineFlatFare"/>
      <xsd:enumeration value="zonalFare"/>
      <xsd:enumeration value="zoneToZoneFare"/>
      <xsd:enumeration value="zoneSequenceFare"/>
      <xsd:enumeration value="cappedFlatFare"/>
      <xsd:enumeration value="cappedPointToPointFare"/>
      <xsd:enumeration value="cappedZonalFare"/>
      <xsd:enumeration value="pointToPointFare"/>
      <xsd:enumeration value="pointToPointDistanceFare"/>
      <xsd:enumeration value="stageFare"/>
      <xsd:enumeration value="penaltyFare"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VehicleCollectionEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="onSite"/>
      <xsd:enumeration value="offSiteShuttle"/>
      <xsd:enumeration value="offSite"/>
      <xsd:enumeration value="meetAndGreet"/>
      <xsd:enumeration value="floating"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
