src/main/resources/xsd/netex_part_3/part3_fares/netex_salesOfferPackageEntitlement_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesOfferPackageEntitlement_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
  <!-- === ENTTITLEMENT REQUIRED PARAMETER======================================= -->
  <xsd:simpleType name="SalesOfferPackageEntitlementRequiredIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesOfferPackageEntitlementRequiredRef" type="SalesOfferPackageEntitlementRequiredRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="SalesOfferPackageEntitlementRequiredRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesOfferPackageEntitlementRequiredRefStructureType" default="SalesOfferPackageEntitlementRequired"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="UsageParameterIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === ENTTITLEMENT GIven PARAMETER======================================= -->
  <xsd:simpleType name="SalesOfferPackageEntitlementGivenIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesOfferPackageEntitlementGivenRef" type="SalesOfferPackageEntitlementGivenRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="SalesOfferPackageEntitlementGivenRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="SalesOfferPackageEntitlementGivenIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesOfferPackageEntitlementGivenRefStructureType" default="SalesOfferPackageEntitlementGiven"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
