src/main/resources/xsd/netex_part_3/part3_fares/netex_timeStructureFactor_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_timeStuctureFactor_support">
  <xsd:include schemaLocation="netex_fareStructure_support.xsd"/>
  <!-- ====TIME  UNIT.================================================== -->
  <xsd:simpleType name="TimeUnitIdType">
    <xsd:restriction base="FareUnitIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimeUnitRef" type="TimeUnitRefStructure" substitutionGroup="FareUnitRef"/>
  <xsd:complexType name="TimeUnitRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FareUnitRefStructure">
        <xsd:attribute name="ref" type="TimeUnitIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimeUnitRefStructureType" default="TimeUnit"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====TIME INTERVAL================================================== -->
  <xsd:complexType name="timeIntervalRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TimeIntervalRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TimeIntervalIdType">
    <xsd:restriction base="FareIntervalIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimeIntervalRef" type="TimeIntervalRefStructure" substitutionGroup="FareIntervalRef"/>
  <xsd:complexType name="TimeIntervalRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FareIntervalRefStructure">
        <xsd:attribute name="ref" type="TimeIntervalIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimeIntervalRefStructureType" default="TimeInterval"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====TIME STRUCTURE FACTOR========================================== -->
  <xsd:simpleType name="TimeStructureFactorIdType">
    <xsd:restriction base="FareStructureFactorIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimeStructureFactorRef" type="TimeStructureFactorRefStructure" substitutionGroup="FareStructureFactorRef"/>
  <xsd:complexType name="TimeStructureFactorRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FareStructureFactorRefStructure">
        <xsd:attribute name="ref" type="TimeStructureFactorIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimeStructureFactorRefStructureType" default="TimeStructureFactor"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === TIME UNIT PRICE.============================================= -->
  <xsd:simpleType name="TimeUnitPriceIdType">
    <xsd:restriction base="FarePriceIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimeUnitPriceRef" type="TimeUnitPriceRefStructure" substitutionGroup="FarePriceRef"/>
  <xsd:complexType name="TimeUnitPriceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FarePriceRefStructure">
        <xsd:attribute name="ref" type="TimeUnitPriceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimeUnitPriceRefStructureType" default="TimeUnitPrice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === TIME INTERVAL PRICE.============================================= -->
  <xsd:simpleType name="TimeIntervalPriceIdType">
    <xsd:restriction base="FarePriceIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimeIntervalPriceRef" type="TimeIntervalPriceRefStructure" substitutionGroup="FarePriceRef"/>
  <xsd:complexType name="TimeIntervalPriceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FarePriceRefStructure">
        <xsd:attribute name="ref" type="TimeIntervalPriceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimeIntervalPriceRefStructureType" default="TimeIntervalPrice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
