src/main/resources/xsd/netex_part_3/part3_fares/netex_usageParameter_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_usageParameter_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_farePrice_support.xsd"/>
  <!-- === USAGE PARAMETER====================================================== -->
  <xsd:complexType name="usageParameterRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="UsageParameterRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="UsageParameterIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="UsageParameterRef" type="UsageParameterRefStructure" abstract="true" substitutionGroup="PriceableObjectRef"/>
  <xsd:complexType name="UsageParameterRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="UsageParameterIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassUsageParameterRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === USAGE PARAMETER PRICE====================================================== -->
  <xsd:complexType name="usageParameterPriceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="UsageParameterPriceRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="UsageParameterPriceIdType">
    <xsd:restriction base="FarePriceIdType"/>
  </xsd:simpleType>
  <xsd:element name="UsageParameterPriceRef" type="UsageParameterPriceRefStructure" substitutionGroup="FarePriceRef"/>
  <xsd:complexType name="UsageParameterPriceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FarePriceRefStructure">
        <xsd:attribute name="ref" type="UsageParameterPriceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassUsageParameterPriceRefStructureType" default="UsageParameterPrice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====TYPE OF USAGE PARAMETER================================================= -->
  <xsd:simpleType name="TypeOfUsageParameterIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfUsageParameterRef" type="TypeOfUsageParameterRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TypeOfUsageParameterRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfUsageParameterIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfUsageParameterRefStructureType" default="TypeOfUsageParameter"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====TYPE OF CONCESSION ================================================= -->
  <xsd:simpleType name="TypeOfConcessionIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfConcessionRef" type="TypeOfConcessionRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="TypeOfConcessionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfConcessionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfConcessionRefStructureType" default="TypeOfConcession"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ReservationChargeTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="noFee"/>
      <xsd:enumeration value="fee"/>
      <xsd:enumeration value="singleFeeForReturnTrip"/>
      <xsd:enumeration value="feeForEachDirection"/>
      <xsd:enumeration value="feeForEachLeg"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DiscountBasisEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="discount"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PerBasisEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="perOffer"/>
      <xsd:enumeration value="perPerson"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
