src/main/resources/xsd/netex_part_3/part3_fares/netex_usageParameterEligibility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_usageParameterEligibility_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
  <!-- === PROFILE  USAGE PARAMETERS=================================== -->
  <xsd:group name="ProfileRefsGroup">
    <xsd:sequence>
      <xsd:element ref="CommercialProfileRef" minOccurs="0"/>
      <xsd:element ref="GroupTicketRef" minOccurs="0"/>
      <xsd:element ref="UserProfileRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="UsageParameterProductRefGroup">
    <xsd:sequence>
      <xsd:element name="CommercialProfileRef" type="CommercialProfileRefStructure" minOccurs="0"/>
      <xsd:element name="GroupTicketRef" type="GroupTicketRefStructure" minOccurs="0"/>
      <xsd:element name="UserProfileRef" type="UserProfileRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="ProfileParameterRef" type="UsageParameterRefStructure" substitutionGroup="UsageParameterRef"/>
  <!-- === USER PROFILE PARAMETER======================================= -->
  <xsd:complexType name="userProfileRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="UserProfileRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="UserProfileIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="UserProfileRef" type="UserProfileRefStructure" substitutionGroup="ProfileParameterRef"/>
  <xsd:complexType name="UserProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="UserProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassUserProfileRefStructureType" default="UserProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === COMMERCIAL PROFILE ===================================================== -->
  <xsd:simpleType name="CommercialProfileIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="CommercialProfileRef" type="CommercialProfileRefStructure" substitutionGroup="ProfileParameterRef"/>
  <xsd:complexType name="CommercialProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="CommercialProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCommercialProfileRefStructureType" default="CommercialProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CommercialProfileTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="unlimited"/>
      <xsd:enumeration value="limited"/>
      <xsd:enumeration value="single"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === GROUP TICKET PARAMETER====================================================== -->
  <xsd:simpleType name="GroupTicketIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupTicketRef" type="GroupTicketRefStructure" substitutionGroup="ProfileParameterRef"/>
  <xsd:complexType name="GroupTicketRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="GroupTicketIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupTicketRefStructureType" default="GroupTicket"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="GroupTicketingEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="allOnOneTicket"/>
      <xsd:enumeration value="separateTickets"/>
      <xsd:enumeration value="ticketWithCoupons"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GroupCheckInEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="required"/>
      <xsd:enumeration value="allowed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GroupSizeChangesEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="noChanges"/>
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="charge"/>
      <xsd:enumeration value="purchaseWindowSteppedCharge"/>
      <xsd:enumeration value="numberOfPassengersSteppedCharge"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === COMPANION PROFILE ============================================== -->
  <xsd:simpleType name="CompanionProfileIdType">
    <xsd:restriction base="UserProfileIdType"/>
  </xsd:simpleType>
  <xsd:element name="CompanionProfileRef" type="CompanionProfileRefStructure" substitutionGroup="UserProfileRef"/>
  <xsd:complexType name="CompanionProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UserProfileRefStructure">
        <xsd:attribute name="ref" type="CompanionProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCompanionProfileRefStructureType" default="CompanionProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CompanionRelationshipEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="anyone"/>
      <xsd:enumeration value="parent"/>
      <xsd:enumeration value="grandparent"/>
      <xsd:enumeration value="child"/>
      <xsd:enumeration value="grandchild"/>
      <xsd:enumeration value="family"/>
      <xsd:enumeration value="spouse"/>
      <xsd:enumeration value="partner"/>
      <xsd:enumeration value="dependent"/>
      <xsd:enumeration value="colleague"/>
      <xsd:enumeration value="pupil"/>
      <xsd:enumeration value="teacher"/>
      <xsd:enumeration value="carer"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GroupDiscountBasisEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="discountForFirstPersonOnly"/>
      <xsd:enumeration value="discountForSecondAndSubsequentPersons"/>
      <xsd:enumeration value="stepDiscount"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProofOfIdentityEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="noneRequired"/>
      <xsd:enumeration value="creditCard"/>
      <xsd:enumeration value="passport"/>
      <xsd:enumeration value="drivingLicence"/>
      <xsd:enumeration value="birthCertificate"/>
      <xsd:enumeration value="membershipCard"/>
      <xsd:enumeration value="identityDocument"/>
      <xsd:enumeration value="medicalDocument"/>
      <xsd:enumeration value="studentCard"/>
      <xsd:enumeration value="letterWIthAddress"/>
      <xsd:enumeration value="mobileDevice"/>
      <xsd:enumeration value="emailAccount"/>
      <xsd:enumeration value="measurement"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProofOfIdentityListOfEnumerations">
    <xsd:list itemType="ProofOfIdentityEnumeration"/>
  </xsd:simpleType>
  <!-- ==== TYPE OF PROOF   ================================================== -->
  <xsd:complexType name="typesOfProofRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfProofRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfProofIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfProofRef" type="TypeOfProofRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="TypeOfProofRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfProofRefStructureType" default="TypeOfProof"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="TypeOfValueIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  RESIDENTIAL QUALIFICATION ============================================== -->
  <xsd:simpleType name="ResidentialQualificationIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="ResidentialQualificationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="ResidentialQualificationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassResidentialQualificationRefStructureType" default="ResidentialQualification"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="ResidentialQualificationRef" type="ResidentialQualificationRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:simpleType name="ResidenceTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="live"/>
      <xsd:enumeration value="work"/>
      <xsd:enumeration value="study"/>
      <xsd:enumeration value="exchange"/>
      <xsd:enumeration value="born"/>
      <xsd:enumeration value="nonResident"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ===  ELIGIBILITY CHANGE ============================================== -->
  <xsd:complexType name="EligibilityChangePolicyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="EligibilityChangePolicyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEligibilityChangePolicyRefStructureType" default="EligibilityChangePolicy"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="EligibilityChangePolicyIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="EligibilityChangePolicyRef" type="EligibilityChangePolicyRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:simpleType name="OnBecomingEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="automatic"/>
      <xsd:enumeration value="invite"/>
      <xsd:enumeration value="noAction"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OnCeasingEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="immediateTermination"/>
      <xsd:enumeration value="useUntilExpiry"/>
      <xsd:enumeration value="terminateAfterGracePeriod"/>
      <xsd:enumeration value="automaticallySubstituteProduct"/>
      <xsd:enumeration value="noAction"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
