src/main/resources/xsd/netex_part_3/part3_fares/netex_usageParameterEntitlement_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterEntitlement_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
  <!-- === ENTTITLEMENT REQUIRED PARAMETER======================================= -->
  <xsd:complexType name="entitlementRequiredRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="EntitlementRequiredRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="EntitlementRequiredIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="EntitlementRequiredRef" type="EntitlementRequiredRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="EntitlementRequiredRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="EntitlementRequiredIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntitlementRequiredRefStructureType" default="EntitlementRequired"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === ENTTITLEMENT GIven PARAMETER======================================= -->
  <xsd:complexType name="entitlementGivenRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="EntitlementGivenRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="EntitlementGivenIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="EntitlementGivenRef" type="EntitlementGivenRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="EntitlementGivenRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="EntitlementGivenIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntitlementGivenRefStructureType" default="EntitlementGiven"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === ENTTITLEMENT ENUMERATIONS====================================== -->
  <xsd:simpleType name="EntitlementTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="purchase"/>
      <xsd:enumeration value="purchaseAtDiscount"/>
      <xsd:enumeration value="use"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SamePeriodEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="samePeriod"/>
      <xsd:enumeration value="withinSamePeriod"/>
      <xsd:enumeration value="sameDay"/>
      <xsd:enumeration value="sameDayOfReturn"/>
      <xsd:enumeration value="sameFareDay"/>
      <xsd:enumeration value="nextDay"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameStopEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="sameAsOrigin"/>
      <xsd:enumeration value="sameAsDestination"/>
      <xsd:enumeration value="sameAsOriginOrDestination"/>
      <xsd:enumeration value="anyStopOnRoute"/>
      <xsd:enumeration value="anyStopInZone"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameZoneEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="sameAsOrigin"/>
      <xsd:enumeration value="sameAsDestination"/>
      <xsd:enumeration value="sameAsOriginOrDestination"/>
      <xsd:enumeration value="within"/>
      <xsd:enumeration value="containing"/>
      <xsd:enumeration value="equivalent"/>
      <xsd:enumeration value="different"/>
      <xsd:enumeration value="neighbouring"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameRouteEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="oppositeDirection"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameOperatorEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="participating"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameClassOfUseEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="sameOrEquivalent"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameJourneyEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="similar"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameTypeOfProductCategoryEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="sameOrEquivalent"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameTypeOfTravelDocumentEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="same"/>
      <xsd:enumeration value="sameMedia"/>
      <xsd:enumeration value="sameSmartcard"/>
      <xsd:enumeration value="sameMobileApp"/>
      <xsd:enumeration value="different"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SameUserEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="samePerson"/>
      <xsd:enumeration value="differentPerson"/>
      <xsd:enumeration value="anyOne"/>
      <xsd:enumeration value="specific"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
