src/main/resources/xsd/netex_part_3/part3_fares/netex_fareSeries_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_fareSeries_support">
  <xsd:include schemaLocation="netex_farePrice_support.xsd"/>
  <!-- ======================================================== -->
  <!-- ====SERIES CONSTRAINT.======================================================== -->
  <xsd:complexType name="seriesConstraintRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SeriesConstraintRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SeriesConstraintIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SeriesConstraintRef" substitutionGroup="PriceableObjectRef">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="SeriesConstraintRefStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SeriesConstraintRefStructure_Dummy">
    <xsd:simpleContent>
      <xsd:extension base="PriceableObjectRefStructure">
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="SeriesConstraintRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SeriesConstraintRefStructure_Dummy">
        <xsd:attribute name="ref" type="SeriesConstraintIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSeriesConstraintRefStructureType" default="SeriesConstraint"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === SERIES PATTERN ======================================================== -->
  <xsd:simpleType name="FareBasisEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="route"/>
      <xsd:enumeration value="distance"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SeriesTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="stationToStation"/>
      <xsd:enumeration value="originToBorder"/>
      <xsd:enumeration value="borderToDestination"/>
      <xsd:enumeration value="border"/>
      <xsd:enumeration value="transit"/>
      <xsd:enumeration value="zoneToZone"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RoutingTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="direct"/>
      <xsd:enumeration value="indirect"/>
      <xsd:enumeration value="both"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === SERIES CONSTRAINT ELEMENT PRICE====================================================== -->
  <xsd:simpleType name="SeriesConstraintPriceIdType">
    <xsd:restriction base="FarePriceIdType"/>
  </xsd:simpleType>
  <xsd:element name="SeriesConstraintPriceRef" type="SeriesConstraintPriceRefStructure" substitutionGroup="FarePriceRef"/>
  <xsd:complexType name="SeriesConstraintPriceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FarePriceRefStructure">
        <xsd:attribute name="ref" type="SeriesConstraintPriceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSeriesConstraintPriceRefStructureType" default="SeriesConstraintPrice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === ZONE IN SERIES ====================================================== -->
  <xsd:simpleType name="ZoneInSeriesIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="ZoneInSeriesRef" type="ZoneInSeriesRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="ZoneInSeriesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="ZoneInSeriesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassZoneInSeriesRefStructureType" default="ZoneInSeries"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================== -->
</xsd:schema>
