src/main/resources/xsd/netex_part_3/part3_fares/netex_salesOfferPackage_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesOfferPackage_support">
  <xsd:include schemaLocation="netex_fareProduct_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_notice_support.xsd"/>
  <!-- =============================================================== -->
  <!-- ====SALES OFFER PACKAGE.======================================================== -->
  <xsd:complexType name="salesOfferPackageRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SalesOfferPackageRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SalesOfferPackageIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesOfferPackageRef" type="SalesOfferPackageRefStructure" substitutionGroup="PriceableObjectRef"/>
  <xsd:complexType name="SalesOfferPackageRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="SalesOfferPackageIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesOfferPackageRefStructureType" default="SalesOfferPackage"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====SALES OFFER PACKAGE ELEMENT.======================================================== -->
  <xsd:simpleType name="SalesOfferPackageElementIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesOfferPackageElementRef" type="SalesOfferPackageElementRefStructure" substitutionGroup="PriceableObjectRef"/>
  <xsd:complexType name="SalesOfferPackageElementRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="SalesOfferPackageElementIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesOfferPackageElementRefStructureType" default="SalesOfferPackageElement"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === SALES OFFER PACKAGE PRICE====================================================== -->
  <xsd:simpleType name="SalesOfferPackagePriceIdType">
    <xsd:restriction base="FarePriceIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesOfferPackagePriceRef" type="SalesOfferPackagePriceRefStructure" substitutionGroup="FarePriceRef"/>
  <xsd:complexType name="SalesOfferPackagePriceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FarePriceRefStructure">
        <xsd:attribute name="ref" type="SalesOfferPackagePriceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesOfferPackagePriceRefStructureType" default="SalesOfferPackagePrice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====SALES OFFER PACKAGE SUBSTITIUTION =============================-->
  <xsd:simpleType name="SalesOfferPackageSubstitutionIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="SalesOfferPackageSubstitutionRef" type="SalesOfferPackageSubstitutionRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="SalesOfferPackageSubstitutionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="SalesOfferPackageSubstitutionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSalesOfferPackageSubstitutionRefStructureType" default="SalesOfferPackageSubstitution"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====GROUP OF SALES OFFER PACKAGEs.======================================================== -->
  <xsd:complexType name="groupOfSalesOfferPackageRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfSalesOfferPackagesRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="GroupOfSalesOfferPackagesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfSalesOfferPackagesRef" type="GroupOfSalesOfferPackagesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfSalesOfferPackagesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfSalesOfferPackagesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfSalesOfferPackagesRefStructureType" default="GroupOfSalesOfferPackages"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== SALES NOTICE ASSIGNMENT======================================================== -->
  <xsd:simpleType name="SalesNoticeAssignmentIdType">
    <xsd:restriction base="NoticeAssignmentIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="SalesNoticeAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="NoticeAssignmentRefStructure">
        <xsd:attribute name="ref" type="SalesNoticeAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAssignmentRefStructureType" use="optional" default="SalesNoticeAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====DISTRIBUTION ASSIGNMENT.=================================================== -->
  <xsd:simpleType name="DistributionAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="DistributionAssignmentRef" type="DistributionAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="DistributionAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="DistributionAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDistributionAssignmentRefStructureType" default="DistributionAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====TYPE OF SALES OFFER PACKAGE================================================== -->
  <xsd:complexType name="typeOfsalesOfferPackageRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfSalesOfferPackageRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfSalesOfferPackageIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfSalesOfferPackageRef" type="TypeOfSalesOfferPackageRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfSalesOfferPackageRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfSalesOfferPackageIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfSalesOfferPackageRefStructureType" default="TypeOfSalesOfferPackage"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- =============================================================== -->
</xsd:schema>
