src/main/resources/xsd/netex_part_3/part3_fares/netex_usageParameterBooking_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_usageParameterBooking_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
  <xsd:group name="UsageParameterBookingRefGroup">
    <xsd:sequence>
      <xsd:element ref="PurchaseWindowRef" minOccurs="0"/>
      <xsd:element ref="ReservingRef" minOccurs="0"/>
      <xsd:element ref="CancellingRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === BOOKING============================================ -->
  <!-- === PURCHASE WINDOW PARAMETER====================================================== -->
  <xsd:simpleType name="PurchaseWindowIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="PurchaseWindowRef" type="PurchaseWindowRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="PurchaseWindowRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="PurchaseWindowIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPurchaseWindowRefStructureType" default="PurchaseWindow"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PurchaseActionEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="purchase"/>
      <xsd:enumeration value="orderWithoutPayment"/>
      <xsd:enumeration value="reserve"/>
      <xsd:enumeration value="payForPreviousOrder"/>
      <xsd:enumeration value="subscribe"/>
      <xsd:enumeration value="payInstallment"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === RESERVING PARAMETER====================================================== -->
  <xsd:simpleType name="BookingPolicyIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="BookingPolicyRef" type="BookingPolicyRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="BookingPolicyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="BookingPolicyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassBookingPolicyRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === RESERVING PARAMETER====================================================== -->
  <xsd:simpleType name="ReservingIdType">
    <xsd:restriction base="BookingPolicyIdType"/>
  </xsd:simpleType>
  <xsd:element name="ReservingRef" type="ReservingRefStructure" substitutionGroup="BookingPolicyRef"/>
  <xsd:complexType name="ReservingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="BookingPolicyRefStructure">
        <xsd:attribute name="ref" type="ReservingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassReservingRefStructureType" default="Reserving"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === RESERVING PARAMETER====================================================== -->
  <xsd:simpleType name="CancellingIdType">
    <xsd:restriction base="BookingPolicyIdType"/>
  </xsd:simpleType>
  <xsd:element name="CancellingRef" type="CancellingRefStructure" substitutionGroup="BookingPolicyRef"/>
  <xsd:complexType name="CancellingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="BookingPolicyRefStructure">
        <xsd:attribute name="ref" type="CancellingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCancellingRefStructureType" default="Cancelling"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === BOOKING============================================ -->
</xsd:schema>
