src/main/resources/xsd/netex_part_3/part3_fares/netex_validableElement_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_validableElement_version">
  <xsd:include schemaLocation="netex_accessRightParameter_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="ValidableElementsInFrameGroup">
    <xsd:sequence>
      <xsd:element name="validableElements" type="validableElementsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="controllableElements" type="controllableElementsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="validableElementsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:sequence>
          <xsd:element ref="ValidableElement" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="validableElements_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ValidableElementRef"/>
          <xsd:element ref="ValidableElement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ValidableElement" substitutionGroup="PriceableObject_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ValidableElement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidableElementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ValidableElementIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ValidableElement_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PriceableObject_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ValidableElementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ValidableElementGroup">
    <xsd:sequence>
      <xsd:group ref="ValidableElementStructureGroup"/>
      <xsd:group ref="ValidableElementProductGroup"/>
      <xsd:element name="prices" type="validableElementPrices_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ValidableElementStructureGroup">
    <xsd:sequence>
      <xsd:element name="fareStructureElements" type="fareStructureElementRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="fareElementsInSequence" type="fareElementInSequenceRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ValidableElementProductGroup">
    <xsd:sequence>
      <xsd:element name="discountRights" type="discountRightRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="amountOfPriceUnits" type="amountOfPriceUnitRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="thirdPartyProducts" type="thirdPartyProductRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="validityParameterAssignments" type="validityParameterAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- == VALIDABLE ELEMENT PRICE.============================= -->
  <xsd:complexType name="validableElementPrices_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ValidableElementPriceRef"/>
          <xsd:element ref="ValidableElementPrice"/>
          <xsd:element ref="CellRef_Dummy"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ValidableElementPrice" substitutionGroup="FarePrice_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ValidableElementPrice_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FarePriceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidableElementPriceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ValidableElementPriceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ValidableElementPrice_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="FarePrice_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="ValidableElementPriceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ValidableElementPriceGroup">
    <xsd:sequence>
      <xsd:element ref="ValidableElementRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in FARE FRAME)=================================================== -->
  <xsd:complexType name="controllableElementsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:sequence>
          <xsd:element ref="ControllableElement" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="controllableElements_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ControllableElementRef"/>
          <xsd:element ref="ControllableElement"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ControllableElement" substitutionGroup="PriceableObject_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ControllableElement_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ControllableElementGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ControllableElementIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ControllableElement_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PriceableObject_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ControllableElementGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ControllableElementGroup">
    <xsd:sequence>
      <xsd:element name="accessRightParameterAssignments" type="accessRightParameterAssignments_RelStructure" minOccurs="0"/>
      <xsd:element name="controllableElementsInSequence" type="controllableElementsInSequence_RelStructure" minOccurs="0"/>
      <xsd:element name="prices" type="controllableElementPrices_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====CONTROLLABLE ELEMENT IN SEQUENCE.============================= -->
  <xsd:complexType name="controllableElementsInSequence_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ControllableElementInSequenceRef"/>
          <xsd:element ref="ControllableElementInSequence"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ControllableElementInSequence" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ControllableElementInSequence_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FareElementInSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ControllableElementInSequenceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ControllableElementInSequenceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ControllableElementInSequence_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="FareElementInSequence_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="ControllableElementInSequenceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ControllableElementInSequenceGroup">
    <xsd:sequence>
      <xsd:element ref="ControllableElementRef" minOccurs="0"/>
      <xsd:element ref="FareStructureElementRef" minOccurs="0"/>
      <xsd:element name="accessRightParameterAssignments" type="accessRightParameterAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- == CONTROLLABLE ELEMENT PRICEs.============================= -->
  <xsd:complexType name="controllableElementPrices_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ControllableElementPriceRef"/>
          <xsd:element ref="CellRef_Dummy"/>
          <xsd:element ref="ControllableElementPrice"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ControllableElementPrice" substitutionGroup="FarePrice_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ControllableElementPrice_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FarePriceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ControllableElementPriceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ControllableElementPriceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ControllableElementPrice_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="FarePrice_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="ControllableElementPriceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ControllableElementPriceGroup">
    <xsd:sequence>
      <xsd:element ref="ControllableElementRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
