src/main/resources/xsd/netex_part_3/part3_fares/netex_accessRightParameter_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_accessRightParameter_version">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_modeOfOperation_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceCalendar_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleSeating_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElementType_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_topographicPlace_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_deckPlan_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_seatingPlan_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicle_support.xsd"/>
  <!-- ====Network ========================================================= -->
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_pointOfInterest_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_localService_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_line_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_servicePattern_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_tacticalPlanning/netex_routingConstraint_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_networkDescription/netex_route_support.xsd"/>
  <!-- ====Timetables ========================================================= -->
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_serviceJourney_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_datedVehicleJourney_support.xsd"/>
  <!-- ====Fares ========================================================= -->
  <xsd:include schemaLocation="netex_validableElement_support.xsd"/>
  <xsd:include schemaLocation="netex_qualityStructureFactor_support.xsd"/>
  <xsd:include schemaLocation="netex_timeStructureFactor_support.xsd"/>
  <xsd:include schemaLocation="netex_distanceMatrixElement_version.xsd"/>
  <xsd:include schemaLocation="netex_usageParametersAll_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_serviceJourney_support.xsd"/>
  <xsd:include schemaLocation="netex_fareProduct_support.xsd"/>
  <xsd:include schemaLocation="netex_distanceMatrixElement_version.xsd"/>
  <xsd:include schemaLocation="netex_usageParameterEligibility_support.xsd"/>
  <xsd:include schemaLocation="netex_salesDistribution_support.xsd"/>
  <xsd:include schemaLocation="netex_salesOfferPackageEntitlement_support.xsd"/>
  <xsd:include schemaLocation="netex_salesOfferPackage_support.xsd"/>
  <xsd:include schemaLocation="../part3_salesTransactions/netex_mediumApplication_support.xsd"/>
  <xsd:include schemaLocation="netex_typeOfTravelDocument_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_nm_fleetEquipment_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_taxiPlace_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_2/part2_journeyTimes/netex_vehicleJourneyStopAssignment_support.xsd"/>
  <!-- ====New Modes ========================================================= -->
  <xsd:include schemaLocation="../../netex_part_5/part5_rc/netex_nm_mobilityService_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_5/part5_nd/netex_nm_vehicleMeetingPoint_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_5/part5_nd/netex_nm_mobilityServiceConstraintZone_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_5/part5_sj/netex_nm_singleJourneyPath_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_5/part5_sj/netex_nm_singleJourneyService_support.xsd"/>
  <!-- ===ACCESS RIGHTS======================================================== -->
  <xsd:include schemaLocation="netex_accessRightParameter_support.xsd"/>
  <xsd:include schemaLocation="netex_usageParameter_version.xsd"/>
  <xsd:include schemaLocation="netex_distanceMatrixElement_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="accessRightParameterAssignmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:choice>
          <xsd:element ref="AccessRightParameterAssignment_Dummy" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:complexType name="validityParameterAssignmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="frameContainmentStructure">
        <xsd:sequence>
          <xsd:element ref="ValidityParameterAssignment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
  <xsd:complexType name="accessRightParameterAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="AccessRightParameterAssignment_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AccessRightParameterAssignment_Dummy" type="DataManagedObjectStructure" abstract="true" substitutionGroup="Assignment_Dummy"/>
  <xsd:element name="AccessRightParameterAssignment" substitutionGroup="AccessRightParameterAssignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AccessRightParameterAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessRightParameterAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AccessRightParameterAssignmentIdType" use="required"/>
          <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccessRightParameterAssignment_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AccessRightParameterAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AccessRightParameterAssignmentGroup">
    <xsd:sequence>
      <xsd:group ref="AccessRightParameterAssignmentPropertiesGroup"/>
      <xsd:group ref="ParameterAssignmentScopeGroup"/>
      <xsd:group ref="UsageValidityParameterGroup"/>
      <xsd:group ref="AccessRightParameterValidityParameterGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AccessRightParameterAssignmentPropertiesGroup">
    <xsd:sequence>
      <xsd:element name="IsAllowed" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element ref="TypeOfAccessRightAssignmentRef" minOccurs="0"/>
      <xsd:element name="ChargingBasis" type="ChargingBasisEnumeration" default="any" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ParameterAssignmentScopeGroup">
    <xsd:sequence>
      <xsd:element ref="ValidableElementRef" minOccurs="0"/>
      <xsd:element ref="ControllableElementRef" minOccurs="0"/>
      <xsd:group ref="FareProductRefGroup" minOccurs="0"/>
      <xsd:element ref="TariffRef" minOccurs="0"/>
      <xsd:element ref="FareStructureElementRef" minOccurs="0"/>
      <xsd:element ref="FareElementInSequenceRef" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="DistanceMatrixElementRef"/>
        <xsd:element ref="DynamicDistanceMatrixElement"/>
      </xsd:choice>
      <xsd:element ref="DistanceMatrixElementInverseRef" minOccurs="0"/>
      <xsd:element ref="DistanceMatrixElementView" minOccurs="0"/>
      <xsd:element ref="SalesOfferPackageRef" minOccurs="0"/>
      <xsd:element ref="GroupOfDistanceMatrixElementsRef" minOccurs="0"/>
      <xsd:element ref="GroupOfSalesOfferPackagesRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="UsageValidityParameterGroup">
    <xsd:sequence>
      <xsd:element name="LimitationGroupingType" type="LogicalOperationEnumeration" default="AND" minOccurs="0"/>
      <xsd:element name="LimitationSetSelectionType" type="SetOperatorEnumeration" minOccurs="0"/>
      <xsd:element name="limitations" type="usageParameters_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AccessRightParameterValidityParameterGroup">
    <xsd:sequence>
      <xsd:element name="ValidityParameterAssignmentType" type="RelativeOperatorEnumeration" default="EQ" minOccurs="0"/>
      <xsd:element name="ValidityParameterGroupingType" type="LogicalOperationEnumeration" default="AND" minOccurs="0"/>
      <xsd:element name="ValidityParameterSetSelectionType" type="SetOperatorEnumeration" minOccurs="0"/>
      <xsd:element name="temporalValidityParameters" type="temporalValidityParameters_RelStructure" minOccurs="0"/>
      <xsd:element name="validityParameters" type="validityParameters_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== TEMPORAL VALIDITY PARAMETER ASSIGNMENT================================== -->
  <xsd:complexType name="temporalValidityParameters_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence maxOccurs="unbounded">
          <xsd:group ref="TemporalValidityParametersGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TemporalValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="DayTypeRef" minOccurs="0"/>
      <xsd:element ref="TimebandRef" minOccurs="0"/>
      <xsd:element ref="GroupOfTimebandsRef" minOccurs="0"/>
      <xsd:element ref="OperatingDayRef" minOccurs="0"/>
      <xsd:element ref="OperatingPeriodRef" minOccurs="0"/>
      <xsd:element ref="ServiceCalendarRef" minOccurs="0"/>
      <xsd:element ref="ValidityConditionRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SCOPING VALIDITY PARAMETER ASSIGNMENT=================================================== -->
  <xsd:complexType name="validityParameters_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence maxOccurs="unbounded">
          <xsd:group ref="ScopingValidityParametersGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ScopingValidityParametersGroup">
    <xsd:sequence>
      <xsd:group ref="ModeValidityParametersGroup"/>
      <xsd:group ref="OrganisationValidityParametersGroup"/>
      <xsd:group ref="NetworkValidityParametersGroup"/>
      <xsd:group ref="RoutingValidityParametersGroup"/>
      <xsd:group ref="ServiceValidityParametersGroup"/>
      <xsd:group ref="FareValidityParametersGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ModeValidityParametersGroup">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="VehicleModes" type="AllPublicTransportModesListOfEnumerations" minOccurs="0"/>
        <xsd:element name="TransportModes" type="AllModesListOfEnumerations" minOccurs="0"/>
      </xsd:choice>
      <xsd:element ref="TransportSubmode" minOccurs="0"/>
      <xsd:element ref="ModeOfOperationRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="OrganisationValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="GroupOfOperatorsRef" minOccurs="0"/>
      <xsd:group ref="OneOrAllOrganisationsRefGroup" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="NetworkValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="GroupOfLinesRef" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element ref="TypeOfLineRef" minOccurs="0"/>
      <xsd:element ref="GroupOfTariffZonesRef" minOccurs="0"/>
      <xsd:element ref="TariffZoneRef" minOccurs="0"/>
      <xsd:element ref="FareZoneRef" minOccurs="0"/>
      <xsd:element ref="FareSectionRef" minOccurs="0"/>
      <xsd:element ref="ScheduledStopPointRef" minOccurs="0"/>
      <xsd:group ref="VehicleMeetingValidityParametersGroup"/>
      <xsd:group ref="PlaceValidityParametersGroup"/>
      <xsd:group ref="SiteValidityParametersGroup"/>
      <xsd:element ref="MobilityServiceConstraintZoneRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="GroupOfSitesRef" minOccurs="0"/>
      <xsd:element ref="SiteElementRef" minOccurs="0"/>
      <xsd:element ref="LevelRef" minOccurs="0"/>
      <xsd:element ref="PointOfInterestClassificationRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="PlaceValidityParametersGroup">
    <xsd:sequence>
      <xsd:element name="PlaceUse" type="PlaceUseEnumeration" minOccurs="0"/>
      <xsd:element ref="TopographicPlaceRef" minOccurs="0"/>
      <xsd:element ref="AddressRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="VehicleMeetingValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleMeetingPointRef" minOccurs="0"/>
      <xsd:element ref="VehicleMeetingLinkRef" minOccurs="0"/>
      <xsd:element ref="VehicleMeetingPlaceRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="RoutingValidityParametersGroup">
    <xsd:sequence>
      <xsd:element name="RoutingType" type="RoutingTypeEnumeration" default="both" minOccurs="0"/>
      <xsd:element name="Directions" type="RelativeDirectionEnumeration" minOccurs="0"/>
      <xsd:element ref="BorderPointRef" minOccurs="0"/>
      <xsd:element ref="SeriesConstraintRef" minOccurs="0"/>
      <xsd:element ref="ServiceJourneyPatternRef" minOccurs="0"/>
      <xsd:element ref="SingleJourneyPathRef" minOccurs="0"/>
      <xsd:element ref="TransferRestrictionRef" minOccurs="0"/>
      <xsd:element ref="RoutingConstraintZoneRef" minOccurs="0"/>
      <xsd:element ref="ServiceExclusionRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceValidityParametersGroup">
    <xsd:sequence>
      <xsd:group ref="ClassOfUseValidityParametersGroup"/>
      <xsd:group ref="FacilityValidityParametersGroup"/>
      <xsd:element ref="TypeOfProductCategoryRef" minOccurs="0"/>
      <xsd:group ref="ConventionalServiceValidityParametersGroup"/>
      <xsd:group ref="AlternativeServiceValidityParametersGroup"/>
      <xsd:element ref="TransportTypeRef" minOccurs="0"/>
      <xsd:element ref="VehicleModelRef" minOccurs="0"/>
      <xsd:element ref="TypeOfServiceRef" minOccurs="0"/>
      <xsd:group ref="EquipmentValidityParametersGroup"/>
      <xsd:group ref="SeatingValidityParametersGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ConventionalServiceValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="ServiceJourneyRef" minOccurs="0"/>
      <xsd:element ref="SpecialServiceRef" minOccurs="0"/>
      <xsd:element ref="DatedVehicleJourneyRef" minOccurs="0"/>
      <xsd:element ref="NormalDatedVehicleJourneyRef" minOccurs="0"/>
      <xsd:element ref="TrainNumberRef" minOccurs="0"/>
      <xsd:element ref="GroupOfServicesRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AlternativeServiceValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="SingleJourneyRef" minOccurs="0"/>
      <xsd:element ref="GroupOfSingleJourneysRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="EquipmentValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleModelProfileRef" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="MobilityServiceRef"/>
        <xsd:element ref="LocalServiceRef"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SeatingValidityParametersGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="TrainElementRef"/>
        <xsd:element ref="TrainElementTypeRef"/>
      </xsd:choice>
      <xsd:element ref="TrainComponentRef" minOccurs="0"/>
      <xsd:element ref="TrainComponentLabelAssignmentRef" minOccurs="0"/>
      <xsd:group ref="DeckSpaceReferenceGroup"/>
      <xsd:group ref="SpotValidityParametersGroup"/>
      <xsd:element ref="PassengerSeatRef" minOccurs="0"/>
      <xsd:element ref="VehicleRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SpotValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="SpotColumnRef" minOccurs="0"/>
      <xsd:element ref="SpotRowRef" minOccurs="0"/>
      <xsd:element ref="LocatableSpotRef" minOccurs="0"/>
      <xsd:element ref="TypeOfLocatableSpotRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ClassOfUseValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="ClassOfUseRef" minOccurs="0"/>
      <xsd:element ref="FareClass" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FacilityValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="FacilitySetRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="FareValidityParametersGroup">
    <xsd:sequence>
      <xsd:group ref="TariffValidityParametersGroup"/>
      <xsd:group ref="ProductValidityParametersGroup"/>
      <xsd:group ref="SalesOfferValidityParametersGroup"/>
      <xsd:group ref="DistributionParametersGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TariffValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="TypeOfFareStructureFactorRef" minOccurs="0"/>
      <xsd:element ref="TypeOfFareStructureElementRef" minOccurs="0"/>
      <xsd:element ref="TypeOfTariffRef" minOccurs="0"/>
      <xsd:element ref="TariffRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ProductValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="PricingRuleRef" minOccurs="0"/>
      <xsd:element ref="TypeOfPricingRuleRef" minOccurs="0"/>
      <xsd:element name="ChargingMomentType" type="ChargingMomentEnumeration" minOccurs="0"/>
      <xsd:element ref="ChargingMomentRef" minOccurs="0"/>
      <xsd:element ref="TypeOfFareProductRef" minOccurs="0"/>
      <xsd:element ref="TypeOfUsageParameterRef" minOccurs="0"/>
      <xsd:element ref="TypeOfConcessionRef" minOccurs="0"/>
      <xsd:element ref="TypeOfProofRef" minOccurs="0"/>
      <xsd:element name="typesOfProofAcceptedRef" type="typesOfProofRefs_RelStructure" minOccurs="0"/>
      <xsd:group ref="ProductClassificationGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SalesOfferValidityParametersGroup">
    <xsd:sequence>
      <xsd:element ref="TypeOfSalesOfferPackageRef" minOccurs="0"/>
      <xsd:element ref="TypeOfTravelDocumentRef" minOccurs="0"/>
      <xsd:element ref="TypeOfMachineReadabilityRef" minOccurs="0"/>
      <xsd:element ref="TypeOfMediumAccessDeviceRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DistributionParametersGroup">
    <xsd:sequence>
      <xsd:element name="DistributionChannelType" type="DistributionChannelTypeEnumeration" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="DistributionChannelRef" minOccurs="0"/>
        <xsd:element ref="GroupOfDistributionChannelsRef" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="FulfilmentMethodType" type="FulfilmentMethodListOfEnumerations" minOccurs="0"/>
      <xsd:element ref="FulfilmentMethodRef" minOccurs="0"/>
      <xsd:element name="PaymentMethod" type="PaymentMethodEnumeration" minOccurs="0"/>
      <xsd:element ref="TypeOfPaymentMethodRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====VALIDITY PARAMETER ASSIGNMENT=================================================== -->
  <xsd:complexType name="validityParameterAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="AccessRightParameterAssignment_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ValidityParameterAssignment" substitutionGroup="AccessRightParameterAssignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ValidityParameterAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessRightParameterAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidityParameterAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ValidityParameterAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ValidityParameterAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="AccessRightParameterAssignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ValidityParameterAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ValidityParameterAssignmentGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="TimeIntervalRef"/>
        <xsd:element ref="TimeStructureFactorRef"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element ref="GeographicalIntervalRef"/>
        <xsd:element ref="GeographicalStructureFactorRef"/>
      </xsd:choice>
      <xsd:element ref="QualityStructureFactorRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SPECIFIC PARAMETER ASSIGNMENT=================================================== -->
  <xsd:group name="OptimisedOneManyAssignmentGroup">
    <xsd:choice>
      <xsd:element name="validityParameterAssignments" type="genericParameterAssignments_RelStructure"/>
      <xsd:element ref="GenericParameterAssignment"/>
      <xsd:element ref="GenericParameterAssignmentInContext"/>
    </xsd:choice>
  </xsd:group>
  <xsd:complexType name="genericParameterAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="GenericParameterAssignment"/>
          <xsd:element ref="GenericParameterAssignmentInContext"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GenericParameterAssignment" substitutionGroup="AccessRightParameterAssignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GenericParameterAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessRightParameterAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidityParameterAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericParameterAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GenericParameterAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GenericParameterAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="ValidityParameterAssignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="GenericParameterAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="GenericParameterAssignmentGroup">
    <xsd:sequence>
      <xsd:group ref="GenericParameterAssignmentIncludesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="GenericParameterAssignmentIncludesGroup">
    <xsd:sequence>
      <xsd:element name="IncludesGroupingType" type="LogicalOperationEnumeration" default="OR" minOccurs="0"/>
      <xsd:element name="includes" type="genericParameterAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="GenericParameterAssignmentInContext" substitutionGroup="AccessRightParameterAssignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GenericParameterAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessRightParameterAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ValidityParameterAssignmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericParameterAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GenericParameterAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ====TYPE OF TRAVEL DOCUMENT======================================== -->
  <xsd:complexType name="TypeOfAccessRightAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="TypeOfAccessRightAssignmentRef"/>
          <xsd:element ref="TypeOfAccessRightAssignment"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TypeOfAccessRightAssignment" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfAccessRightAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfAccessRightAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfAccessRightAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
