src/main/resources/xsd/netex_part_3/part3_fares/netex_fareStructure_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_fareStructure_support">
  <xsd:include schemaLocation="netex_farePrice_support.xsd"/>
  <!-- =============================================================-->
  <!-- ====FARE ELEMENT IN SEQUENCE. ===========================================-->
  <xsd:complexType name="fareElementInSequenceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="FareElementInSequenceRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="FareElementInSequenceIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="FareElementInSequenceRef" type="FareElementInSequenceRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="FareElementInSequenceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="OrderedVersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="FareElementInSequenceIdType" use="required"/>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFareElementInSequenceRefStructureType" default="FareElementInSequence"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====FARE STRUCTURE.FACTOR ================================================ -->
  <xsd:simpleType name="FareStructureFactorIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="FareStructureFactorRef" type="FareStructureFactorRefStructure" abstract="true" substitutionGroup="PriceableObjectRef"/>
  <xsd:complexType name="FareStructureFactorRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="FareStructureFactorIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFareStructureFactorRefStructureType" default="FareStructureFactor"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====FARE UNIT======================================================== -->
  <xsd:simpleType name="FareUnitIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="FareUnitRef" type="FareUnitRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="FareUnitRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="FareUnitIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFareUnitRefStructureType" default="FareUnit"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====FARE INTERVAL======================================================== -->
  <xsd:simpleType name="FareIntervalIdType">
    <xsd:restriction base="PriceableObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="FareIntervalRef" type="FareIntervalRefStructure" abstract="true" substitutionGroup="PriceableObjectRef"/>
  <xsd:complexType name="FareIntervalRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PriceableObjectRefStructure">
        <xsd:attribute name="ref" type="FareIntervalIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassFareIntervalRefStructureType" default="FareInterval"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== TYPE OF FARE STRUCTURE FACTOR ======================================== -->
  <xsd:simpleType name="TypeOfFareStructureFactorIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfFareStructureFactorRef" type="TypeOfFareStructureFactorRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfFareStructureFactorRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfFareStructureFactorIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfFareStructureFactorRefStructureType" default="TypeOfFareStructureFactor"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
