src/main/resources/xsd/netex_part_3/part3_fares/netex_usageParameterCharging_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_usageParameterCharging_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- === CHARGING POLICY PARAMETER============================================== -->
  <xsd:simpleType name="ChargingPolicyIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="ChargingPolicyRef" type="ChargingPolicyRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="ChargingPolicyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="ChargingPolicyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassChargingPolicyRefStructureType" default="ChargingPolicy"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="TravelCreditPolicyEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="allowTravel"/>
      <xsd:enumeration value="blockAllTravel"/>
      <xsd:enumeration value="blockPayAsYouGoTravel"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TravelBillingPolicyEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="billAsYouGo"/>
      <xsd:enumeration value="billOnThreshold"/>
      <xsd:enumeration value="billAtFareDayEnd"/>
      <xsd:enumeration value="billAtPeriodEnd"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DepositPolicyEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="depositTaken"/>
      <xsd:enumeration value="depositBlocked"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === PENALTY POLICY PARAMETER============================================== -->
  <xsd:simpleType name="PenaltyPolicyIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="PenaltyPolicyRef" type="PenaltyPolicyRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="PenaltyPolicyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="PenaltyPolicyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPenaltyPolicyRefStructureType" default="PenaltyPolicy"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SameStationReentryPolicyEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="blocked"/>
      <xsd:enumeration value="newFare"/>
      <xsd:enumeration value="maximumFare"/>
      <xsd:enumeration value="allowed"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PenaltyPolicyTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="noTicket"/>
      <xsd:enumeration value="noCheckIn"/>
      <xsd:enumeration value="noCheckOut"/>
      <xsd:enumeration value="noValidation"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <!-- === SUBSCRIBING PARAMETER============================================== -->
  <xsd:simpleType name="SubscribingIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="SubscribingRef" type="SubscribingRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="SubscribingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="SubscribingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSubscribingRefStructureType" default="Subscribing"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SubscriptionTermTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="fixed"/>
      <xsd:enumeration value="variable"/>
      <xsd:enumeration value="openEnded"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SubscriptionRenewalPolicyEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="automatic"/>
      <xsd:enumeration value="manual"/>
      <xsd:enumeration value="automaticOnConfirmation"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
