src/main/resources/xsd/netex_part_3/part3_fares/netex_trip_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_trip_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:group name="TripReferenceGroup">
    <xsd:sequence>
      <xsd:element ref="TripPatternRef" minOccurs="0"/>
      <xsd:element ref="TripRef" minOccurs="0"/>
      <xsd:element ref="LegRef" minOccurs="0"/>
      <xsd:element ref="RidePartRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===  TRIP PATTERN ====================================================== -->
  <xsd:simpleType name="TripPatternIdType">
    <xsd:restriction base="LinkSequenceIdType"/>
  </xsd:simpleType>
  <xsd:element name="TripPatternRef" type="TripPatternRefStructure" substitutionGroup="LinkSequenceRef"/>
  <xsd:complexType name="TripPatternRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkSequenceRefStructure">
        <xsd:attribute name="ref" type="TripPatternIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLinkSequenceRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  TRIP ====================================================== -->
  <xsd:simpleType name="TripIdType">
    <xsd:restriction base="LinkSequenceIdType"/>
  </xsd:simpleType>
  <xsd:element name="TripRef" type="TripRefStructure" substitutionGroup="LinkSequenceRef"/>
  <xsd:complexType name="TripRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkSequenceRefStructure">
        <xsd:attribute name="ref" type="TripIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLinkSequenceRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  LEG ====================================================== -->
  <xsd:simpleType name="LegIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="LegRef" type="LegRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="LegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  RIDE LEG ====================================================== -->
  <xsd:simpleType name="RideLegIdType">
    <xsd:restriction base="LegIdType"/>
  </xsd:simpleType>
  <xsd:element name="RideLegRef" type="RideLegRefStructure" abstract="true" substitutionGroup="LegRef"/>
  <xsd:complexType name="RideLegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LegRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  TRIP LEG ====================================================== -->
  <xsd:element name="TripLegRef" type="PtRideLegRefStructure" substitutionGroup="RideLegRef"/>
  <!-- ===  PT RIDE  LEG ====================================================== -->
  <xsd:simpleType name="PtRideLegIdType">
    <xsd:restriction base="RideLegIdType"/>
  </xsd:simpleType>
  <xsd:element name="PtRideLegRef" type="PtRideLegRefStructure" substitutionGroup="RideLegRef"/>
  <xsd:complexType name="PtRideLegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="RideLegRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  ALTERNATIVE MODE  LEG ====================================================== -->
  <xsd:simpleType name="AlternativeModeLegIdType">
    <xsd:restriction base="RideLegIdType"/>
  </xsd:simpleType>
  <xsd:element name="AlternativeModeLegRef" type="AlternativeModeLegRefStructure" substitutionGroup="RideLegRef"/>
  <xsd:complexType name="AlternativeModeLegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="RideLegRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  PRIVATE  LEG ====================================================== -->
  <xsd:simpleType name="PrivateLegIdType">
    <xsd:restriction base="LegIdType"/>
  </xsd:simpleType>
  <xsd:element name="PrivateLegRef" type="PrivateLegRefStructure" substitutionGroup="LegRef"/>
  <xsd:complexType name="PrivateLegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LegRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  PRIVATE  LEG ====================================================== -->
  <xsd:simpleType name="TransferLegIdType">
    <xsd:restriction base="LegIdType"/>
  </xsd:simpleType>
  <xsd:element name="TransferLegRef" type="TransferLegRefStructure" abstract="true" substitutionGroup="LegRef"/>
  <xsd:complexType name="TransferLegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LegRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  PT CONNECTION LEG ====================================================== -->
  <xsd:simpleType name="PtConnectionLegIdType">
    <xsd:restriction base="TransferLegIdType"/>
  </xsd:simpleType>
  <xsd:element name="PtConnectionLegRef" type="PtConnectionLegRefStructure" substitutionGroup="TransferLegRef"/>
  <xsd:complexType name="PtConnectionLegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TransferLegRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  ACCESS LEG ====================================================== -->
  <xsd:simpleType name="AccessLegIdType">
    <xsd:restriction base="TransferLegIdType"/>
  </xsd:simpleType>
  <xsd:element name="AccessLegRef" type="AccessLegRefStructure" substitutionGroup="TransferLegRef"/>
  <xsd:complexType name="AccessLegRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TransferLegRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===  TRIP LEG ====================================================== -->
  <xsd:simpleType name="RidePartIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="RidePartRef" type="RidePartRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="RidePartRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="ObjectIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ========================================================== -->
</xsd:schema>
