src/main/resources/xsd/netex_part_3/part3_fares/netex_typeOfTravelDocument_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_typeOfTravelDocument_support">
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_relationship.xsd"/>
  <!-- ====TYPE OF TRAVEL DOCUMENT.================================================== -->
  <xsd:complexType name="TypeOfTravelDocumentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfTravelDocumentRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfTravelDocumentIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfTravelDocumentRef" type="TypeOfTravelDocumentRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfTravelDocumentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfTravelDocumentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfTravelDocumentRefStructureType" default="TypeOfTravelDocument"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====TYPE OF TRAVEL DOCUMENT.================================================== -->
  <xsd:complexType name="TypeOfMachineReadabilityRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfMachineReadabilityRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TypeOfMachineReadabilityIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfMachineReadabilityRef" type="TypeOfMachineReadabilityRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfMachineReadabilityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfMachineReadabilityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfMachineReadabilityRefStructureType" default="TypeOfMachineReadability"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====Enums  DOCUMENT.================================================== -->
  <xsd:simpleType name="MediaTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="paperTicket"/>
      <xsd:enumeration value="paperTicketWithCoupons"/>
      <xsd:enumeration value="coupon"/>
      <xsd:enumeration value="selfPrintPaperTicket"/>
      <xsd:enumeration value="smartCard"/>
      <xsd:enumeration value="mobileApp"/>
      <xsd:enumeration value="licencePlate"/>
      <xsd:enumeration value="card"/>
      <xsd:enumeration value="mms"/>
      <xsd:enumeration value="sms"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MachineReadableEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="magneticStrip"/>
      <xsd:enumeration value="chip"/>
      <xsd:enumeration value="ocr"/>
      <xsd:enumeration value="anpr"/>
      <xsd:enumeration value="barCode"/>
      <xsd:enumeration value="qrCode"/>
      <xsd:enumeration value="shotCode"/>
      <xsd:enumeration value="nfc"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="MachineReadableListOfEnumerations">
    <xsd:list itemType="MachineReadableEnumeration"/>
  </xsd:simpleType>
</xsd:schema>
