src/main/resources/xsd/netex_part_3/part3_fares/netex_usageParameterEntitlement_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterEntitlement_version">
  <xsd:include schemaLocation="netex_usageParameterEntitlement_support.xsd"/>
  <xsd:include schemaLocation="netex_usageParameterEligibility_support.xsd"/>
  <xsd:include schemaLocation="netex_usageParameter_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ====ENTITLEMENT GIVEN================================================= -->
  <xsd:element name="EntitlementGiven" substitutionGroup="UsageParameter_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="EntitlementGiven_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UsageParameterGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntitlementGivenGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="EntitlementGivenIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EntitlementGiven_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="UsageParameter_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="EntitlementGivenGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="EntitlementGivenGroup">
    <xsd:sequence>
      <xsd:group ref="ServiceAccessRightRefGroup"/>
      <xsd:group ref="EntitlementCommonPropertiesGroup"/>
      <xsd:element name="EntitlementType" type="EntitlementTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====ENTITLEMENT REQUIRED================================================= -->
  <xsd:element name="EntitlementRequired" substitutionGroup="UsageParameter_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="EntitlementRequired_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UsageParameterGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntitlementRequiredGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="EntitlementRequiredIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EntitlementRequired_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="UsageParameter_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="EntitlementRequiredGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="EntitlementRequiredGroup">
    <xsd:sequence>
      <xsd:group ref="ServiceAccessRightRefGroup"/>
      <xsd:group ref="EntitlementCommonPropertiesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:group name="EntitlementCommonPropertiesGroup">
    <xsd:sequence>
      <xsd:element name="MinimumQualificationPeriod" type="xsd:duration" minOccurs="0"/>
      <xsd:element name="EntitlementConstraint" type="EntitlementConstraintStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="EntitlementConstraintStructure">
    <xsd:sequence>
      <xsd:group ref="TimeRelativeConstraintGroup"/>
      <xsd:group ref="NetworkRelativeConstraintGroup"/>
      <xsd:group ref="ServiceRelativeConstraintGroup"/>
      <xsd:group ref="EligibilityRelativeConstraintGroup"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="TimeRelativeConstraintGroup">
    <xsd:sequence>
      <xsd:element name="PeriodConstraint" type="SamePeriodEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="NetworkRelativeConstraintGroup">
    <xsd:sequence>
      <xsd:element name="OriginConstraint" type="SameStopEnumeration" minOccurs="0"/>
      <xsd:element name="DestinationConstraint" type="SameStopEnumeration" minOccurs="0"/>
      <xsd:element name="TariffZoneConstraint" type="SameZoneEnumeration" minOccurs="0"/>
      <xsd:element name="RouteConstraint" type="SameRouteEnumeration" minOccurs="0"/>
      <xsd:element name="DirectionConstraint" type="SameRouteEnumeration" minOccurs="0"/>
      <xsd:element name="OperatorConstraint" type="SameOperatorEnumeration" default="participating" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ServiceRelativeConstraintGroup">
    <xsd:sequence>
      <xsd:element name="TypeOfProductCategoryConstraint" type="SameTypeOfProductCategoryEnumeration" default="sameOrEquivalent" minOccurs="0"/>
      <xsd:element name="ClassOfUseConstraint" type="SameClassOfUseEnumeration" default="sameOrEquivalent" minOccurs="0"/>
      <xsd:element name="TypeOfTravelDocumentConstraint" type="SameTypeOfTravelDocumentEnumeration" minOccurs="0"/>
      <xsd:element name="JourneyConstraint" type="SameJourneyEnumeration" default="same" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="EligibilityRelativeConstraintGroup">
    <xsd:sequence>
      <xsd:element name="UserConstraint" type="SameUserEnumeration" default="samePerson" minOccurs="0"/>
      <xsd:element name="specificToProfiles" type="userProfileRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
