src/main/resources/xsd/netex_part_2/part2_frames/netex_timetableFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_timetableFrame_version">
  <xsd:include schemaLocation="netex_timetableFrame_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_trainElement_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_frames/netex_serviceCalendarFrame_version.xsd"/>
  <xsd:include schemaLocation="../part2_journeyTimes/netex_journey_facility_support.xsd"/>
  <xsd:include schemaLocation="../part2_journeyTimes/netex_datedVehicleJourney_version.xsd"/>
  <xsd:include schemaLocation="../part2_journeyTimes/netex_deckPlanAssignment_version.xsd"/>
  <!-- ==== Production Timetable Delivery =========================================-->
  <xsd:element name="TimetableFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Timetable_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TimetableFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TimetableFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Timetable_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="TimetableFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TimetableFrameGroup">
    <xsd:sequence>
      <xsd:group ref="TimetablePropertiesGroup"/>
      <xsd:group ref="TimetableDefaultsGroup"/>
      <xsd:group ref="TimeDemandTypeInFrameGroup"/>
      <xsd:group ref="TimetableJourneyInFrameGroup"/>
      <xsd:group ref="NoticesInFrameGroup"/>
      <xsd:group ref="InterchangeInFrameGroup"/>
      <xsd:group ref="VehicleTypeInFrameGroup"/>
      <xsd:group ref="JourneyAccountingInFrameGroup"/>
      <xsd:group ref="OccupancyViewInFrameGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TimetableDefaultsGroup">
    <xsd:sequence>
      <xsd:element ref="NetworkView" minOccurs="0"/>
      <xsd:element ref="LineView" minOccurs="0"/>
      <xsd:element ref="OperatorView" minOccurs="0"/>
      <xsd:element ref="ServiceCalendarFrameRef" minOccurs="0"/>
      <xsd:element name="DefaultMode" type="AllPublicTransportModesEnumeration" minOccurs="0"/>
      <xsd:element ref="JourneyAccountingRef" minOccurs="0"/>
      <xsd:element name="bookingTimes" type="containedAvailabilityConditions_RelStructure" minOccurs="0"/>
      <xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
      <xsd:element ref="TransportTypeRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TimetablePropertiesGroup">
    <xsd:sequence>
      <xsd:element name="VehicleModes" type="AllPublicTransportModesListOfEnumerations" minOccurs="0"/>
      <xsd:element name="HeadwayService" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Monitored" type="xsd:boolean" default="true" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==========================================-->
  <xsd:group name="TimetableJourneyInFrameGroup">
    <xsd:sequence>
      <xsd:element name="vehicleJourneys" type="journeysInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="frequencyGroups" type="frequencyGroupsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="groupsOfServices" type="groupsOfServicesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="trainNumbers" type="trainNumbersInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="journeyPartCouples" type="journeyPartCouplesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="coupledJourneys" type="coupledJourneysInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="serviceFacilitySets" type="serviceFacilitySetsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="restrictedServiceFacilitySets" type="restrictedServiceFacilitySetsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="deckPlanAssignments" type="deckPlanAssignments_RelStructure" minOccurs="0"/>
      <xsd:element name="typesOfService" type="typesOfServiceInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="flexibleServiceProperties" type="flexibleServicePropertiesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleJourneyStopAssignments" type="vehicleJourneyStopAssignmentsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==========================================-->
</xsd:schema>
