src/main/resources/xsd/netex_part_2/part2_frames/netex_timetableFrame_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_timetableFrame_support">
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_versionFrame_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="TimetableFrameRef" type="TimetableFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:simpleType name="TimetableFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="TimetableFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="TimetableFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimetableFrameRefStructureType" default="TimetableFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="VehicleScheduleFrameRef" type="VehicleScheduleFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:simpleType name="VehicleScheduleFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="VehicleScheduleFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="VehicleScheduleFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleScheduleFrameRefStructureType" default="VehicleScheduleFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="DriverScheduleFrameRef" type="DriverScheduleFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:simpleType name="DriverScheduleFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:complexType name="DriverScheduleFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="DriverScheduleFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDriverScheduleFrameRefStructureType" default="DriverScheduleFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
