src/main/resources/xsd/netex_part_2/part2_frames/netex_serviceFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_serviceFrame_version">
  <xsd:include schemaLocation="../../netex_part_1/netex_all_objects_part1.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
  <xsd:include schemaLocation="../netex_all_objects_part2.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ServiceFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceFrameRef" type="ServiceFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:complexType name="ServiceFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="ServiceFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceFrameRefStructureType" default="ServiceFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="ServiceFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Service_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
    <!-- 
		<xsd:unique name="SfUniqueLineId">
			<xsd:selector xpath=".//netex:lines/Line"/>
			<xsd:field xpath="Id"/>
		</xsd:unique> -->
  </xsd:element>
  <xsd:complexType name="Service_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceFrameGroup">
    <xsd:sequence>
      <xsd:group ref="NetworkInFrameGroup"/>
      <xsd:group ref="RouteInFrameGroup"/>
      <xsd:group ref="FlexibleRouteInFrameGroup"/>
      <xsd:group ref="SectionInFrameGroup"/>
      <xsd:group ref="ProjectionInFrameGroup"/>
      <xsd:group ref="CommonPointAndLInkFrameGroup"/>
      <xsd:group ref="LineInFrameGroup"/>
      <xsd:group ref="LineNetworkInFrameGroup"/>
      <xsd:group ref="ServiceInFrameGroup"/>
      <xsd:group ref="StopAssignmentInFrameGroup"/>
      <xsd:group ref="TimingPatternInFrameGroup"/>
      <xsd:group ref="JourneyPatternInFrameGroup"/>
      <xsd:group ref="RoutingConstraintInFrameGroup"/>
      <xsd:group ref="TimeDemandTypeInFrameGroup"/>
      <xsd:group ref="NoticesInFrameGroup"/>
      <xsd:group ref="PassengerInformationEquipmentInFrameGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
