src/main/resources/xsd/netex_part_5/part5_frames/netex_nm_mobilityJourneyFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityJourneyFrame_version">
  <xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
  <xsd:include schemaLocation="../part5_rc/netex_nm_onlineService_version.xsd"/>
  <xsd:include schemaLocation="../part5_sj/netex_nm_singleJourneyPath_version.xsd"/>
  <xsd:include schemaLocation="../part5_sj/netex_nm_singleJourneyService_version.xsd"/>
  <xsd:include schemaLocation="../part5_fm/netex_nm_individualTraveller_version.xsd"/>
  <xsd:include schemaLocation="../part5_fm/netex_nm_accessCredentialsAssignment_version.xsd"/>
  <xsd:include schemaLocation="../part5_nd/netex_nm_vehicleParkingAreaInformation_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="MobilityJourneyFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="MobilityJourneyFrameRef" type="MobilityJourneyFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:complexType name="MobilityJourneyFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="MobilityJourneyFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMobilityJourneyFrameRefStructureType" default="MobilityJourneyFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="MobilityJourneyFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MobilityJourney_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MobilityJourneyFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="MobilityJourneyFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MobilityJourney_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="MobilityJourneyFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="MobilityJourneyFrameGroup">
    <xsd:sequence>
      <xsd:group ref="SingleJourneysInFrameGroup"/>
      <xsd:group ref="IndividualTravellersInFrameGroup"/>
      <xsd:group ref="ServiceInformationInFrameGroup"/>
      <xsd:group ref="ParkingStatusInFrameGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:group name="SingleJourneysInFrameGroup">
    <xsd:sequence>
      <xsd:element name="singleJourneyPaths" type="singleJourneyPaths_RelStructure" minOccurs="0"/>
      <xsd:element name="groupsOfSingleJourneys" type="groupsOfSingleJourneys_RelStructure" minOccurs="0"/>
      <xsd:element name="singleJourneys" type="singleJourneys_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:group name="ServiceInformationInFrameGroup">
    <xsd:sequence>
      <xsd:element name="vehicleAccessCredentials" type="vehicleAccessCredentialAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:group name="ParkingStatusInFrameGroup">
    <xsd:sequence>
      <xsd:element name="parkingLogEntries" type="parkingLogEntriesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
