src/main/resources/xsd/netex_part_5/part5_frames/netex_nm_mobilityServiceFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_mobilityServiceFrame_version">
  <xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_nm_fleetEquipment_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_modeOfOperation_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_taxiPlace_version.xsd"/>
  <xsd:include schemaLocation="../part5_rc/netex_nm_mobilityService_version.xsd"/>
  <xsd:include schemaLocation="../part5_rc/netex_nm_onlineService_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_nm_fleet_version.xsd"/>
  <xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPlace_version.xsd"/>
  <xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPoint_version.xsd"/>
  <xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPointAssignment_version.xsd"/>
  <xsd:include schemaLocation="../part5_nd/netex_nm_vehicleServicePlaceAssignment_version.xsd"/>
  <xsd:include schemaLocation="../part5_nd/netex_nm_mobilityServiceConstraintZone_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="MobilityServiceFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="MobilityServiceFrameRef" type="MobilityServiceFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:complexType name="MobilityServiceFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="MobilityServiceFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassMobilityServiceFrameRefStructureType" default="MobilityServiceFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="MobilityServiceFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MobilityService_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MobilityServiceFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="MobilityServiceFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MobilityService_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="MobilityServiceFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="MobilityServiceFrameGroup">
    <xsd:sequence>
      <xsd:group ref="VehiclesInFrameGroup"/>
      <xsd:group ref="MobilityServicesInFrameGroup"/>
      <xsd:group ref="MeetingPointsInFrameGroup"/>
      <xsd:group ref="MobilityServiceConstraintsInFrameGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:group name="VehiclesInFrameGroup">
    <xsd:sequence>
      <xsd:element name="fleets" type="fleets_RelStructure" minOccurs="0"/>
      <xsd:element name="poolsOfVehicles" type="poolOfVehicles_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="MobilityServicesInFrameGroup">
    <xsd:sequence>
      <xsd:element name="modesOfOperation" type="modesOfOperationRelStructure" minOccurs="0"/>
      <xsd:element name="mobilityServices" type="mobilityServices_RelStructure" minOccurs="0"/>
      <xsd:element name="onlineServices" type="onlineServices_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="MeetingPointsInFrameGroup">
    <xsd:sequence>
      <xsd:element name="vehicleMeetingPoints" type="vehicleMeetingPointsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleMeetingLinks" type="vehicleMeetingLinksInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleMeetingPointAssignments" type="vehicleMeetingPointAssignmentsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleMeetingPlaces" type="vehicleMeetingPlaces_RelStructure" minOccurs="0"/>
      <xsd:element name="vehicleMeetingPlaceAssignments" type="vehicleServicePlaceAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
