src/main/resources/xsd/siri_utility/siri_utility-v1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.siri.org.uk/siri" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="siri_utility">
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="EmptyType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value=""/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="Extensions" type="ExtensionsStructure"/>
  <xsd:complexType name="ExtensionsStructure">
    <xsd:sequence>
      <xsd:any namespace="##any" processContents="lax" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
