src/main/resources/xsd/netex_part_5/part5_fm/netex_nm_usageParameterRental_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_usageParameterRental_version">
  <xsd:include schemaLocation="netex_nm_usageParameterRental_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_usageParameter_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== RENTAL PENALTY POLICY USER PARAMETER ================================================ -->
  <xsd:element name="RentalPenaltyPolicy" substitutionGroup="UsageParameter_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RentalPenaltyPolicy_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UsageParameterGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RentalPenaltyPolicyGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RentalPenaltyPolicyIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RentalPenaltyPolicy_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="UsageParameter_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="RentalPenaltyPolicyGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RentalPenaltyPolicyGroup">
    <xsd:sequence>
      <xsd:element name="RentalPenaltyPolicyType" type="RentalPenaltyPolicyTypeEnumeration" minOccurs="0"/>
      <xsd:element name="PenaltyFee" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Immobilisation" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Disbarring" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Suspension" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== RENTAL OPTION ================================================ -->
  <xsd:element name="RentalOption" substitutionGroup="UsageParameter_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RentalOption_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UsageParameterGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RentalOptionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RentalOptionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RentalOption_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="UsageParameter_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="RentalOptionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==== RENTAL OPTION ================================================ -->
  <xsd:element name="AdditionalDriverOption" substitutionGroup="UsageParameter_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AdditionalDriverOption_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UsageParameterGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RentalOptionGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AdditionalDriverOptionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AdditionalDriverOptionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AdditionalDriverOption_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="RentalOption_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AdditionalDriverOptionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RentalOptionGroup">
    <xsd:sequence/>
  </xsd:group>
  <xsd:group name="AdditionalDriverOptionGroup">
    <xsd:sequence>
      <xsd:element name="AdditionalDriver" type="AdditionalDriverTypeEnumeration" default="none" minOccurs="0"/>
      <xsd:element name="DriverFeeBasis" type="DriverTypeFeeBasisEnumeration" default="perAddtionalDriver" minOccurs="0"/>
      <xsd:element name="NumberOFDrivers" type="xsd:nonNegativeInteger" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
