src/main/resources/xsd/netex_part_5/part5_fm/netex_nm_individualTraveller_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_individualTraveller_support">
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_responsibility_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ====  INDIVIDUAL TRAVELLER ============================================ -->
  <xsd:complexType name="individualTravellerRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="IndividualTravellerRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="IndividualTravellerIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="IndividualTravellerRef" type="IndividualTravellerRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="IndividualTravellerRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="IndividualTravellerIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassIndividualTravellerRefStructureType" default="IndividualTraveller"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  VEHICLE POOLING DRIVER INFO.  ============================================ -->
  <xsd:complexType name="vehiclePoolingDriverInfoRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehiclePoolingDriverInfoRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehiclePoolingDriverInfoIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehiclePoolingDriverInfoRef" type="VehiclePoolingDriverInfoRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehiclePoolingDriverInfoRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehiclePoolingDriverInfoIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolingDriverInfoRefStructureType" default="VehiclePoolingDriverInfo"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DrivingStyleEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="sedate"/>
      <xsd:enumeration value="moderate"/>
      <xsd:enumeration value="fast"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ====  INDIVIDUALPASSENGER INFO.  ============================================ -->
  <xsd:complexType name="IndividualPassengerInfoRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="IndividualPassengerInfoRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="IndividualPassengerInfoIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="IndividualPassengerInfoRef" type="IndividualPassengerInfoRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="IndividualPassengerInfoRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="IndividualPassengerInfoIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassIndividualPassengerInfoRefStructureType" default="IndividualPassengerInfo"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====  USER RANKING  ============================================ -->
  <xsd:simpleType name="UserRankingType">
    <xsd:restriction base="xsd:positiveInteger">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="GlobalRankingType">
    <xsd:restriction base="xsd:decimal">
      <xsd:minInclusive value="1.0"/>
      <xsd:maxInclusive value="5.0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
