src/main/resources/xsd/netex_part_5/part5_fm/netex_nm_accessCredentialsAssignment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_vehicleAccessCredentialsAssignment_version">
  <xsd:include schemaLocation="netex_nm_accessCredentialsAssignment_support.xsd"/>
  <xsd:include schemaLocation="../part5_rc/netex_nm_mobilityService_support.xsd"/>
  <xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPlace_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_3/part3_salesTransactions/netex_mediumApplication_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicle_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
  <xsd:include schemaLocation="../../netex_part_3/part3_salesTransactions/netex_travelDocument_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======SERVICE ACCESS CODE. ========================================== -->
  <xsd:element name="ServiceAccessCode" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceAccessCode_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TravelDocumentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceAccessCodeGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceAccessCodeIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceAccessCode_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="TravelDocument_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceAccessCodeGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceAccessCodeGroup">
    <xsd:sequence>
      <xsd:element name="AccessCode" type="xsd:normalizedString"/>
      <xsd:element name="ExpiryDate" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element ref="VehicleAccessCredentialsAssignmentRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== VEHICLE ACCESS CREDENTIALs ASSIGNMENT ================================================== -->
  <xsd:complexType name="vehicleAccessCredentialAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleAccessCredentialsAssignment" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleAccessCredentialsAssignment" substitutionGroup="Assignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleAccessCredentialsAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleAccessCredentialsAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleAccessCredentialsAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleAccessCredentialsAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleAccessCredentialsAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleAccessCredentialsAssignmentGroup">
    <xsd:sequence>
      <xsd:element ref="CommonVehicleServiceRef"/>
      <xsd:element ref="VehicleRef" minOccurs="0"/>
      <xsd:element ref="MediumAccessDeviceRef" minOccurs="0"/>
      <xsd:element ref="ServiceAccessCodeRef"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
