src/main/resources/xsd/netex_part_5/part5_fm/netex_nm_accessCredentialsAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_vehicleAccessCredentialsAssignment_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_3/part3_salesTransactions/netex_travelDocument_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ====  Service Acess code ASSIGNMENT ============================================ -->
  <xsd:complexType name="serviceAccessCodeRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ServiceAccessCodeRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ServiceAccessCodeIdType">
    <xsd:restriction base="TravelDocumentIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceAccessCodeRef" type="ServiceAccessCodeRefStructure" substitutionGroup="TravelDocumentRef"/>
  <xsd:complexType name="ServiceAccessCodeRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TravelDocumentRefStructure">
        <xsd:attribute name="ref" type="ServiceAccessCodeIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceAccessCodeRefStructureType" default="ServiceAccessCode"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== VEHICLE ACCESS CREDENTIALS  ASSIGNMENT ============================================ -->
  <xsd:complexType name="vehicleAccessCredentialsAssignmentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="VehicleAccessCredentialsAssignmentRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="VehicleAccessCredentialsAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleAccessCredentialsAssignmentRef" type="VehicleAccessCredentialsAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="VehicleAccessCredentialsAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="VehicleAccessCredentialsAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleAccessCredentialsAssignmentRefStructureType" default="VehicleAccessCredentialsAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
