src/main/resources/xsd/netex_part_5/part5_fm/netex_nm_usageParameterRental_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_usageParameterRental_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_usageParameter_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- === RENTAL PENALTY POLICY PARAMETER============================================== -->
  <xsd:simpleType name="RentalPenaltyPolicyIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="RentalPenaltyPolicyRef" type="RentalPenaltyPolicyRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="RentalPenaltyPolicyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="RentalPenaltyPolicyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRentalPenaltyPolicyRefStructureType" default="RentalPenaltyPolicy"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RentalPenaltyPolicyTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="refuelling"/>
      <xsd:enumeration value="vehicleTransfer"/>
      <xsd:enumeration value="lateVehicleReturn"/>
      <xsd:enumeration value="noVehicleReturn"/>
      <xsd:enumeration value="damageToVehicle"/>
      <xsd:enumeration value="damageToEquipment"/>
      <xsd:enumeration value="lossOfEquipment"/>
      <xsd:enumeration value="zoneTransgression"/>
      <xsd:enumeration value="trafficFine"/>
      <xsd:enumeration value="handlingFeeForFine"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- === RENTAL PENALTY POLICY PARAMETER============================================== -->
  <xsd:simpleType name="RentalOptionIdType">
    <xsd:restriction base="UsageParameterIdType"/>
  </xsd:simpleType>
  <xsd:element name="RentalOptionRef" type="RentalOptionRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="RentalOptionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UsageParameterRefStructure">
        <xsd:attribute name="ref" type="RentalOptionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRentalOptionRefStructureType" default="RentalOption"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === RENTAL PENALTY POLICY PARAMETER============================================== -->
  <xsd:simpleType name="AdditionalDriverOptionIdType">
    <xsd:restriction base="RentalOptionIdType"/>
  </xsd:simpleType>
  <xsd:element name="AdditionalDriverOptionRef" type="AdditionalDriverOptionRefStructure" substitutionGroup="UsageParameterRef"/>
  <xsd:complexType name="AdditionalDriverOptionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="RentalOptionRefStructure">
        <xsd:attribute name="ref" type="AdditionalDriverOptionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAdditionalDriverOptionRefStructureType" default="AdditionalDriverOption"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AdditionalDriverTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="named"/>
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DriverTypeFeeBasisEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="perAddtionalDriver"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
