src/main/resources/xsd/netex_part_5/part5_fm/netex_nm_usageParameterEligibility_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_usageParameterEligibility_support">
  <!-- ======================================================================= -->
  <xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_usageParameterEligibility_support.xsd"/>
  <!-- === VEHICLE POOLER PROFILE ======================================= -->
  <xsd:simpleType name="VehiclePoolerProfileIdType">
    <xsd:restriction base="UserProfileIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehiclePoolerProfileRef" type="VehiclePoolerProfileRefStructure" substitutionGroup="UserProfileRef"/>
  <xsd:complexType name="VehiclePoolerProfileRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="UserProfileRefStructure">
        <xsd:attribute name="ref" type="VehiclePoolerProfileIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePoolerProfileRefStructureType" default="VehiclePoolerProfile"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === COMMERCIAL PROFILE ===================================================== -->
</xsd:schema>
