src/main/resources/xsd/netex_part_5/part5_fm/netex_nm_usageParameterEligibility_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_nm_usageParameterEligibility_version">
  <xsd:include schemaLocation="netex_nm_usageParameterEligibility_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_usageParameterEligibility_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== VEHICLE POOLER PROFILE================================================= -->
  <xsd:element name="VehiclePoolerProfile" substitutionGroup="UsageParameter_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehiclePoolerProfile_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PriceableObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UsageParameterGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="UserProfileGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehiclePoolerProfileGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehiclePoolerProfileIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehiclePoolerProfile_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="UserProfile_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehiclePoolerProfileGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehiclePoolerProfileGroup">
    <xsd:sequence>
      <xsd:element name="HostUserProfileRef" type="UserProfileRefStructure" minOccurs="0"/>
      <xsd:element name="SmokingAllowed" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="PetsAllowed" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="LuggageAllowed" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="DetourAccepted" type="xsd:boolean" default="false" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
