src/main/resources/xsd/netex_part_1/part1_ifopt/netex_taxiPlace_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_taxiPlace_support">
  <xsd:include schemaLocation="netex_ifopt_stopPlace_support.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_parking_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ==== TAXI RANK ================================================== -->
  <xsd:complexType name="taxiRankRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TaxiStandRef"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TaxiRankIdType">
    <xsd:restriction base="StopPlaceIdType"/>
  </xsd:simpleType>
  <xsd:element name="TaxiRankRef" type="TaxiRankRefStructure" substitutionGroup="StopPlaceRef"/>
  <xsd:complexType name="TaxiRankRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopPlaceRefStructure">
        <xsd:attribute name="ref" type="TaxiRankIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTaxiRankRefStructureType" default="TaxiRank"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== TAXI PLACE ============================================ -->
  <xsd:simpleType name="TaxiStandIdType">
    <xsd:restriction base="QuayIdType"/>
  </xsd:simpleType>
  <xsd:element name="TaxiStandRef" type="TaxiStandRefStructure" substitutionGroup="QuayRef"/>
  <xsd:complexType name="TaxiStandRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="QuayRefStructure">
        <xsd:attribute name="ref" type="TaxiStandIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTaxiStandRefStructureType" default="TaxiStand"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ==== TAXI PARKING ================================================== -->
  <xsd:simpleType name="TaxiParkingAreaIdType">
    <xsd:restriction base="ParkingAreaIdType"/>
  </xsd:simpleType>
  <xsd:element name="TaxiParkingAreaRef" type="TaxiParkingAreaRefStructure" substitutionGroup="ParkingAreaRef"/>
  <xsd:complexType name="TaxiParkingAreaRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingAreaRefStructure">
        <xsd:attribute name="ref" type="TaxiParkingAreaIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTaxiParkingAreaRefStructureType" default="TaxiParkingArea"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
