src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentParking_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_equipmentParking_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==== CYCLE STORAGE ========================================= -->
  <xsd:simpleType name="CycleStorageEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="CycleStorageEquipmentRef" type="CycleStorageEquipmentRefStructure" substitutionGroup="InstalledEquipmentRef"/>
  <xsd:complexType name="CycleStorageEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="InstalledEquipmentRefStructure">
        <xsd:attribute name="ref" type="CycleStorageEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCycleStorageEquipmentRefStructureType" default="CycleStorageEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="CycleStorageEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="racks"/>
      <xsd:enumeration value="docks"/>
      <xsd:enumeration value="bars"/>
      <xsd:enumeration value="railings"/>
      <xsd:enumeration value="cycleScheme"/>
      <xsd:enumeration value="lockers"/>
      <xsd:enumeration value="freestanding"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ==== VEHICLE RELEASE EQUIPMENT =========================================== -->
  <xsd:simpleType name="VehicleReleaseEquipmentIdType">
    <xsd:restriction base="InstalledEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleReleaseEquipmentRef" type="VehicleReleaseEquipmentRefStructure" substitutionGroup="EquipmentRef"/>
  <xsd:complexType name="VehicleReleaseEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="InstalledEquipmentRefStructure">
        <xsd:attribute name="ref" type="VehicleReleaseEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleReleaseEquipmentRefStructureType" default="VehicleReleaseEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LockingMechanismEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="dock"/>
      <xsd:enumeration value="immobilisingLock"/>
      <xsd:enumeration value="separateLockingDevice"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
