src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentSigns_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_equipmentSign_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ====SIGN EQUIPMENT=============================================== -->
  <xsd:simpleType name="SignEquipmentIdType">
    <xsd:restriction base="PlaceEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="SignEquipmentRef" type="PlaceEquipmentRefStructure" substitutionGroup="PlaceEquipmentRef"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PlaceSignIdType">
    <xsd:restriction base="SignEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PlaceSignRef" type="PlaceSignRefStructure" substitutionGroup="SignEquipmentRef"/>
  <xsd:complexType name="PlaceSignRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PlaceEquipmentRefStructure">
        <xsd:attribute name="ref" type="PlaceSignIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPlaceSignRefStructureType" default="PlaceSign"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GeneralSignIdType">
    <xsd:restriction base="SignEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="GeneralSignRef" type="GeneralSignRefStructure" substitutionGroup="SignEquipmentRef"/>
  <xsd:complexType name="GeneralSignRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PlaceEquipmentRefStructure">
        <xsd:attribute name="ref" type="GeneralSignIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGeneralSignRefStructureType" default="GeneralSign"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="HeadingSignIdType">
    <xsd:restriction base="SignEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="HeadingSignRef" type="HeadingSignRefStructure" substitutionGroup="SignEquipmentRef"/>
  <xsd:complexType name="HeadingSignRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PlaceEquipmentRefStructure">
        <xsd:attribute name="ref" type="HeadingSignIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassHeadingSignRefStructureType" default="HeadingSign"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="SignContentEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="entrance"/>
      <xsd:enumeration value="exit"/>
      <xsd:enumeration value="emergencyExit"/>
      <xsd:enumeration value="transportMode"/>
      <xsd:enumeration value="noSmoking"/>
      <xsd:enumeration value="tickets"/>
      <xsd:enumeration value="assistance"/>
      <xsd:enumeration value="sosPhone"/>
      <xsd:enumeration value="touchPoint"/>
      <xsd:enumeration value="meetingPoint"/>
      <xsd:enumeration value="transportModePoint"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
