src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_pointOfInterest_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_pointOfInterest_support">
  <xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="PointOfInterestIdType">
    <xsd:restriction base="SiteIdType"/>
  </xsd:simpleType>
  <xsd:element name="PointOfInterestRef" type="PointOfInterestRefStructure" substitutionGroup="SiteRef"/>
  <xsd:complexType name="PointOfInterestRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteRefStructure">
        <xsd:attribute name="ref" type="PointOfInterestIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPointOfInterestRefStructureType" default="PointOfInterest"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="pointOfInterestRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="PointOfInterestRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PointOfInterestClassificationIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="PointOfInterestClassificationRef" type="PointOfInterestClassificationRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="PointOfInterestClassificationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="PointOfInterestClassificationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPointOfInterestClassificationRefStructureType" default="PointOfInterestClassification"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PointOfInterestClassificationDescriptorIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PointOfInterestHierarchyIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <xsd:element name="PointOfInterestHierarchyRef" type="PointOfInterestHierarchyRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="PointOfInterestHierarchyRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="PointOfInterestHierarchyIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfEntitiesRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="PointOfInterestSpaceTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="arena"/>
      <xsd:enumeration value="archeryArena"/>
      <xsd:enumeration value="athleteArea"/>
      <xsd:enumeration value="auditorium"/>
      <xsd:enumeration value="changingRoom"/>
      <xsd:enumeration value="court"/>
      <xsd:enumeration value="downhillSkiingCourse"/>
      <xsd:enumeration value="freestyleSkiingCourse"/>
      <xsd:enumeration value="skiboardingArea"/>
      <xsd:enumeration value="gates"/>
      <xsd:enumeration value="greenRoom"/>
      <xsd:enumeration value="hospitalityZone"/>
      <xsd:enumeration value="iceRink"/>
      <xsd:enumeration value="orchestralPit"/>
      <xsd:enumeration value="playingField"/>
      <xsd:enumeration value="podium"/>
      <xsd:enumeration value="pool"/>
      <xsd:enumeration value="divingPool"/>
      <xsd:enumeration value="pressArea"/>
      <xsd:enumeration value="queuingAreaForEntrance"/>
      <xsd:enumeration value="ridingArea"/>
      <xsd:enumeration value="rowingArea"/>
      <xsd:enumeration value="securityScreeningArea"/>
      <xsd:enumeration value="sledRun"/>
      <xsd:enumeration value="spectatorTerrace"/>
      <xsd:enumeration value="spectatorSeating"/>
      <xsd:enumeration value="spectatorStandingArea"/>
      <xsd:enumeration value="sportsArea"/>
      <xsd:enumeration value="stabling"/>
      <xsd:enumeration value="stage"/>
      <xsd:enumeration value="ring"/>
      <xsd:enumeration value="ticketing"/>
      <xsd:enumeration value="track"/>
      <xsd:enumeration value="trackside"/>
      <xsd:enumeration value="velodrome"/>
      <xsd:enumeration value="warmUpArea"/>
      <xsd:enumeration value="waterside"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="PointOfInterestHierarchyMemberIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PointOfInterestSpaceIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PointOfInterestSpaceRef" type="PointOfInterestSpaceRefStructure" substitutionGroup="SiteComponentRef"/>
  <xsd:complexType name="PointOfInterestSpaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteComponentRefStructure">
        <xsd:attribute name="ref" type="PointOfInterestSpaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSiteComponentRefStructureType" use="optional" default="PointOfInterestSpace"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PointOfInterestEntranceIdType">
    <xsd:restriction base="EntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="PointOfInterestEntranceRef" type="PointOfInterestEntranceRefStructure" substitutionGroup="EntranceRef"/>
  <xsd:complexType name="PointOfInterestEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="EntranceRefStructure">
        <xsd:attribute name="ref" type="PointOfInterestEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional" default="PointOfInterestEntrance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PointOfInterestVehicleEntranceIdType">
    <xsd:restriction base="VehicleEntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="PointOfInterestVehicleEntranceRef" type="PointOfInterestVehicleEntranceRefStructure" substitutionGroup="EntranceRef"/>
  <xsd:complexType name="PointOfInterestVehicleEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="EntranceRefStructure">
        <xsd:attribute name="ref" type="PointOfInterestVehicleEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPointOfInterestVehicleEntranceRefStructureType" default="PointOfInterestVehicleEntrance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
