src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentAccess_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_equipmentAccess_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==ACCESS EQUIPMENT=================================================== -->
  <xsd:simpleType name="AccessEquipmentIdType">
    <xsd:restriction base="PlaceEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="AccessEquipmentRef" type="AccessEquipmentRefStructure" abstract="true" substitutionGroup="PlaceEquipmentRef"/>
  <xsd:complexType name="AccessEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PlaceEquipmentRefStructure">
        <xsd:attribute name="ref" type="AccessEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="EntranceEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="EntranceEquipmentRef" type="EntranceEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="EntranceEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="EntranceEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceEquipmentRefStructureType" default="EntranceEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="DoorTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="hingedSingle"/>
      <xsd:enumeration value="hingedPair"/>
      <xsd:enumeration value="slidingSingle"/>
      <xsd:enumeration value="slidingPair"/>
      <xsd:enumeration value="foldingSingle"/>
      <xsd:enumeration value="foldingPair"/>
      <xsd:enumeration value="hingedRamp"/>
      <xsd:enumeration value="revolving"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RampEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="RampEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="RampEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="RampEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType" use="optional" default="RampEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="CrossingEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="CrossingEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="CrossingEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="CrossingEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType" use="optional" default="CrossingEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="LiftEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="LiftEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="LiftEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="LiftEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType" use="optional" default="LiftEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="LiftCallEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="LiftCallEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="LiftCallEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="LiftCallEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType" use="optional" default="LiftCallEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="EscalatorEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="EscalatorEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="EscalatorEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="EscalatorEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType" use="optional" default="EscalatorEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TravelatorEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="TravelatorEquipmentRef" type="TravelatorEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="TravelatorEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="TravelatorEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTravelatorEquipmentRefStructureType" default="TravelatorEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="QueueingEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="QueueingEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="QueueingEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="QueueingEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType" use="optional" default="QueueingEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StaircaseEquipmentIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="StaircaseEquipmentRef" type="StaircaseEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="StaircaseEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="StaircaseEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassStaircaseEquipmentRefStructureType" default="StaircaseEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RoughSurfaceIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="RoughSurfaceRef" type="RoughSurfaceRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="RoughSurfaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="RoughSurfaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRoughSurfaceRefStructureType" default="RoughSurface"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PlaceLightingIdType">
    <xsd:restriction base="AccessEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PlaceLightingEquipmentRef" type="AccessEquipmentRefStructure" substitutionGroup="AccessEquipmentRef"/>
  <xsd:complexType name="PlaceLightingEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AccessEquipmentRefStructure">
        <xsd:attribute name="ref" type="PlaceLightingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessEquipmentRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="StairFlighttIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="LightingOnMethodEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="movementDetector"/>
      <xsd:enumeration value="stepDetector"/>
      <xsd:enumeration value="switchOnTheWall"/>
      <xsd:enumeration value="atDoorOpening"/>
      <xsd:enumeration value="onlyAtNight"/>
      <xsd:enumeration value="alwaysOn"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DirectionOfUseEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="up"/>
      <xsd:enumeration value="down"/>
      <xsd:enumeration value="both"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SurfaceTypeEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="asphalt"/>
      <xsd:enumeration value="bricks"/>
      <xsd:enumeration value="cobbles"/>
      <xsd:enumeration value="earth"/>
      <xsd:enumeration value="grass"/>
      <xsd:enumeration value="looseSurface"/>
      <xsd:enumeration value="pavingStones"/>
      <xsd:enumeration value="roughSurface"/>
      <xsd:enumeration value="smooth"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="HandrailEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="oneSide"/>
      <xsd:enumeration value="bothSides"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EntranceAttentionEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="doorbell"/>
      <xsd:enumeration value="helpPoint"/>
      <xsd:enumeration value="intercom"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CrossingTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="levelCrossing"/>
      <xsd:enumeration value="barrowCrossing"/>
      <xsd:enumeration value="roadCrossing"/>
      <xsd:enumeration value="roadCrossingWithIsland"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NecessaryForceEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="noForce"/>
      <xsd:enumeration value="lightForce"/>
      <xsd:enumeration value="mediumForce"/>
      <xsd:enumeration value="heavyForce"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="LightingMethodEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="movementDetector"/>
      <xsd:enumeration value="steppingDetector"/>
      <xsd:enumeration value="switchOnTheWall"/>
      <xsd:enumeration value="atDoorOpening"/>
      <xsd:enumeration value="onlyAtNight"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="MarkingStatusEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="good"/>
      <xsd:enumeration value="worn"/>
      <xsd:enumeration value="hazardous"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="VisualObstacleEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="carParking"/>
      <xsd:enumeration value="vegetation"/>
      <xsd:enumeration value="building"/>
      <xsd:enumeration value="streetFurniture"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="BollardCrossingEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="contrasted"/>
      <xsd:enumeration value="yes"/>
      <xsd:enumeration value="partial"/>
      <xsd:enumeration value="limited"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="EntranceTurningSpacePositionEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="outside"/>
      <xsd:enumeration value="inside"/>
      <xsd:enumeration value="insideAndOutside"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="DoorHandleEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="lever"/>
      <xsd:enumeration value="button"/>
      <xsd:enumeration value="knob"/>
      <xsd:enumeration value="crashBar"/>
      <xsd:enumeration value="doorHandle"/>
      <xsd:enumeration value="grabRail"/>
      <xsd:enumeration value="windowLever"/>
      <xsd:enumeration value="vertical"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="SafetyEdgeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="oneSide"/>
      <xsd:enumeration value="bothSides"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RampTurningSpacePositionEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="bottom"/>
      <xsd:enumeration value="top"/>
      <xsd:enumeration value="topAndBottom"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StepConditionEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="even"/>
      <xsd:enumeration value="uneven"/>
      <xsd:enumeration value="rough"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StairRampEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="bicycle"/>
      <xsd:enumeration value="luggage"/>
      <xsd:enumeration value="stroller"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ReachedFloorAnnouncementEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="visual"/>
      <xsd:enumeration value="tactile"/>
      <xsd:enumeration value="audio"/>
      <xsd:enumeration value="visualAndAudio"/>
      <xsd:enumeration value="visualAndAudioAndTactile"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
