src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentSigns_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_ifopt_equipmentSigns_version">
  <xsd:include schemaLocation="netex_ifopt_equipmentSigns_support.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_equipmentPassenger_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_line_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="SignEquipmentChoice">
    <xsd:choice>
      <xsd:element name="PlaceSign" type="PlaceSignStructure"/>
      <xsd:element name="HeadingSign" type="HeadingSignStructure"/>
      <xsd:element name="GeneralSign" type="GeneralSignStructure"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="SignEquipmentListGroup">
    <xsd:sequence>
      <xsd:element name="PlaceSign" type="PlaceSignStructure" minOccurs="0"/>
      <xsd:element name="HeadingSign" type="HeadingSignStructure" minOccurs="0"/>
      <xsd:element name="GeneralSign" type="GeneralSignStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===SIGNS =================================================================== -->
  <xsd:element name="SignEquipment" type="SignEquipment_VersionStructure" substitutionGroup="PlaceEquipment"/>
  <xsd:complexType name="SignEquipment_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="PlaceEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SignEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SignEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="Height" type="LengthType" minOccurs="0"/>
      <xsd:element name="Width" type="LengthType" minOccurs="0"/>
      <xsd:element name="HeightFromFloor" type="LengthType" minOccurs="0"/>
      <xsd:element name="Placement" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="BrandGraphic" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="SignGraphic" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element name="MachineReadable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="AsBraille" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="AudioTriggerMethod" type="AudioTriggerMethodEnumeration" minOccurs="0"/>
      <xsd:element name="PrintedPresentation" type="PrintPresentationStructure" minOccurs="0"/>
      <xsd:element name="Contrast" type="PercentageType" minOccurs="0"/>
      <xsd:element name="FontSize" type="FontSizeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="PlaceSign" substitutionGroup="SignEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PlaceSignStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SignEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="PlaceName" type="MultilingualString"/>
              <xsd:element ref="PlaceRef" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PlaceSignIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PlaceSignStructure">
    <xsd:complexContent>
      <xsd:extension base="SignEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:element name="PlaceName" type="MultilingualString"/>
          <xsd:element ref="PlaceRef" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="HeadingSign" substitutionGroup="SignEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="HeadingSignStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SignEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="HeadingSignGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="HeadingSignIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="HeadingSignStructure">
    <xsd:complexContent>
      <xsd:extension base="SignEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="HeadingSignGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="HeadingSignGroup">
    <xsd:sequence>
      <xsd:element name="PlaceName" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element name="LineName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0"/>
      <xsd:element ref="TransportSubmode" minOccurs="0"/>
      <xsd:element name="LineMap" type="xsd:anyURI" minOccurs="0"/>
      <xsd:element ref="DirectionRef" minOccurs="0"/>
      <xsd:element name="DirectionName" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="DestinationDisplayRef" minOccurs="0"/>
      <xsd:element name="LinePublicCode" type="PublicCodeStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="GeneralSign" substitutionGroup="SignEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GeneralSignStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SignEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GeneralSignGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GeneralSignIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GeneralSignStructure">
    <xsd:complexContent>
      <xsd:extension base="SignEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="GeneralSignGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="GeneralSignGroup">
    <xsd:sequence>
      <xsd:element name="Content" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="SignContentType" type="SignContentEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
