src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_navigationPath_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2007 03 23 Add repeating name -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_navigationPath_version">
  <!-- ======================================================================= -->
  <!-- ===Global import of all acsb namespace elements neeeded to work around XERCES limitation
	<xsd:include schemaLocation="../acsb/netex_acsb_all.xsd"/> =====-->
  <!--.....These are the actual dependencies...-->
  <xsd:include schemaLocation="netex_ifopt_path_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_environment_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SITEFRAME)=================================================== -->
  <xsd:group name="PathInFrameGroup">
    <xsd:sequence>
      <xsd:element name="navigationPaths" type="navigationPathsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="pathLinks" type="sitePathLinksInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="pathJunctions" type="sitePathJunctionsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="navigationPathsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="SiteNavigationPath"/>
          <xsd:element ref="NavigationPath"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="sitePathLinksInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="SitePathLink"/>
          <xsd:element ref="OffSitePathLink"/>
          <xsd:element ref="PathLink"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="sitePathJunctionsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="SitePathJunction"/>
          <xsd:element ref="PathJunction"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteAccessGroup">
    <xsd:sequence>
      <xsd:element name="pathLinks" type="sitePathLinks_RelStructure" minOccurs="0"/>
      <xsd:element name="pathJunctions" type="sitePathJunctions_RelStructure" minOccurs="0"/>
      <xsd:element name="accesses" type="accesses_RelStructure" minOccurs="0"/>
      <xsd:element name="navigationPaths" type="navigationPaths_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======SITE NAVIGATION PATH =============================================== -->
  <xsd:complexType name="navigationPaths_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="NavigationPathRef"/>
          <xsd:element ref="NavigationPath"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="NavigationPath" substitutionGroup="LinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SiteNavigationPath_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericNavigationPathGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SiteNavigationPathGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SiteNavigationPathIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SiteNavigationPath" substitutionGroup="LinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SiteNavigationPath_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericNavigationPathGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SiteNavigationPathGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SiteNavigationPathIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SiteNavigationPath_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GenericNavigationPath_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SiteNavigationPathGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteNavigationPathGroup">
    <xsd:sequence>
      <xsd:group ref="SiteNavigationPathSummaryGroup"/>
      <xsd:group ref="SiteElementPropertiesGroup"/>
      <xsd:group ref="NavigationPathLinksGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteNavigationPathSummaryGroup">
    <xsd:sequence>
      <xsd:element name="From" type="SitePathLinkEndStructure" minOccurs="0"/>
      <xsd:element name="To" type="SitePathLinkEndStructure" minOccurs="0"/>
      <xsd:group ref="NavigationPathSummaryGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="NavigationPathLinksGroup">
    <xsd:sequence>
      <xsd:element name="AccessFeatureList" type="AccessFeatureListOfEnumerations" minOccurs="0"/>
      <xsd:element name="NavigationType" type="NavigationTypeEnumeration" minOccurs="0"/>
      <xsd:element name="placesInSequence" type="placesInSequence_RelStructure" minOccurs="0"/>
      <xsd:element name="pathLinksInSequence" type="pathLinksInSequence_RelStructure" minOccurs="0"/>
      <xsd:element name="transfers" type="transferRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
