src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentWaiting_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_equipmentWaiting_version">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_equipmentWaiting_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="SiteEquipmentList">
    <xsd:sequence>
      <xsd:element ref="LuggageLockerEquipment" minOccurs="0"/>
      <xsd:element ref="ShelterEquipment" minOccurs="0"/>
      <xsd:element ref="TrolleyStandEquipment" minOccurs="0"/>
      <xsd:element ref="WaitingRoomEquipment" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="SiteEquipment" type="SiteEquipment_VersionStructure" abstract="true" substitutionGroup="PlaceEquipment"/>
  <!-- ====ACCESS=================================================================== -->
  <xsd:complexType name="SiteEquipment_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="PlaceEquipment_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="LuggageLockerEquipment" abstract="false" substitutionGroup="SiteEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="LuggageLockerEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LuggageLockerEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="LuggageLockerIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="LuggageLockerEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="SiteEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="LuggageLockerEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LuggageLockerEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="NumberOfLockers" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="LockerWidth" type="LengthType" minOccurs="0"/>
      <xsd:element name="LockerHeight" type="LengthType" minOccurs="0"/>
      <xsd:element name="LockerDepth" type="LengthType" minOccurs="0"/>
      <xsd:element name="LockerType" type="LockerTypeEnumeration" minOccurs="0"/>
      <xsd:element name="LockingType" type="LockingTypeEnumeration" minOccurs="0"/>
      <xsd:element name="WheelchairAccepted" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="BlindAccessible" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="WaitingEquipment" abstract="true" substitutionGroup="SiteEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="WaitingEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="WaitingEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="WaitingEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="WaitingEquipment_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="SiteEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="WaitingEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="WaitingEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="Seats" type="xsd:nonNegativeInteger" minOccurs="0"/>
      <xsd:element name="Width" type="LengthType" minOccurs="0"/>
      <xsd:element name="Length" type="LengthType" minOccurs="0"/>
      <xsd:element name="Height" type="LengthType" minOccurs="0"/>
      <xsd:element name="StepFree" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="WheelchairAreaWidth" type="LengthType" minOccurs="0"/>
      <xsd:element name="WheelchairAreaLength" type="LengthType" minOccurs="0"/>
      <xsd:element name="SmokingAllowed" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Heated" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="AirConditioned" type="xsd:boolean" default="false" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="WaitingRoomEquipment" substitutionGroup="SiteEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="WaitingRoomEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="WaitingEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="WaitingRoomGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="WaitingRoomEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="WaitingRoomEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="WaitingEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="WaitingRoomGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="WaitingRoomGroup">
    <xsd:sequence>
      <xsd:element name="FareClass" type="FareClassListOfEnumerations" minOccurs="0"/>
      <xsd:element name="WomenOnly" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Sanitary" type="SanitaryFacilityListOfEnumerations" minOccurs="0"/>
      <xsd:element ref="ClassOfUseRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TrolleyStandEquipment" substitutionGroup="SiteEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrolleyStandEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TrolleyStandGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrolleyStandEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrolleyStandEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="SiteEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TrolleyStandGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrolleyStandGroup">
    <xsd:sequence>
      <xsd:element name="FreeToUse" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Charge" type="CurrencyAmountType" minOccurs="0"/>
      <xsd:element name="Currency" type="CurrencyType" minOccurs="0"/>
      <xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="ShelterEquipment" substitutionGroup="SiteEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ShelterEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="WaitingEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ShelterEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ShelterEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ShelterEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="WaitingEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ShelterEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ShelterEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="Enclosed" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="DistanceFromNearestKerb" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="SeatingEquipment" substitutionGroup="SiteEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SeatingEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="WaitingEquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SeatingEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SeatingEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SeatingEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="WaitingEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SeatingEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SeatingEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="ArmRest" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="BackRest" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="SeatHeight" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
