src/main/resources/xsd/netex_part_1/part1_ifopt/netex_rechargingPointAssignment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_rechargingPointAssignment_support">
  <xsd:include schemaLocation="netex_ifopt_parking_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===== RECHARGING BAY======================================================= -->
  <xsd:simpleType name="RechargingBayIdType">
    <xsd:restriction base="ParkingBayIdType"/>
  </xsd:simpleType>
  <xsd:element name="RechargingBayRef" type="RechargingBayRefStructure" substitutionGroup="ParkingBayRef"/>
  <xsd:complexType name="RechargingBayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingBayRefStructure">
        <xsd:attribute name="ref" type="RechargingBayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingBayRefStructureType" default="RechargingBay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== RECHARGING BAY======================================================= -->
  <xsd:simpleType name="RechargingStationIdType">
    <xsd:restriction base="ParkingIdType"/>
  </xsd:simpleType>
  <xsd:element name="RechargingStationRef" type="RechargingStationRefStructure" substitutionGroup="ParkingRef"/>
  <xsd:complexType name="RechargingStationRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingRefStructure">
        <xsd:attribute name="ref" type="RechargingStationIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingStationRefStructureType" default="RechargingStation"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== RECHARGING POINT ASSIGNMENT======================================================= -->
  <xsd:simpleType name="RechargingPointAssignmentIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="RechargingPointAssignmentRef" type="RechargingPointAssignmentRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="RechargingPointAssignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="RechargingPointAssignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRechargingPointAssignmentRefStructureType" default="RechargingPointAssignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
