src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_ifopt_stopPlace_support">
  <xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_types.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_path_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StopPlaceIdType">
    <xsd:restriction base="SiteIdType"/>
  </xsd:simpleType>
  <xsd:element name="StopPlaceRef" type="StopPlaceRefStructure" substitutionGroup="SiteRef"/>
  <xsd:complexType name="StopPlaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteRefStructure">
        <xsd:attribute name="ref" type="StopPlaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceRefStructureType" default="StopPlace"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="stopPlaceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="StopPlaceRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GroupOfStopPlacesIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfStopPlacesRef" type="GroupOfStopPlacesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfStopPlacesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfStopPlacesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfStopPlacesRefStructureType" default="GroupOfStopPlaces"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="StopPlaceSpaceRef" type="StopPlaceSpaceRefStructure" substitutionGroup="SiteComponentRef"/>
  <xsd:complexType name="StopPlaceSpaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteComponentRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceSpaceRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="SiteComponentIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="QuayIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="QuayRef" type="QuayRefStructure" substitutionGroup="StopPlaceSpaceRef"/>
  <xsd:complexType name="QuayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopPlaceSpaceRefStructure">
        <xsd:attribute name="ref" type="QuayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassQuayRefStructureType" default="Quay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="quayRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="QuayRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AccessSpaceIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="AccessSpaceRef" type="AccessSpaceRefStructure" substitutionGroup="StopPlaceSpaceRef"/>
  <xsd:complexType name="AccessSpaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopPlaceSpaceRefStructure">
        <xsd:attribute name="ref" type="AccessSpaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessSpaceRefStructureType" default="AccessSpace"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="boardingPositionRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="BoardingPositionRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="BoardingPositionIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="BoardingPositionRef" type="BoardingPositionRefStructure" substitutionGroup="StopPlaceSpaceRef"/>
  <xsd:complexType name="BoardingPositionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopPlaceSpaceRefStructure">
        <xsd:attribute name="ref" type="BoardingPositionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassBoardingPositionRefStructureType" default="BoardingPosition"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StopPlaceEntranceIdType">
    <xsd:restriction base="EntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="StopPlaceEntranceRef" type="StopPlaceEntranceRefStructure" substitutionGroup="EntranceRef"/>
  <xsd:complexType name="StopPlaceEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="EntranceRefStructure">
        <xsd:attribute name="ref" type="StopPlaceEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceEntranceRefStructureType" default="StopPlaceEntrance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StopPlaceVehicleEntranceIdType">
    <xsd:restriction base="VehicleEntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="StopPlaceVehicleEntranceRef" type="StopPlaceVehicleEntranceRefStructure" substitutionGroup="EntranceRef"/>
  <xsd:complexType name="StopPlaceVehicleEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="EntranceRefStructure">
        <xsd:attribute name="ref" type="StopPlaceVehicleEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassStopPlaceVehicleEntranceRefStructureType" default="StopPlaceVehicleEntrance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PlateCodeType">
    <xsd:restriction base="xsd:normalizedString"/>
  </xsd:simpleType>
  <xsd:simpleType name="CleardownCodeType">
    <xsd:restriction base="xsd:positiveInteger"/>
  </xsd:simpleType>
  <xsd:group name="StopIdentifierGroup">
    <xsd:sequence>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="AliasStructure">
    <xsd:sequence>
      <xsd:element ref="PrivateCode"/>
      <xsd:element name="IdentifierType" type="xsd:normalizedString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StopPlaceComponentTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="quay"/>
      <xsd:enumeration value="accessSpace"/>
      <xsd:enumeration value="entrance"/>
      <xsd:enumeration value="boardingPosition"/>
      <xsd:enumeration value="stoppingPlace"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="QuayTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="airlineGate"/>
      <xsd:enumeration value="railPlatform"/>
      <xsd:enumeration value="railIslandPlatform"/>
      <xsd:enumeration value="railPlatformSector"/>
      <xsd:enumeration value="metroPlatform"/>
      <xsd:enumeration value="metroIslandPlatform"/>
      <xsd:enumeration value="metroIslandPlatformSector"/>
      <xsd:enumeration value="coachStop"/>
      <xsd:enumeration value="busStop"/>
      <xsd:enumeration value="busPlatform"/>
      <xsd:enumeration value="busBay"/>
      <xsd:enumeration value="tramPlatform"/>
      <xsd:enumeration value="tramStop"/>
      <xsd:enumeration value="boatQuay"/>
      <xsd:enumeration value="ferryLanding"/>
      <xsd:enumeration value="telecabinPlatform"/>
      <xsd:enumeration value="taxiStand"/>
      <xsd:enumeration value="setDownPlace"/>
      <xsd:enumeration value="vehicleLoadingPlace"/>
      <xsd:enumeration value="handicappedLevelBoardingSector"/>
      <xsd:enumeration value="multimodal"/>
      <xsd:enumeration value="busStopWithinRoadwayBoarding"/>
      <xsd:enumeration value="tramStopWithinRoadwayBoarding"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BoardingPositionTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="doorFromAirlineGate"/>
      <xsd:enumeration value="positionOnRailPlatform"/>
      <xsd:enumeration value="positionOnMetroPlatform"/>
      <xsd:enumeration value="positionAtCoachStop"/>
      <xsd:enumeration value="positionAtBusStop"/>
      <xsd:enumeration value="boatGangway"/>
      <xsd:enumeration value="ferryGangway"/>
      <xsd:enumeration value="telecabinPlatform"/>
      <xsd:enumeration value="setDownPoint"/>
      <xsd:enumeration value="taxiBay"/>
      <xsd:enumeration value="vehicleLoadingRamp"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EntranceTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="door"/>
      <xsd:enumeration value="doorway"/>
      <xsd:enumeration value="revolvingDoor"/>
      <xsd:enumeration value="slidingDoors"/>
      <xsd:enumeration value="barrier"/>
      <xsd:enumeration value="ticketBarrier"/>
      <xsd:enumeration value="idBarrier"/>
      <xsd:enumeration value="gate"/>
      <xsd:enumeration value="style"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LimitedUseTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="interchangeOnly"/>
      <xsd:enumeration value="noDirectRoadAccess"/>
      <xsd:enumeration value="longWalkToAccess"/>
      <xsd:enumeration value="isolated"/>
      <xsd:enumeration value="limitedService"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="InterchangeWeightingEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="noInterchange"/>
      <xsd:enumeration value="interchangeAllowed"/>
      <xsd:enumeration value="recommendedInterchange"/>
      <xsd:enumeration value="preferredInterchange"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="StopPlaceWeightEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="international"/>
      <xsd:enumeration value="national"/>
      <xsd:enumeration value="regional"/>
      <xsd:enumeration value="local"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
