src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_path_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2007 03 23 Add repeating name -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_path_version">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_path_version.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_path_support.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_site_version.xsd"/>
  <!-- ============================================== -->
  <!-- ======================================================================= -->
  <xsd:group name="FixedPathLinkGroup">
    <xsd:sequence>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:group ref="PathLinkElementGroup"/>
      <xsd:group ref="EnvironmentPropertiesGroup"/>
      <xsd:group ref="PathPropertiesGroup"/>
      <xsd:group ref="GenericPathLinkDurationGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="SitePathLinkEndStructure">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element ref="SiteElementRef"/>
        <xsd:element name="PlaceRef" type="PlaceRefStructure"/>
      </xsd:choice>
      <xsd:element name="LevelRef" type="LevelRefStructure" minOccurs="0"/>
      <xsd:element name="EntranceRef" type="EntranceRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="SitePathLinkElementGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="AccessibilityAssessmentRef"/>
        <xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
      </xsd:choice>
      <xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0"/>
      <xsd:group ref="SiteElementPropertiesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== OFF SITE PATH LINK ============================================= -->
  <xsd:element name="OffSitePathLink" substitutionGroup="Link">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="OffSitePathLink_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericPathLinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="OffSitePathLinkGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="OffSitePathLinkIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="OffSitePathLink_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GenericPathLink_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="OffSitePathLinkGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="OffSitePathLinkGroup">
    <xsd:sequence>
      <xsd:element name="From" type="SitePathLinkEndStructure"/>
      <xsd:element name="To" type="SitePathLinkEndStructure"/>
      <xsd:group ref="FixedPathLinkGroup"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== SITE PATH LINK =============================================== -->
  <xsd:complexType name="sitePathLinks_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="SitePathLinkRef"/>
          <xsd:element ref="SitePathLink"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SitePathLink" substitutionGroup="Link">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SitePathLink_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericPathLinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SitePathLinkGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SitePathLinkIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SitePathLink_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GenericPathLink_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SitePathLinkGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SitePathLinkGroup">
    <xsd:sequence>
      <xsd:element name="From" type="SitePathLinkEndStructure"/>
      <xsd:element name="To" type="SitePathLinkEndStructure"/>
      <xsd:group ref="FixedPathLinkGroup"/>
      <xsd:element name="Label" type="MultilingualString" minOccurs="0"/>
      <xsd:group ref="SiteComponentGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="PathLink" substitutionGroup="Link">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SitePathLink_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericPathLinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SitePathLinkGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SitePathLinkIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ====== SITE PATH JUNCTION  ============================================= -->
  <xsd:complexType name="sitePathJunctions_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="GenericPathJunctionRef"/>
          <xsd:element ref="SitePathJunction"/>
          <xsd:element ref="PathJunction"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SitePathJunction" substitutionGroup="Point">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SitePathJunction_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GenericPathJunctionGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SitePathJunctionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GenericPathJunctionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SitePathJunction_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GenericPathJunction_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SitePathJunctionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SitePathJunctionGroup">
    <xsd:sequence>
      <xsd:element name="ParentZoneRef" type="ZoneRefStructure" minOccurs="0"/>
      <xsd:group ref="SiteElementPropertiesGroup"/>
      <xsd:element name="Label" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="SiteComponentRef" type="SiteComponentRefStructure" minOccurs="0"/>
      <xsd:element name="placeEquipments" type="placeEquipments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="PathJunction" substitutionGroup="Point">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SitePathJunction_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SitePathJunctionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GenericPathJunctionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ======================================================================= -->
</xsd:schema>
