src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_localServiceCommercial_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_localServiceCommercial_version">
  <xsd:include schemaLocation="netex_ifopt_localServiceCommercial_support.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_localService_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="LocalServiceCommercialChoice">
    <xsd:choice>
      <xsd:element ref="CommunicationService"/>
      <xsd:element ref="HireService"/>
      <xsd:element ref="MoneyService"/>
      <xsd:element ref="CateringService"/>
      <xsd:element ref="RetailService"/>
    </xsd:choice>
  </xsd:group>
  <!-- ====COMMUNICATION============================================================ -->
  <xsd:element name="CommunicationService" substitutionGroup="LocalService">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CommunicationService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LocalServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CommunicationServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CommunicationServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CommunicationService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LocalService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="CommunicationServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CommunicationServiceGroup">
    <xsd:sequence>
      <xsd:element name="ServiceList" type="CommunicationServiceListOfEnumerations" minOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====Hire=========================================================== -->
  <xsd:element name="HireService" substitutionGroup="LocalService">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="HireService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LocalServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="HireServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="HireServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="HireService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LocalService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="HireServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="HireServiceGroup">
    <xsd:sequence>
      <xsd:element name="ServiceList" type="HireServiceListOfEnumerations" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==Money======================================================== -->
  <xsd:element name="MoneyService" substitutionGroup="LocalService">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="MoneyService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LocalServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="MoneyServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="MoneyServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="MoneyService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LocalService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="MoneyServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="MoneyServiceGroup">
    <xsd:sequence>
      <xsd:element name="ServiceList" type="MoneyServiceListOfEnumerations" minOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====Retail===================================================== -->
  <xsd:element name="RetailService" substitutionGroup="LocalService">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RetailService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LocalServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RetailServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RetailServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RetailService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LocalService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="RetailServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RetailServiceGroup">
    <xsd:sequence>
      <xsd:element name="ServiceList" type="RetailServiceListOfEnumerations" minOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===Catering======================================================= -->
  <xsd:element name="CateringService" substitutionGroup="LocalService">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CateringService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LocalServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CateringServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CateringServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CateringService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LocalService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="CateringServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CateringServiceGroup">
    <xsd:sequence>
      <xsd:element name="ServiceList" type="CateringServiceListOfEnumerations" minOccurs="1"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
