src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentTicketing_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2`" id="netex_ifopt_equipmentTicketing_version">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_support.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_equipmentTicketing_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="TicketingEquipmentChoice">
    <xsd:choice>
      <xsd:element ref="TicketingEquipment"/>
      <xsd:element ref="TicketValidatorEquipment"/>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="TicketingEquipmentListGroup">
    <xsd:sequence>
      <xsd:element ref="TicketingEquipment" minOccurs="0"/>
      <xsd:element ref="TicketValidatorEquipment" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====ACCESS=================================================================== -->
  <xsd:element name="TicketingEquipment" substitutionGroup="PassengerEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="TicketingEquipment_VersionStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TicketingEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PassengerEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TicketingEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TicketingEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="VehicleModes" type="AllPublicTransportModesListOfEnumerations" minOccurs="0"/>
      <xsd:group ref="TicketingEquipmentPropertiesGroup"/>
      <xsd:group ref="TicketingEquipmentServiceGroup"/>
      <xsd:group ref="TicketingEquipmentAccessibilityGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TicketingEquipmentPropertiesGroup">
    <xsd:sequence>
      <xsd:element name="TicketMachines" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="NumberOfMachines" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="HeightOfMachineInterface" type="LengthType" minOccurs="0"/>
      <xsd:element ref="TicketingFacilityList" minOccurs="0"/>
      <xsd:element ref="TicketingServiceFacilityList" minOccurs="0"/>
      <xsd:element name="TicketOffice" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="TicketCounter" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="NumberOfTills" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="QueueManagement" type="QueueManagementEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TicketingEquipmentServiceGroup">
    <xsd:sequence>
      <xsd:element name="PaymentMethods" type="PaymentMethodListOfEnumerations" minOccurs="0"/>
      <xsd:element name="TicketTypesAvailable" type="TicketTypeListOfEnumerations" minOccurs="0"/>
      <xsd:element name="ScopeOfTicketsAvailable" type="ScopeOfTicketListOfEnumerations" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="TicketingEquipmentAccessibilityGroup">
    <xsd:sequence>
      <xsd:element name="LowCounterAccess" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="HeightOfLowCounter" type="LengthType" minOccurs="0"/>
      <xsd:element name="InductionLoops" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="TactileInterfaceAvailable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="AudioInterfaceAvailable" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="DisabledPriority" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="WheelchairSuitable" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===TICEKT VALIDATOR EQUIPENT============================================ -->
  <xsd:element name="TicketValidatorEquipment" substitutionGroup="PassengerEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="TicketValidatorEquipment_VersionStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TicketValidatorEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PassengerEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TicketValidatorGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TicketValidatorGroup">
    <xsd:sequence>
      <xsd:element name="TicketValidatorType" type="TicketValidatorListOfEnumerations" minOccurs="0"/>
      <xsd:element name="AudioValidationFeedback" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="VisualValidationFeedback" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="TactileValidationFeedback" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ValidationGuidance" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
