src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_serviceFeature_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_serviceFeature">
  <xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_relationship.xsd"/>
  <!--===== ========================================================-->
  <!--===== ========================================================-->
  <xsd:simpleType name="TypeOfServiceFeatureIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfServiceFeatureRef" type="TypeOfServiceFeatureRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfServiceFeatureRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfServiceFeatureIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfServiceFeatureRefStructureType" default="TypeOfServiceFeature"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="typeOfServiceFeatureRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="TypeOfServiceFeatureRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
