src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentPassenger_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_equipmentPassenger_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- === PASSENGER EQUIPMENT ======================================= -->
  <xsd:simpleType name="SanitaryEquipmentIdType">
    <xsd:restriction base="PassengerEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="SanitaryEquipmentRef" type="SanitaryEquipmentRefStructure" substitutionGroup="PassengerEquipmentRef"/>
  <xsd:complexType name="SanitaryEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassengerEquipmentRefStructure">
        <xsd:attribute name="ref" type="SanitaryEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSanitaryEquipmentRefStructureType" default="SanitaryEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PassengerSafetyEquipmentIdType">
    <xsd:restriction base="PassengerEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerSafetyEquipmentRef" type="PassengerSafetyEquipmentRefStructure" substitutionGroup="PassengerEquipmentRef"/>
  <xsd:complexType name="PassengerSafetyEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassengerEquipmentRefStructure">
        <xsd:attribute name="ref" type="PassengerSafetyEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerSafetyEquipmentRefStructureType" default="PassengerSafetyEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="HelpPointEquipmentIdType">
    <xsd:restriction base="PassengerEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="HelpPointEquipmentRef" type="HelpPointEquipmentRefStructure" substitutionGroup="PassengerEquipmentRef"/>
  <xsd:complexType name="HelpPointEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassengerEquipmentRefStructure">
        <xsd:attribute name="ref" type="HelpPointEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassHelpPointEquipmentRefStructureType" default="HelpPointEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="PassengerBeaconEquipmentIdType">
    <xsd:restriction base="PassengerEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="PassengerBeaconEquipmentRef" type="PassengerBeaconEquipmentRefStructure" substitutionGroup="PassengerEquipmentRef"/>
  <xsd:complexType name="PassengerBeaconEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassengerEquipmentRefStructure">
        <xsd:attribute name="ref" type="PassengerBeaconEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPassengerBeaconEquipmentRefStructureType" default="PassengerBeaconEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="BeaconTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="ble"/>
      <xsd:enumeration value="uwb"/>
      <xsd:enumeration value="wifi"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BeaconDirectionEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="unidirectional"/>
      <xsd:enumeration value="bidirectional"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BeaconProtocolEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="iBeacon"/>
      <xsd:enumeration value="Eddystone"/>
      <xsd:enumeration value="VDV431"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RubbishDisposalEquipmentIdType">
    <xsd:restriction base="PassengerEquipmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="RubbishDisposalEquipmentRef" type="RubbishDisposalEquipmentRefStructure" substitutionGroup="PassengerEquipmentRef"/>
  <xsd:complexType name="RubbishDisposalEquipmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="PassengerEquipmentRefStructure">
        <xsd:attribute name="ref" type="RubbishDisposalEquipmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassRubbishDisposalEquipmentRefStructureType" default="RubbishDisposalEquipment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="AudioAnnouncementTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="onDemand"/>
      <xsd:enumeration value="automatic"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="AudioTriggerMethodEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="presenceDetector"/>
      <xsd:enumeration value="mobileApp"/>
      <xsd:enumeration value="internetPage"/>
      <xsd:enumeration value="specificDevice"/>
      <xsd:enumeration value="pushButton"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ToiletsTypeEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="seated"/>
      <xsd:enumeration value="urinal"/>
      <xsd:enumeration value="squat"/>
      <xsd:enumeration value="seatedAndUrinal"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
