src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_equipmentParking_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_equipmentParking_version">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_equipmentParking_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipmentPlace_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- === CYCLE STORAGE EQUIPMENT ================================================== -->
  <xsd:element name="CycleStorageEquipment" substitutionGroup="PlaceEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="CycleStorageEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CycleStorageEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CycleStorageEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="CycleStorageEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="PlaceEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="CycleStorageEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CycleStorageEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="NumberOfSpaces" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="CycleStorageType" type="CycleStorageEnumeration" minOccurs="0"/>
      <xsd:element name="Cage" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="Covered" type="CoveredEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === VEHICLE CHARGING EQUIPMENT ============================================ -->
  <xsd:element name="VehicleReleaseEquipment" substitutionGroup="InstalledEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleReleaseEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleReleaseEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleReleaseEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleReleaseEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="InstalledEquipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleReleaseEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleReleaseEquipmentGroup">
    <xsd:sequence>
      <xsd:element name="RemoteControl" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="LocalControl" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="LockingMechanism" type="LockingMechanismEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
