src/main/resources/xsd/netex_part_1/part1_ifopt/netex_assistanceBooking_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_assistanceBooking_version">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_modeOfOperation_support.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_line_support.xsd"/>
  <xsd:include schemaLocation="netex_assistanceBooking_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_noticeAssignment_version.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_localService_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="assistanceBookingServices_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="AssistanceBookingServiceRef"/>
          <xsd:element ref="AssistanceBookingService" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AssistanceBookingService" substitutionGroup="LocalService">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AssistanceBookingService_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LocalServiceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AssistanceBookingServiceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AssistanceBookingServiceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AssistanceBookingService_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LocalService_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AssistanceBookingServiceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AssistanceBookingServiceGroup">
    <xsd:sequence>
      <xsd:element name="AssistanceAvailability" type="AssistanceAvailabilityEnumeration" default="available" minOccurs="0"/>
      <xsd:element name="WheelchairBookingRequired" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="BookingContact" type="ContactStructure" minOccurs="0"/>
      <xsd:choice>
        <xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0"/>
        <xsd:element name="BookingArrangements" type="BookingArrangementsStructure" minOccurs="0"/>
      </xsd:choice>
      <xsd:group ref="AssistanceBookingServiceReferencesGroup"/>
      <xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="AssistanceBookingServiceReferencesGroup">
    <xsd:sequence>
      <xsd:element ref="VehicleMode" minOccurs="0"/>
      <xsd:element ref="ModeOfOperationRef" minOccurs="0"/>
      <xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element name="BookedObjectRef" type="VersionOfObjectRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
