src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_site_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_site_version">
  <xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipmentPlace_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_transportOrganisation_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_topographicPlace_version.xsd"/>
  <xsd:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="../../gml/gmlBasic2d-extract-v3_2_1-.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_checkConstraint_version.xsd"/>
  <xsd:include schemaLocation="netex_ifopt_equipmentAll.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:element name="SiteElement" type="SiteElement_VersionStructure" abstract="true" substitutionGroup="Place"/>
  <xsd:complexType name="SiteElement_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="AddressablePlace_VersionStructure">
        <xsd:group ref="SiteElementGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteElementGroup">
    <xsd:sequence>
      <xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
      <xsd:element name="AccessModes" type="AccessModeListOfEnumerations" minOccurs="0"/>
      <xsd:group ref="SiteElementNamesGroup"/>
      <xsd:group ref="RelativeLocationGroup"/>
      <xsd:group ref="SiteElementPropertiesGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteElementNamesGroup">
    <xsd:sequence>
      <xsd:element name="NameSuffix" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteElementPropertiesGroup">
    <xsd:sequence>
      <xsd:group ref="EnvironmentPropertiesGroup"/>
      <xsd:element name="Presentation" type="PresentationStructure" minOccurs="0"/>
      <xsd:element name="facilities" type="siteFacilitySets_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="RelativeLocationGroup">
    <xsd:sequence>
      <xsd:element name="CrossRoad" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Landmark" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======= SITE ====================================================== -->
  <xsd:element name="Site" type="Site_VersionStructure" abstract="true" substitutionGroup="SiteElement"/>
  <xsd:complexType name="Site_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="SiteElement_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SiteGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="TopographicPlaceRef"/>
        <xsd:element ref="TopographicPlaceView"/>
      </xsd:choice>
      <xsd:element name="additionalTopographicPlaces" type="topographicPlaceRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="SiteType" type="SiteTypeEnumeration" minOccurs="0"/>
      <xsd:element name="AtCentre" type="xsd:boolean" minOccurs="0"/>
      <xsd:element ref="Locale" minOccurs="0"/>
      <xsd:choice minOccurs="0">
        <xsd:element ref="OrganisationRef_Dummy"/>
        <xsd:element name="OperatingOrganisationView" type="Organisation_DerivedViewStructure"/>
      </xsd:choice>
      <xsd:group ref="SiteRelationGroup" minOccurs="0"/>
      <xsd:element name="levels" type="levels_RelStructure" minOccurs="0"/>
      <xsd:element name="entrances" type="siteEntrances_RelStructure" minOccurs="0"/>
      <xsd:element name="siteStructures" type="siteStructures_RelStructure" minOccurs="0"/>
      <xsd:group ref="AllEquipmentGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteRelationGroup">
    <xsd:sequence>
      <xsd:element name="ParentSiteRef" type="SiteRefStructure" minOccurs="0"/>
      <xsd:element name="adjacentSites" type="siteRefs_RelStructure" minOccurs="0"/>
      <xsd:element name="ContainedInPlaceRef" type="TopographicPlaceRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======= SITE COMPONENT ==================================================== -->
  <xsd:element name="SiteComponent" type="SiteComponent_VersionStructure" abstract="true" substitutionGroup="SiteElement"/>
  <xsd:complexType name="SiteComponent_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="SiteElement_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SiteComponentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteComponentGroup">
    <xsd:sequence>
      <xsd:element name="SiteRef" type="SiteRefStructure" minOccurs="0"/>
      <xsd:element ref="LevelRef" minOccurs="0"/>
      <xsd:element ref="ClassOfUseRef" minOccurs="0"/>
      <xsd:element name="checkConstraints" type="checkConstraints_RelStructure" minOccurs="0"/>
      <xsd:group ref="AllEquipmentGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="SiteComponentModeGroup">
    <xsd:sequence>
      <xsd:element name="TransportMode" type="AllPublicTransportModesEnumeration" minOccurs="0"/>
      <xsd:group ref="PtSubmodeChoiceGroup" minOccurs="0"/>
      <xsd:element ref="ModeOfOperationRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== ENTRANCE ====================================================== -->
  <xsd:complexType name="siteEntrances_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="EntranceRef"/>
          <xsd:element ref="Entrance"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Entrance" type="SiteEntrance_VersionStructure" substitutionGroup="SiteComponent"/>
  <xsd:complexType name="SiteEntrance_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="SiteComponent_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SiteEntranceGroup"/>
          <xsd:group ref="ExternalEntranceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteEntranceGroup">
    <xsd:sequence>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element name="Label" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="EntranceType" type="EntranceEnumeration" minOccurs="0"/>
      <xsd:element name="EntrancePurpose" type="EntrancePurposeEnumeration" minOccurs="0"/>
      <xsd:element name="IsExternal" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="IsEntry" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="IsExit" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="Width" type="LengthType" minOccurs="0"/>
      <xsd:element name="Height" type="LengthType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="ExternalEntranceGroup">
    <xsd:sequence>
      <xsd:element name="DroppedKerbOutside" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="DropOffPointClose" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== VEHICLE ENTRANCE ================================================ -->
  <xsd:complexType name="vehicleEntrances_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="VehicleEntranceRef"/>
          <xsd:element ref="VehicleEntrance"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="VehicleEntrance" abstract="true" substitutionGroup="Entrance">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="VehicleEntrance_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
            <xsd:group ref="PlaceGroup"/>
            <xsd:sequence>
              <xsd:group ref="AddressablePlaceGroup"/>
            </xsd:sequence>
            <xsd:group ref="SiteElementGroup"/>
            <xsd:sequence>
              <xsd:group ref="SiteComponentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SiteEntranceGroup"/>
              <xsd:group ref="ExternalEntranceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VehicleEntranceGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="VehicleEntranceIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="VehicleEntrance_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="SiteEntrance_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="VehicleEntranceGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="VehicleEntranceGroup">
    <xsd:sequence>
      <xsd:element name="Public" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== LEVEL ========================================================== -->
  <xsd:complexType name="levels_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="LevelRef"/>
          <xsd:element ref="Level" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Level" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Level_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LevelGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="LevelIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Level_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="LevelGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LevelGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element name="PublicUse" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="RelativeLevelOrder" type="xsd:integer" minOccurs="0"/>
      <xsd:element name="AccessibilityAssessment" type="AccessibilityAssessment_VersionedChildStructure" minOccurs="0"/>
      <xsd:element name="AllAreasWheelchairAccessible" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element ref="SiteRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===  GROUP OF SITES =================================================== -->
  <xsd:complexType name="groupsOfSites_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="GroupOfSites" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="GroupOfSites" substitutionGroup="GroupOfEntities">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="GroupOfSites_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfSitesGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="GroupOfSitesIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="GroupOfSites_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="GroupOfEntities_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="GroupOfSitesGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="GroupOfSitesGroup">
    <xsd:sequence>
      <xsd:group ref="GroupOfSitesSpatialGroup"/>
      <xsd:element name="alternativeNames" type="alternativeNames_RelStructure" minOccurs="0"/>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
      <xsd:element name="members" type="siteRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="GroupOfSitesSpatialGroup">
    <xsd:sequence>
      <xsd:element name="Centroid" type="SimplePoint_VersionStructure" minOccurs="0"/>
      <xsd:element ref="gml:Polygon" minOccurs="0"/>
      <xsd:element name="projections" type="projections_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== SITE  STRUCTURE =============================================== -->
  <xsd:complexType name="siteStructures_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="SiteStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SiteStructure" type="SiteStructure_VersionStructure" substitutionGroup="DataManagedObject"/>
  <xsd:complexType name="SiteStructure_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="SiteStructureGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SiteStructureGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="SiteRef" minOccurs="0"/>
      <xsd:element name="levelsInStructure" type="levelsInStructure_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ====== LEVEL IN STRUCTURE ============================================== -->
  <xsd:complexType name="levelsInStructure_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="LevelInStructure" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LevelInStructure" type="LevelInStructure_VersionStructure" substitutionGroup="VersionedChild"/>
  <xsd:complexType name="LevelInStructure_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="LevelInStructureGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LevelInStructureGroup">
    <xsd:sequence>
      <xsd:element name="FloorLabel" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="LevelRef"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== ACCESS ZONES ======================================================= -->
  <xsd:complexType name="accessZones_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="AccessZoneRef"/>
          <xsd:element ref="AccessZone"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AccessZone" substitutionGroup="Zone">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AccessZone_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfPointsGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AccessZoneGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AccessZoneIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AccessZone_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Zone_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AccessZoneGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AccessZoneGroup">
    <xsd:sequence>
      <xsd:element name="AccessibilityAssessment" type="AccessibilityAssessment_VersionedChildStructure" minOccurs="0"/>
      <xsd:element name="AllAreasWheelchairAccessible" type="xsd:boolean" default="true" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== SERVICE SITE =================================================== -->
  <xsd:element name="ServiceSite" substitutionGroup="Site">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceSite_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfEntitiesGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="GroupOfPointsGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ZoneGroup"/>
            </xsd:sequence>
            <xsd:group ref="PlaceGroup"/>
            <xsd:sequence>
              <xsd:group ref="AddressablePlaceGroup"/>
            </xsd:sequence>
            <xsd:group ref="SiteElementGroup"/>
            <xsd:sequence>
              <xsd:group ref="SiteGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceSiteGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceSiteIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceSite_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="Site_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceSiteGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ServiceSiteGroup">
    <xsd:sequence/>
  </xsd:group>
  <!-- ===DUMMY TYPES======================================================= -->
  <xsd:element name="ParkingBay_Dummy" type="SiteComponent_VersionStructure" abstract="true" substitutionGroup="SiteComponent"/>
  <xsd:element name="ParkingArea_Dummy" type="SiteComponent_VersionStructure" abstract="true" substitutionGroup="SiteComponent"/>
  <xsd:element name="StopPlace_Dummy" type="Site_VersionStructure" abstract="true" substitutionGroup="Site"/>
  <xsd:element name="Quay_Dummy" type="Site_VersionStructure" abstract="true" substitutionGroup="Site"/>
  <xsd:element name="Parking_Dummy" type="Site_VersionStructure" abstract="true" substitutionGroup="Site"/>
</xsd:schema>
