src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_checkConstraint_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_checkConstraint_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_support.xsd"/>
  <!-- ===== TYPE OFCONGESTION ======================================== -->
  <xsd:simpleType name="TypeOfCongestionIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfCongestionRef" type="TypeOfCongestionRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfCongestionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfCongestionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfCongestionRefStructureType" default="TypeOfCongestion"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--======CHECK CONSTRAINT ============================================================================-->
  <xsd:simpleType name="CheckConstraintIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="CheckConstraintRef" type="CheckConstraintRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="CheckConstraintRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="CheckConstraintIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCheckConstraintRefStructureType" default="CheckConstraint"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--======CHECK CONSTRAINT ============================================================================-->
  <xsd:simpleType name="CheckConstraintDelayIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="CheckConstraintDelayRef" type="CheckConstraintDelayRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="CheckConstraintDelayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="CheckConstraintDelayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCheckConstraintDelayRefStructureType" default="CheckConstraintDelay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--======Values =============================================================================-->
  <xsd:simpleType name="CheckConstraintThroughputIdType">
    <xsd:restriction base="AssignmentIdType"/>
  </xsd:simpleType>
  <xsd:element name="CheckConstraintThroughputRef" type="CheckConstraintThroughputRefStructure" substitutionGroup="AssignmentRef"/>
  <xsd:complexType name="CheckConstraintThroughputRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AssignmentRefStructure">
        <xsd:attribute name="ref" type="CheckConstraintThroughputIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCheckConstraintThroughputRefStructureType" default="CheckConstraintThroughput"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!--======Values =============================================================================-->
  <xsd:simpleType name="CheckProcessTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="none"/>
      <xsd:enumeration value="unknown"/>
      <xsd:enumeration value="boarding"/>
      <xsd:enumeration value="alighting"/>
      <xsd:enumeration value="ticketPurchase"/>
      <xsd:enumeration value="ticketCollection"/>
      <xsd:enumeration value="ticketValidation"/>
      <xsd:enumeration value="baggageCheckIn"/>
      <xsd:enumeration value="checkIn"/>
      <xsd:enumeration value="checkOut"/>
      <xsd:enumeration value="checkout"/>
      <xsd:enumeration value="oversizeBaggageCheckIn"/>
      <xsd:enumeration value="oversizeBaggageReclaim"/>
      <xsd:enumeration value="baggageReclaim"/>
      <xsd:enumeration value="leftLuggageDeposit"/>
      <xsd:enumeration value="leftLuggageReclaim"/>
      <xsd:enumeration value="firstclassCheckin"/>
      <xsd:enumeration value="specialNeedsCheckin"/>
      <xsd:enumeration value="baggageSecurityCheck"/>
      <xsd:enumeration value="securityCheck"/>
      <xsd:enumeration value="outgoingPassportControl"/>
      <xsd:enumeration value="incomingPassportControl"/>
      <xsd:enumeration value="fasttrackDepartures"/>
      <xsd:enumeration value="fasttrackArrivals"/>
      <xsd:enumeration value="incomingDutyFree"/>
      <xsd:enumeration value="outgoingDutyFree"/>
      <xsd:enumeration value="taxRefunds"/>
      <xsd:enumeration value="outgoingCustoms"/>
      <xsd:enumeration value="incomingCustoms"/>
      <xsd:enumeration value="waitForLift"/>
      <xsd:enumeration value="ingress"/>
      <xsd:enumeration value="egress"/>
      <xsd:enumeration value="queue"/>
      <xsd:enumeration value="vehicleLoading"/>
      <xsd:enumeration value="vehicleUnloading"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CheckServiceEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="selfService"/>
      <xsd:enumeration value="counterService"/>
      <xsd:enumeration value="anyService"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CongestionEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="noWaiting"/>
      <xsd:enumeration value="queue"/>
      <xsd:enumeration value="crowding"/>
      <xsd:enumeration value="full"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CheckDirectionEnumeration">
    <xsd:restriction base="xsd:NMTOKEN">
      <xsd:enumeration value="forwards"/>
      <xsd:enumeration value="backwards"/>
      <xsd:enumeration value="bothWays"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
