src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_ifopt_parking_support">
  <xsd:include schemaLocation="netex_ifopt_site_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_types.xsd"/>
  <!-- ======================================================================= -->
  <xsd:complexType name="parkingRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ParkingRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ParkingIdType">
    <xsd:restriction base="SiteIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingRef" type="ParkingRefStructure" substitutionGroup="SiteRef"/>
  <xsd:complexType name="ParkingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteRefStructure">
        <xsd:attribute name="ref" type="ParkingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingRefStructureType" default="Parking"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingCapacityIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingCapacityRef" type="ParkingCapacityRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="ParkingCapacityRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="ParkingCapacityIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingCapacityRefStructureType" default="ParkingCapacity"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ParkingPropertiesIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingPropertiesRef" type="ParkingPropertiesRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="ParkingPropertiesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="ParkingPropertiesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingPropertiesRefStructureType" default="ParkingProperties"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingEntranceIdType">
    <xsd:restriction base="EntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingEntranceRef" type="ParkingEntranceRefStructure" substitutionGroup="EntranceRef"/>
  <xsd:complexType name="ParkingEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="EntranceRefStructure">
        <xsd:attribute name="ref" type="ParkingEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingPassengerEntranceIdType">
    <xsd:restriction base="ParkingEntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingPassengerEntranceRef" substitutionGroup="ParkingEntranceRef">
    <xsd:complexType>
      <xsd:simpleContent>
        <xsd:restriction base="ParkingPassengerEntranceRefStructure">
          <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional"/>
          <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
          <xsd:attribute name="ref" type="ParkingPassengerEntranceIdType" use="required"/>
          <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
          <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
          <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
        </xsd:restriction>
      </xsd:simpleContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ParkingPassengerEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingEntranceRefStructure">
        <xsd:attribute name="ref" type="ParkingPassengerEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional" default="ParkingPassengerEntrance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingEntranceForVehiclesIdType">
    <xsd:restriction base="ParkingEntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingEntranceForVehiclesRef" type="ParkingEntranceForVehiclesRefStructure" substitutionGroup="ParkingEntranceRef"/>
  <xsd:complexType name="ParkingEntranceForVehiclesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ParkingEntranceRefStructure">
        <xsd:attribute name="ref" type="ParkingEntranceForVehiclesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" use="optional" default="ParkingEntranceForVehicles"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="parkingComponentRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ParkingAreaRef" maxOccurs="unbounded"/>
          <xsd:element ref="ParkingBayRef" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="ParkingAreaIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingAreaRef" type="ParkingAreaRefStructure" substitutionGroup="SiteComponentRef"/>
  <xsd:complexType name="ParkingAreaRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteComponentRefStructure">
        <xsd:attribute name="ref" type="ParkingAreaIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingAreaRefStructureType" default="ParkingArea"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="parkingAreaRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ParkingAreaRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingBayIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingBayRef" type="ParkingBayRefStructure" substitutionGroup="SiteComponentRef"/>
  <xsd:complexType name="ParkingBayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteComponentRefStructure">
        <xsd:attribute name="ref" type="ParkingBayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingBayRefStructureType" default="ParkingBay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="parkingBayRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="ParkingBayRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:group name="ParkingIdentifierGroup">
    <xsd:sequence>
      <xsd:element name="PublicCode" type="PublicCodeStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingLayoutEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="covered"/>
      <xsd:enumeration value="openSpace"/>
      <xsd:enumeration value="multistorey"/>
      <xsd:enumeration value="underground"/>
      <xsd:enumeration value="roadside"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="onPavement"/>
      <xsd:enumeration value="cycleHire"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="parkAndRide"/>
      <xsd:enumeration value="liftShareParking"/>
      <xsd:enumeration value="urbanParking"/>
      <xsd:enumeration value="airportParking"/>
      <xsd:enumeration value="trainStationParking"/>
      <xsd:enumeration value="exhibitionCentreParking"/>
      <xsd:enumeration value="rentalCarParking"/>
      <xsd:enumeration value="shoppingCentreParking"/>
      <xsd:enumeration value="motorwayParking"/>
      <xsd:enumeration value="roadside"/>
      <xsd:enumeration value="parkingZone"/>
      <xsd:enumeration value="cycleRental"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingPaymentProcessListOfEnumerations">
    <xsd:list itemType="ParkingPaymentProcessEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingPaymentProcessEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="free"/>
      <xsd:enumeration value="payAtBay"/>
      <xsd:enumeration value="payAndDisplay"/>
      <xsd:enumeration value="payAtExitBoothManualCollection"/>
      <xsd:enumeration value="payAtMachineOnFootPriorToExit"/>
      <xsd:enumeration value="payByPrepaidToken"/>
      <xsd:enumeration value="payByMobileDevice"/>
      <xsd:enumeration value="payByPlate"/>
      <xsd:enumeration value="prepayForPermit"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingStayListOfEnumerations">
    <xsd:list itemType="ParkingStayEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingStayEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="shortStay"/>
      <xsd:enumeration value="midTerm"/>
      <xsd:enumeration value="longTerm"/>
      <xsd:enumeration value="dropoff"/>
      <xsd:enumeration value="unlimited"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingVehicleListOfEnumerations">
    <xsd:list itemType="ParkingVehicleEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingVehicleEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="cycle"/>
      <xsd:enumeration value="pedalCycle"/>
      <xsd:enumeration value="eCycle"/>
      <xsd:enumeration value="moped"/>
      <xsd:enumeration value="motorcycle"/>
      <xsd:enumeration value="motorcycleWithSidecar"/>
      <xsd:enumeration value="motorScooter"/>
      <xsd:enumeration value="twoWheeledVehicle"/>
      <xsd:enumeration value="threeWheeledVehicle"/>
      <xsd:enumeration value="car"/>
      <xsd:enumeration value="microCar"/>
      <xsd:enumeration value="miniCar"/>
      <xsd:enumeration value="smallCar"/>
      <xsd:enumeration value="passengerCar"/>
      <xsd:enumeration value="largeCar"/>
      <xsd:enumeration value="fourWheelDrive"/>
      <xsd:enumeration value="taxi"/>
      <xsd:enumeration value="camperCar"/>
      <xsd:enumeration value="carWithTrailer"/>
      <xsd:enumeration value="carWithCaravan"/>
      <xsd:enumeration value="minibus"/>
      <xsd:enumeration value="minivan"/>
      <xsd:enumeration value="bus"/>
      <xsd:enumeration value="van"/>
      <xsd:enumeration value="transporter"/>
      <xsd:enumeration value="largeVan"/>
      <xsd:enumeration value="highSidedVehicle"/>
      <xsd:enumeration value="lightGoodsVehicle"/>
      <xsd:enumeration value="heavyGoodsVehicle"/>
      <xsd:enumeration value="agriculturalVehicle"/>
      <xsd:enumeration value="tanker"/>
      <xsd:enumeration value="truck"/>
      <xsd:enumeration value="tram"/>
      <xsd:enumeration value="articulatedVehicle"/>
      <xsd:enumeration value="vehicleWithTrailer"/>
      <xsd:enumeration value="lightGoodsVehicleWithTrailer"/>
      <xsd:enumeration value="heavyGoodsVehicleWithTrailer"/>
      <xsd:enumeration value="snowmobile"/>
      <xsd:enumeration value="undefined"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="allPassengerVehicles"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingUserEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="allUsers"/>
      <xsd:enumeration value="staff"/>
      <xsd:enumeration value="visitors"/>
      <xsd:enumeration value="customers"/>
      <xsd:enumeration value="guests"/>
      <xsd:enumeration value="registeredDisabled"/>
      <xsd:enumeration value="impairedMobility"/>
      <xsd:enumeration value="registered"/>
      <xsd:enumeration value="rental"/>
      <xsd:enumeration value="doctors"/>
      <xsd:enumeration value="residentsWithPermits"/>
      <xsd:enumeration value="reservationHolders"/>
      <xsd:enumeration value="emergencyServices"/>
      <xsd:enumeration value="taxi"/>
      <xsd:enumeration value="vehicleSharing"/>
      <xsd:enumeration value="women"/>
      <xsd:enumeration value="families"/>
      <xsd:enumeration value="other"/>
      <xsd:enumeration value="all"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingUserListOfEnumerations">
    <xsd:list itemType="ParkingUserEnumeration"/>
  </xsd:simpleType>
  <xsd:simpleType name="BayGeometryEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unspecified"/>
      <xsd:enumeration value="orthogonal"/>
      <xsd:enumeration value="angled"/>
      <xsd:enumeration value="parallel"/>
      <xsd:enumeration value="freeFormat"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingVisibilityEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="unmarked"/>
      <xsd:enumeration value="signageOnly"/>
      <xsd:enumeration value="demarcated"/>
      <xsd:enumeration value="docks"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ParkingReservationEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="reservationRequired"/>
      <xsd:enumeration value="reservationAllowed"/>
      <xsd:enumeration value="noReservations"/>
      <xsd:enumeration value="registrationRequired"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ==== TYPE OF FLEET ================================================== -->
  <xsd:simpleType name="TypeOfParkingIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfParkingRef" type="TypeOfParkingRefStructure" substitutionGroup="TypeOfValueRef"/>
  <xsd:complexType name="TypeOfParkingRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfParkingIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfParkingRefStructureType" default="TypeOfParking"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
