src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_vehicleStopping_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_vehicleStopping_support">
  <xsd:include schemaLocation="netex_ifopt_stopPlace_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="VehicleStoppingPlaceIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleStoppingPlaceRef" type="VehicleStoppingPlaceRefStructure" substitutionGroup="SiteComponentRef"/>
  <xsd:complexType name="VehicleStoppingPlaceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopPlaceSpaceRefStructure">
        <xsd:attribute name="ref" type="VehicleStoppingPlaceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleStoppingPlaceRefStructureType" default="VehicleStoppingPlace"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="VehicleStoppingPositionIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleStoppingPositionRef" type="VehicleStoppingPositionRefStructure" substitutionGroup="SiteComponentRef"/>
  <xsd:complexType name="VehicleStoppingPositionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="StopPlaceSpaceRefStructure">
        <xsd:attribute name="ref" type="VehicleStoppingPositionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleStoppingPositionRefStructureType" default="VehicleStoppingPosition"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="VehicleQuayAlignmentIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleQuayAlignmentRef" type="VehicleQuayAlignmentRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehicleQuayAlignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehicleQuayAlignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleQuayAlignmentRefStructureType" default="VehicleQuayAlignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="VehiclePositionAlignmentIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehiclePositionAlignmentRef" type="VehiclePositionAlignmentRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="VehiclePositionAlignmentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="VehiclePositionAlignmentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehiclePositionAlignmentRefStructureType" default="VehiclePositionAlignment"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="RelationToVehicleEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="frontLeft"/>
      <xsd:enumeration value="frontRight"/>
      <xsd:enumeration value="backRight"/>
      <xsd:enumeration value="driverLeft"/>
      <xsd:enumeration value="driverRight"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
