src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_path_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_path_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_path_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_stopPlace_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===== SITE PATH LINK ================================================= -->
  <xsd:complexType name="sitePathLinkRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="GenericPathLinkRef"/>
          <xsd:element ref="PathLinkRefByValue"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="SitePathLinkIdType">
    <xsd:restriction base="GenericPathLinkIdType"/>
  </xsd:simpleType>
  <xsd:element name="SitePathLinkRef" type="SitePathLinkRefStructure" substitutionGroup="GenericPathLinkRef"/>
  <xsd:complexType name="SitePathLinkRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GenericPathLinkRefStructure">
        <xsd:attribute name="ref" type="SitePathLinkIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSitePathLinkRefStructureType" default="SitePathLink"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="PathLinkRef" type="SitePathLinkRefStructure" substitutionGroup="GenericPathLinkRef"/>
  <!-- ====== SITE PATH JUNCTION  =========================================================== -->
  <xsd:simpleType name="SitePathJunctionIdType">
    <xsd:restriction base="GenericPathJunctionIdType"/>
  </xsd:simpleType>
  <xsd:element name="SitePathJunctionRef" type="SitePathJunctionRefStructure" substitutionGroup="GenericPathJunctionRef"/>
  <xsd:complexType name="SitePathJunctionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GenericPathJunctionRefStructure">
        <xsd:attribute name="ref" type="SitePathJunctionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassPlaceRefStructureType" use="optional" default="SitePathJunction"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="PathJunctionRef" type="SitePathJunctionRefStructure" substitutionGroup="GenericPathJunctionRef"/>
  <!-- ====== SITE PATH JUNCTION  =========================================================== -->
  <xsd:complexType name="offSitePathLinkRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="GenericPathLinkRef"/>
          <xsd:element ref="PathLinkRefByValue"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="OffSitePathLinkIdType">
    <xsd:restriction base="GenericPathLinkIdType"/>
  </xsd:simpleType>
  <xsd:element name="OffSitePathLinkRef" type="OffSitePathLinkRefStructure" substitutionGroup="GenericPathLinkRef"/>
  <xsd:complexType name="OffSitePathLinkRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GenericPathLinkRefStructure">
        <xsd:attribute name="ref" type="OffSitePathLinkIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassOffSitePathLinkRefStructureType" default="OffSitePathLink"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <!-- =======SITE NAVIGATION PATH JUNCTION============================================ -->
  <xsd:complexType name="siteNavigationPathRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="GenericNavigationPathRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="SiteNavigationPathIdType">
    <xsd:restriction base="GenericNavigationPathIdType"/>
  </xsd:simpleType>
  <xsd:element name="SiteNavigationPathRef" type="SiteNavigationPathRefStructure" substitutionGroup="GenericNavigationPathRef"/>
  <xsd:complexType name="SiteNavigationPathRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GenericNavigationPathRefStructure">
        <xsd:attribute name="ref" type="SiteNavigationPathIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSiteNavigationPathRefStructureType" default="SiteNavigationPath"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:element name="NavigationPathRef" type="SiteNavigationPathRefStructure" substitutionGroup="GenericNavigationPathRef"/>
  <!-- ======================================================================= -->
</xsd:schema>
