src/main/resources/xsd/netex_part_1/part1_ifopt/netex_ifopt_site_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_site_support">
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_address_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ==  GROUP OF SITEs ============================================== -->
  <xsd:element name="GroupOfSitesRef" type="GroupOfSitesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfSitesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfSitesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfSitesRefStructureType" default="GroupOfSites"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="GroupOfSitesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <!-- ===== SITE========================================================== -->
  <xsd:simpleType name="SiteElementIdType">
    <xsd:restriction base="AddressablePlaceIdType"/>
  </xsd:simpleType>
  <xsd:element name="SiteElementRef" type="SiteElementRefStructure" substitutionGroup="AddressablePlaceRef"/>
  <xsd:complexType name="SiteElementRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AddressablePlaceRefStructure">
        <xsd:attribute name="ref" type="SiteElementIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSiteElementRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== SITE========================================================== -->
  <xsd:simpleType name="SiteIdType">
    <xsd:restriction base="SiteElementIdType"/>
  </xsd:simpleType>
  <xsd:element name="SiteRef" type="SiteRefStructure" substitutionGroup="SiteElementRef"/>
  <xsd:complexType name="SiteRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteElementRefStructure">
        <xsd:attribute name="ref" type="SiteIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSiteRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="siteRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SiteRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===== SERVICE SITE ==================================================== -->
  <xsd:simpleType name="ServiceSiteIdType">
    <xsd:restriction base="SiteIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceSiteRef" type="ServiceSiteRefStructure" substitutionGroup="SiteRef"/>
  <xsd:complexType name="ServiceSiteRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteRefStructure">
        <xsd:attribute name="ref" type="ServiceSiteIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceSiteRefStructureType" default="ServiceSite"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== SITE COMPONENT =============================================== -->
  <xsd:simpleType name="SiteComponentIdType">
    <xsd:restriction base="SiteElementIdType"/>
  </xsd:simpleType>
  <xsd:element name="SiteComponentRef" type="SiteComponentRefStructure" substitutionGroup="SiteElementRef"/>
  <xsd:complexType name="SiteComponentRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteElementRefStructure">
        <xsd:attribute name="ref" type="SiteComponentIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSiteComponentRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ====== LEVEL ======================================================== -->
  <xsd:simpleType name="LevelIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="LevelRef" type="LevelRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="LevelRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="LevelIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLevelRefStructureType" default="Level"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== SITE STRUCTURE======================================================== -->
  <xsd:simpleType name="SiteStructureIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="SiteStructureRef" type="SiteStructureRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SiteStructureRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="SiteStructureIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassSiteStructureRefStructureType" default="SiteStructure"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="siteStructureRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="SiteStructureRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ====== LEVEL ======================================================== -->
  <xsd:simpleType name="LevelInStructureIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="LevelInStructureRef" type="LevelInStructureRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="LevelInStructureRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="LevelInStructureIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLevelInStructureRefStructureType" default="LevelInStructure"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ===== ENTRANCE ===================================================== -->
  <xsd:simpleType name="EntranceIdType">
    <xsd:restriction base="SiteComponentIdType"/>
  </xsd:simpleType>
  <xsd:element name="EntranceRef" type="EntranceRefStructure" substitutionGroup="SiteComponentRef"/>
  <xsd:complexType name="EntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SiteComponentRefStructure">
        <xsd:attribute name="ref" type="EntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassEntranceRefStructureType" default="Entrance"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="entranceRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="EntranceRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==== VEHICLE ENTRANCE ===================================================== -->
  <xsd:simpleType name="VehicleEntranceIdType">
    <xsd:restriction base="EntranceIdType"/>
  </xsd:simpleType>
  <xsd:element name="VehicleEntranceRef" type="VehicleEntranceRefStructure" substitutionGroup="EntranceRef"/>
  <xsd:complexType name="VehicleEntranceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="EntranceRefStructure">
        <xsd:attribute name="ref" type="VehicleEntranceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassVehicleEntranceRefStructureType"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== ACCESS ZONE ======================================================= -->
  <xsd:simpleType name="AccessZoneIdType">
    <xsd:restriction base="ZoneIdType"/>
  </xsd:simpleType>
  <xsd:element name="AccessZoneRef" type="AccessZoneRefStructure" substitutionGroup="ZoneRef"/>
  <xsd:complexType name="AccessZoneRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="ZoneRefStructure">
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAccessZoneRefStructureType" default="AccessZone"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="ref" type="GroupOfPointsIdType" use="required"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="EntranceEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="opening"/>
      <xsd:enumeration value="openDoor"/>
      <xsd:enumeration value="door"/>
      <xsd:enumeration value="swingDoor"/>
      <xsd:enumeration value="revolvingDoor"/>
      <xsd:enumeration value="automaticDoor"/>
      <xsd:enumeration value="ticketBarrier"/>
      <xsd:enumeration value="gate"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="EntrancePurposeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="main"/>
      <xsd:enumeration value="side"/>
      <xsd:enumeration value="back"/>
      <xsd:enumeration value="secondary"/>
      <xsd:enumeration value="withinStopPlace"/>
      <xsd:enumeration value="emergencyOnly"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SiteTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="school"/>
      <xsd:enumeration value="university"/>
      <xsd:enumeration value="works"/>
      <xsd:enumeration value="office"/>
      <xsd:enumeration value="militaryBase"/>
      <xsd:enumeration value="retail"/>
      <xsd:enumeration value="transport"/>
      <xsd:enumeration value="sports"/>
      <xsd:enumeration value="government"/>
      <xsd:enumeration value="culturalAttraction"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
</xsd:schema>
