src/main/resources/xsd/netex_framework/netex_frames/netex_resourceFrame_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_resourceFrame_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_versionFrame_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ResourceFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="ResourceFrameRef" type="ResourceFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:complexType name="ResourceFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="ResourceFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassResourceFrameRefStructureType" default="ResourceFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
