src/main/resources/xsd/netex_framework/netex_frames/netex_resourceFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_resourceFrame_version">
  <xsd:include schemaLocation="netex_commonFrame_version.xsd"/>
  <xsd:include schemaLocation="../netex_reusableComponents/netex_transportOrganisation_version.xsd"/>
  <xsd:include schemaLocation="../netex_all_objects_framework.xsd"/>
  <xsd:include schemaLocation="netex_resourceFrame_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="ResourceFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ResourceFrame_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ResourceFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ResourceFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ResourceFrame_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="ResourceFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ResourceFrameGroup">
    <xsd:sequence>
      <xsd:group ref="DataManagementInFrameGroup"/>
      <xsd:group ref="TypeOfValueInFrameGroup"/>
      <xsd:group ref="OrganisationInFrameGroup"/>
      <xsd:group ref="ModesInFrameGroup"/>
      <xsd:group ref="EquipmentInFrameGroup"/>
      <xsd:group ref="FacilitySetsInFrameGroup"/>
      <xsd:group ref="VehicleTypeProfileInFrameGroup"/>
      <xsd:group ref="TrainElementTypesInFrameGroup"/>
      <xsd:group ref="VehicleInFrameGroup"/>
      <xsd:group ref="DeckPlanInFrameGroup"/>
      <xsd:group ref="SchematicMapInFrameGroup"/>
      <xsd:group ref="GeneralElementstInFrameGroup"/>
      <xsd:group ref="SecurityListsInFrameGroup"/>
      <xsd:group ref="BookingArrangementInFrameGroup"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="DataManagementInFrameGroup">
    <xsd:sequence>
      <xsd:element name="dataSources" type="dataSourcesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="responsibilityRoles" type="responsibilityRolesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="responsibilitySets" type="responsibilitySetsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="contracts" type="contractsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="GeneralElementstInFrameGroup">
    <xsd:sequence>
      <xsd:element name="groupsOfEntities" type="groupOfEntitiesInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="zones" type="zonesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
