src/main/resources/xsd/netex_framework/netex_frames/netex_serviceCalendarFrame_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_serviceCalendar_support">
  <xsd:include schemaLocation="../netex_responsibility/netex_versionFrame_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ServiceCalendarFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="ServiceCalendarFrameRef" substitutionGroup="VersionFrameRef">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="ServiceCalendarFrameRefStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceCalendarFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="ServiceCalendarFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassServiceCalendarFrameRefStructureType" default="ServiceCalendarFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
