src/main/resources/xsd/netex_framework/netex_frames/netex_compositeFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_compositeFrame_version">
  <xsd:include schemaLocation="../../netex_framework/netex_frames/netex_commonFrame_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="CompositeFrameIdType">
    <xsd:restriction base="VersionFrameIdType"/>
  </xsd:simpleType>
  <xsd:element name="CompositeFrameRef" type="CompositeFrameRefStructure" substitutionGroup="VersionFrameRef"/>
  <xsd:complexType name="CompositeFrameRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionFrameRefStructure">
        <xsd:attribute name="ref" type="CompositeFrameIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassCompositeFrameRefStructureType" default="CompositeFrame"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="frames_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="CommonFrame" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CompositeFrame" substitutionGroup="VersionFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Composite_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="CompositeVersionFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="CompositeFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Composite_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="CompositeVersionFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="CompositeVersionFrameGroup">
    <xsd:sequence>
      <xsd:element name="frames" type="frames_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
