src/main/resources/xsd/netex_framework/netex_frames/netex_serviceCalendarFrame_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_serviceCalendarFrame_version">
  <xsd:include schemaLocation="netex_serviceCalendarFrame_support.xsd"/>
  <xsd:include schemaLocation="../netex_reusableComponents/netex_serviceCalendar_version.xsd"/>
  <xsd:include schemaLocation="netex_commonFrame_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="ServiceCalendarFrame" substitutionGroup="CommonFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ServiceCalendarFrame_VersionFrameStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionFrameGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ServiceCalendarFrameGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ServiceCalendarFrameIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ServiceCalendarFrame_VersionFrameStructure">
    <xsd:complexContent>
      <xsd:extension base="Common_VersionFrameStructure">
        <xsd:sequence>
          <xsd:group ref="ServiceCalendarFrameGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
