src/main/resources/xsd/netex_part_3/part3_parkingTariff/netex_parkingTariff_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_parkingTariff_support">
  <xsd:include schemaLocation="../part3_fares/netex_timeStructureFactor_support.xsd"/>
  <xsd:include schemaLocation="../part3_fares/netex_fareStructureElement_support.xsd"/>
  <xsd:include schemaLocation="../../netex_part_1/part1_ifopt/netex_ifopt_parking_support.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingTariffIdType">
    <xsd:restriction base="TariffIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingTariffRef" type="ParkingTariffRefStructure" substitutionGroup="TariffRef"/>
  <xsd:complexType name="ParkingTariffRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TariffRefStructure">
        <xsd:attribute name="ref" type="ParkingTariffIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingTariffRefStructureType" default="ParkingTariff"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="ParkingChargeBandIdType">
    <xsd:restriction base="TimeStructureFactorIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingChargeBandRef" type="ParkingChargeBandRefStructure" substitutionGroup="TimeStructureFactorRef"/>
  <xsd:complexType name="ParkingChargeBandRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TimeStructureFactorRefStructure">
        <xsd:attribute name="ref" type="ParkingChargeBandIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingChargeBandRefStructureType" default="ParkingChargeBand"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- === PARKING TARIFF PRICE====================================================== -->
  <xsd:simpleType name="ParkingPriceIdType">
    <xsd:restriction base="FarePriceIdType"/>
  </xsd:simpleType>
  <xsd:element name="ParkingPriceRef" type="ParkingPriceRefStructure" substitutionGroup="FarePriceRef"/>
  <xsd:complexType name="ParkingPriceRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="FarePriceRefStructure">
        <xsd:attribute name="ref" type="ParkingPriceIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassParkingPriceRefStructureType" default="ParkingPrice"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
