src/main/resources/xsd/netex_part_1/part1_networkDescription/netex_timingPattern_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_timingPattern_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_support.xsd"/>
  <xsd:include schemaLocation="netex_route_support.xsd"/>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TimingPatternIdType">
    <xsd:restriction base="LinkSequenceIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimingPatternRef" type="TimingPatternRefStructure" substitutionGroup="LinkSequenceRef"/>
  <xsd:complexType name="TimingPatternRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkSequenceRefStructure">
        <xsd:attribute name="ref" type="TimingPatternIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimingPatternRefStructureType" default="TimingPattern"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="TimingPointIdType">
    <xsd:restriction base="RoutePointIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimingPointRef" type="TimingPointRefStructure" substitutionGroup="RoutePointRef"/>
  <xsd:complexType name="TimingPointRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="RoutePointRefStructure">
        <xsd:attribute name="ref" type="TimingPointIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimingPointRefStructureType" default="TimingPoint"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:complexType name="timingLinkRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="TimingLinkRef"/>
          <xsd:element ref="TimingLinkRefByValue"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="TimingLinkIdType">
    <xsd:restriction base="LinkIdType"/>
  </xsd:simpleType>
  <xsd:element name="TimingLinkRef" type="TimingLinkRefStructure" substitutionGroup="LinkRef"/>
  <xsd:complexType name="TimingLinkRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="LinkRefStructure">
        <xsd:attribute name="ref" type="TimingLinkIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTimingLinkRefStructureType" default="TimingLink"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TimingLinkRefByValue" type="TimingLinkRefByValueStructure" substitutionGroup="LinkRefByValue"/>
  <xsd:complexType name="TimingLinkRefByValueStructure">
    <xsd:complexContent>
      <xsd:restriction base="LinkRefByValueStructure">
        <xsd:attribute name="fromPointRef" type="TimingPointIdType" use="required"/>
        <xsd:attribute name="toPointRef" type="TimingPointIdType" use="required"/>
        <xsd:attribute name="nameOfPointRefClass" type="NameOfClass" use="optional" fixed="TimingPoint"/>
      </xsd:restriction>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GroupOfTimingLinksIdType">
    <xsd:restriction base="GroupOfLinksIdType"/>
  </xsd:simpleType>
  <xsd:element name="GroupOfTimingLinksRef" type="GroupOfTimingLinksRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfTimingLinksRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfTimingLinksIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfTimingLinksRefStructureType" default="GroupOfTimingLinks"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
