src/main/resources/xsd/netex_part_1/part1_networkDescription/netex_routeInstruction_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_routeInstruction_version">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_path_support.xsd"/>
  <xsd:include schemaLocation="netex_routeInstruction_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_spatialFeature_version.xsd"/>
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <!-- ===== ROUTE INSTRUCTION================================================= -->
  <xsd:complexType name="routeInstructions_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:choice>
          <xsd:element ref="RouteInstructionRef" maxOccurs="unbounded"/>
          <xsd:element ref="RouteInstruction" maxOccurs="unbounded"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="RouteInstruction" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RouteInstruction_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RouteInstructionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RouteInstructionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RouteInstruction_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="RouteInstructionGroup"/>
        </xsd:sequence>
        <xsd:attribute name="order" type="xsd:positiveInteger" use="optional"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RouteInstructionGroup">
    <xsd:sequence>
      <xsd:element ref="PointOnRouteRef" minOccurs="0"/>
      <xsd:element name="Instruction" type="MultilingualString" default="false" minOccurs="0"/>
      <xsd:element name="PathHeading" type="PathHeadingEnumeration" minOccurs="0"/>
      <xsd:element name="Heading" type="CompassBearing16Enumeration" minOccurs="0"/>
      <xsd:element name="Bearing" type="AbsoluteBearingType" minOccurs="0"/>
      <xsd:element name="Distance" type="DistanceType" minOccurs="0"/>
      <xsd:element name="Transition" type="TransitionEnumeration" minOccurs="0"/>
      <xsd:element name="RoadName" type="MultilingualString" default="false" minOccurs="0"/>
      <xsd:element ref="SimpleFeatureRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
