src/main/resources/xsd/netex_part_1/part1_networkDescription/netex_route_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_route_version">
  <xsd:include schemaLocation="netex_line_version.xsd"/>
  <xsd:include schemaLocation="netex_routeInstruction_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLinkSequence_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_version.xsd"/>
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="RouteInFrameGroup">
    <xsd:sequence>
      <xsd:element name="directions" type="directionsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="routePoints" type="routePointsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="routeLinks" type="routeLinksInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="routes" type="routesInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="directionsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Direction" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="routesInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="Route_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="routePointsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="RoutePoint" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="routeLinksInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="RouteLink" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- === DIRECTION ===================================================== -->
  <xsd:element name="Direction" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Direction_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DirectionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DirectionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Direction_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="DirectionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="DirectionGroup">
    <xsd:sequence>
      <xsd:element name="ExternalDirectionRef" type="ExternalObjectRefStructure" minOccurs="0"/>
      <xsd:element ref="DirectionType" minOccurs="0"/>
      <xsd:element name="OppositeDirectionRef" type="DirectionRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === ROUTE ========================================================== -->
  <xsd:complexType name="routes_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="RouteRef"/>
          <xsd:element ref="Route" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Route_Dummy" type="LinkSequence_VersionStructure" abstract="true" substitutionGroup="LinkSequence"/>
  <xsd:element name="Route" substitutionGroup="Route_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Route_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RouteGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RouteIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Route_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="LinkSequence_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="RouteGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RouteGroup">
    <xsd:sequence>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element ref="DirectionType" minOccurs="0"/>
      <xsd:element ref="DirectionRef" minOccurs="0"/>
      <xsd:element name="pointsInSequence" type="pointsOnRoute_RelStructure" minOccurs="0"/>
      <xsd:element name="InverseRouteRef" type="RouteRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === POINT ON ROUTE ====================================================== -->
  <xsd:complexType name="pointsOnRoute_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="PointOnRoute" minOccurs="2" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PointOnRoute" substitutionGroup="PointInLinkSequence">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PointOnRoute_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:element ref="Extensions" minOccurs="0"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:element ref="LinkSequenceRef" minOccurs="0"/>
                <xsd:element name="projections" type="projections_RelStructure" minOccurs="0"/>
                <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element ref="PointRef"/>
              <xsd:group ref="PointOnRouteGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PointOnRouteIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PointOnRoute_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="PointInLinkSequence_VersionedChildStructure">
        <xsd:sequence>
          <xsd:element ref="PointRef"/>
          <xsd:group ref="PointOnRouteGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PointOnRouteGroup">
    <xsd:sequence>
      <xsd:element name="OnwardRouteLinkRef" type="RouteLinkRefStructure" minOccurs="0"/>
      <xsd:element name="routeInstructions" type="routeInstructions_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- === ROUTE POINT ========================================================= -->
  <xsd:element name="RoutePoint" substitutionGroup="Point">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RoutePoint_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RoutePointGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RoutePointIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RoutePoint_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Point_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="RoutePointGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RoutePointGroup">
    <xsd:sequence>
      <xsd:element name="ViaFlag" type="xsd:boolean" default="false" minOccurs="0"/>
      <xsd:element name="BorderCrossing" type="xsd:boolean" default="false" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!--=== ROUTE LINK ========================================================= -->
  <xsd:element name="RouteLink" substitutionGroup="Link">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="RouteLink_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkGroup"/>
            </xsd:sequence>
            <xsd:group ref="RouteLinkGroup"/>
          </xsd:sequence>
          <xsd:attribute name="id" type="RouteLinkIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="RouteLink_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Link_VersionStructure">
        <xsd:group ref="RouteLinkGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RouteLinkGroup">
    <xsd:sequence>
      <xsd:element name="FromPointRef" type="RoutePointRefStructure"/>
      <xsd:element name="ToPointRef" type="RoutePointRefStructure"/>
      <xsd:element ref="OperationalContextRef" minOccurs="0"/>
      <xsd:element name="modeRestrictionAssessments" type="modeRestrictionAssessments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===  MODE RESTRICTION ASSESSMENT ===================================== -->
  <xsd:complexType name="modeRestrictionAssessments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ModeRestrictionAssessmentRef"/>
          <xsd:element ref="ModeRestrictionAssessment"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ModeRestrictionAssessment" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ModeRestrictionAssessment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ModeRestrictionAssessmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ModeRestrictionAssessmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ModeRestrictionAssessment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObject_ViewStructure">
        <xsd:sequence>
          <xsd:group ref="ModeRestrictionAssessmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ModeRestrictionAssessmentGroup">
    <xsd:sequence>
      <xsd:element name="Exclude" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="transportModes" type="transportModes_RelStructure" minOccurs="0"/>
      <xsd:element ref="ModeOfOperationRef" minOccurs="0"/>
      <xsd:element name="MinimumNumberOfPassengers" type="NumberOfPassengers" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== ROUTE VIEW ====================================================== -->
  <xsd:element name="RouteView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Route_DerivedViewStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DerivedViewGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RouteViewGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="RouteIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Route_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:group ref="RouteViewGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="RouteViewGroup">
    <xsd:sequence>
      <xsd:element ref="RouteRef" minOccurs="0"/>
      <xsd:element name="VehicleMode" type="AllPublicTransportModesEnumeration" minOccurs="0"/>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:choice>
        <xsd:element ref="LineRef" minOccurs="0"/>
        <xsd:element ref="LineView" minOccurs="0"/>
      </xsd:choice>
      <xsd:element ref="DirectionView" minOccurs="0"/>
      <xsd:element ref="LinkSequenceProjectionRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== DIRECTION VIEW ========================================================== -->
  <xsd:element name="DirectionView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Direction_DerivedViewStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DerivedViewGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element ref="DirectionRef" minOccurs="0"/>
              <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="DirectionIdType"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Direction_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="DerivedViewStructure">
        <xsd:sequence>
          <xsd:element ref="DirectionRef" minOccurs="0"/>
          <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
