src/main/resources/xsd/netex_part_1/part1_networkDescription/netex_flexibleNetwork_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_flexibleNetwork_version">
  <xsd:include schemaLocation="netex_flexibleNetwork_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_utility/netex_utility_contact.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_serviceRestrictions_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_notice_version.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_route_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:group name="FlexibleRouteInFrameGroup">
    <xsd:sequence>
      <xsd:element name="flexiblePointProperties" type="flexiblePointProperties_RelStructure" minOccurs="0"/>
      <xsd:element name="flexibleLinkProperties" type="flexibleLinkProperties_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="FlexibleLine" substitutionGroup="Line_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FlexibleLine_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LineGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FlexibleLineGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FlexibleLineIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlexibleLine_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Line_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="FlexibleLineGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FlexibleLineGroup">
    <xsd:sequence>
      <xsd:element name="FlexibleLineType" type="FlexibleLineTypeEnumeration" minOccurs="0"/>
      <xsd:choice>
        <xsd:group ref="BookingArrangementGroup"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <!-- ==FlexibleRoute============================================================ -->
  <xsd:element name="FlexibleRoute" substitutionGroup="Route_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FlexibleRoute_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="RouteGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FlexibleRouteGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FlexibleRouteIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlexibleRoute_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Route_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="FlexibleRouteGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FlexibleRouteGroup">
    <xsd:sequence>
      <xsd:element name="FlexibleRouteType" type="FlexibleRouteTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="flexibleLinkProperties_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="FlexibleLinkProperties" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FlexibleLinkProperties" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FlexibleLinkProperties_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FlexibleLinkPropertiesGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FlexibleLinkPropertiesIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlexibleLinkProperties_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="FlexibleLinkPropertiesGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FlexibleLinkPropertiesGroup">
    <xsd:sequence>
      <xsd:element ref="LinkRef" minOccurs="0"/>
      <xsd:element name="MayBeSkipped" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="OnMainRoute" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="UnscheduledPath" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="FlexibleLinkType" type="FlexibleLinkTypeEnumeration" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="flexiblePointProperties_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="FlexiblePointProperties" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FlexiblePointProperties" substitutionGroup="VersionedChild">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="FlexiblePointProperties_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="FlexiblePointPropertiesGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="FlexiblePointPropertiesIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlexiblePointProperties_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="FlexiblePointPropertiesGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="FlexiblePointPropertiesGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element ref="PointOnRouteRef"/>
        <xsd:element ref="PointRef"/>
      </xsd:choice>
      <xsd:element name="MayBeSkipped" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="OnMainRoute" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="PointStandingForAZone" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="ZoneContainingStops" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="FlexibleLineView" substitutionGroup="DerivedView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="FlexibleLine_DerivedViewStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="FlexibleLine_DerivedViewStructure">
    <xsd:complexContent>
      <xsd:extension base="Line_DerivedViewStructure">
        <xsd:sequence>
          <xsd:element name="FlexibleLineType" type="FlexibleLineTypeEnumeration" minOccurs="0"/>
          <xsd:choice>
            <xsd:group ref="BookingArrangementGroup"/>
            <xsd:element name="bookingArrangements" type="bookingArrangements_RelStructure" minOccurs="0"/>
          </xsd:choice>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
