src/main/resources/xsd/netex_part_1/part1_networkDescription/netex_activation_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_activation_version">
  <xsd:include schemaLocation="netex_activation_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_pointAndLink_version.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_assignment_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====Used in INFRASTRUCTURE FRAME)=================================================== -->
  <xsd:group name="ActivationInFrameGroup">
    <xsd:sequence>
      <xsd:element name="trafficControlPoints" type="trafficControlPointsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="activationPoints" type="activationPointsInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="activationLinks" type="activationLinksInFrame_RelStructure" minOccurs="0"/>
      <xsd:element name="activatedEquipments" type="activatedEquipmentsInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="trafficControlPointsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="TrafficControlPoint" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="activationLinksInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ActivationLink" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="activationPointsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ActivationPoint_Dummy" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="activatedEquipmentsInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ActivatedEquipment" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ==Activation============================================================ -->
  <!-- ======================================================================= -->
  <xsd:element name="ActivatedEquipment">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ActivatedEquipment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EquipmentGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ActivatedEquipmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ActivatedEquipmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ActivatedEquipment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Equipment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ActivatedEquipmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ActivatedEquipmentGroup">
    <xsd:sequence>
      <xsd:element ref="TrafficControlPointRef" minOccurs="0"/>
      <xsd:element ref="TypeOfActivationRef" minOccurs="0"/>
      <xsd:element name="assignments" type="activationAssignments_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ================================================================ -->
  <xsd:element name="ActivationPoint_Dummy" type="Point_VersionStructure" abstract="true" substitutionGroup="Point"/>
  <xsd:element name="ActivationPoint" substitutionGroup="ActivationPoint_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ActivationPoint_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ActivationPointGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ActivationPointIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ActivationPoint_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Point_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ActivationPointGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ActivationPointGroup">
    <xsd:sequence>
      <xsd:element name="ActivationPointNumber" type="xsd:normalizedString" minOccurs="0"/>
      <xsd:element name="ShortName" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="PrivateCode" minOccurs="0"/>
      <xsd:element ref="TypeOfActivationRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ================================================================== -->
  <xsd:element name="BeaconPoint" substitutionGroup="ActivationPoint_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="BeaconPoint_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ActivationPointGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="BeaconPointIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BeaconPoint_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="ActivationPoint_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:element name="TrafficControlPoint" substitutionGroup="Point">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TrafficControlPoint_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TrafficControlPointGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TrafficControlPointIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TrafficControlPoint_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Point_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TrafficControlPointGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TrafficControlPointGroup">
    <xsd:sequence/>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="ActivationLink" substitutionGroup="Link">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ActivationLink_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ActivationLinkGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ActivationLinkIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ActivationLink_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Link_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ActivationLinkGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ActivationLinkGroup">
    <xsd:sequence>
      <xsd:element ref="TypeOfActivationRef" minOccurs="0"/>
      <xsd:element name="FromPointRef" type="ActivationPointRefStructure"/>
      <xsd:element name="ToPointRef" type="ActivationPointRefStructure"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="activationAssignments_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="ActivationAssignmentRef"/>
          <xsd:element ref="ActivationAssignment" maxOccurs="1"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ActivationAssignment" substitutionGroup="Assignment_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="ActivationAssignment_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="DataManagedObjectGroup"/>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:group ref="AssignmentGroup"/>
              </xsd:sequence>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ActivationAssignmentGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ActivationAssignmentIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ActivationAssignment_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Assignment_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="ActivationAssignmentGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ActivationAssignmentGroup">
    <xsd:sequence>
      <xsd:element name="EquipmentRef" type="ActivatedEquipmentRefStructure" minOccurs="0"/>
      <xsd:element name="LinkRef" type="ActivationLinkRefStructure" minOccurs="0"/>
      <xsd:element name="PointRef" type="ActivationPointRefStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:element name="TypeOfActivation" substitutionGroup="TypeOfEntity">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfActivation_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence/>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfActivationIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfActivation_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfEntity_VersionStructure"/>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
</xsd:schema>
