src/main/resources/xsd/netex_part_1/part1_networkDescription/netex_line_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_line_support">
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_grouping_support.xsd"/>
  <!-- ==  GROUP OF LINEs ============================================== -->
  <xsd:element name="GroupOfLinesRef" type="GroupOfLinesRefStructure" substitutionGroup="GroupOfEntitiesRef_Dummy"/>
  <xsd:complexType name="GroupOfLinesRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfEntitiesRefStructure">
        <xsd:attribute name="ref" type="GroupOfLinesIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassGroupOfLinesRefStructureType" default="GroupOfLines"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="GroupOfLinesIdType">
    <xsd:restriction base="GroupOfEntitiesIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="GroupOfLinesTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="marketing"/>
      <xsd:enumeration value="administrative"/>
      <xsd:enumeration value="scheduling"/>
      <xsd:enumeration value="control"/>
      <xsd:enumeration value="tariff"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- == LINE =========================================================== -->
  <xsd:complexType name="lineRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="LineRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="LineIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="LineRef" type="LineRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="LineRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="LineIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassLineRefStructureType" default="Line"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="LineTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="local"/>
      <xsd:enumeration value="urban"/>
      <xsd:enumeration value="longDistance"/>
      <xsd:enumeration value="express"/>
      <xsd:enumeration value="seasonal"/>
      <xsd:enumeration value="replacement"/>
      <xsd:enumeration value="flexible"/>
      <xsd:enumeration value="corridorService"/>
      <xsd:enumeration value="mainRouteWithFlexibleEnds"/>
      <xsd:enumeration value="flexibleAreasOnly"/>
      <xsd:enumeration value="hailAndRideSections"/>
      <xsd:enumeration value="fixedStopAreaWide"/>
      <xsd:enumeration value="freeAreaAreaWide"/>
      <xsd:enumeration value="mixedFlexible"/>
      <xsd:enumeration value="mixedFlexibleAndFixed"/>
      <xsd:enumeration value="fixed"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <!-- == ALLOWED LINE DIRECTION ================================================== -->
  <xsd:complexType name="allowedLineDirectionRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="AllowedLineDirectionRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="AllowedLineDirectionIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="AllowedLineDirectionRef" type="AllowedLineDirectionRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="AllowedLineDirectionRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="AllowedLineDirectionIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassAllowedLineDirectionRefStructureType" default="AllowedLineDirection"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ======================================================================= -->
  <xsd:simpleType name="NetworkIdType">
    <xsd:restriction base="GroupOfLinesIdType"/>
  </xsd:simpleType>
  <xsd:element name="NetworkRef" type="NetworkRefStructure" substitutionGroup="GroupOfLinesRef"/>
  <xsd:complexType name="NetworkRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="GroupOfLinesRefStructure">
        <xsd:attribute name="ref" type="NetworkIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassNetworkRefStructureType" default="Network"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== DESTINATION DISPLAY ================================== -->
  <xsd:complexType name="destinationDisplayRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="DestinationDisplayRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="DestinationDisplayIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="DestinationDisplayRef" type="DestinationDisplayRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="DestinationDisplayRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="DestinationDisplayIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDestinationDisplayRefStructureType" default="DestinationDisplay"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <!-- ==== DESTINATION DISPLAY VARIANT. =============================== -->
  <xsd:complexType name="destinationDisplayVariantRefs_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="oneToManyRelationshipStructure">
        <xsd:sequence>
          <xsd:element ref="DestinationDisplayVariantRef" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="DestinationDisplayVariantIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <xsd:element name="DestinationDisplayVariantRef" type="DestinationDisplayVariantRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="DestinationDisplayVariantRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="DestinationDisplayVariantIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassDestinationDisplayVariantRefStructureType" default="DestinationDisplayVariant"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ViaTypeEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="stopPoint"/>
      <xsd:enumeration value="name"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="DestinationDisplayContextEnumeration">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="any"/>
      <xsd:enumeration value="continueTo"/>
      <xsd:enumeration value="endsAt"/>
      <xsd:enumeration value="transferAt"/>
      <xsd:enumeration value="via"/>
      <xsd:enumeration value="inMessage"/>
      <xsd:enumeration value="unknown"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ===== TYPE OF LINE ======================================== -->
  <xsd:simpleType name="TypeOfLineIdType">
    <xsd:restriction base="TypeOfValueIdType"/>
  </xsd:simpleType>
  <xsd:element name="TypeOfLineRef" type="TypeOfLineRefStructure" substitutionGroup="TypeOfEntityRef"/>
  <xsd:complexType name="TypeOfLineRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="TypeOfValueRefStructure">
        <xsd:attribute name="ref" type="TypeOfLineIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClassTypeOfLineRefStructureType" default="TypeOfLine"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
