src/main/resources/xsd/netex_part_1/part1_networkDescription/netex_lineNetwork_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_lineNetwork_version">
  <xsd:include schemaLocation="netex_lineNetwork_support.xsd"/>
  <xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_section_version.xsd"/>
  <xsd:include schemaLocation="../part1_networkDescription/netex_line_version.xsd"/>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <!-- ===ENTIITY IN VERSION IN FRAME====(Used in SERVICE FRAME)=================================================== -->
  <xsd:group name="LineNetworkInFrameGroup">
    <xsd:sequence>
      <xsd:element name="lineNetworks" type="lineNetworksInFrame_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="lineNetworksInFrame_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="LineNetwork" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <!-- ===LINE NETWORK =================================================== -->
  <xsd:element name="LineNetwork" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="LineNetwork_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LineNetworkGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="LineNetworkIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="LineNetwork_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="LineNetworkGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LineNetworkGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
      <xsd:element ref="GroupOfLinesRef" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element name="sections" type="lineSections_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <!-- ======================================================================= -->
  <xsd:complexType name="lineSections_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:choice maxOccurs="unbounded">
          <xsd:element ref="LineSectionRef"/>
          <xsd:element ref="LineSection"/>
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="LineSection" substitutionGroup="Section_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="LineSection_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SectionGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="LineSectionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="LineSectionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="LineSection_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="Section_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="LineSectionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="LineSectionGroup">
    <xsd:sequence>
      <xsd:choice minOccurs="0">
        <xsd:element name="pointsOnSection" type="pointOnLineSections_RelStructure"/>
        <xsd:element name="members" type="commonSectionPointMembers_RelStructure"/>
      </xsd:choice>
      <xsd:choice minOccurs="0">
        <xsd:element name="reversePointsOnSection" type="pointOnLineSections_RelStructure"/>
        <xsd:element name="reverseMembers" type="commonSectionPointMembers_RelStructure"/>
      </xsd:choice>
      <xsd:element name="SectionType" type="SectionTypeEnumeration" default="trunk" minOccurs="0"/>
      <xsd:element ref="LineRef" minOccurs="0"/>
      <xsd:element ref="TransportOrganisationRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
  <xsd:complexType name="pointOnLineSections_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="containmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="PointOnLineSection" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="PointOnLineSection" substitutionGroup="PointOnSection_Dummy">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="PointOnLineSection_VersionedChildStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="VersionedChildGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointInLinkSequenceGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:choice>
                <xsd:element ref="PointRef"/>
                <xsd:element ref="Point"/>
              </xsd:choice>
              <xsd:element ref="LinkRef" minOccurs="0"/>
              <xsd:element name="Reverse" type="xsd:boolean" minOccurs="0"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="PointOnLineSectionGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="PointOnLineSectionIdType" use="required"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="PointOnLineSection_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="PointOnSection_VersionedChildStructure">
        <xsd:sequence>
          <xsd:group ref="PointOnLineSectionGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="PointOnLineSectionGroup">
    <xsd:sequence>
      <xsd:element name="LineSectionPointType" type="LineSectionPointTypeEnumeration" minOccurs="0"/>
      <xsd:element name="ShowAsAccessible" type="xsd:boolean" default="true" minOccurs="0"/>
      <xsd:element name="ConnectingVehicleModes" type="AllPublicTransportModesListOfEnumerations" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <xsd:element name="LineSectionPointMember" substitutionGroup="CommonSectionPointMember">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="PointOnLineSection_VersionedChildStructure"/>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <!-- ======================================================================= -->
</xsd:schema>
