src/main/resources/xsd/netex_framework/netex_payload_framework.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_payload_framework">
  <!-- ===Payload ============================= -->
  <xsd:include schemaLocation="netex_frames/netex_compositeFrame_version.xsd"/>
  <xsd:complexType name="dataObjects_RelStructure">
    <xsd:choice maxOccurs="unbounded">
      <xsd:element ref="CompositeFrame"/>
      <xsd:element ref="CommonFrame" maxOccurs="1"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:group name="PayloadGroup">
    <xsd:sequence>
      <xsd:element name="dataObjects" minOccurs="0">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="dataObjects_RelStructure"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>
