src/main/resources/xsd/ynotation/netex_subThing_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_Thing">
  <xsd:include schemaLocation="../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
  <!-- ======================================================================= -->
  <xsd:element name="AncestorARef" type="AncestorARefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="AncestorARefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="VersionOfObjectRefStructure">
        <xsd:attribute name="ref" type="AncestorAIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AncestorAIdType">
    <xsd:restriction base="ObjectIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="AncestorBRef" type="AncestorBRefStructure" substitutionGroup="AncestorARef"/>
  <xsd:complexType name="AncestorBRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AncestorARefStructure">
        <xsd:attribute name="ref" type="AncestorBIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="AncestorBIdType">
    <xsd:restriction base="AncestorAIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SubARef" type="SubARefStructure" substitutionGroup="AncestorARef"/>
  <xsd:complexType name="SubARefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AncestorARefStructure">
        <xsd:attribute name="ref" type="SubAIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SubAIdType">
    <xsd:restriction base="AncestorAIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SubSubARef" type="SubSubARefStructure" substitutionGroup="AncestorARef"/>
  <xsd:complexType name="SubSubARefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SubARefStructure">
        <xsd:attribute name="ref" type="SubSubAIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SubSubAIdType">
    <xsd:restriction base="SubAIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SubABRef" type="SubABRefStructure" substitutionGroup="AncestorBRef"/>
  <xsd:complexType name="SubABRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AncestorBRefStructure">
        <xsd:attribute name="ref" type="SubABIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SubABIdType">
    <xsd:restriction base="AncestorBIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SubACRef" type="SubACRefStructure" substitutionGroup="VersionOfObjectRef"/>
  <xsd:complexType name="SubACRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AncestorARefStructure">
        <xsd:attribute name="ref" type="SubACIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SubACIdType">
    <xsd:restriction base="AncestorAIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SubABCRef" type="SubABCRefStructure" substitutionGroup="AncestorBRef"/>
  <xsd:complexType name="SubABCRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="AncestorBRefStructure">
        <xsd:attribute name="ref" type="SubABCIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SubABCIdType">
    <xsd:restriction base="AncestorBIdType"/>
  </xsd:simpleType>
  <!-- ======================================================================= -->
  <xsd:element name="SubSubABCRef" type="SubSubABCRefStructure" substitutionGroup="SubABCRef"/>
  <xsd:complexType name="SubSubABCRefStructure">
    <xsd:simpleContent>
      <xsd:restriction base="SubABCRefStructure">
        <xsd:attribute name="ref" type="SubSubABCIdType" use="required"/>
        <xsd:attribute name="nameOfRefClass" type="NameOfClass" use="optional"/>
        <xsd:attribute name="modification" type="ModificationEnumeration" use="optional"/>
        <xsd:attribute name="versionRef" type="VersionIdType" use="optional"/>
        <xsd:attribute name="uri" type="xsd:anyURI" use="optional"/>
        <xsd:attributeGroup ref="ReferenceModificationDetailsGroup"/>
      </xsd:restriction>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="SubSubABCIdType">
    <xsd:restriction base="SubABCIdType"/>
  </xsd:simpleType>
</xsd:schema>
