src/main/resources/xsd/ynotation/netex_subThing_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_subThing">
  <xsd:include schemaLocation="netex_thing_support.xsd"/>
  <xsd:include schemaLocation="netex_subThing_support.xsd"/>
  <!-- === NOTATION EXAMPLE E==== =================================================== -->
  <!-- ======================================================================= -->
  <!-- ==== ANCESTOR A ========================================================= -->
  <xsd:element name="AncestorA" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AncestorA_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AncestorAIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AncestorA_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="AncestorAGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AncestorAGroup">
    <xsd:sequence>
      <xsd:element name="AncestorAProperty" type="xsd:string" minOccurs="0"/>
      <xsd:element ref="ThingRef" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== ANCESTOR B ========================================================= -->
  <xsd:element name="AncestorB" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="AncestorB_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorBGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="AncestorBIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="AncestorB_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="AncestorA_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="AncestorBGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="AncestorBGroup">
    <xsd:sequence>
      <xsd:element name="AncestorBProperty" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== SomethingElse =============================================== -->
  <xsd:group name="AncestorCGroup">
    <xsd:sequence>
      <xsd:element name="AncestorCProperty" type="xsd:anyURI" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SUB A ========================================================= -->
  <xsd:element name="SubA" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SubA_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SubAGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SubAIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubA_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="AncestorA_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SubAGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SubAGroup">
    <xsd:sequence>
      <xsd:element name="SubAProperty" type="xsd:normalizedString"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SUB SUB A ========================================================= -->
  <xsd:element name="SubSubA" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SubSubA_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SubAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:element name="SubSubAProperty" type="xsd:normalizedString"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SubSubAIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubSubA_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="SubA_VersionStructure">
        <xsd:group ref="SubSubAGroup"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SubSubAGroup">
    <xsd:sequence>
      <xsd:element name="SubSubAProperty" type="xsd:normalizedString"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SUB AB ========================================================= -->
  <xsd:element name="SubAB" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SubAB_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SubABGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SubABIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubAB_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="AncestorA_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SubABGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SubABGroup">
    <xsd:sequence>
      <xsd:element name="SubABProperty" type="xsd:normalizedString"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SUB ABC ========================================================= -->
  <xsd:element name="SubABC" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SubABC_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorBGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SubABCGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SubABCIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubABC_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="AncestorB_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SubABCGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SubABCGroup">
    <xsd:sequence>
      <xsd:group ref="AncestorCGroup"/>
      <xsd:element name="SubABCProperty" type="MultilingualString"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SUB SUB ABC ========================================================= -->
  <xsd:element name="SubSubABC" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SubSubABC_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorBGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SubABCGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SubSubABCGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SubSubABCIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubSubABC_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="SubABC_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SubSubABCGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SubSubABCGroup">
    <xsd:sequence>
      <xsd:element name="SubSubABCProperty" type="MultilingualString"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== SUB AC ========================================================= -->
  <xsd:element name="SubAC" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SubAC_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="AncestorAGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SubACGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="SubACIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SubAC_VersionStructure">
    <xsd:complexContent>
      <xsd:extension base="AncestorA_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="SubACGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SubACGroup">
    <xsd:sequence>
      <xsd:group ref="AncestorCGroup"/>
      <xsd:element name="SubACProperty" type="xsd:normalizedString"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
