src/main/resources/xsd/ynotation/netex_thing_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" xmlns="http://www.netex.org.uk/netex" xmlns:ifopt="http://www.ifopt.org.uk/ifopt" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="0.1" id="netex_Thing">
  <xsd:include schemaLocation="netex_thing_support.xsd"/>
  <xsd:include schemaLocation="../netex_framework/netex_responsibility/netex_typeOfValue_version.xsd"/>
  <!-- === NOTATION EXAMPLE E==== =================================================== -->
  <!-- ======================================================================= -->
  <!-- ==== Thing ========================================================= -->
  <xsd:element name="Thing" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="Thing_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="ThingGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="ThingIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="Thing_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="ThingGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ThingGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="ThingType" type="ThingTypeEnumeration" minOccurs="1"/>
      <xsd:element name="ParentThingRef" type="ThingRefStructure" minOccurs="0"/>
      <xsd:element name="childThings" type="childThings_RelStructure" minOccurs="0"/>
      <xsd:element name="somethingElses" type="somethingElseRefs_RelStructure" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== Child Thing ======================================================== -->
  <xsd:complexType name="childThings_RelStructure">
    <xsd:complexContent>
      <xsd:extension base="strictContainmentAggregationStructure">
        <xsd:sequence>
          <xsd:element ref="ChildThing" minOccurs="2" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ChildThing" type="ChildThing_VersionedChildStructure" substitutionGroup="VersionedChild"/>
  <xsd:complexType name="ChildThing_VersionedChildStructure">
    <xsd:complexContent>
      <xsd:extension base="VersionedChildStructure">
        <xsd:sequence>
          <xsd:element ref="ThingRef" minOccurs="0"/>
          <xsd:group ref="ChildThingGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ChildThingGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
      <xsd:element name="IsCool" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ==== Type of Thing ================================================= -->
  <xsd:element name="TypeOfThing" substitutionGroup="TypeOfValue">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="TypeOfThing_ValueStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="TypeOfValueGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:sequence>
                <xsd:element name="Url" type="xsd:anyURI" minOccurs="0"/>
              </xsd:sequence>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" type="TypeOfValueIdType" use="optional"/>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="TypeOfThing_ValueStructure">
    <xsd:complexContent>
      <xsd:extension base="TypeOfValue_VersionStructure">
        <xsd:sequence>
          <xsd:group ref="TypeOfThingGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="TypeOfThingGroup">
    <xsd:sequence>
      <xsd:element name="Url" type="xsd:anyURI" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ===== SomethingElse =============================================== -->
  <xsd:element name="SomethingElse" substitutionGroup="DataManagedObject">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:restriction base="SomethingElse_VersionStructure">
          <xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="DataManagedObjectGroup"/>
            </xsd:sequence>
            <xsd:sequence>
              <xsd:group ref="SomethingElseGroup"/>
            </xsd:sequence>
          </xsd:sequence>
          <xsd:attribute name="id" use="optional">
            <xsd:simpleType>
              <xsd:restriction base="SomethingElseIdType"/>
            </xsd:simpleType>
          </xsd:attribute>
        </xsd:restriction>
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="SomethingElse_VersionStructure" abstract="true">
    <xsd:complexContent>
      <xsd:extension base="DataManagedObjectStructure">
        <xsd:sequence>
          <xsd:group ref="SomethingElseGroup"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="SomethingElseGroup">
    <xsd:sequence>
      <xsd:element name="Name" type="MultilingualString" minOccurs="0"/>
    </xsd:sequence>
  </xsd:group>
  <!-- ======================================================================= -->
</xsd:schema>
